Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[catbuffer/schemas]: add missing @is_aligned anotation on symbol Cosignature
  catbuffer/schemas/symbol/aggregate/cosignature.cats
Due: none

[sdk/python]: update generator to handle comparer property
  sdk/python/examples/descriptors/nem_multisig_account.py
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/generator/printers.py
  sdk/python/scripts/ci/lint.sh
  sdk/python/symbolchain/Transforms.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/tests/test_Transforms.py
Due: sdk-python

[sdk/javascript]: update generator to handle comparer property
  sdk/javascript/examples/descriptors/nem_multisig_account.js
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/src/utils/transforms.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
  sdk/javascript/test/utils/transforms_spec.js
Due: sdk-javascript

[sdk/python] nem shared key derivation, details below
  sdk/python/symbolchain/CryptoTypes.py
  sdk/python/symbolchain/SharedKey.py
  sdk/python/symbolchain/external/__init__.py
  sdk/python/symbolchain/external/ed25519.py
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/nem/KeyPair.py
  sdk/python/symbolchain/nem/SharedKey.py
  sdk/python/symbolchain/symbol/SharedKey.py
  sdk/python/tests/nem/test_SharedKey.py
  sdk/python/tests/symbol/test_SharedKey.py
  sdk/python/tests/test/BasicSharedKeyTest.py
  sdk/python/tests/test_CryptoTypes.py
  sdk/python/tests/vectors/all.py
  tests/vectors/nem/crypto/3.test-derive-deprecated.json
  tests/vectors/nem/crypto/3.test-derive-hkdf.json
  tests/vectors/symbol/crypto/3.test-derive-hkdf.json
Due: sdk-python

[sdk/python]: add helper function for generating random mnemonics
  sdk/python/symbolchain/Bip32.py
  sdk/python/tests/test_Bip32.py
Due: sdk-python

[sdk/javascript]: add helper function for generating random mnemonics
  sdk/javascript/src/Bip32.js
  sdk/javascript/test/Bip32_spec.js
Due: sdk-javascript

[monorepo]: fix nem models test vectors
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/multisig_account_modification_v1.py
  tests/vectors/nem/models/transactions.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-python

[sdk/javascript]: add ability to auto sort ordered arrays in descriptors
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
Due: sdk-javascript

[linters]: relax func length
  linters/python/.pylintrc
Due: none

[sdk/javascript]: generator changes: use information about aligned structs for better field access
  sdk/javascript/generator/EnumTypeFormatter.py
  sdk/javascript/generator/PodTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/converter.js
  sdk/javascript/test/utils/converter_spec.js
Due: sdk-javascript

[sdk/python]: add cipher for AES encryption
  sdk/python/symbolchain/Cipher.py
  sdk/python/tests/test_Cipher.py
  sdk/python/tests/vectors/all.py
  tests/vectors/nem/crypto/4.test-cipher-deprecated.json
  tests/vectors/nem/crypto/4.test-cipher.json
Due: sdk-python

[sdk/javascript]: add Cipher for AES encryption
  sdk/javascript/src/Cipher.js
  sdk/javascript/test/Cipher_spec.js
  sdk/javascript/vectors/all.js
  sdk/python/tests/test_Cipher.py
Due: sdk-javascript, sdk-python

[sdk/javascript]: add VotingKeysGenerator
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/src/symbol/VotingKeysGenerator.js
  sdk/javascript/test/symbol/VotingKeysGenerator_spec.js
  sdk/javascript/test/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/python/symbolchain/symbol/VotingKeysGenerator.py
Due: sdk-javascript, sdk-python

[sdk/python]: add support for verifying patricia tree proofs
  sdk/python/symbolchain/symbol/Merkle.py
  sdk/python/tests/symbol/test_Merkle.py
Due: sdk-python

[sdk/javascript]: add proveMerkle for performing merkle tree proofs
  sdk/javascript/src/symbol/MerkleHashBuilder.js
  sdk/javascript/test/symbol/MerkleHashBuilder_spec.js
Due: sdk-javascript

[sdk]: drop combined shared key + encryption tests
  sdk/javascript/test/Cipher_spec.js
  sdk/python/tests/test_Cipher.py
Due: sdk-javascript, sdk-python

[sdk/javascript]: shared key derivation, details below
  sdk/javascript/src/CryptoTypes.js
  sdk/javascript/src/SharedKey.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/nem/SharedKey.js
  sdk/javascript/src/symbol/SharedKey.js
  sdk/javascript/test/CryptoTypes_spec.js
  sdk/javascript/test/nem/SharedKey_spec.js
  sdk/javascript/test/symbol/SharedKey_spec.js
  sdk/javascript/test/test/sharedKeyTests.js
  sdk/javascript/vectors/all.js
  sdk/python/tests/nem/test_SharedKey.py
  sdk/python/tests/test/BasicSharedKeyTest.py
  sdk/python/tests/vectors/all.py
Due: sdk-javascript, sdk-python

[sdk]: rename MerkleHashBuilder file to merkle
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/index.js
  sdk/javascript/src/symbol/merkle.js
  sdk/javascript/test/symbol/merkle_spec.js
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/symbol/Merkle.py
  sdk/python/tests/symbol/test_Merkle.py
Due: sdk-javascript, sdk-python

[sdk/python]: add prove_merkle for performing merkle tree proofs
  sdk/python/symbolchain/symbol/MerkleHashBuilder.py
  sdk/python/tests/symbol/test_MerkleHashBuilder.py
Due: sdk-python

[sdk/javascript]: add helper function for calculating metadata payload
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/symbol/metadata.js
  sdk/javascript/test/symbol/metadata_spec.js
Due: sdk-javascript

[monorepo]: move voting key generation tests to test_vectors
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/test/symbol/VotingKeysGenerator_spec.js
  sdk/javascript/test/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/javascript/vectors/all.js
  sdk/python/tests/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/python/tests/symbol/test_VotingKeysGenerator.py
  sdk/python/tests/vectors/all.py
  tests/vectors/symbol/crypto/7.test-voting-keys-generation.json
Due: sdk-javascript, sdk-python

[sdk/javascript] bug: fix test vectors
  sdk/javascript/vectors/all.js
Due: sdk-javascript

[sdk/javascript]: add support for verifying patricia tree proofs
  sdk/javascript/src/symbol/merkle.js
  sdk/javascript/test/symbol/merkle_spec.js
  sdk/python/symbolchain/symbol/Merkle.py
Due: sdk-javascript, sdk-python

[jenkins] fix: add sanitizer base image
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/runDockerBuild.py
  jenkins/catapult/runDockerBuildInnerPrepare.py
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
Due: none

[jenkins] fix: code cleanup
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
Due: none

[jenkins] fix: address feedback
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/docs/BUILD-docker.md
  client/catapult/scripts/ci/build.sh
  client/catapult/scripts/ci/test.sh
  client/catapult/src/catapult/cache/CacheDescriptorAdapters.h
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
  client/catapult/tools/nemgen/blockhashes/NemesisBlockHashesCalculator.h
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/clang-latest.yaml
  jenkins/catapult/compilers/clang-prior.yaml
  jenkins/catapult/compilers/gcc-latest.yaml
  jenkins/catapult/compilers/gcc-prior.yaml
  jenkins/catapult/configurations/clang-13.yaml
  jenkins/catapult/configurations/clang-14.yaml
  jenkins/catapult/configurations/clang-ausan.yaml
  jenkins/catapult/configurations/clang-latest.yaml
  jenkins/catapult/configurations/clang-prior.yaml
  jenkins/catapult/configurations/gcc-11.yaml
  jenkins/catapult/configurations/gcc-12.yaml
  jenkins/catapult/configurations/gcc-code-coverage.yaml
  jenkins/catapult/configurations/gcc-latest.yaml
  jenkins/catapult/configurations/gcc-prior.yaml
  jenkins/catapult/environment.py
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/docker/cpp.Dockerfile
Due: client-catapult

[client/catapult] fix: linting
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
Due: client-catapult

[jenkins] fix: address feedback
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
Due: client-catapult

[client/catapult] fix: update comment in code
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
Due: client-catapult

Update BUILD-conan.md
  client/catapult/docs/BUILD-conan.md
Due: client-catapult

[sdk/python] add MessageEncoder
  sdk/python/symbolchain/impl/CipherHelpers.py
  sdk/python/symbolchain/impl/__init__.py
  sdk/python/symbolchain/nem/MessageEncoder.py
  sdk/python/symbolchain/symbol/MessageEncoder.py
  sdk/python/tests/nem/test_MessageEncoder.py
  sdk/python/tests/symbol/test_MessageEncoder.py
  sdk/python/tests/test/BasicMessageEncoderTest.py
Due: sdk-python

[sdk/javascript]: add MessageEncoder
  sdk/javascript/src/impl/CipherHelpers.js
  sdk/javascript/src/nem/MessageEncoder.js
  sdk/javascript/src/symbol/MessageEncoder.js
  sdk/javascript/test/nem/MessageEncoder_spec.js
  sdk/javascript/test/symbol/MessageEncoder_spec.js
  sdk/javascript/test/test/messageEncoderTests.js
  sdk/javascript/test/test/sharedKeyTests.js
Due: sdk-javascript

[client/rest]: renamed the hippie related variables to wrappedRequest
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[monorepo]: fix mispellings of aggregate
  sdk/python/testvectors/__main__.py
  tests/vectors/nem/models/transactions.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-python

[cabuffer/parser]: add support for sizeref field attribute
  catbuffer/parser/catparser/AstValidator.py
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/grammar/catbuffer.lark
  catbuffer/parser/docs/cats_dsl.md
  catbuffer/parser/tests/test_AstValidator.py
  catbuffer/parser/tests/test_ast.py
  catbuffer/schemas/nem/mosaic/mosaic_definition.cats
  catbuffer/schemas/nem/transfer/transfer.cats
Due: catbuffer-parser

[sdk/python]: initialize optional fields to None to match deserializer
  sdk/python/examples/descriptors/nem_namespace.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/facade/test_BatchOperations.py
  sdk/python/tests/vectors/catbuffer.py
Due: sdk-python

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
