Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[catapult/client]: fix windows builds after upgrading openssl from 1.1.1x to 3.0.x
  client/catapult/conanfile.txt
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/environment.py
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/runDockerBuildInnerPrepare.py
  jenkins/catapult/runDockerTestsInnerLint.py
  jenkins/catapult/runDockerTestsInnerTest.py
  jenkins/catapult/templates/RunTestWindows.yaml
Due: client-catapult

[client/catapult] fix: update change log and bump version
  client/catapult/CHANGELOG.md
  client/catapult/docs/BUILD-manual.md
  client/catapult/src/catapult/version/version_inc.h
  jenkins/catapult/server.version.yaml
Due: client-catapult

[jenkins]: fix pylint warnings
  jenkins/catapult/environment.py
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

[sdk/python]: generate new and fixed models, parse new catbuffer test vectors, fix issue with using Factory type when reading array types
  sdk/python/generator/printers.py
  sdk/python/scripts/run_catbuffer_generator.sh
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/tests/nem/test_TransactionFactory.py
  sdk/python/tests/symbol/test_TransactionFactory.py
  sdk/python/tests/vectors/catbuffer.py
  sdk/python/testvectors/BlockFactory.py
  sdk/python/testvectors/ReceiptFactory.py
  sdk/python/testvectors/__main__.py
Due: sdk-python

[catbuffer]: add missing discriminator
  catbuffer/schemas/symbol/transaction.cats
  sdk/javascript/src/symbol/models.js
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-javascript, sdk-python

[catbuffer]: add V1 suffix to blocks, add V1 to nem cosignature (transaction), add all_generated.cats
  catbuffer/schemas/nem/all.cats
  catbuffer/schemas/nem/all_generated.cats
  catbuffer/schemas/nem/multisig/multisig.cats
  catbuffer/schemas/symbol/all.cats
  catbuffer/schemas/symbol/all_generated.cats
  catbuffer/schemas/symbol/block.cats
Due: none

[sdk/javascript]: generate deserializeAligned where needed and in those places change deserialize -> not-aligned
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/symbol/models.js
  sdk/javascript/vectors/ReceiptFactory.js
Due: sdk-javascript

[sdk/javascript]: generate new and fixed models, parse new catbuffer test vectors, fix issue with using Factory type when reading array types
  sdk/javascript/generator/printers.py
  sdk/javascript/scripts/run_catbuffer_generator.sh
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/vectors/BlockFactory.js
  sdk/javascript/vectors/ReceiptFactory.js
  sdk/javascript/vectors/catbuffer.js
Due: sdk-javascript

[sdk/javascript]: mark structs that require both aligned and unaligned deserialize
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/generators/util.py
  catbuffer/parser/tests/generators/test_util.py
  catbuffer/parser/tests/test_ast.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/vectors/catbuffer.js
Due: catbuffer-parser, sdk-javascript

[jenkins] fix: Jenkins job failure problem: Jenkins job fails solution: fix nightly job failing when the new product is not checked into dev fix running a manual job on the PR branch
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
Due: none

[jenkins] fix: spacing
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
Due: none

[jenkins] fix: Jenkins job failure
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
Due: none

[jenkins] fix: update catapult client jobs 1. enable catapult client image jobs to run monthly 2. add a job that builds all the compiler images 3. add notification for when catapult jobs fails
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
Due: none

[jenkins] fix: lint by remove extra spaces
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
Due: none

[jenkins] fix: address feedback
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
  jenkins/shared-library/vars/helper.groovy
Due: none

[jenkins] fix: move post to after last stages
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
Due: none

[jenkins] fix: move helper call into script block
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
Due: none

[jenkins] fix: use the discord default emojis
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
Due: none

[jenkins] fix: remove extra tabs
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
Due: none

[jenkins] fix: update catapult client jobs
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/shared-library/vars/helper.groovy
Due: none

[catapult/client]: require connections to provide SSL certificate
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/tools/ssl/CertificateDirectoryGenerator.h
  client/catapult/tools/ssl/SslClient.cpp
  client/catapult/tools/ssl/main.cpp
Due: client-catapult

[client/catapult]: require connections to provide SSL certificate
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/tools/ssl/CertificateDirectoryGenerator.h
  client/catapult/tools/ssl/SslClient.cpp
  client/catapult/tools/ssl/main.cpp
Due: client-catapult

[jenkins] fix: update mongo-c-driver version 1. update mongo-c-driver version to 1.23.1 2. fix tests with clang 15 3. build openssl in the install local deps
  client/catapult/extensions/mongo/CMakeLists.txt
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
  jenkins/catapult/dependency_flags.py
  jenkins/catapult/installDepsLocal.py
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: address feedback
  client/catapult/conanfile.txt
  client/catapult/extensions/mongo/CMakeLists.txt
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
  jenkins/catapult/installDepsLocal.py
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult] fix: clang latest to 15 plus deps updates
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/extensions/zeromq/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  client/catapult/tests/catapult/consumers/BatchSignatureConsumerTests.cpp
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/clang-latest.yaml
  jenkins/catapult/compilers/clang-prior.yaml
  jenkins/catapult/compilers/ubuntu-clang/Dockerfile
  jenkins/catapult/dependency_flags.py
  jenkins/catapult/installDepsLocal.py
  jenkins/catapult/templates/UbuntuReleaseBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: use latest codecov uploader problem: ci not using the latest codecov uploader solution: use the latest codecov uploader
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/docker/java.Dockerfile
  jenkins/docker/javascript.Dockerfile
  jenkins/docker/postgres.Dockerfile
  jenkins/docker/python.Dockerfile
Due: none

[jenkins] fix: use latest codecov uploader
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/docker/java.Dockerfile
  jenkins/docker/javascript.Dockerfile
  jenkins/docker/postgres.Dockerfile
  jenkins/docker/python.Dockerfile
Due: none

[client/catapult] fix: update mongodb drivers
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/conanfile.txt
  client/catapult/extensions/mongo/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins]: add libssl-dev to python docker image
  jenkins/docker/python.Dockerfile
Due: none

[client/catapult] fix: revert mongodb version bump
  client/catapult/conanfile.txt
  client/catapult/extensions/mongo/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: remove the strip since it remove newline
  jenkins/catapult/process.py
Due: none

[jenkins] fix: remove print()
  jenkins/catapult/process.py
Due: none

[jenkins] fix: remove error
  jenkins/catapult/process.py
Due: none

[jenkins] fix: ignore errors for dispatch_subprocess on Windows also
  jenkins/catapult/process.py
Due: none

[jenkins] fix: strip the eol before decoding
  jenkins/catapult/process.py
Due: none

[jenkins] fix: remove ignore error to see if I can repo
  jenkins/catapult/process.py
Due: none

[jenkins] fix: disable gtest color on Windows
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
