Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[jenkins] fix: downgrade npm-groovy-lint to 11.x
  jenkins/docker/ubuntu/linter.Dockerfile
Due: none

[jenkins] fix: ignore Codecov upload failures for private repo
  jenkins/shared-library/vars/codeCoverage.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] fix: linter dockerfile missing node version problem: linter dockerfile missing node version solution: add minimum node version
  jenkins/docker/ubuntu/linter.Dockerfile
Due: none

[jenkins] fix: linter dockerfile missing node version
  jenkins/docker/ubuntu/linter.Dockerfile
Due: none

[sdk] fix: ignore cr on diff problem: files generated on Windows have while checked in files have solution: when diffing files, strip before comparing.
  sdk/javascript/scripts/run_catbuffer_generator.sh
  sdk/python/scripts/run_catbuffer_generator.sh
  sdk/python/scripts/run_examples_docs_generator.sh
  sdk/python/scripts/run_testvectors_generator.sh
Due: sdk-javascript, sdk-python

[sdk] fix: Update the Javascript and Python SDKs to run on Windows
  jenkins/docker/windows/javascript.Dockerfile
  jenkins/docker/windows/python.Dockerfile
  jenkins/shared-library/vars/runScript.groovy
  sdk/javascript/examples/transaction_sign.js
  sdk/javascript/package.json
  sdk/javascript/scripts/run_catbuffer_generator.sh
  sdk/python/scripts/run_catbuffer_generator.sh
  sdk/python/scripts/run_examples_docs_generator.sh
  sdk/python/scripts/run_testvectors_generator.sh
Due: sdk-javascript, sdk-python

[jenkins] fix: git verify commit message fails on Windows
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[add]search blocks by timestamp
  client/rest/src/db/CatapultDb.js
  client/rest/src/routes/blockRoutes.js
Due: client-rest

[jenkins] fix: always call init script
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[client/catapult] fix: update catapult conan artifact endpoint problem: catapult docs has the old endpoint use when build with conan solution: update the catapult docs with the latest endpoint
  client/catapult/docs/BUILD-conan.md
Due: client-catapult

[client/catapult] fix: update catapult conan artifact endpoint
  client/catapult/docs/BUILD-conan.md
Due: client-catapult

[jenkins] fix: address feedback
  jenkins/shared-library/vars/changedSetHelper.groovy
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
Due: none

[jenkins] fix: missed another issue with the rebase
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
Due: none

[jenkins] fix: funtion removal on rebase
  jenkins/shared-library/vars/helper.groovy
Due: none

[jenkins] fix: linting
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
Due: none

[jenkins] fix: add a controller job to manage CI builds (#838)
  .github/jenkinsfile/controller.groovy
  jenkins/shared-library/vars/changedSetHelper.groovy
  jenkins/shared-library/vars/createMultibranchJob.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/jobHelper.groovy
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[jenkins] fix: add a controller job to manage CI builds
  .github/jenkinsfile/controller.groovy
  jenkins/shared-library/vars/changedSetHelper.groovy
  jenkins/shared-library/vars/createMultibranchJob.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/jobHelper.groovy
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[jenkins] fix: add support for untrusted repo problem: Jenkins jobs are configured to not run for forked repo solution: setup Jenkins job to run for PRs from forked repos
  jenkins/shared-library/vars/createMultibranchJob.groovy
  jenkins/shared-library/vars/jobHelper.groovy
Due: none

[jenkins] fix: linting, line exceeded 140 chars
  jenkins/shared-library/vars/createMultibranchJob.groovy
Due: none

[jenkins] fix: remove unnecessary space
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[jenkins] fix: address feedback
  .github/jenkinsfile/catapultDependency.groovy
  jenkins/shared-library/vars/gitPullRequestPipeline.groovy
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[jenkins] fix: address feedback
  jenkins/shared-library/vars/createMultibranchJob.groovy
Due: none

[jenkins] fix: add support for untrusted repo
  jenkins/shared-library/vars/createMultibranchJob.groovy
  jenkins/shared-library/vars/jobHelper.groovy
Due: none

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: rename branchName to prBranchName
  .github/jenkinsfile/catapultDependency.groovy
  jenkins/shared-library/vars/gitPullRequestPipeline.groovy
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/extensions/mongo/CMakeLists.txt
  client/catapult/extensions/zeromq/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] feat: catapult dependency updater
  .github/buildConfiguration.yaml
  .github/jenkinsfile/catapultDependency.groovy
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/catapultDependencyUpdater.py
  jenkins/catapult/installDepsLocal.py
  jenkins/catapult/requirements.txt
  jenkins/catapult/versions.properties
  jenkins/shared-library/vars/codeCoverage.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/gitPullRequestPipeline.groovy
  jenkins/shared-library/vars/githubHelper.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] fix: add virtual python environment
  jenkins/docker/ubuntu/cpp.Dockerfile
Due: none

[add] some test for timestamp
  client/rest/src/db/CatapultDb.js
  client/rest/test/db/CatapultDb_spec.js
  client/rest/test/db/utils/dbTestUtils.js
Due: client-rest

block_filterd_timestamp
  client/rest/src/db/CatapultDb.js
  client/rest/src/routes/blockRoutes.js
  client/rest/test/db/CatapultDb_spec.js
  client/rest/test/db/utils/dbTestUtils.js
  client/rest/test/routes/blockRoutes_spec.js
Due: client-rest

[client/rest] fix: add support to filter blocks by timestamp.
  client/rest/src/db/CatapultDb.js
  client/rest/src/routes/blockRoutes.js
  client/rest/test/db/CatapultDb_spec.js
  client/rest/test/routes/blockRoutes_spec.js
Due: client-rest

[client/catapult] fix: CreateDBStatistics not found and revert Boost to 1.80.0
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/src/catapult/cache_db/RocksInclude.h
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: update catapult build dependency problem: catapult buids are not using the latest compilers solution: update to use the latest compilers and OS
  jenkins/catapult/compilers/clang-latest.yaml
  jenkins/catapult/compilers/clang-prior.yaml
  jenkins/catapult/compilers/debian-gcc/Dockerfile
  jenkins/catapult/compilers/fedora-gcc/Dockerfile
  jenkins/catapult/compilers/gcc-latest.yaml
  jenkins/catapult/compilers/gcc-prior.yaml
  jenkins/catapult/versions.properties
Due: none

[jenkins] fix: read the OS version from properties file problem: compiler Dockerfile has the base image hardcode. solution: make the base image an arg which can be overwritten at build time
  jenkins/catapult/compilers/debian-gcc/Dockerfile
  jenkins/catapult/compilers/fedora-gcc/Dockerfile
  jenkins/catapult/compilers/ubuntu-clang/Dockerfile
  jenkins/catapult/compilers/ubuntu-gcc/Dockerfile
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/versions.properties
Due: none

[jenkins] fix: always run checkout since manual branch should be always set
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
Due: none

[jenkins] fix: linting
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
Due: none

[jenkins] fix: setup python virtual environment
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
