Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[sdk/javascript]: initialize optional fields to null to match deserializer
  sdk/javascript/examples/descriptors/nem_namespace.js
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/vectors/catbuffer.js
Due: sdk-javascript

[sdk/javascript]: generator changes: use information about aligned structs for better field access
  sdk/javascript/generator/EnumTypeFormatter.py
  sdk/javascript/generator/PodTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/converter.js
  sdk/javascript/test/utils/converter_spec.js
Due: sdk-javascript

[catbuffer/schemas]: add missing @is_aligned anotation on symbol Cosignature
  catbuffer/schemas/symbol/aggregate/cosignature.cats
Due: none

[sdk/python]: update python sdk to support computed sizeref fields
  sdk/python/examples/descriptors/nem_mosaic.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/symbolchain/TransactionDescriptorProcessor.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/test_TransactionDescriptorProcessor.py
  sdk/python/testvectors/nem/mosaic_definition.py
  sdk/python/testvectors/nem/multisig.py
  sdk/python/testvectors/nem/transfer.py
  sdk/python/testvectors/nem/transfer_v1.py
  tests/vectors/nem/models/transactions.json
Due: sdk-python

[sdk/javascript]: update javascript sdk to support computed sizeref fields
  sdk/javascript/examples/descriptors/nem_mosaic.js
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/TransactionDescriptorProcessor.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/test/TransactionDescriptorProcessor_spec.js
  sdk/javascript/test/facade/NemFacade_spec.js
Due: sdk-javascript

[catbuffer/schemas]: make all cats files self-contained
  catbuffer/schemas/symbol/state/restriction_account_types.cats
  catbuffer/schemas/symbol/statements/address_resolution_statement.cats
  catbuffer/schemas/symbol/statements/mosaic_resolution_statement.cats
Due: none

[catbuffer/parser]: add comparer attribute to allow structs to define complex sorting rules
  catbuffer/parser/catparser/AstValidator.py
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/grammar/catbuffer.lark
  catbuffer/parser/docs/cats_dsl.md
  catbuffer/parser/tests/test_AstValidator.py
  catbuffer/parser/tests/test_ast.py
  catbuffer/schemas/nem/multisig/multisig_account_modification.cats
Due: catbuffer-parser

[sdk/python]: update generator to handle comparer property
  sdk/python/examples/descriptors/nem_multisig_account.py
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/generator/printers.py
  sdk/python/scripts/ci/lint.sh
  sdk/python/symbolchain/Transforms.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/tests/test_Transforms.py
Due: sdk-python

[sdk/javascript]: update generator to handle comparer property
  sdk/javascript/examples/descriptors/nem_multisig_account.js
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/src/utils/transforms.js
  sdk/javascript/test/TransactionDescriptorProcessor_spec.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
  sdk/javascript/test/utils/transforms_spec.js
Due: sdk-javascript

[sdk/python]: add ability to auto sort ordered arrays in descriptors
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/generator/printers.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/nem/test_TransactionFactory.py
  sdk/python/tests/symbol/test_TransactionFactory.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/multisig_account_modification_v1.py
  sdk/python/testvectors/symbol/transfer.py
  tests/vectors/nem/models/transactions.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-python

[sdk/javascript]: add ability to auto sort ordered arrays in descriptors
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
Due: sdk-javascript

[sdk/python]: add helper function for calculating metadata payload
  sdk/python/symbolchain/symbol/Metadata.py
  sdk/python/tests/symbol/test_Metadata.py
Due: sdk-python

[sdk/python]: add helper function for generating random mnemonics
  sdk/python/symbolchain/Bip32.py
  sdk/python/tests/test_Bip32.py
Due: sdk-python

[sdk/javascript]: add helper function for generating random mnemonics
  sdk/javascript/src/Bip32.js
  sdk/javascript/test/Bip32_spec.js
Due: sdk-javascript

[sdk/javascript]: add helper function for calculating metadata payload
  sdk/javascript/src/symbol/metadata.js
  sdk/javascript/test/symbol/metadata_spec.js
Due: sdk-javascript

[sdk/javascript]: add VotingKeysGenerator
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/src/symbol/VotingKeysGenerator.js
  sdk/javascript/test/symbol/VotingKeysGenerator_spec.js
  sdk/javascript/test/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/python/symbolchain/symbol/VotingKeysGenerator.py
Due: sdk-javascript, sdk-python

[monorepo]: move voting key generation tests to test_vectors
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/test/symbol/VotingKeysGenerator_spec.js
  sdk/javascript/test/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/javascript/vectors/all.js
  sdk/python/tests/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/python/tests/symbol/test_VotingKeysGenerator.py
  sdk/python/tests/vectors/all.py
  tests/vectors/symbol/crypto/7.test-voting-keys-generation.json
Due: sdk-javascript, sdk-python

[sdk/python]: add prove_merkle for performing merkle tree proofs
  sdk/python/symbolchain/symbol/MerkleHashBuilder.py
  sdk/python/tests/symbol/test_MerkleHashBuilder.py
Due: sdk-python

[sdk/javascript]: add support for verifying patricia tree proofs
  sdk/javascript/src/symbol/merkle.js
  sdk/javascript/test/symbol/merkle_spec.js
  sdk/python/symbolchain/symbol/Merkle.py
Due: sdk-javascript, sdk-python

[sdk/python]: add support for verifying patricia tree proofs
  sdk/python/symbolchain/symbol/Merkle.py
  sdk/python/tests/symbol/test_Merkle.py
Due: sdk-python

[sdk]: rename MerkleHashBuilder file to merkle
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/index.js
  sdk/javascript/src/symbol/merkle.js
  sdk/javascript/test/symbol/merkle_spec.js
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/symbol/Merkle.py
  sdk/python/tests/symbol/test_Merkle.py
Due: sdk-javascript, sdk-python

[sdk/javascript]: add proveMerkle for performing merkle tree proofs
  sdk/javascript/src/symbol/MerkleHashBuilder.js
  sdk/javascript/test/symbol/MerkleHashBuilder_spec.js
Due: sdk-javascript

[sdk/python] nem shared key derivation, details below
  sdk/python/symbolchain/CryptoTypes.py
  sdk/python/symbolchain/SharedKey.py
  sdk/python/symbolchain/external/__init__.py
  sdk/python/symbolchain/external/ed25519.py
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/nem/KeyPair.py
  sdk/python/symbolchain/nem/SharedKey.py
  sdk/python/symbolchain/symbol/SharedKey.py
  sdk/python/tests/nem/test_SharedKey.py
  sdk/python/tests/symbol/test_SharedKey.py
  sdk/python/tests/test/BasicSharedKeyTest.py
  sdk/python/tests/test_CryptoTypes.py
  sdk/python/tests/vectors/all.py
  tests/vectors/nem/crypto/3.test-derive-deprecated.json
  tests/vectors/nem/crypto/3.test-derive-hkdf.json
  tests/vectors/symbol/crypto/3.test-derive-hkdf.json
Due: sdk-python

[sdk/python]: add Cipher for AES encryption
  sdk/python/symbolchain/Cipher.py
  sdk/python/tests/test_Cipher.py
  sdk/python/tests/vectors/all.py
  tests/vectors/nem/crypto/4.test-cipher-deprecated.json
  tests/vectors/nem/crypto/4.test-cipher.json
Due: sdk-python

[sdk/javascript]: shared key derivation, details below
  sdk/javascript/src/CryptoTypes.js
  sdk/javascript/src/SharedKey.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/nem/SharedKey.js
  sdk/javascript/src/symbol/SharedKey.js
  sdk/javascript/test/CryptoTypes_spec.js
  sdk/javascript/test/nem/SharedKey_spec.js
  sdk/javascript/test/symbol/SharedKey_spec.js
  sdk/javascript/test/test/sharedKeyTests.js
  sdk/javascript/vectors/all.js
  sdk/python/tests/nem/test_SharedKey.py
  sdk/python/tests/test/BasicSharedKeyTest.py
  sdk/python/tests/vectors/all.py
Due: sdk-javascript, sdk-python

[sdk/javascript]: add Cipher for AES encryption
  sdk/javascript/src/Cipher.js
  sdk/javascript/test/Cipher_spec.js
  sdk/javascript/vectors/all.js
  sdk/python/tests/test_Cipher.py
Due: sdk-javascript, sdk-python

[sdk]: drop combined shared key + encryption tests
  sdk/javascript/test/Cipher_spec.js
  sdk/python/tests/test_Cipher.py
Due: sdk-javascript, sdk-python

[sdk/python] add MessageEncoder
  sdk/python/symbolchain/impl/CipherHelpers.py
  sdk/python/symbolchain/impl/__init__.py
  sdk/python/symbolchain/nem/MessageEncoder.py
  sdk/python/symbolchain/symbol/MessageEncoder.py
  sdk/python/tests/nem/test_MessageEncoder.py
  sdk/python/tests/symbol/test_MessageEncoder.py
  sdk/python/tests/test/BasicMessageEncoderTest.py
Due: sdk-python

[sdk/javascript]: add MessageEncoder
  sdk/javascript/src/impl/CipherHelpers.js
  sdk/javascript/src/nem/MessageEncoder.js
  sdk/javascript/src/symbol/MessageEncoder.js
  sdk/javascript/test/nem/MessageEncoder_spec.js
  sdk/javascript/test/symbol/MessageEncoder_spec.js
  sdk/javascript/test/test/messageEncoderTests.js
  sdk/javascript/test/test/sharedKeyTests.js
Due: sdk-javascript

[jenkins] feat: add Catapult Client Windows build
  jenkins/catapult/BasicBuildManager.py
  jenkins/catapult/compilers/msvc-2019.yaml
  jenkins/catapult/compilers/msvc-2022.yaml
  jenkins/catapult/compilers/windows-msvc/Dockerfile
  jenkins/catapult/configurations/msvc-2019.yaml
  jenkins/catapult/configurations/msvc-2022.yaml
  jenkins/catapult/environment.py
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image-windows.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-windows.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image-windows.groovy
  jenkins/catapult/process.py
  jenkins/catapult/runDockerBuild.py
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/runDockerBuildInnerPrepare.py
  jenkins/catapult/runDockerTests.py
  jenkins/catapult/runDockerTestsInnerTest.py
  jenkins/catapult/templates/RunLintWindows.yaml
  jenkins/catapult/templates/RunTestWindows.yaml
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
  jenkins/catapult/versions.properties
Due: none

[jenkins] fix: address feedback 1. refactor jenkins file to add Windows. this includes windows metal build 2. update the installDepsLocal to support Windows
  client/catapult/sdk/src/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/msvc-2019.yaml
  jenkins/catapult/compilers/msvc-2022.yaml
  jenkins/catapult/compilers/msvc-latest.yaml
  jenkins/catapult/compilers/msvc-prior.yaml
  jenkins/catapult/compilers/windows-msvc/Dockerfile
  jenkins/catapult/configurations/msvc-2019.yaml
  jenkins/catapult/configurations/msvc-2022.yaml
  jenkins/catapult/configurations/msvc-latest.yaml
  jenkins/catapult/configurations/msvc-prior.yaml
  jenkins/catapult/dependency_flags.py
  jenkins/catapult/environment.py
  jenkins/catapult/installDepsLocal.py
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image-windows.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-windows.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image-windows.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/runDockerBuild.py
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/runDockerTests.py
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
  jenkins/shared-library/vars/helper.groovy
Due: client-catapult

[jenkins] fix: linting
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/dependency_flags.py
  jenkins/catapult/installDepsLocal.py
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[jenkins] fix: repo name
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
Due: none

[jenkins] fix: address feedback
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/windows-msvc/Dockerfile
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[client/catapult] fix: spacing
  client/catapult/tests/bench/CMakeLists.txt
Due: client-catapult

[jenkins] feat: add Catapult client Windows build
  client/catapult/sdk/src/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  jenkins/catapult/BasicBuildManager.py
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/msvc-latest.yaml
  jenkins/catapult/compilers/msvc-prior.yaml
  jenkins/catapult/compilers/windows-msvc/Dockerfile
  jenkins/catapult/configurations/msvc-latest.yaml
  jenkins/catapult/configurations/msvc-prior.yaml
  jenkins/catapult/dependency_flags.py
  jenkins/catapult/environment.py
  jenkins/catapult/installDepsLocal.py
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/process.py
  jenkins/catapult/runDockerBuild.py
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/runDockerBuildInnerPrepare.py
  jenkins/catapult/runDockerTests.py
  jenkins/catapult/runDockerTestsInnerTest.py
  jenkins/catapult/templates/RunLintWindows.yaml
  jenkins/catapult/templates/RunTestWindows.yaml
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
  jenkins/catapult/versions.properties
  jenkins/shared-library/vars/helper.groovy
Due: client-catapult

[sdk/python]: use pynacl for public key generation, signing and verification
  sdk/python/requirements.txt
  sdk/python/symbolchain/nem/KeyPair.py
Due: sdk-python

[sdk/python]: add additional tests for sign/verify edge cases
  sdk/python/symbolchain/nem/KeyPair.py
  sdk/python/symbolchain/symbol/KeyPair.py
  sdk/python/tests/test/BasicKeyPairTest.py
Due: sdk-python

[sdk/python]: add small ripemd160 wrapper and pick either hashlib impl or ripemd-hash impl
  sdk/python/requirements.txt
  sdk/python/symbolchain/Network.py
  sdk/python/symbolchain/Transforms.py
  sdk/python/symbolchain/ripemd160.py
Due: sdk-python
