Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[client/catapult]: disable false warning
  client/catapult/CMakeGlobalSettings.cmake
  jenkins/catapult/compilers/gcc-prior.yaml
Due: client-catapult

[jenkins]: disable unreachable code warning for RocksDB
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/dependency_flags.py
Due: none

[jenkins]: switch to using Windows 2025 as the base image
  jenkins/catapult/compilers/windows-msvc/Dockerfile
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
  jenkins/catapult/versions.properties
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
Due: none

[jenkins]: clean up build type and boost c++20 build
  jenkins/catapult/BasicBuildManager.py
  jenkins/catapult/dependency_flags.py
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[sdk/java]: fix linting
  sdk/java/gradlew
Due: none

[client/catapult]: add gcc 16 support problem: not building with the latest gcc solution: upgrade to GCC 16
  jenkins/catapult/compilers/fedora-gcc/Dockerfile
  jenkins/catapult/compilers/gcc-latest.yaml
  jenkins/catapult/compilers/gcc-prior.yaml
  jenkins/catapult/compilers/ubuntu-gcc/Dockerfile
Due: none

[jenkins]: fix benchmark build failing
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[jenkins]: fix rocksdb build failing
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[client/catapult]: add GCC 16 support
  client/catapult/CMakeGlobalSettings.cmake
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/fedora-gcc/Dockerfile
  jenkins/catapult/compilers/gcc-latest.yaml
  jenkins/catapult/compilers/gcc-prior.yaml
  jenkins/catapult/compilers/ubuntu-gcc/Dockerfile
Due: client-catapult

[jenkins]: set the OPENSSL_MODULES in ci
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  client/catapult/extensions/mongo/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult]: fix lint
  client/catapult/src/catapult/crypto/OpensslContexts.h
Due: client-catapult

[client/catapult]: fix breaking changes in deps update
  client/catapult/docs/BUILD-conan.md
  client/catapult/docs/BUILD-manual.md
  client/catapult/extensions/mongo/CMakeLists.txt
  client/catapult/src/catapult/cache_db/RocksDatabase.cpp
  client/catapult/src/catapult/crypto/OpensslContexts.cpp
  client/catapult/src/catapult/crypto/OpensslContexts.h
  client/catapult/tests/catapult/cache_db/test/RdbTestUtils.cpp
  client/catapult/tests/test/crypto/CertificateTestUtils.cpp
  client/catapult/tools/ssl/CertificateUtils.cpp
  jenkins/catapult/runDockerBuild.py
  jenkins/catapult/templates/release.Dockerfile
Due: client-catapult

[client/catapult]: revert OpensslDigestContext since it breaks GenerateMosaicId/GenerateNamespaceId noexcept
  client/catapult/src/catapult/crypto/OpensslContexts.cpp
  client/catapult/src/catapult/crypto/OpensslContexts.h
Due: client-catapult

[jenkins]: add check for vs 2026 and change to curl
  jenkins/catapult/compilers/windows-msvc/Dockerfile
Due: none

[jenkins]: add Visual Studio 2026
  jenkins/catapult/compilers/msvc-latest.yaml
  jenkins/catapult/compilers/msvc-prior.yaml
  jenkins/catapult/compilers/windows-msvc/Dockerfile
  jenkins/catapult/templates/RunLintWindows.yaml
  jenkins/catapult/templates/RunTestWindows.yaml
Due: none

[jenkins]: update vs generator name
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[jenkins]: fix linting
  jenkins/catapult/compilers/windows-msvc/Dockerfile
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
Due: none

[jenkins]: add Visual Studio 2026
  jenkins/catapult/BasicBuildManager.py
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/msvc-latest.yaml
  jenkins/catapult/compilers/msvc-prior.yaml
  jenkins/catapult/compilers/windows-msvc/Dockerfile
  jenkins/catapult/dependency_flags.py
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/templates/RunLintWindows.yaml
  jenkins/catapult/templates/RunTestWindows.yaml
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
  jenkins/catapult/versions.properties
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
Due: none

[jenkins]: fix metal builds failing problem: OpenSSL remove the engine-3 folder which cause failure solution: remove the engine-3 from the copy list
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[jenkins]: fix mongocxx files not getting copied to the test image
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[jenkins]: fix metal builds failing
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[jenkins] fix: reduce the test image size on Windows problem: Windows pdbs are over 10Gig which causes docker commit to timeout solution: remove the copy of the pdbs since they are not needed
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[jenkins] fix: reduce the test image size on Windows
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[sdk/python]: fix linting
  sdk/python/symbolchain/RuleBasedTransactionFactory.py
Due: sdk-python

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult
