Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[sdk/python]: add ability to auto sort ordered arrays in descriptors
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/generator/printers.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/nem/test_TransactionFactory.py
  sdk/python/tests/symbol/test_TransactionFactory.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/multisig_account_modification_v1.py
  sdk/python/testvectors/symbol/transfer.py
  tests/vectors/nem/models/transactions.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-python

[catbuffer/schemas]: make all cats files self-contained
  catbuffer/schemas/symbol/state/restriction_account_types.cats
  catbuffer/schemas/symbol/statements/address_resolution_statement.cats
  catbuffer/schemas/symbol/statements/mosaic_resolution_statement.cats
Due: none

[sdk/python]: add helper function for calculating metadata payload
  sdk/python/symbolchain/symbol/Metadata.py
  sdk/python/tests/symbol/test_Metadata.py
Due: sdk-python

[linters]: relax func length
  linters/python/.pylintrc
Due: none

[catbuffer/parser]: add comparer attribute to allow structs to define complex sorting rules
  catbuffer/parser/catparser/AstValidator.py
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/grammar/catbuffer.lark
  catbuffer/parser/docs/cats_dsl.md
  catbuffer/parser/tests/test_AstValidator.py
  catbuffer/parser/tests/test_ast.py
  catbuffer/schemas/nem/multisig/multisig_account_modification.cats
Due: catbuffer-parser

[sdk/javascript]: add helper function for calculating metadata payload
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/symbol/metadata.js
  sdk/javascript/test/symbol/metadata_spec.js
Due: sdk-javascript

[sdk/python] nem shared key derivation, details below
  sdk/python/symbolchain/CryptoTypes.py
  sdk/python/symbolchain/SharedKey.py
  sdk/python/symbolchain/external/__init__.py
  sdk/python/symbolchain/external/ed25519.py
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/nem/KeyPair.py
  sdk/python/symbolchain/nem/SharedKey.py
  sdk/python/symbolchain/symbol/SharedKey.py
  sdk/python/tests/nem/test_SharedKey.py
  sdk/python/tests/symbol/test_SharedKey.py
  sdk/python/tests/test/BasicSharedKeyTest.py
  sdk/python/tests/test_CryptoTypes.py
  sdk/python/tests/vectors/all.py
  tests/vectors/nem/crypto/3.test-derive-deprecated.json
  tests/vectors/nem/crypto/3.test-derive-hkdf.json
  tests/vectors/symbol/crypto/3.test-derive-hkdf.json
Due: sdk-python

[sdk/javascript]: initialize optional fields to null to match deserializer
  sdk/javascript/examples/descriptors/nem_namespace.js
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/vectors/catbuffer.js
Due: sdk-javascript

[sdk/javascript]: add ability to auto sort ordered arrays in descriptors
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
Due: sdk-javascript

[sdk/javascript]: add helper function for generating random mnemonics
  sdk/javascript/src/Bip32.js
  sdk/javascript/test/Bip32_spec.js
Due: sdk-javascript

[sdk/python]: add helper function for generating random mnemonics
  sdk/python/symbolchain/Bip32.py
  sdk/python/tests/test_Bip32.py
Due: sdk-python

[sdk/python]: add cipher for AES encryption
  sdk/python/symbolchain/Cipher.py
  sdk/python/tests/test_Cipher.py
  sdk/python/tests/vectors/all.py
  tests/vectors/nem/crypto/4.test-cipher-deprecated.json
  tests/vectors/nem/crypto/4.test-cipher.json
Due: sdk-python

[sdk/javascript]: shared key derivation, details below
  sdk/javascript/src/CryptoTypes.js
  sdk/javascript/src/SharedKey.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/nem/SharedKey.js
  sdk/javascript/src/symbol/SharedKey.js
  sdk/javascript/test/CryptoTypes_spec.js
  sdk/javascript/test/nem/SharedKey_spec.js
  sdk/javascript/test/symbol/SharedKey_spec.js
  sdk/javascript/test/test/sharedKeyTests.js
  sdk/javascript/vectors/all.js
  sdk/python/tests/nem/test_SharedKey.py
  sdk/python/tests/test/BasicSharedKeyTest.py
  sdk/python/tests/vectors/all.py
Due: sdk-javascript, sdk-python

[sdk/javascript]: add Cipher for AES encryption
  sdk/javascript/src/Cipher.js
  sdk/javascript/test/Cipher_spec.js
  sdk/javascript/vectors/all.js
  sdk/python/tests/test_Cipher.py
Due: sdk-javascript, sdk-python

[client\catatpult] fix: Windows tests failing
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/mongo/plugins/lock_hash/tests/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/lock_secret/tests/CMakeLists.txt
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
Due: client-catapult

[sdk]: drop combined shared key + encryption tests
  sdk/javascript/test/Cipher_spec.js
  sdk/python/tests/test_Cipher.py
Due: sdk-javascript, sdk-python

[client/catapult] fix: Catapult client Windows build and tests failing
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/mongo/plugins/lock_hash/tests/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/lock_secret/tests/CMakeLists.txt
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
Due: client-catapult

[client/catapult] fix: increase timeout for multiple readerWriter locks
  client/catapult/tests/catapult/utils/SpinReaderWriterLockTests.cpp
Due: client-catapult

[jenkins] fix: update mongo dependencies problem: catapult build is failing on ubuntu 22.04 solution: need to update mongo dependencies
  client/catapult/conanfile.txt
  client/catapult/extensions/mongo/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[sdk/javascript] bug: fix test vectors
  sdk/javascript/vectors/all.js
Due: sdk-javascript

[sdk/javascript]: add VotingKeysGenerator
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/src/symbol/VotingKeysGenerator.js
  sdk/javascript/test/symbol/VotingKeysGenerator_spec.js
  sdk/javascript/test/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/python/symbolchain/symbol/VotingKeysGenerator.py
Due: sdk-javascript, sdk-python

[monorepo]: move voting key generation tests to test_vectors
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/test/symbol/VotingKeysGenerator_spec.js
  sdk/javascript/test/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/javascript/vectors/all.js
  sdk/python/tests/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/python/tests/symbol/test_VotingKeysGenerator.py
  sdk/python/tests/vectors/all.py
  tests/vectors/symbol/crypto/7.test-voting-keys-generation.json
Due: sdk-javascript, sdk-python

[jenkins] fix: update other modules
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/extensions/zeromq/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[sdk/javascript]: update generator to handle comparer property
  sdk/javascript/examples/descriptors/nem_multisig_account.js
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/src/utils/transforms.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
  sdk/javascript/test/utils/transforms_spec.js
Due: sdk-javascript

[sdk/python]: initialize optional fields to None to match deserializer
  sdk/python/examples/descriptors/nem_namespace.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/facade/test_BatchOperations.py
  sdk/python/tests/vectors/catbuffer.py
Due: sdk-python

[monorepo]: fix nem models test vectors
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/multisig_account_modification_v1.py
  tests/vectors/nem/models/transactions.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-python

[catbuffer/schemas]: add missing @is_aligned anotation on symbol Cosignature
  catbuffer/schemas/symbol/aggregate/cosignature.cats
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
