Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[client/catapult] feat: Build Catapult with Visual Studio (MSVC) and Vcpkg
  client/catapult/.gitignore
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/CMakeLists.txt
  client/catapult/CMakeSettings.json
  client/catapult/docs/BUILD-conan.md
  client/catapult/docs/BUILD-vs.md
  client/catapult/docs/README.md
  client/catapult/sdk/src/CMakeLists.txt
  client/catapult/src/catapult/cache/CacheChangesSerializer.h
  client/catapult/src/catapult/cache/ChunkedDataLoader.h
  client/catapult/vcpkg.json
Due: client-catapult

[client/catapult] fix: lint failing due to spacing
  client/catapult/CMakeLists.txt
Due: client-catapult

[sdk/python] fix: disable possibly used before assignment
  sdk/python/symbolchain/ripemd160.py
Due: sdk-python

[sdk/javascript]: export PublicAccount and Account from sdk
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/nem/index.js
  sdk/javascript/src/symbol/index.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/javascript/test/nem/SharedKey_spec.js
  sdk/javascript/test/symbol/SharedKey_spec.js
  sdk/javascript/vectors/all.js
  sdk/javascript/vectors/catbuffer.js
Due: sdk-javascript

[sdk/python]: add SymbolAccount.cosign_transaction
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
Due: sdk-python

[sdk/javascript]: add SymbolAccount.cosignTransaction
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
Due: sdk-javascript

[sdk/javascript]: fix typo in now documentation
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
Due: sdk-javascript

[sdk/javascript]: add messageEncoder to account classes
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/javascript/test/nem/MessageEncoder_spec.js
  sdk/javascript/test/symbol/MessageEncoder_spec.js
  sdk/javascript/test/test/messageEncoderTests.js
Due: sdk-javascript

[sdk/python]: add message_encoder to account classes
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/nem/MessageEncoder.py
  sdk/python/symbolchain/symbol/MessageEncoder.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
  sdk/python/tests/test/BasicMessageEncoderTest.py
Due: sdk-python

[sdk/javascript]: add metadataGenerateKey
  sdk/javascript/src/symbol/index.js
  sdk/javascript/src/symbol/metadata.js
  sdk/javascript/test/symbol/metadata_spec.js
Due: sdk-javascript

[sdk/python]: add metadata_generate_key
  sdk/python/symbolchain/symbol/Metadata.py
  sdk/python/tests/symbol/test_Metadata.py
Due: sdk-python

[sdk/javascript]: add additional Symbol address utilities
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/test/symbol/Network_spec.js
Due: sdk-javascript

[sdk/python]: add additional Symbol address utilities
  sdk/python/symbolchain/symbol/Network.py
  sdk/python/tests/symbol/test_Network.py
Due: sdk-python

[jenkins] feat: clone github branches from one repo to another
  .github/buildConfiguration.yaml
  .github/jenkinsfile/cloneSymbolBranches.groovy
  jenkins/shared-library/vars/cloneGitHubBranchesPipeline.groovy
Due: none

[jenkins] fix: remove onwer from git redirect url
  jenkins/shared-library/vars/cloneGitHubBranchesPipeline.groovy
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[jenkins]: address feedback
  jenkins/shared-library/vars/cloneGitHubBranchesPipeline.groovy
Due: none

[jenkins] feat: clone GitHub branches from one repo to another
  .github/buildConfiguration.yaml
  .github/jenkinsfile/cloneSymbolBranches.groovy
  jenkins/shared-library/vars/cloneGitHubBranchesPipeline.groovy
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[sdk/javascript]: add typedoc documentation support
  sdk/javascript/docs/typedoc.json
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/scripts/generate_docs.sh
Due: sdk-javascript

[sdk/python]: add sphinx documentation support
  sdk/python/dev_requirements.txt
  sdk/python/docs/Makefile
  sdk/python/docs/source/.gitignore
  sdk/python/docs/source/conf.py
  sdk/python/docs/source/index.rst
  sdk/python/scripts/generate_docs.sh
Due: sdk-python

[client/catapult]: dispatch PacketSocket close and abort to a strand
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/src/catapult/thread/StrandOwnerLifetimeExtender.h
  client/catapult/tests/catapult/thread/StrandOwnerLifetimeExtenderTests.cpp
Due: client-catapult

[client/catapult]: migrate boost asio usage to use non-deprecated apis
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/finalization/src/FinalizationMessageProcessingService.cpp
  client/catapult/src/catapult/extensions/NetworkUtils.cpp
  client/catapult/src/catapult/ionet/AppendContext.cpp
  client/catapult/src/catapult/ionet/AppendContext.h
  client/catapult/src/catapult/ionet/BufferedPacketIo.cpp
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/src/catapult/thread/IoThreadPool.cpp
  client/catapult/src/catapult/thread/Scheduler.cpp
  client/catapult/src/catapult/thread/StrandOwnerLifetimeExtender.h
  client/catapult/src/catapult/thread/TimedCallback.h
  client/catapult/tests/catapult/ionet/AppendContextTests.cpp
  client/catapult/tests/catapult/ionet/PacketSocketTests.cpp
  client/catapult/tests/catapult/ionet/WorkingBufferTests.cpp
  client/catapult/tests/catapult/net/AsyncTcpServerTests.cpp
  client/catapult/tests/catapult/thread/SchedulerTests.cpp
  client/catapult/tests/catapult/thread/StrandOwnerLifetimeExtenderTests.cpp
  client/catapult/tests/test/core/WaitFunctions.cpp
  client/catapult/tests/test/net/ClientSocket.cpp
  client/catapult/tests/test/net/SocketTestUtils.cpp
  client/catapult/tools/addressgen/main.cpp
  client/catapult/tools/health/ApiNodeHealthUtils.cpp
Due: client-catapult

[linters]: allow space indentation in reStructuredText files
  linters/scripts/lint_indents.sh
Due: none

[jenkins]: address feedback
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[jenkins]: fix linting
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[jenkins]fix: add missing import for Paths
  jenkins/shared-library/vars/helper.groovy
Due: none

[jenkins] fix: make sure the quotes are correct for the body
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[jenkins] fix: make sure the quotes are correct for the headers
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[jenkins] fix: curl command failing on Windows
  jenkins/shared-library/vars/githubHelper.groovy
  jenkins/shared-library/vars/helper.groovy
Due: none

update lint script to use clang-format
  client/catapult/scripts/ci/lint_cpp.sh
  linters/cpp/.clang-format
  linters/cpp/DepsChecker.py
  linters/cpp/HeaderParser.py
  linters/cpp/Parser.py
  linters/cpp/Rules.py
  linters/cpp/SimpleValidator.py
  linters/cpp/checkProjectStructure.py
  linters/cpp/colorPrint.py
  linters/cpp/cppLexer.py
  linters/cpp/deps.config
  linters/cpp/exclusions.py
  linters/cpp/forwardsValidation.py
  linters/cpp/lint.sh
  linters/cpp/readme.md
  linters/cpp/requirements.txt
  linters/cpp/validation.py
Due: client-catapult

[jenkins] fix: add integration tests
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
  sdk/python/Jenkinsfile
  sdk/python/scripts/ci/test_integration.sh
Due: sdk-python

[sdk] docs: disable jekyll
  docs/.nojekyll
Due: none
