Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[sdk/javascript]: fix rust warning
  sdk/javascript/wasm/src/lib.rs
Due: sdk-javascript

[sdk/javascript]: add TransactionFactory::lookupTransactionName
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
Due: sdk-javascript

[sdk]: rename enum value MULTISIG_TRANSACTION => MULTISIG
  catbuffer/schemas/nem/multisig/multisig.cats
  catbuffer/schemas/nem/transaction_type.cats
  sdk/javascript/src/nem/models.js
  sdk/python/symbolchain/nc/__init__.py
Due: sdk-javascript, sdk-python

[sdk/python]: add TransactionFactory::lookup_transaction_name
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/nem/test_TransactionFactory.py
  sdk/python/tests/symbol/test_TransactionFactory.py
Due: sdk-python

[sdk/python]: update changelog links
  sdk/python/CHANGELOG.md
Due: sdk-python

[sdk/javascript]: update changelog links
  sdk/javascript/CHANGELOG.md
Due: sdk-javascript

[sdk/python]: bump version to 3.0.8 and update changelog
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-python

[sdk/javascript]: bump version to 3.0.8 and update changelog
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javascript]: fix TS generation of base32
  sdk/javascript/src/utils/base32.js
Due: sdk-javascript

[sdk/javascript]: keep TS files in package
  .gitignore
  sdk/javascript/package.json
  sdk/javascript/scripts/ci/build.sh
  sdk/javascript/tsconfig-generate.json
  sdk/javascript/tsconfig.json
Due: sdk-javascript

[sdk]: bump versions to 3.0.10
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-javascript, sdk-python

[sdk]: bump versions to 3.0.11
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-javascript, sdk-python

[sdk/python]: bump python requirement to 3.8
  sdk/python/pyproject.toml
Due: sdk-python

[sdk/python]: bump requirements, details below
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
  sdk/python/requirements.txt
Due: sdk-python

[sdk/python]: use compatible dependencies
  sdk/python/requirements.txt
Due: sdk-python

[monorepo]: change py sdk strategy to increase-if-necessary
  .github/dependabot.yaml
Due: none

[monorepo]: update all depdendabot rules to strategy 'increase-if-necessary'
  .github/dependabot.yaml
Due: none

[sdk/javascript]: sync major and minor version with py sdk
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: sdk-javascript

[jenkins]: fix linting
  jenkins/catapult/templates/RunTest.yaml
Due: none

[jenkins]: fix race condition with MongoDB starting and Catapult tests running
  jenkins/catapult/templates/RunTest.yaml
Due: none

[jenkins] fix: address feedback
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/jobHelper.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[jenkins]: add support for weekly builds problem: Currently a project is not able to run weekly builds solution: add weekly job which will run builds for enabled projects
  jenkins/shared-library/README.md
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/jobHelper.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[jenkins]: fix linting
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/jobHelper.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[jenkins] fix: address feedback
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[jenkins]: add support for weekly builds
  jenkins/shared-library/README.md
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/jobHelper.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[jenkins: fix linting
  jenkins/shared-library/vars/buildCode.groovy
  jenkins/shared-library/vars/publish.groovy
  jenkins/shared-library/vars/runTests.groovy
Due: none

[jenkins]: setup twine username and password
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins]: address feedback
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins]: Add a custom publish script
  jenkins/shared-library/vars/buildCode.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/publish.groovy
  jenkins/shared-library/vars/runTests.groovy
Due: none

[jenkins]: install python 3.9 on Ubuntu 20.04 problem: Ubuntu 20.04 ships with Python 3.8 but our base image requires Python 3.9 solution: Install Python 3.9 on Ubuntu 20.04 and set it as the default.
  jenkins/docker/python.Dockerfile
  jenkins/infra/jenkins/build-ci-image.groovy
Due: none

[jenkins]: install python 3.9 on Ubuntu 20.04
  jenkins/docker/python.Dockerfile
  jenkins/infra/jenkins/build-ci-image.groovy
Due: none

[jenkins]: address feedback simplify so the otherEnvironmment is use as is and not transformed. the environment tag is created in the build image stage. updated readme with the correct info.
  jenkins/docker/windows/javascript.Dockerfile
  jenkins/docker/windows/python.Dockerfile
  jenkins/shared-library/README.md
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/jobHelper.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[jenkins] feat: add Windows ci builds
  jenkins/docker/ubuntu/cpp.Dockerfile
  jenkins/docker/ubuntu/java.Dockerfile
  jenkins/docker/ubuntu/javascript.Dockerfile
  jenkins/docker/ubuntu/linter.Dockerfile
  jenkins/docker/ubuntu/postgres.Dockerfile
  jenkins/docker/ubuntu/python.Dockerfile
  jenkins/docker/windows/javascript.Dockerfile
  jenkins/docker/windows/python.Dockerfile
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/infra/jenkins/build-ci-image.groovy
  jenkins/shared-library/README.md
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
  jenkins/shared-library/vars/buildCode.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/jobHelper.groovy
  jenkins/shared-library/vars/linter.groovy
  jenkins/shared-library/vars/runScript.groovy
  jenkins/shared-library/vars/runTests.groovy
  jenkins/shared-library/vars/setupBuild.groovy
  jenkins/shared-library/vars/setupTests.groovy
  jenkins/shared-library/vars/verifyCommitMessage.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[jenkins] fix: Upgrade node 18 for ci builds problem: node 16 has reached eol. solution: upgrade to the next node lts which is node 18.
  jenkins/docker/ubuntu/javascript.Dockerfile
Due: none

[jenkins] fix: Node 18 prefers ipv6 over ipv4. We currently dont use ipv6 on our AWS nodes so default to using ipv4 first.
  jenkins/docker/ubuntu/javascript.Dockerfile
Due: none

[jenkins] fix: Upgrade to Node 18 for CI builds
  jenkins/docker/ubuntu/javascript.Dockerfile
Due: none

[sdk/javascript]: fix typo in charMapping.js
  sdk/javascript/src/utils/charMapping.js
Due: sdk-javascript

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
