Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: rest-gateway, catbuffer-parser, sdk-python, sdk-javascript

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 80%  # overall project / repo coverage

      rest-gateway:
        target: auto
        flags:
          - rest-gateway

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      sdk-python:
        target: auto
        flags:
          - sdk-python

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  rest-gateway:
    paths:
      - client/rest
    carryforward: true

  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

[monorepo] fix: rest codecov flag name
  codecov.yaml
Due: none

[monorepo] build: update dependencies and fix dependabot warnings
  client/rest/package-lock.json
  client/rest/package.json
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: rest-gateway, sdk-javascript

[sdk] fix: read/write variable size (use field.is_last_element_padded ast flag), add arrayHelpers.size
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
  sdk/python/generator/printers.py
  sdk/python/symbolchain/ArrayHelpers.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/tests/test_ArrayHelpers.py
Due: sdk-python, sdk-javascript

[sdk/python]: recreate test vectors
  sdk/python/testvectors/README.md
  sdk/python/testvectors/__init__.py
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/nem/__init__.py
  sdk/python/testvectors/nem/account_key_link.py
  sdk/python/testvectors/nem/cosignature.py
  sdk/python/testvectors/nem/mosaic_definition.py
  sdk/python/testvectors/nem/mosaic_supply_change.py
  sdk/python/testvectors/nem/multisig.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/namespace_registration.py
  sdk/python/testvectors/nem/transfer.py
  sdk/python/testvectors/symbol/__init__.py
  sdk/python/testvectors/symbol/account_address_restriction.py
  sdk/python/testvectors/symbol/account_metadata.py
  sdk/python/testvectors/symbol/account_mosaic_restriction.py
  sdk/python/testvectors/symbol/account_operation_restriction.py
  sdk/python/testvectors/symbol/address_alias.py
  sdk/python/testvectors/symbol/aggregate_complete.py
  sdk/python/testvectors/symbol/aggregate_mosaic_supply_change.py
  sdk/python/testvectors/symbol/hash_lock.py
  sdk/python/testvectors/symbol/key_link.py
  sdk/python/testvectors/symbol/mosaic_address_restriction.py
  sdk/python/testvectors/symbol/mosaic_alias.py
  sdk/python/testvectors/symbol/mosaic_definition.py
  sdk/python/testvectors/symbol/mosaic_global_restriction.py
  sdk/python/testvectors/symbol/mosaic_metadata.py
  sdk/python/testvectors/symbol/mosaic_supply_change.py
  sdk/python/testvectors/symbol/multisig_account_modification.py
  sdk/python/testvectors/symbol/namespace_metadata.py
  sdk/python/testvectors/symbol/namespace_registration.py
  sdk/python/testvectors/symbol/secret_lock.py
  sdk/python/testvectors/symbol/secret_proof.py
  sdk/python/testvectors/symbol/transfer.py
  sdk/python/testvectors/utils.py
Due: sdk-python

[sdk/python]: add 'create from descriptor' test vectors
  sdk/python/tests/vectors/catbuffer.py
Due: sdk-python

[sdk/javascript]: add 'create from descriptor' test vectors
  sdk/javascript/package.json
  sdk/javascript/scripts/ci/test_vectors.sh
  sdk/javascript/src/RuleBasedTransactionFactory.js
  sdk/javascript/vectors/catbuffer.js
  tests/vectors/nem/transactions/transactions.yaml
Due: sdk-javascript

fix tests
  sdk/python/tests/symbol/test_TransactionFactory.py
Due: sdk-python

refactor a bit (extract common `create_objects`) and regenerate (keys changed due to "agregate" -> "aggregate" 😅)
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/symbol/blocks.py
  tests/vectors/nem/transactions/transactions.yaml
  tests/vectors/symbol/transactions/blocks.yaml
  tests/vectors/symbol/transactions/transactions.yaml
Due: sdk-python

haven't verified yet
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/symbol/blocks.py
  tests/vectors/symbol/transactions/blocks.yaml
Due: sdk-python

regnenerate
  tests/vectors/symbol/transactions/blocks.yaml
Due: none

add VrfProof
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/symbol/blocks.py
  tests/vectors/symbol/transactions/blocks.yaml
Due: sdk-python

add simpler case and change hashes a bit
  sdk/python/testvectors/symbol/blocks.py
  tests/vectors/symbol/transactions/blocks.yaml
Due: sdk-python

missing dot
  sdk/python/symbolchain/symbol/TransactionFactory.py
Due: sdk-python

lint
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/symbol/blocks.py
  tests/vectors/symbol/transactions/blocks.yaml
Due: sdk-python

[monorepo]: change models test vectors from YAML to JSON
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/vectors/catbuffer.js
  sdk/python/scripts/ci/build.sh
  sdk/python/scripts/run_testvectors_generator.sh
  sdk/python/tests/vectors/catbuffer.py
  sdk/python/testvectors/__main__.py
  tests/vectors/nem/models/transactions.json
  tests/vectors/nem/transactions/transactions.yaml
  tests/vectors/symbol/models/transactions.json
  tests/vectors/symbol/transactions/basic.yaml
  tests/vectors/symbol/transactions/invalid.yaml
  tests/vectors/symbol/transactions/states.yaml
  tests/vectors/symbol/transactions/transactions.yaml
Due: sdk-python, sdk-javascript

[sdk]: only generate transaction models that are fully covered
  client/rest/Jenkinsfile
  codecov.yaml
  sdk/javascript/Jenkinsfile
  sdk/javascript/scripts/run_catbuffer_generator.sh
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
  sdk/python/Jenkinsfile
  sdk/python/scripts/run_catbuffer_generator.sh
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/tests/nem/test_TransactionFactory.py
  sdk/python/tests/symbol/test_TransactionFactory.py
Due: rest-gateway, sdk-python, sdk-javascript

[jenkins] feat: add github pages publishing
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/findJenkinsfilePath.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] fix: catapult jobs
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

[jenkins] fix: add .local/bin to path for python package
  jenkins/docker/linter.Dockerfile
Due: none

[jenkins] fix: add client catapult flags
  codecov.yaml
Due: none

[jenkins] fix: dockerfile agent is moved to the CI pipeline stage
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: moving agent definition from dockerfile agent to top level
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: cd pipeline agent is separated to support non-container agent
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[monorepo] build: update eslint to 8.10.0
  client/rest/package-lock.json
  client/rest/package.json
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: rest-gateway, sdk-javascript

[catapult/client] docs: include coverage in README
  README.md
Due: none

[monorepo]: update dependencies and fix dependabot config
  .github/dependabot.yaml
  catbuffer/parser/requirements.txt
  client/rest/package-lock.json
  client/rest/package.json
  sdk/javascript/generator/requirements.txt
Due: rest-gateway, catbuffer-parser, sdk-javascript

[sdk/javascript] fix: braces are being output in duplicate
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
Due: sdk-javascript

[sdk/javascript] fix: remove dangling comma
  sdk/javascript/src/nem/TransactionFactory.js
Due: sdk-javascript

[client/catapult] feat: catapult client ci
  client/catapult/Jenkinsfile
  client/catapult/scripts/ci/build.sh
  client/catapult/scripts/ci/setup_test.sh
  client/catapult/scripts/ci/test.sh
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
  jenkins/catapult/runDockerBuild.py
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/runDockerTestsInnerLint.py
  jenkins/catapult/runDockerTestsInnerTest.py
  jenkins/catapult/templates/RunLint.yaml
  jenkins/catapult/templates/RunTest.yaml
  jenkins/docker/cpp.Dockerfile
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[client/catapult] fix: address feedback
  client/catapult/Jenkinsfile
  client/catapult/scripts/ci/build.sh
  client/catapult/scripts/ci/test.sh
Due: none

[client/catapult] fix: address feedback
  jenkins/docker/cpp.Dockerfile
Due: none

[client/catapult] fix: address feedback
  jenkins/docker/javascript.Dockerfile
Due: none

[client/catapult] feat: catapult client ci
  client/catapult/Jenkinsfile
  client/catapult/scripts/ci/build.sh
  client/catapult/scripts/ci/setup_test.sh
  client/catapult/scripts/ci/test.sh
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
  jenkins/catapult/runDockerBuild.py
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/runDockerTestsInnerLint.py
  jenkins/catapult/runDockerTestsInnerTest.py
  jenkins/catapult/templates/RunLint.yaml
  jenkins/catapult/templates/RunTest.yaml
  jenkins/docker/cpp.Dockerfile
  jenkins/docker/javascript.Dockerfile
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[sdk/javascript] task: release preparations
  sdk/javascript/CHANGELOG.md
  sdk/javascript/README.md
  sdk/javascript/package.json
  sdk/javascript/src/index.js
Due: sdk-javascript

[sdk/javascript]: bump version to 3.0.0
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: sdk-javascript

[monorepo]: update dependencies
  .github/dependabot.yaml
  client/rest/package-lock.json
  client/rest/package.json
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: rest-gateway, sdk-javascript
