Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[sdk/javascript]: add webpack for creating bundled sdk js for browser
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/scripts/ci/build.sh
  sdk/javascript/webpack.config.js
Due: sdk-javascript

[sdk/javascript] fix: code coverage failing with es6
  jenkins/shared-library/vars/codeCoverage.groovy
  sdk/javascript/.c8rc.json
  sdk/javascript/.nycrc.yaml
  sdk/javascript/Jenkinsfile
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javascript] fix: add empty line at the end of file.
  sdk/javascript/.c8rc.json
Due: sdk-javascript

[sdk/javascript] fix: code coverage failing with type:module
  jenkins/shared-library/vars/codeCoverage.groovy
  sdk/javascript/.c8rc.json
  sdk/javascript/.nycrc.yaml
  sdk/javascript/Jenkinsfile
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/python]: add repr to BasicArray derived types
  sdk/python/symbolchain/CryptoTypes.py
  sdk/python/symbolchain/nem/Network.py
  sdk/python/symbolchain/symbol/Network.py
  sdk/python/tests/test/BasicAddressTest.py
  sdk/python/tests/test_CryptoTypes.py
Due: sdk-python

[jenkins] fix: groovy linting changes
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
  jenkins/shared-library/vars/constants.groovy
  jenkins/shared-library/vars/createMultibranchJob.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
  linters/groovy/.groovylintrc.json
Due: none

[jenkins] fix: exception
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: groovy lint disable duplicate string and number
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
  jenkins/shared-library/vars/constants.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
  linters/groovy/.groovylintrc.json
Due: none

[jenkins] fix: address feedback
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
Due: none

[jenkins] fix: groovy linting changes
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
  jenkins/shared-library/vars/createMultibranchJob.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
  linters/groovy/.groovylintrc.json
Due: none

[jenkins] fix: private build tag name
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
Due: none

[jenkins] fix: var name
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
Due: none

[jenkins] fix: catapult client private build tag name
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
Due: none

[catbuffer/schemas]: include versions explicitly in all multiversioned transactions
  catbuffer/schemas/nem/multisig/multisig_account_modification.cats
  catbuffer/schemas/nem/transfer/transfer.cats
  sdk/javascript/examples/descriptors/nem_transfer.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/test/basicTransactionFactoryTests.js
  sdk/python/examples/descriptors/nem_multisig_account.py
  sdk/python/examples/descriptors/nem_transfer.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/tests/facade/test_BatchOperations.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/nem/test_TransactionFactory.py
  sdk/python/tests/test/BasicTransactionFactoryTest.py
  sdk/python/testvectors/nem/multisig.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/multisig_account_modification_v0.py
  sdk/python/testvectors/nem/multisig_account_modification_v1.py
  sdk/python/testvectors/nem/transfer.py
  sdk/python/testvectors/nem/transfer_v0.py
  sdk/python/testvectors/nem/transfer_v1.py
  tests/vectors/nem/models/transactions.json
Due: sdk-javascript, sdk-python

fix examples
  sdk/javascript/examples/descriptors/nem_multisig_account.js
  sdk/javascript/examples/descriptors/nem_transfer.js
Due: sdk-javascript

[client/rest]: add caching of configuration files
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/src/catapult-sdk/index.js
  client/rest/src/catapult-sdk/utils/CachedFileLoader.js
  client/rest/src/plugins/mosaic/supplyRoutes.js
  client/rest/src/routes/networkRoutes.js
  client/rest/test/catapult-sdk/utils/CachedFileLoader_spec.js
  client/rest/test/plugins/mosaic/supplyRoutes_spec.js
  client/rest/test/routes/networkRoutes_spec.js
Due: client-rest

[sdk]: include unknown entity name in factory exception
  sdk/javascript/generator/FactoryFormatter.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/python/generator/FactoryFormatter.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-javascript, sdk-python

[client/catapult]: enable validation of aggregate transaction hashes
  client/catapult/plugins/coresystem/tests/validators/EntityVersionValidatorTests.cpp
  client/catapult/plugins/coresystem/tests/validators/NetworkValidatorTests.cpp
  client/catapult/plugins/txes/aggregate/src/model/AggregateNotifications.h
  client/catapult/plugins/txes/aggregate/src/model/AggregateTransaction.h
  client/catapult/plugins/txes/aggregate/src/plugins/AggregatePlugin.cpp
  client/catapult/plugins/txes/aggregate/src/plugins/AggregateTransactionPlugin.cpp
  client/catapult/plugins/txes/aggregate/src/validators/AggregateTransactionVersionValidator.cpp
  client/catapult/plugins/txes/aggregate/src/validators/AggregateTransactionsHashValidator.cpp
  client/catapult/plugins/txes/aggregate/src/validators/Results.h
  client/catapult/plugins/txes/aggregate/src/validators/Validators.h
  client/catapult/plugins/txes/aggregate/tests/model/AggregateTransactionTests.cpp
  client/catapult/plugins/txes/aggregate/tests/plugins/AggregatePluginTests.cpp
  client/catapult/plugins/txes/aggregate/tests/plugins/AggregateTransactionPluginTests.cpp
  client/catapult/plugins/txes/aggregate/tests/validators/AggregateTransactionVersionValidatorTests.cpp
  client/catapult/plugins/txes/aggregate/tests/validators/AggregateTransactionsHashValidatorTests.cpp
  client/catapult/resources/config-network.properties
  client/catapult/sdk/tests/builders/AggregateTransactionBuilderTests.cpp
  client/catapult/src/catapult/crypto/InvalidMerkleHashBuilder.cpp
  client/catapult/src/catapult/crypto/InvalidMerkleHashBuilder.h
  client/catapult/src/catapult/model/BlockchainConfiguration.cpp
  client/catapult/src/catapult/model/BlockchainConfiguration.h
  client/catapult/src/catapult/model/NotificationPublisher.cpp
  client/catapult/src/catapult/model/Notifications.h
  client/catapult/tests/catapult/chain/ProcessingNotificationSubscriberTests.cpp
  client/catapult/tests/catapult/chain/ProcessingUndoNotificationSubscriberTests.cpp
  client/catapult/tests/catapult/config/CatapultConfigurationTests.cpp
  client/catapult/tests/catapult/crypto/InvalidMerkleHashBuilderTests.cpp
  client/catapult/tests/catapult/model/BlockchainConfigurationTests.cpp
  client/catapult/tests/catapult/model/NotificationPublisherTests.cpp
  client/catapult/tests/catapult/model/TransactionUtilsTests.cpp
  client/rest/src/catapult-sdk/model/status.js
Due: client-catapult, client-rest

[sdk]: bump aggregate transaction version to 2
  catbuffer/schemas/symbol/aggregate/aggregate.cats
  sdk/javascript/examples/transaction_aggregate.js
  sdk/javascript/examples/transaction_multisig.js
  sdk/javascript/src/symbol/models.js
  sdk/python/examples/transaction_aggregate.py
  sdk/python/examples/transaction_multisig.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/symbol/aggregate_bonded_v1.py
  sdk/python/testvectors/symbol/aggregate_bonded_v2.py
  sdk/python/testvectors/symbol/aggregate_complete_v1.py
  sdk/python/testvectors/symbol/aggregate_complete_v2.py
  tests/vectors/symbol/models/transactions.json
Due: sdk-javascript, sdk-python

[sdk/javascript] fix: fix misordered import
  sdk/javascript/webpack.config.js
Due: sdk-javascript

[jenkins] fix: checkout
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
Due: none

[client/rest] fix: add Dockerfile
  client/rest/Dockerfile
Due: client-rest

[catapult/client]: bump version, update changelog
  client/catapult/CHANGELOG.md
  client/catapult/src/catapult/version/version_inc.h
  jenkins/catapult/server.version.yaml
Due: client-catapult

[client/rest] fix: add jenkins docker build
  client/rest/Jenkinsfile
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/scripts/ci/setup_build.sh
  client/rest/version.txt
Due: client-rest

[client/rest] fix: downgrade mongo client
  client/rest/package-lock.json
  client/rest/package.json
Due: client-rest

[catapult/rest]: update node and network routes
  client/rest/src/routes/networkRoutes.js
  client/rest/src/routes/nodeRoutes.js
  client/rest/test/routes/networkRoutes_spec.js
  client/rest/test/routes/nodeRoutes_spec.js
Due: client-rest

[client/rest] fix: update version to 2.4.2
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/test/routes/nodeRoutes_spec.js
Due: client-rest

[client/rest] fix: remove the node_modules from the test run
  client/rest/Dockerfile
Due: client-rest

[sdk] fix: updated generation hash post network reset
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/test/symbol/Network_spec.js
  sdk/python/symbolchain/symbol/Network.py
  sdk/python/tests/symbol/test_Network.py
Due: sdk-javascript, sdk-python

[sdk] fix: updated hash and signatures in unit tests
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/python/tests/facade/test_SymbolFacade.py
Due: sdk-javascript, sdk-python

[sdk] fix: updated generation hash post network reset #437
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/javascript/test/symbol/Network_spec.js
  sdk/python/symbolchain/symbol/Network.py
  sdk/python/tests/facade/test_SymbolFacade.py
  sdk/python/tests/symbol/test_Network.py
Due: sdk-javascript, sdk-python

[catapult/client]: upgrade openssl from 1.1.1x to 3.0.x
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/src/catapult/crypto/OpensslInit.cpp
  client/catapult/src/catapult/crypto/OpensslInit.h
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/src/catapult/process/ProcessMain.cpp
  client/catapult/tests/test/nodeps/CMakeLists.txt
  client/catapult/tests/test/nodeps/TestMain.cpp
  client/catapult/tools/tools/ToolMain.cpp
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/environment.py
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/versions.properties
  linters/cpp/exclusions.py
Due: client-catapult

[catapult/client] build: enable gcc 12 stringop-overread and array-bounds warnings
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/plugins/txes/restriction_mosaic/tests/state/RestrictionValueMapTests.cpp
  client/catapult/src/catapult/model/EntityRange.h
  client/catapult/tests/catapult/model/TransactionTests.cpp
  client/catapult/tests/catapult/model/VerifiableEntityTests.cpp
Due: client-catapult

[jenkins]: fail builds on lint errors
  jenkins/catapult/runDockerTestsInnerLint.py
Due: none

[catapult/client]: fix windows builds after upgrading openssl from 1.1.1x to 3.0.x
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/environment.py
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/runDockerBuildInnerPrepare.py
  jenkins/catapult/runDockerTestsInnerLint.py
  jenkins/catapult/runDockerTestsInnerTest.py
  jenkins/catapult/templates/RunTestWindows.yaml
Due: none

[catapult/client] build: fail builds on lint errors
  jenkins/catapult/runDockerTestsInnerLint.py
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
