Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[catbuffer/parser]: add comparer attribute to allow structs to define complex sorting rules
  catbuffer/parser/catparser/AstValidator.py
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/grammar/catbuffer.lark
  catbuffer/parser/docs/cats_dsl.md
  catbuffer/parser/tests/test_AstValidator.py
  catbuffer/parser/tests/test_ast.py
  catbuffer/schemas/nem/multisig/multisig_account_modification.cats
Due: catbuffer-parser

[sdk/javascript]: update generator to handle comparer property
  sdk/javascript/examples/descriptors/nem_multisig_account.js
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/transforms.js
  sdk/javascript/test/utils/transforms_spec.js
Due: sdk-javascript

[sdk/python]: update generator to handle comparer property
  sdk/python/examples/descriptors/nem_multisig_account.py
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/generator/printers.py
  sdk/python/scripts/ci/lint.sh
  sdk/python/symbolchain/Transforms.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/tests/test_Transforms.py
Due: sdk-python

[catbuffer/schemas]: add missing @is_aligned anotation on symbol Cosignature
  catbuffer/schemas/symbol/aggregate/cosignature.cats
Due: none

[sdk/javascript]: generator changes: use information about aligned structs for better field access
  sdk/javascript/generator/EnumTypeFormatter.py
  sdk/javascript/generator/PodTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/converter.js
  sdk/javascript/test/utils/converter_spec.js
Due: sdk-javascript

[linters]: relax func length
  linters/python/.pylintrc
Due: none

[sdk/javascript]: update generator to handle comparer property
  sdk/javascript/examples/descriptors/nem_multisig_account.js
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/src/utils/transforms.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
  sdk/javascript/test/utils/transforms_spec.js
Due: sdk-javascript

[monorepo]: fix nem models test vectors
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/multisig_account_modification_v1.py
  tests/vectors/nem/models/transactions.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-python

[client/catapult] fix: update build to use conan
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/scripts/ci/build.sh
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/versions.properties
  jenkins/docker/cpp.Dockerfile
Due: client-catapult

[client/catapult] fix: address feedback
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
Due: client-catapult

[client/catapult] fix: update catapult client to use boost 1.79
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/scripts/ci/build.sh
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/versions.properties
  jenkins/docker/cpp.Dockerfile
Due: client-catapult

[sdk/python]: initialize optional fields to None to match deserializer
  sdk/python/examples/descriptors/nem_namespace.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/facade/test_BatchOperations.py
  sdk/python/tests/vectors/catbuffer.py
Due: sdk-python

[sdk/javascript]: initialize optional fields to null to match deserializer
  sdk/javascript/examples/descriptors/nem_namespace.js
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/vectors/catbuffer.js
Due: sdk-javascript

[cabuffer/parser]: add support for sizeref field attribute
  catbuffer/parser/catparser/AstValidator.py
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/grammar/catbuffer.lark
  catbuffer/parser/docs/cats_dsl.md
  catbuffer/parser/tests/test_AstValidator.py
  catbuffer/parser/tests/test_ast.py
  catbuffer/schemas/nem/mosaic/mosaic_definition.cats
  catbuffer/schemas/nem/transfer/transfer.cats
Due: catbuffer-parser

[client/rest]: remove dependency on hippie
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[sdk/python]: update python sdk to support computed sizeref fields
  sdk/python/examples/descriptors/nem_mosaic.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/symbolchain/TransactionDescriptorProcessor.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/test_TransactionDescriptorProcessor.py
  sdk/python/testvectors/nem/mosaic_definition.py
  sdk/python/testvectors/nem/multisig.py
  sdk/python/testvectors/nem/transfer.py
  sdk/python/testvectors/nem/transfer_v1.py
  tests/vectors/nem/models/transactions.json
Due: sdk-python

[sdk/javascript]: update javascript sdk to support computed sizeref fields
  sdk/javascript/examples/descriptors/nem_mosaic.js
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/TransactionDescriptorProcessor.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/test/TransactionDescriptorProcessor_spec.js
  sdk/javascript/test/facade/NemFacade_spec.js
Due: sdk-javascript

[sdk/python] nem shared key derivation, details below
  sdk/python/symbolchain/CryptoTypes.py
  sdk/python/symbolchain/SharedKey.py
  sdk/python/symbolchain/external/__init__.py
  sdk/python/symbolchain/external/ed25519.py
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/nem/KeyPair.py
  sdk/python/symbolchain/nem/SharedKey.py
  sdk/python/symbolchain/symbol/SharedKey.py
  sdk/python/tests/nem/test_SharedKey.py
  sdk/python/tests/symbol/test_SharedKey.py
  sdk/python/tests/test/BasicSharedKeyTest.py
  sdk/python/tests/test_CryptoTypes.py
  sdk/python/tests/vectors/all.py
  tests/vectors/nem/crypto/3.test-derive-deprecated.json
  tests/vectors/nem/crypto/3.test-derive-hkdf.json
  tests/vectors/symbol/crypto/3.test-derive-hkdf.json
Due: sdk-python

[sdk/javascript]: add ability to auto sort ordered arrays in descriptors
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
Due: sdk-javascript

[sdk/python]: add ability to auto sort ordered arrays in descriptors
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/generator/printers.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/nem/test_TransactionFactory.py
  sdk/python/tests/symbol/test_TransactionFactory.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/multisig_account_modification_v1.py
  sdk/python/testvectors/symbol/transfer.py
  tests/vectors/nem/models/transactions.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-python

[sdk/python]: add helper function for generating random mnemonics
  sdk/python/symbolchain/Bip32.py
  sdk/python/tests/test_Bip32.py
Due: sdk-python

[sdk/javascript]: add helper function for generating random mnemonics
  sdk/javascript/src/Bip32.js
  sdk/javascript/test/Bip32_spec.js
Due: sdk-javascript

[sdk/javascript]: add helper function for calculating metadata payload
  sdk/javascript/src/symbol/metadata.js
  sdk/javascript/test/symbol/metadata_spec.js
Due: sdk-javascript

[sdk/python]: add helper function for calculating metadata payload
  sdk/python/symbolchain/symbol/Metadata.py
  sdk/python/tests/symbol/test_Metadata.py
Due: sdk-python

[client/catapult] fix: failing clang tests
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
Due: client-catapult

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
