Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[jenkins] fix: boost download URI update
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/installDepsLocal.py
Due: none

[docs] Disable Jekyll
  docs/.nojekyll
  docs/_config.yml
Due: none

[client/rest]: Initial the light rest project
  client/rest/package.json
  client/rest/resources/rest.light.json
  client/rest/src/index.light.js
  client/rest/src/routes/light/light.js
  client/rest/src/routes/light/nodeRoutes.js
  client/rest/test/routes/light/light_spec.js
  client/rest/test/routes/light/nodeRoutes_spec.js
Due: client-rest

[client/rest]: Removed unused configuration params
  client/rest/resources/rest.light.json
Due: client-rest

[client/rest]: Added light rest readme
  client/rest/README_LIGHT.md
Due: client-rest

[client/rest]: Added chain info route in light rest
  client/rest/src/catapult-sdk/packet/PacketType.js
  client/rest/src/routes/light/chainRoutes.js
  client/rest/src/sockets/chainInfoCodec.js
  client/rest/src/sockets/finalizedBlockCodec.js
  client/rest/test/routes/light/chainRoutes_spec.js
  client/rest/test/routes/light/light_spec.js
  client/rest/test/sockets/chainInfoCodec_spec.js
  client/rest/test/sockets/finalizedBlockCodec_spec.js
Due: client-rest

[client/rest]: implement light rest
  client/rest/README_LIGHT.md
  client/rest/package.json
  client/rest/resources/rest.light.json
  client/rest/src/catapult-sdk/packet/PacketType.js
  client/rest/src/index.light.js
  client/rest/src/routes/light/chainRoutes.js
  client/rest/src/routes/light/light.js
  client/rest/src/routes/light/nodeRoutes.js
  client/rest/src/sockets/chainInfoCodec.js
  client/rest/src/sockets/finalizedBlockCodec.js
  client/rest/test/routes/light/chainRoutes_spec.js
  client/rest/test/routes/light/light_spec.js
  client/rest/test/routes/light/nodeRoutes_spec.js
  client/rest/test/sockets/chainInfoCodec_spec.js
  client/rest/test/sockets/finalizedBlockCodec_spec.js
Due: client-rest

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  client/catapult/extensions/mongo/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins]: revert boost
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: revert to rocksdb to 9.8.4
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

Update LICENSE
  catbuffer/parser/LICENSE
Due: catbuffer-parser

[jenkins] fix: add gradle to the Java docker image
  jenkins/docker/ubuntu/java.Dockerfile
Due: none

[jenkins] fix: linting
  jenkins/docker/ubuntu/java.Dockerfile
Due: none

[jenkins] fix: add Gradle to the Java docker image
  jenkins/docker/ubuntu/java.Dockerfile
Due: none

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: revert rocksdb and boost
  jenkins/catapult/versions.properties
Due: none

[jenkins] fix: revert rocksdb and boost
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
Due: client-catapult

[jenkins] fix: need to transform to job path
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
Due: none

[jenkins] fix: set jenkins job to run
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
Due: none

[jenkins] fix: Jenkins no jobs run
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
Due: none

[jenkins] fix: Jenkins runs no jobs on rebase
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
Due: none

[jenkins] fix: add support for Jacoco in Gradle problem: no Jacoco support for Gradle solution: add Jacoco support for Gradle
  jenkins/shared-library/vars/codeCoverage.groovy
Due: none

[jenkins] fix: add support for Jacoco in Gradle
  jenkins/shared-library/vars/codeCoverage.groovy
Due: none

[client/catapult] fix: template-id not allowed for constructor in gcc14
  client/catapult/src/catapult/utils/AtomicIncrementDecrementGuard.h
Due: client-catapult

[jenkins]: update to gcc 14 problem: not building with the latest gcc version solution: upgrade the latest to gcc 14
  jenkins/catapult/compilers/gcc-latest.yaml
  jenkins/catapult/compilers/gcc-prior.yaml
  jenkins/catapult/compilers/ubuntu-gcc/Dockerfile
Due: none

[client/catapult] fix: add missing header for std::any_of.
  client/catapult/src/catapult/state/HeightIndexedHistoryMap.h
Due: client-catapult

[jenkins]: upgrade to ubuntu 24.10 to get gcc 14.2
  jenkins/catapult/compilers/ubuntu-gcc/Dockerfile
Due: none

[client/catapult] fix: disable dangling reference for gcc 13 or greater
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

[client/catapult]: migrate boost asio usage to use non-deprecated apis
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/finalization/src/FinalizationMessageProcessingService.cpp
  client/catapult/src/catapult/extensions/NetworkUtils.cpp
  client/catapult/src/catapult/ionet/AppendContext.cpp
  client/catapult/src/catapult/ionet/AppendContext.h
  client/catapult/src/catapult/ionet/BufferedPacketIo.cpp
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/src/catapult/thread/IoThreadPool.cpp
  client/catapult/src/catapult/thread/Scheduler.cpp
  client/catapult/src/catapult/thread/StrandOwnerLifetimeExtender.h
  client/catapult/src/catapult/thread/TimedCallback.h
  client/catapult/tests/catapult/ionet/AppendContextTests.cpp
  client/catapult/tests/catapult/ionet/PacketSocketTests.cpp
  client/catapult/tests/catapult/ionet/WorkingBufferTests.cpp
  client/catapult/tests/catapult/net/AsyncTcpServerTests.cpp
  client/catapult/tests/catapult/thread/SchedulerTests.cpp
  client/catapult/tests/catapult/thread/StrandOwnerLifetimeExtenderTests.cpp
  client/catapult/tests/test/core/WaitFunctions.cpp
  client/catapult/tests/test/net/ClientSocket.cpp
  client/catapult/tests/test/net/SocketTestUtils.cpp
  client/catapult/tools/addressgen/main.cpp
  client/catapult/tools/health/ApiNodeHealthUtils.cpp
Due: client-catapult

[client/catapult]: dispatch PacketSocket close and abort to a strand
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/src/catapult/thread/StrandOwnerLifetimeExtender.h
  client/catapult/tests/catapult/thread/StrandOwnerLifetimeExtenderTests.cpp
Due: client-catapult

[client/catapult]: upgrade boost to 1.84
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult]: upgrade boost to 1.86
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[catapult/client]: remove workaround for phoenix
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

[jenkins]: upgrade to boost 87
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins]: revert boost to 1.83.0 and bump mongo-c to 1.30
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  client/catapult/extensions/mongo/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult]: update vcpkg
  client/catapult/vcpkg.json
Due: client-catapult

[jenkins]: revert rocksdb
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  client/catapult/vcpkg.json
  jenkins/catapult/versions.properties
Due: client-catapult
