Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[client/rest] fix: rest shows mongodb down
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/resources/rest.json
  client/rest/src/db/CatapultDb.js
  client/rest/src/db/connector.js
  client/rest/src/index.js
  client/rest/src/routes/nodeRoutes.js
  client/rest/test/routes/nodeRoutes_spec.js
Due: client-rest

[client/rest] fix: wait for sockets to close after close, the socket state is set to CLOSING. fail the test if it didnt close in the timeout
  client/rest/src/db/CatapultDb.js
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[client/rest] fix: websocket tests fails with socket in use problem: zmq server socket is still in use after test is complete solution: close the client ws connections to the server
  client/rest/package-lock.json
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[client/rest] fix: websocket tests fails with socket in use
  client/rest/package-lock.json
  client/rest/src/db/CatapultDb.js
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[client/rest] fix: linting
  client/rest/Dockerfile
Due: client-rest

[client/rest] fix: docker image size problem: rest docker image size increased in v2.4.2 due to base image changed solution: switch back to use ubuntu as the base image plus docker multi-stage build
  client/rest/Dockerfile
Due: client-rest

[client/rest] fix: reduce docker image size
  client/rest/Dockerfile
Due: client-rest

[jenkins] fix: remove openssl 1.1 problem: build of the ci images are failing due to the removal of openssl 1.1.1f solution: upgrade to mongodb 6.0.4 since by default does not use ssl
  client/catapult/scripts/ci/setup_test.sh
  client/rest/scripts/ci/setup_test.sh
  jenkins/docker/cpp.Dockerfile
  jenkins/docker/javascript.Dockerfile
Due: client-catapult, client-rest

[sdk/javascript] fix: linting
  jenkins/docker/javascript.Dockerfile
  sdk/javascript/src/impl/ed25519.js
  sdk/javascript/webpack.config.js
Due: sdk-javascript

[jenkins] fix: remove openssl 1.1.1f dependency
  client/catapult/scripts/ci/setup_test.sh
  client/rest/scripts/ci/setup_test.sh
  jenkins/docker/cpp.Dockerfile
  jenkins/docker/javascript.Dockerfile
  sdk/javascript/src/impl/ed25519.js
  sdk/javascript/webpack.config.js
Due: client-catapult, client-rest, sdk-javascript

fix typo in Validators.h
  client/catapult/plugins/coresystem/src/validators/Validators.h
Due: client-catapult

[monorepo] fix: upgrade to CodeQL v2 problem: CodeQl v1 is deprecated solution: upgraded to CodeQL v2. enable dependabot to update actions
  .github/dependabot.yaml
  .github/workflows/codeql-analysis.yaml
Due: none

[monorepo] fix: upgrade to CodeQL v2
  .github/dependabot.yaml
  .github/workflows/codeql-analysis.yaml
Due: none

[sdk]: add support for MultisigTransactionV2 transactions
  catbuffer/schemas/nem/multisig/multisig.cats
  sdk/javascript/src/nem/models.js
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/nem/multisig.py
  tests/vectors/nem/models/transactions.json
Due: sdk-javascript, sdk-python

[client\catapult] fix: address feedback and revert heap allocation
  client/catapult/src/catapult/crypto/OpensslContexts.cpp
  client/catapult/src/catapult/crypto/OpensslContexts.h
Due: client-catapult

[client/catapult] fix: linting
  client/catapult/src/catapult/crypto/OpensslContexts.h
Due: client-catapult

[client/catapult] fix: failing AES tests due to ctx changes in openssl 3.1
  client/catapult/src/catapult/crypto/OpensslContexts.cpp
  client/catapult/src/catapult/crypto/OpensslContexts.h
Due: client-catapult

[cleint/catapult] fix: upgrade to openssl 3.1.0 problem: catapult client is using an older version of openssl solution: upgrade to openssl 3.1.0
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/docs/BUILD-manual.md
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult] fix: upgrade to openssl 3.1.0
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/docs/BUILD-manual.md
  client/catapult/src/catapult/crypto/OpensslContexts.cpp
  jenkins/catapult/versions.properties
Due: client-catapult

[sdk/python] fix changed to use safe-pysha3 instead of pysha3, which has been archived and was causing installation failures on Python 3.11 and later.
  sdk/python/requirements.txt
Due: sdk-python

[jenkins] fix: update catapult tests to use mongodb 6 problem: catapult is been tested against mongo 4.x solution: update catapult tests to use the latest mongodb 6
  jenkins/catapult/templates/RunTest.yaml
  jenkins/catapult/templates/RunTestWindows.yaml
Due: none

[jenkins] fix: update catapult tests to use mongodb 6
  jenkins/catapult/templates/RunTest.yaml
  jenkins/catapult/templates/RunTestWindows.yaml
Due: none

[client/rest] fix: prepare release 2.4.3
  client/rest/CHANGELOG.md
  client/rest/package.json
Due: client-rest

[client/rest] fix: failing tests
  client/rest/package-lock.json
  client/rest/test/routes/nodeRoutes_spec.js
Due: client-rest

[client/rest] fix: prepare release 2.4.3
  client/rest/CHANGELOG.md
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/test/routes/nodeRoutes_spec.js
Due: client-rest

[build]: fix cmake warning
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

[client/catapult]: AddResolvedAddresses is not properly applying resolutions from previous transactions
  client/catapult/extensions/addressextraction/src/AddressExtractor.cpp
  client/catapult/extensions/addressextraction/tests/AddressExtractorTests.cpp
Due: client-catapult

[client/rest]: report mongodb database size in /node/storage
  client/rest/src/db/CatapultDb.js
  client/rest/test/db/CatapultDb_spec.js
Due: client-rest

[monorepo]: increase gitlint title length limit to match body length limit
  linters/git/.gitlint
Due: none

[client/rest]: report mongodb database size in /node/storage
  client/rest/src/catapult-sdk/model/ModelSchemaBuilder.js
  client/rest/src/db/CatapultDb.js
  client/rest/test/catapult-sdk/model/ModelSchemaBuilder_spec.js
  client/rest/test/db/CatapultDb_spec.js
Due: client-rest

[client\catapult] fix: disable HappyBlockchainIntegrityTests problem: HappyBlockchainIntegrityTests hangs occasionally solution: disable HappyBlockchainIntegrityTests until its fix
  client/catapult/tests/int/node/stress/HappyBlockchainIntegrityTests.cpp
Due: client-catapult

[client/catapult] fix: disable HappyBlockchainIntegrityTests
  client/catapult/tests/int/node/stress/HappyBlockchainIntegrityTests.cpp
Due: client-catapult

[catapult/client]: fix typo in Validators.h
  client/catapult/plugins/coresystem/src/validators/Validators.h
Due: client-catapult

[linters] feat: add the sort-imports eslint rule
  linters/javascript/default.eslintrc
Due: none

[sdk/javascript]: apply new lint rules
  sdk/javascript/src/impl/CipherHelpers.js
  sdk/javascript/src/impl/ed25519.js
  sdk/javascript/src/nem/MessageEncoder.js
  sdk/javascript/src/nem/SharedKey.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/test/nem/MessageEncoder_spec.js
  sdk/javascript/test/symbol/idGenerator_spec.js
Due: sdk-javascript

[sdk/javascript]: export missing functionality from index.js
  sdk/javascript/src/index.js
Due: sdk-javascript

[sdk/javascript]: fix lint
  sdk/javascript/test/facade/NemFacade_spec.js
Due: sdk-javascript

[sdk/python]: use sha3 functions from hashlib
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/symbol/IdGenerator.py
  sdk/python/symbolchain/symbol/Merkle.py
  sdk/python/symbolchain/symbol/Network.py
  sdk/python/testvectors/__main__.py
Due: sdk-python

[sdk/python]: replace deprecated pysha3 with safe-pysha3 for keccak hashes
  sdk/python/requirements.txt
Due: sdk-python

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
