Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[sdk/python]: prove_patricia_merkle is incorrectly building state path
  sdk/python/symbolchain/symbol/Merkle.py
  sdk/python/tests/symbol/test_Merkle.py
Due: sdk-python

[sdk/javascript]: provePatriciaMerkle is incorrectly building state path
  sdk/javascript/src/symbol/merkle.js
  sdk/javascript/test/symbol/merkle_spec.js
Due: sdk-javascript

[sdk/python]: initial set of sdk docs and code examples
  docs/0.introduction.md
  docs/1.accounts.md
  docs/2.namespaces.md
  docs/3.mosaics.md
  docs/4.transactions.md
  docs/5.nodes.md
  docs/6.blocks.md
  docs/7.xym.md
  docs/8.advanced.md
  docs/9.catapult.md
  docs/a.catbuffer.md
  docs/b.analytics.md
  docs/big.md
  docs/build.py
  docs/c.other.md
  docs/index.md
  sdk/python/dev_requirements.txt
  sdk/python/examples/docs/__main__.py
  sdk/python/examples/docs/__main__.py.tmpl
  sdk/python/scripts/ci/build.sh
  sdk/python/scripts/ci/test_examples.sh
  sdk/python/scripts/run_examples_docs_generator.sh
  sdk/python/symbolchain/ripemd160.py
Due: sdk-python

[catbuffer/parser]: update changelog
  catbuffer/parser/CHANGELOG.md
Due: catbuffer-parser

[client/catapult] fix: update change log problem: change log does not have latest fixes solution: update change log with the latest fix description
  client/catapult/CHANGELOG.md
  client/rest/CHANGELOG.md
Due: client-catapult, client-rest

[sdk]: update sdk changelogs to include addition of NonVerifiableMultisigTransactionV1 model
  sdk/javascript/CHANGELOG.md
  sdk/python/CHANGELOG.md
Due: sdk-javascript, sdk-python

[client/rest]: include new inflation routes in CHANGELOG
  client/rest/CHANGELOG.md
Due: client-rest

[sdk/python] docs: fix aggregate bonded examples
  sdk/python/examples/docs/__main__.py
  sdk/python/examples/docs/__main__.py.tmpl
Due: sdk-python

[client/catapult] fix: address feedback
  client/catapult/tests/catapult/ionet/PacketSocketTests.cpp
  client/catapult/tests/test/net/ClientSocket.cpp
  client/catapult/tests/test/net/ClientSocket.h
  client/catapult/tests/test/net/SocketTestUtils.cpp
  client/catapult/tests/test/net/SocketTestUtils.h
Due: client-catapult

[client/catapult] fix: only wait on Windows for client read to complete
  client/catapult/tests/catapult/ionet/PacketSocketTests.cpp
  client/catapult/tests/test/net/SocketTestUtils.cpp
  client/catapult/tests/test/net/SocketTestUtils.h
Due: client-catapult

[client/catapult] fix: catapult client ionet failing on Window
  client/catapult/tests/catapult/ionet/PacketSocketTests.cpp
  client/catapult/tests/test/net/ClientSocket.cpp
  client/catapult/tests/test/net/ClientSocket.h
  client/catapult/tests/test/net/SocketTestUtils.cpp
  client/catapult/tests/test/net/SocketTestUtils.h
Due: client-catapult

[sdk/python] docs: update reference node
  sdk/python/examples/docs/__main__.py
  sdk/python/examples/docs/__main__.py.tmpl
Due: sdk-python

[sdk/python] fix: update reference node
  sdk/python/examples/docs/__main__.py
  sdk/python/examples/docs/__main__.py.tmpl
Due: sdk-python

[jenkins] fix: docker build hangs due to network problem: the newer docker hangs/unable to reach some sites solution: add --network host flag to use the host network
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] fix: docker build hangs due to network
  jenkins/shared-library/vars/publish.groovy
Due: none

[sdk] fix: bump sdk version to 3.0.6
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package.json
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-javascript, sdk-python

[docs]: regenerate docs with latest examples
  docs/index.md
Due: none

[sdk/javascript] fix: specify which files to publish problem: npm publish does not include all the files solution: add a file list to package.json
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javascript] fix: specify which files to publish
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javascript]: fix update README.md NEM transaction tx names table
  sdk/javascript/README.md
Due: sdk-javascript

[sdk]: rewrite SDK readmes
  sdk/javascript/README.md
  sdk/javascript/examples/readme/nem.js
  sdk/javascript/examples/readme/symbol.js
  sdk/javascript/scripts/ci/test_examples.sh
  sdk/python/README.md
  sdk/python/examples/readme/__init__.py
  sdk/python/examples/readme/nem.py
  sdk/python/examples/readme/symbol.py
  sdk/python/scripts/ci/test_examples.sh
Due: sdk-javascript, sdk-python

[sdk] fix: lint failures
  sdk/javascript/examples/readme/nem.js
  sdk/javascript/examples/readme/symbol.js
Due: sdk-javascript

[sdk/javascript]: fix webpack bundling and include in package
  sdk/javascript/.eslintignore
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/scripts/ci/build.sh
  sdk/javascript/src/impl/ed25519.js
  sdk/javascript/webpack.config.js
Due: sdk-javascript

[sdk/javascript]: finalize release preparation
  sdk/javascript/README.md
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javascript]: bundle version - make both transaction factories visible
  sdk/javascript/src/index.js
Due: sdk-javascript

[sdk] fix: bump sdks version to 3.0.7
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-javascript, sdk-python

[sdk] fix: update change log
  sdk/javascript/CHANGELOG.md
  sdk/python/CHANGELOG.md
Due: sdk-javascript, sdk-python

[sdk] fix: bump sdks version to 3.0.7 and update change log
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-javascript, sdk-python

[sdk/javascript] fix: update crypto-wasm-node to 0.1.1
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: sdk-javascript

fix: typo in test_AstPostProcessor.py
  catbuffer/parser/tests/test_AstPostProcessor.py
Due: catbuffer-parser

[client/catapult] fix: typo in test_AstPostProcessor.py
  catbuffer/parser/tests/test_AstPostProcessor.py
Due: catbuffer-parser

[sdk/python]: add special handling for encrypted messages created by Symbol wallets
  sdk/python/symbolchain/nem/MessageEncoder.py
  sdk/python/symbolchain/symbol/MessageEncoder.py
  sdk/python/tests/nem/test_MessageEncoder.py
  sdk/python/tests/symbol/test_MessageEncoder.py
  sdk/python/tests/test/BasicMessageEncoderTest.py
Due: sdk-python

[sdk/javascript]: add special handling for encrypted messages created by Symbol wallets
  sdk/javascript/src/nem/MessageEncoder.js
  sdk/javascript/src/symbol/MessageEncoder.js
  sdk/javascript/test/nem/MessageEncoder_spec.js
  sdk/javascript/test/symbol/MessageEncoder_spec.js
  sdk/javascript/test/test/messageEncoderTests.js
Due: sdk-javascript

[client/catapult] fix: catapult client code coverage show as empty
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
Due: none

[jenkins] fix: disable ausan alloc/dealloc mismatch feature due false positive in catapult tests
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

[jenkins] fix: update multibranch jobs to use the full folder path in the job name
  README.md
  jenkins/shared-library/vars/createMonorepoMultibranchJobs.groovy
Due: none

[client/catapult] fix: disable UndefinedBehaviorSanitizer for implicit conversion in boost multiprecision code
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/sanitizer_ignorelist.txt
Due: client-catapult

[jenkins] fix: catapult tsan mongodb tests
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
