Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

ci(jenkins): run tests against Debug builds instead of RelWithDebInfo
  jenkins/catapult/BasicBuildManager.py
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[mkdocs] fix: refine Japanese Symbol documentation
  mkdocs/pages/ja/devbook/reference/rest/symbol.md
  mkdocs/pages/ja/devbook/reference/serialization/index.md
  mkdocs/pages/ja/textbook/accounts.md
  mkdocs/pages/ja/textbook/blocks.md
  mkdocs/pages/ja/textbook/consensus.md
  mkdocs/pages/ja/textbook/cross-chain-swaps.md
  mkdocs/pages/ja/textbook/glossary.md
  mkdocs/pages/ja/textbook/metadata.md
  mkdocs/pages/ja/textbook/mosaics.md
  mkdocs/pages/ja/textbook/namespaces.md
  mkdocs/pages/ja/textbook/nodes.md
  mkdocs/pages/ja/textbook/restrictions.md
  mkdocs/pages/ja/textbook/transactions.md
  mkdocs/pages/ja/textbook/transfer_transactions.md
  mkdocs/pages/ja/userbook/intro.md
Due: none

[mkdocs] reviewer feedback
  mkdocs/pages/en/textbook/restrictions.md
  mkdocs/pages/ja/textbook/accounts.md
  mkdocs/pages/ja/textbook/namespaces.md
  mkdocs/pages/ja/textbook/nodes.md
  mkdocs/pages/ja/textbook/restrictions.md
Due: none

[mkdocs] fix: refine Japanese Symbol documentation (#2022)
  mkdocs/pages/en/textbook/restrictions.md
  mkdocs/pages/ja/devbook/reference/rest/symbol.md
  mkdocs/pages/ja/devbook/reference/serialization/index.md
  mkdocs/pages/ja/textbook/accounts.md
  mkdocs/pages/ja/textbook/blocks.md
  mkdocs/pages/ja/textbook/consensus.md
  mkdocs/pages/ja/textbook/cross-chain-swaps.md
  mkdocs/pages/ja/textbook/glossary.md
  mkdocs/pages/ja/textbook/metadata.md
  mkdocs/pages/ja/textbook/mosaics.md
  mkdocs/pages/ja/textbook/namespaces.md
  mkdocs/pages/ja/textbook/nodes.md
  mkdocs/pages/ja/textbook/restrictions.md
  mkdocs/pages/ja/textbook/transactions.md
  mkdocs/pages/ja/textbook/transfer_transactions.md
  mkdocs/pages/ja/userbook/intro.md
Due: none

build(cmake): Include tests presets and more workflows
  client/catapult/CMakePresets.json
Due: client-catapult

docs: integrate docs for tests presets
  client/catapult/docs/BUILD-apple.md
  client/catapult/docs/BUILD-linux.md
  client/catapult/docs/BUILD-windows.md
Due: client-catapult

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[linters]: relax gitlint to allow PR number
  linters/scripts/lint_last_commit.sh
Due: none

Update vcpkg baseline
  client/catapult/vcpkg.json
Due: client-catapult

Update settings_nix_clang.cmake
  client/catapult/cmake/settings_nix_clang.cmake
Due: client-catapult

Align with commit 16e6d95
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

Missing new line BlockElementSerializerTests
  client/catapult/tests/catapult/io/BlockElementSerializerTests.cpp
Due: client-catapult

Fix exception type name formatting guard for Clang + libstdc++
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
Due: client-catapult

Replace std::bind with lambda in DispatchWrappedFunction
  client/catapult/tests/catapult/thread/StrandOwnerLifetimeExtenderTests.cpp
Due: client-catapult

Fix -Wexit-time-destructors in TempDirectoryGuard::DefaultName
  client/catapult/tests/test/nodeps/Filesystem.cpp
Due: client-catapult

Remove unneeded log level setting
  client/catapult/cmake/cxx17.cmake
Due: client-catapult

Don't lint what is reasonably not a constexpr
  client/catapult/tests/test/nodeps/Filesystem.cpp
Due: client-catapult

[sdk/javascript]: add helper functions for calculating NEM fees
  sdk/javascript/src/nem/FeeCalculator.js
  sdk/javascript/src/nem/index.js
  sdk/javascript/test/nem/FeeCalculator_spec.js
Due: sdk-javascript

[sdk/javascript]: add helper functions for calculating Symbol fees
  sdk/javascript/src/symbol/FeeCalculator.js
  sdk/javascript/src/symbol/index.js
  sdk/javascript/test/symbol/FeeCalculator_spec.js
Due: sdk-javascript

[sdk/javascript]: auto convert strings in NEM transaction entities
  sdk/javascript/src/RuleBasedTransactionFactory.js
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/test/RuleBasedTransactionFactory_spec.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
Due: sdk-javascript

Fix missing safe-stack link flag for Release and RelWithDebInfo builds
  client/catapult/cmake/settings_nix_clang.cmake
Due: client-catapult

[mkdocs] docs: improve monitoring transction status tutorial
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
  mkdocs/pages/ja/devbook/transactions/monitoring-status.md
Due: none

[mkdocs] reviewer feedback
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
Due: none

[mkdocs] docs: improve chain height tutorial
  mkdocs/pages/en/devbook/chain/chain-heights.md
  mkdocs/pages/ja/devbook/chain/chain-heights.md
  mkdocs/snippets/devbook/chain/chain_heights.mjs
  mkdocs/snippets/devbook/chain/chain_heights.py
Due: none

[sdk/java] feat: initial Java SDK
  .github/buildConfiguration.yaml
  .github/codecov.yaml
  .github/codeowners.md
  .github/dependabot.yaml
  .github/workflows/codeql-analysis.yaml
  .gitlintmodules
  linters/java/eclipse-formatter.xml
  sdk/java/.gitignore
  sdk/java/Jenkinsfile
  sdk/java/build.gradle
  sdk/java/gradle.properties
  sdk/java/gradle/libs.versions.toml
  sdk/java/gradle/wrapper/gradle-wrapper.jar
  sdk/java/gradle/wrapper/gradle-wrapper.properties
  sdk/java/gradlew
  sdk/java/gradlew.bat
  sdk/java/scripts/ci/build.sh
  sdk/java/scripts/ci/lint.sh
  sdk/java/scripts/ci/test.sh
  sdk/java/settings.gradle
  sdk/java/src/main/java/org/symbol/sdk/utils/ArrayHelpers.java
  sdk/java/src/main/java/org/symbol/sdk/utils/Base32.java
  sdk/java/src/main/java/org/symbol/sdk/utils/BufferView.java
  sdk/java/src/main/java/org/symbol/sdk/utils/BufferWriter.java
  sdk/java/src/main/java/org/symbol/sdk/utils/CharacterMapBuilder.java
  sdk/java/src/main/java/org/symbol/sdk/utils/Converter.java
  sdk/java/src/main/java/org/symbol/sdk/utils/Serializable.java
  sdk/java/src/main/java/org/symbol/sdk/utils/Writer.java
  sdk/java/src/test/java/org/symbol/sdk/utils/ArrayHelpersTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/Base32Test.java
  sdk/java/src/test/java/org/symbol/sdk/utils/BufferViewTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/BufferWriterTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/CharacterMapBuilderTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/ConverterTest.java
Due: none

[mkdocs] fix: issues with japanese version
  mkdocs/pages/ja/devbook/transactions/monitoring-status.md
Due: none

[mkdocs] docs: improve monitoring transaction status tutorial (#2029)
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
  mkdocs/pages/ja/devbook/transactions/monitoring-status.md
Due: none

[mkdocs] fix: broken links in JA pages
  mkdocs/pages/ja/devbook/websockets/listen-bonded-transaction-flow.md
  mkdocs/pages/ja/devbook/websockets/listen-new-blocks.md
  mkdocs/pages/ja/devbook/websockets/listen-transaction-error.md
  mkdocs/pages/ja/devbook/websockets/listen-transaction-flow.md
Due: none

[jenkins] fix: change the default build to public problem: removal of the package-lock.json causing build to fail occasionally solution: switch the default build to public
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[mkdocs] docs: improve currency supply tutorial
  mkdocs/pages/en/devbook/network-currency/query-currency-supply.md
  mkdocs/pages/ja/devbook/network-currency/query-currency-supply.md
  mkdocs/snippets/devbook/network-currency/query_currency_supply.mjs
Due: none

[jenkins] fix: default to public build if build configuration is not set
  jenkins/shared-library/vars/helper.groovy
Due: none

[mkdocs] docs: improve query block rewards tutorial
  mkdocs/pages/en/devbook/network-currency/query-block-rewards.md
  mkdocs/pages/ja/devbook/network-currency/query-block-rewards.md
Due: none

[mkdocs] fix: add missing note in Japanese version
  mkdocs/pages/ja/devbook/chain/chain-heights.md
Due: none

[mkdocs] fix: Japanese translation
  mkdocs/pages/ja/devbook/network-currency/query-currency-supply.md
Due: none

[sdk/java]: update Jenkinsfile to use Java 21 plus remove python lint for now
  sdk/java/Jenkinsfile
  sdk/java/scripts/ci/lint.sh
Due: none

[sdk/java]: fix code ocverage codecov only look at specific report.xml file. remove local eclipse-formatter.xml
  sdk/java/build.gradle.kts
  sdk/java/eclipse-formatter.xml
Due: none
