Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[mkdocs] silence some annoying log messages
  mkdocs/scripts/hooks.py
Due: none

[mkdocs] cleanup Python reference pages
  mkdocs/config/mkdocs.base.yml
  mkdocs/scripts/gen_ref_pages_py.py
Due: none

Simplify buffer append
  client/catapult/sdk/src/extensions/MemoryStream.cpp
Due: client-catapult

Revert "Simplify buffer append"
  client/catapult/sdk/src/extensions/MemoryStream.cpp
Due: client-catapult

Fix buffer write
  client/catapult/sdk/src/extensions/MemoryStream.cpp
Due: client-catapult

[mkdocs] docs: listening to bonded tx flow tutorial
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/websockets/listen-bonded-transaction-flow.log
  mkdocs/overrides/devbook/websockets/listen-bonded-transaction-flow.mjs
  mkdocs/overrides/devbook/websockets/listen-bonded-transaction-flow.py
  mkdocs/pages/en/devbook/transactions/bonded-aggregate.md
  mkdocs/pages/en/devbook/transactions/complete-aggregate.md
  mkdocs/pages/en/devbook/websockets/listen-bonded-transaction-flow.md
Due: none

[mkdocs] fix: use correct ws link
  mkdocs/pages/en/devbook/websockets/listen-transaction-error.md
Due: none

[mkdocs] docs: add listen transaction error tutorial (#1898)
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/websockets/listen-transaction-error.log
  mkdocs/overrides/devbook/websockets/listen-transaction-error.mjs
  mkdocs/overrides/devbook/websockets/listen-transaction-error.py
  mkdocs/pages/en/devbook/websockets/listen-transaction-error.md
  mkdocs/pages/en/devbook/websockets/listen-transaction-flow.md
Due: none

[mkdocs] review
  mkdocs/overrides/devbook/websockets/listen-bonded-transaction-flow.py
  mkdocs/pages/en/devbook/transactions/bonded-aggregate.md
  mkdocs/pages/en/devbook/transactions/complete-aggregate.md
  mkdocs/pages/en/devbook/websockets/listen-bonded-transaction-flow.md
Due: none

[mkdocs] docs: listening to bonded tx flow tutorial (#1899)
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/websockets/listen-bonded-transaction-flow.log
  mkdocs/overrides/devbook/websockets/listen-bonded-transaction-flow.mjs
  mkdocs/overrides/devbook/websockets/listen-bonded-transaction-flow.py
  mkdocs/pages/en/devbook/transactions/bonded-aggregate.md
  mkdocs/pages/en/devbook/transactions/complete-aggregate.md
  mkdocs/pages/en/devbook/websockets/listen-bonded-transaction-flow.md
Due: none

[client/rest]: supply (max, total, circulating) endpoints accept only text/plain - addressed review comments
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[client/rest]: supply (max, total, circulating) endpoints accept only text/plain
  client/rest/src/server/bootstrapper.js
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[client/rest]: supply (max, total, circulating) endpoints accept only text/plain - addressed review comments
  client/rest/src/server/bootstrapper.js
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[client/rest]: supply (max, total, circulating) endpoints accept only text/plain - fix linting
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[client/rest]: supply (max, total, circulating) endpoints accept only text/plain - fix review comments
  client/rest/src/server/bootstrapper.js
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[mkdocs] fix: low contrast links in devbook
  mkdocs/overrides/assets/stylesheets/extra.css
Due: none

[mkdocs] fix: invisble dylinks on first visit
  mkdocs/overrides/partials/javascripts/content.html
Due: none

[mkdocs] add: footer link to old docs site
  mkdocs/config/mkdocs.base.yml
  mkdocs/config/mkdocs.en.yml
  mkdocs/config/mkdocs.ja.yml
Due: none

[mkdocs] fix: Japanese footer link titles
  mkdocs/config/mkdocs.ja.yml
Due: none

[mkdocs] fix: remove non-markdown tags from reference guides
  mkdocs/scripts/hooks.py
Due: none

[jenkins] fix: use sed to remove ^ and ~ instead
  jenkins/shared-library/vars/configureArtifactRepository.groovy
Due: none

[mkdocs] fix: use new docs URL in OpenAPI spec
  openapi/openapi-symbol.yml
Due: none

[mkdocs] fix: indentation of config YAML
  mkdocs/config/mkdocs.ja.yml
Due: none

[mkdocs] add: scams and security page + redirect
  docs/guides/account/scams-and-security.html
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/userbook/aggregate-transaction.png
  mkdocs/pages/en/userbook/security.md
Due: none

[mkdocs] fix: Japanese translation
  mkdocs/pages/ja/404.md
  mkdocs/pages/ja/index.md
Due: none

feat: added missing REST endpoints and fix inflation schema reference (#305)
  openapi/CHANGELOG.md
  openapi/spec/core/block/routes/searchBlocks.yml
  openapi/spec/openapi.yml
  openapi/spec/parameters/path/metalId.yml
  openapi/spec/plugins/lock_hash/routes/getHashLocks.yml
  openapi/spec/plugins/lock_hash/routes/searchAccountHashLocks.yml
  openapi/spec/plugins/lock_secret/routes/getSecretLocks.yml
  openapi/spec/plugins/lock_secret/routes/searchAccountSecretLocks.yml
  openapi/spec/plugins/metadata/routes/getMetadataEntries.yml
  openapi/spec/plugins/metadata/routes/getMetadataMetal.yml
  openapi/spec/plugins/restriction_account/routes/getAccountRestrictionsBatch.yml
  openapi/spec/plugins/restriction_mosaic/routes/getMosaicRestrictionsBatch.yml
  openapi/spec/request_bodies/_index.yml
  openapi/spec/request_bodies/compositeHashes.yml
  openapi/spec/request_bodies/hashes.yml
  openapi/spec/request_bodies/schemas/compositeHashes.yml
  openapi/spec/request_bodies/schemas/hashes.yml
  openapi/spec/routes.yml
  openapi/spec/schemas/_index.yml
  openapi/spec/tags.yml
Due: none

[jenkins] fix: add the build configuration to the controller job with public build as default
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
Due: none

[client/rest] fix: remove v5 to v6 mapping for zeroMQ and update zmqutils with v6 event names
  client/rest/src/connection/zmqService.js
  client/rest/src/connection/zmqUtils.js
  client/rest/test/connection/zmqService_spec.js
  client/rest/test/connection/zmqUtils_spec.js
Due: client-rest

[client/rest] fix: remote monitor interval since it is not used with ZeroMQ 6.x
  client/rest/resources/rest.json
  client/rest/src/connection/zmqUtils.js
  client/rest/test/connection/zmqService_spec.js
  client/rest/test/connection/zmqUtils_spec.js
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[client/rest] fix: initial upgrade ZeroMQ to v6.5
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/src/connection/zmqService.js
  client/rest/src/connection/zmqUtils.js
  client/rest/test/connection/zmqService_spec.js
  client/rest/test/server/bootstrapper_spec.js
  client/rest/test/sockets/nodePeersCodec_spec.js
Due: client-rest

[client/rest]: more fixes
  client/rest/src/connection/zmqService.js
  client/rest/src/connection/zmqUtils.js
  client/rest/test/server/process_spec.js
Due: client-rest

[client/rest] fix: more clean up
  client/rest/src/connection/zmqService.js
  client/rest/test/server/process_spec.js
Due: client-rest

[client/rest] fix: use wrapper instead of the subscriber to validate
  client/rest/test/connection/zmqService_spec.js
Due: client-rest

[client/rest] fix: address feedback
  client/rest/src/connection/zmqService.js
  client/rest/test/connection/zmqService_spec.js
Due: client-rest

docs: add prove mosaic state tutorial
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/chain/prove-mosaic-state.log
  mkdocs/overrides/devbook/chain/prove-mosaic-state.mjs
  mkdocs/overrides/devbook/chain/prove-mosaic-state.py
  mkdocs/pages/en/devbook/chain/prove-mosaic-state.md
  mkdocs/pages/en/textbook/blocks.md
Due: none

docs: add prove mosaic state tutorial
  mkdocs/pages/en/textbook/blocks.md
Due: none

[mkdocs] docs: add query currency supply tutorial
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/network-currency/query-currency-supply.log
  mkdocs/overrides/devbook/network-currency/query-currency-supply.mjs
  mkdocs/overrides/devbook/network-currency/query-currency-supply.py
  mkdocs/pages/en/devbook/network-currency/query-currency-supply.md
  openapi/openapi-symbol.yml
Due: none
