Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[jenkins] fix: add missing gitlint problem: golang image is missing gitling tool solution: add gitlint tool to golang image
  jenkins/docker/ubuntu/golang.Dockerfile
Due: none

[jenkins] fix: add missing gitlint to golang ci image
  jenkins/docker/ubuntu/golang.Dockerfile
Due: none

[jenkins]: add support for golang code coverage problem: no code coverage support for golang solution: add golang checks
  jenkins/shared-library/vars/codeCoverage.groovy
Due: none

[jenkins]: fix lint
  jenkins/shared-library/vars/codeCoverage.groovy
Due: none

[jenkins]: drop the decimal to make integer
  jenkins/shared-library/vars/codeCoverage.groovy
Due: none

[jenkins]: address feedback
  jenkins/shared-library/vars/codeCoverage.groovy
Due: none

[jenkins]: add support for golang code coverage
  jenkins/shared-library/vars/codeCoverage.groovy
Due: none

[client/rest]: properly handle fee calculation when block fee multiplier is zero
  client/rest/src/plugins/rosetta/symbol/OperationParser.js
  client/rest/test/plugins/rosetta/symbol/OperationParser_spec.js
Due: client-rest

[client/rest]: promote RosettaOperationFactory to shared test utils
  client/rest/test/plugins/rosetta/symbol/OperationParser_spec.js
  client/rest/test/plugins/rosetta/symbol/accountRoutes_spec.js
  client/rest/test/plugins/rosetta/symbol/blockRoutes_spec.js
  client/rest/test/plugins/rosetta/symbol/mempoolRoutes_spec.js
  client/rest/test/plugins/rosetta/symbol/utils/rosettaTestUtils.js
  client/rest/test/plugins/rosetta/utils/rosettaTestUtils.js
Due: client-rest

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  client/catapult/extensions/mongo/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult]: remove boost
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult] fix: use mongodb forward declaration headers
  client/catapult/extensions/mongo/src/mappers/MapperInclude.h
Due: client-catapult

[client/catapult] fix: mongodb forward headers
  client/catapult/extensions/mongo/src/mappers/MapperInclude.h
Due: client-catapult

[client/rest]: add NEM OperationParser
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/src/plugins/rosetta/symbol/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/symbol/OperationParser_spec.js
  client/rest/test/plugins/rosetta/symbol/constructionRoutes_spec.js
Due: client-rest

[client/rest]: add NEM createLookupCurrencyFunction
  client/rest/src/plugins/rosetta/nem/NemProxy.js
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/src/plugins/rosetta/nem/rosettaUtils.js
  client/rest/test/plugins/rosetta/nem/NemProxy_spec.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/nem/rosettaUtils_spec.js
Due: client-rest

[client/rest]: add Rosetta data routes
  client/rest/src/plugins/rosetta/accountRoutes.js
  client/rest/src/plugins/rosetta/blockRoutes.js
  client/rest/src/plugins/rosetta/mempoolRoutes.js
  client/rest/src/plugins/rosetta/networkRoutes.js
  client/rest/src/plugins/rosetta/rosetta.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/test/plugins/rosetta/accountRoutes_spec.js
  client/rest/test/plugins/rosetta/blockRoutes_spec.js
  client/rest/test/plugins/rosetta/mempoolRoutes_spec.js
  client/rest/test/plugins/rosetta/networkRoutes_spec.js
  client/rest/test/plugins/rosetta/rosetta_spec.js
  client/rest/test/plugins/rosetta/utils/rosettaTestUtils.js
Due: client-rest

[client/rest]: skip parsing of receipts without amounts
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
Due: client-rest

[client/rest]: fix aggregate transaction handling
  client/rest/resources/rest.json
  client/rest/src/index.js
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
  client/rest/test/plugins/rosetta/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/rosetta_spec.js
  client/rest/test/plugins/rosetta/utils/PayloadResultVerifier.js
  client/rest/test/plugins/rosetta/utils/rosettaTestUtils.js
Due: client-rest

[client/rest]: operations returned by construction routes should not have operation status
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/src/plugins/rosetta/blockRoutes.js
  client/rest/src/plugins/rosetta/mempoolRoutes.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
  client/rest/test/plugins/rosetta/blockRoutes_spec.js
  client/rest/test/plugins/rosetta/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/mempoolRoutes_spec.js
  client/rest/test/plugins/rosetta/utils/rosettaTestUtils.js
Due: client-rest

[client/rest]: add nemesis block to CatapultProxy cache
  client/rest/src/plugins/rosetta/CatapultProxy.js
  client/rest/test/plugins/rosetta/CatapultProxy_spec.js
Due: client-rest

[client/rest]: add address resolution support to rosetta routes
  client/rest/src/plugins/rosetta/CatapultProxy.js
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/test/plugins/rosetta/CatapultProxy_spec.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
Due: client-rest

[client/rest]: add CatapultProxy for caching responses
  client/rest/src/plugins/rosetta/CatapultProxy.js
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/src/plugins/rosetta/rosetta.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/test/plugins/rosetta/CatapultProxy_spec.js
  client/rest/test/plugins/rosetta/constructionRoutes_spec.js
Due: client-rest

[client/rest]: don't return currency metadata from /account/balance
  client/rest/src/plugins/rosetta/accountRoutes.js
  client/rest/test/plugins/rosetta/accountRoutes_spec.js
Due: client-rest

[client/rest]: initial rosetta plugin for nem
  client/rest/src/plugins/rosetta/nem/rosetta.js
  client/rest/test/plugins/rosetta/nem/rosetta_spec.js
Due: client-rest

[client/rest]: extend and refactor transaction to operating parsing
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
  client/rest/test/plugins/rosetta/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/utils/PayloadResultVerifier.js
Due: client-rest

[rest/client]: update metadata to query network/fees/transaction
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/test/plugins/rosetta/constructionRoutes_spec.js
Due: client-rest

[client/rest]: update rosetta to support id being set in currency metadata
  client/rest/src/plugins/rosetta/accountRoutes.js
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/test/plugins/rosetta/accountRoutes_spec.js
  client/rest/test/plugins/rosetta/constructionRoutes_spec.js
Due: client-rest

[client/rest]: add missing await
  client/rest/test/plugins/rosetta/CatapultProxy_spec.js
Due: client-rest

[client/rest]: refactor most of process hosting into server/process
  client/rest/package.json
  client/rest/resources/rest.rosetta.json
  client/rest/src/index.js
  client/rest/src/index.rosetta.js
  client/rest/src/plugins/rosetta/rosetta.js
  client/rest/src/server/process.js
  client/rest/test/plugins/rosetta/rosetta_spec.js
  client/rest/test/server/process_spec.js
Due: client-rest

[client/rest]: update OperationParser to support mosaic supply change and revocation
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
Due: client-rest

[client/rest]: add support for initial NEM construction routes
  client/rest/src/plugins/rosetta/nem/NemProxy.js
  client/rest/src/plugins/rosetta/nem/constructionRoutes.js
  client/rest/src/plugins/rosetta/nem/rosettaUtils.js
  client/rest/src/plugins/rosetta/openApi/model/CurveType.js
  client/rest/test/plugins/rosetta/nem/NemProxy_spec.js
  client/rest/test/plugins/rosetta/nem/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/rosettaUtils_spec.js
  client/rest/test/plugins/rosetta/nem/rosetta_spec.js
  client/rest/test/plugins/rosetta/nem/utils/rosettaTestUtils.js
  client/rest/test/plugins/rosetta/symbol/utils/rosettaTestUtils.js
  client/rest/test/plugins/rosetta/utils/rosettaTestUtils.js
Due: client-rest

[client/rest]: fix ReceiptSource comparison in CatapultProxy
  client/rest/src/plugins/rosetta/CatapultProxy.js
  client/rest/test/plugins/rosetta/CatapultProxy_spec.js
Due: client-rest

[client/rest]: calculate transaction location in OperationParser and pass down to lookupCurrency
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
  client/rest/test/plugins/rosetta/rosettaUtils_spec.js
Due: client-rest

[client/rest]: add remaining construction apis #1136
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/test/plugins/rosetta/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/rosetta_spec.js
Due: client-rest

[client/rest]: move Symbol rosetta implementation into symbol subfolder
  client/rest/resources/rest.json
  client/rest/resources/rest.rosetta.json
  client/rest/src/plugins/rosetta/symbol/CatapultProxy.js
  client/rest/src/plugins/rosetta/symbol/OperationParser.js
  client/rest/src/plugins/rosetta/symbol/accountRoutes.js
  client/rest/src/plugins/rosetta/symbol/blockRoutes.js
  client/rest/src/plugins/rosetta/symbol/constructionRoutes.js
  client/rest/src/plugins/rosetta/symbol/mempoolRoutes.js
  client/rest/src/plugins/rosetta/symbol/networkRoutes.js
  client/rest/src/plugins/rosetta/symbol/rosetta.js
  client/rest/src/plugins/rosetta/symbol/rosettaUtils.js
  client/rest/src/plugins/routeSystem.js
  client/rest/test/plugins/rosetta/symbol/CatapultProxy_spec.js
  client/rest/test/plugins/rosetta/symbol/OperationParser_spec.js
  client/rest/test/plugins/rosetta/symbol/accountRoutes_spec.js
  client/rest/test/plugins/rosetta/symbol/blockRoutes_spec.js
  client/rest/test/plugins/rosetta/symbol/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/symbol/mempoolRoutes_spec.js
  client/rest/test/plugins/rosetta/symbol/networkRoutes_spec.js
  client/rest/test/plugins/rosetta/symbol/rosettaUtils_spec.js
  client/rest/test/plugins/rosetta/symbol/rosetta_spec.js
  client/rest/test/plugins/rosetta/symbol/utils/PayloadResultVerifier.js
  client/rest/test/plugins/rosetta/symbol/utils/rosettaTestUtils.js
  client/rest/test/plugins/routeSystem_spec.js
Due: client-rest

[client/rest]: automatically map fee from SDK JSON model to REST JSON model
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
Due: client-rest

[client/rest]: add construction/preprocess and construction/metadata
  client/rest/src/index.js
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/test/plugins/rosetta/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/rosettaUtils_spec.js
  client/rest/test/plugins/rosetta/rosetta_spec.js
Due: client-rest

[client/rest]: disable lint and code coverage for generated rosetta open api models
  client/rest/.c8rc.json
  client/rest/.eslintignore
Due: client-rest

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
