Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[jenkins] fix: mongo cxx build number
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[jenkins] fix: move venv creation to the os staged
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[client/catapult] fix: disable dangling reference for tests with gcc 13
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

[client/catapult] fix: linting failures
  client/catapult/extensions/mongo/src/MongoErrorPolicy.h
  client/catapult/src/catapult/utils/DiagnosticCounterId.h
  client/catapult/src/catapult/utils/HexFormatter.h
  client/catapult/tests/test/core/StorageTestUtils.h
  client/catapult/tests/test/nodeps/Conversions.h
  jenkins/catapult/compilers/clang-latest.yaml
  jenkins/catapult/compilers/clang-prior.yaml
Due: client-catapult

[jenkins] fix: update ci to use gcc 13
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/docker/ubuntu/cpp.Dockerfile
Due: none

[client/catapult] fix: address feedback
  client/catapult/CMakeGlobalSettings.cmake
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: client-catapult

[jenkins] fix: add a checkout stage to prepare base image
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
Due: none

[jenkins] fix: add env to test base images
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
Due: none

[jenkins] fix: catapult install requires root access
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
Due: none

[client/catapult] fix: failing exception tests with gcc 13
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
Due: client-catapult

[jenkins] fix: move ply package to virtual env
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
Due: none

[jenkins] fix: move ply to virtual env for sanitizer test
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
Due: none

[client/catapult] fix: add workaround for the gcc13 array-bounds warnings in tests code
  client/catapult/tests/catapult/state/TimestampedHashTests.cpp
Due: client-catapult

[jenkins] fix: update catapult build dependency
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/mongo/src/MongoErrorPolicy.h
  client/catapult/src/catapult/utils/DiagnosticCounterId.h
  client/catapult/src/catapult/utils/HexFormatter.h
  client/catapult/tests/catapult/state/TimestampedHashTests.cpp
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
  client/catapult/tests/test/core/StorageTestUtils.h
  client/catapult/tests/test/nodeps/Conversions.h
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/debian-gcc/Dockerfile
  jenkins/catapult/compilers/fedora-gcc/Dockerfile
  jenkins/catapult/compilers/gcc-latest.yaml
  jenkins/catapult/compilers/gcc-prior.yaml
  jenkins/catapult/compilers/ubuntu-clang/Dockerfile
  jenkins/catapult/compilers/ubuntu-gcc/Dockerfile
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
  jenkins/catapult/versions.properties
  jenkins/docker/ubuntu/cpp.Dockerfile
Due: client-catapult

[sdk/javascript]: add NAME to ByteArray classes
  sdk/javascript/src/ByteArray.js
  sdk/javascript/src/CryptoTypes.js
  sdk/javascript/src/RuleBasedTransactionFactory.js
  sdk/javascript/test/ByteArray_spec.js
  sdk/javascript/test/CryptoTypes_spec.js
Due: sdk-javascript

[sdk/javascript]: search through nc module to find transaction class name
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
Due: sdk-javascript

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[sdk/javascript]: use exports in package.json
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javascript]: restore pure javascript crypto code that was replaced by WASM
  sdk/javascript/src/nem/external/tweetnacl-nacl-fast-keccak.js
  sdk/javascript/src/utils/cryptoHelpers.js
  sdk/javascript/test/utils/cryptoHelpers_spec.js
Due: sdk-javascript

[sdk/javascript]: add alternative pure JavaScript implementation for all WASM logic
  sdk/javascript/.eslintignore
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/src/SharedKey.js
  sdk/javascript/src/impl/ed25519.js
  sdk/javascript/src/impl/ed25519_js.js
  sdk/javascript/src/impl/ed25519_wasm.js
  sdk/javascript/src/impl/external/tweetnacl-nacl-fast-symbol.js
  sdk/javascript/src/nem/KeyPair.js
  sdk/javascript/src/nem/SharedKey.js
  sdk/javascript/src/symbol/KeyPair.js
  sdk/javascript/src/symbol/SharedKey.js
  sdk/javascript/src/utils/cryptoHelpers.js
  sdk/javascript/test/test/keyPairTests.js
  sdk/javascript/test/utils/cryptoHelpers_spec.js
  sdk/javascript/webpack.config.js
Due: sdk-javascript

[sdk/javascript]: make `symbol-crypto-wasm-node` an optional dependency
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javscript]: prune customized tweetnacl implementation
  sdk/javascript/.c8rc.json
  sdk/javascript/.eslintignore
  sdk/javascript/src/SharedKey.js
  sdk/javascript/src/impl/external/tweetnacl-nacl-fast-symbol.js
Due: sdk-javascript

[client/rest]: fix failing bootstrapper tests
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

[monorepo] fix: linting failures
  catbuffer/parser/catparser/CatsLarkParser.py
  jenkins/infra/jenkins/build-ci-image.groovy
Due: catbuffer-parser

[monorepo] fix: address feedback
  jenkins/docker/ubuntu/javascript.Dockerfile
  linters/python/.pylintrc
Due: none

[jenkins] fix: Windows image build fails
  jenkins/docker/windows/python.Dockerfile
  jenkins/infra/jenkins/build-ci-image.groovy
Due: none

[jenkins] fix: Windows JavaScript image build fails
  jenkins/docker/windows/javascript.Dockerfile
Due: none

[monorepo] fix: update latest test image to use python 3.12
  catbuffer/parser/catparser/CatsLarkParser.py
  jenkins/catapult/runDockerTestsInnerLint.py
  jenkins/catapult/templates/FedoraTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
  jenkins/docker/ubuntu/javascript.Dockerfile
  jenkins/docker/ubuntu/python.Dockerfile
  jenkins/docker/windows/javascript.Dockerfile
  jenkins/docker/windows/python.Dockerfile
  jenkins/infra/jenkins/build-ci-image.groovy
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
  linters/python/.pylintrc
  linters/python/lint.sh
  linters/python/lint_requirements.txt
  sdk/javascript/scripts/ci/lint_python.sh
  sdk/python/scripts/ci/lint.sh
  sdk/python/testvectors/__main__.py
Due: catbuffer-parser, sdk-javascript, sdk-python

[client/catapult]: fix boost::phoenix::placeholders duplicate symbol warning
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

[catapult/client]: fix linker "duplicate libraries" warning
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/harvesting/tests/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/metadata/tests/int/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/mosaic/tests/int/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/namespace/tests/int/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/restriction_account/tests/int/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/restriction_mosaic/tests/int/CMakeLists.txt
  client/catapult/extensions/mongo/tests/CMakeLists.txt
  client/catapult/plugins/txes/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  client/catapult/tests/bench/nodeps/CMakeLists.txt
  client/catapult/tests/catapult/cache/CMakeLists.txt
  client/catapult/tests/catapult/config/CMakeLists.txt
  client/catapult/tests/catapult/crypto/CMakeLists.txt
  client/catapult/tests/catapult/deltaset/CMakeLists.txt
  client/catapult/tests/catapult/extensions/CMakeLists.txt
  client/catapult/tests/catapult/ionet/CMakeLists.txt
  client/catapult/tests/catapult/keylink/CMakeLists.txt
  client/catapult/tests/catapult/local/importer/CMakeLists.txt
  client/catapult/tests/catapult/local/recovery/CMakeLists.txt
  client/catapult/tests/catapult/local/server/CMakeLists.txt
  client/catapult/tests/catapult/model/CMakeLists.txt
  client/catapult/tests/catapult/plugins/CMakeLists.txt
  client/catapult/tests/catapult/state/CMakeLists.txt
  client/catapult/tests/catapult/subscribers/CMakeLists.txt
  client/catapult/tests/catapult/thread/CMakeLists.txt
  client/catapult/tests/catapult/utils/CMakeLists.txt
  client/catapult/tests/int/node/basic/CMakeLists.txt
  client/catapult/tests/int/node/stress/CMakeLists.txt
  client/catapult/tests/int/stress/CMakeLists.txt
  client/catapult/tests/test/local/CMakeLists.txt
  client/catapult/tests/test/local/FilechainTestUtils.cpp
  client/catapult/tools/votingkey/CMakeLists.txt
Due: client-catapult

[catapult/client]: upgrade boost to 1.83
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult]: fix linker "duplicate libraries" warning
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/harvesting/tests/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/metadata/tests/int/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/mosaic/tests/int/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/namespace/tests/int/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/restriction_account/tests/int/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/restriction_mosaic/tests/int/CMakeLists.txt
  client/catapult/extensions/mongo/tests/CMakeLists.txt
  client/catapult/plugins/txes/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  client/catapult/tests/bench/nodeps/CMakeLists.txt
  client/catapult/tests/catapult/cache/CMakeLists.txt
  client/catapult/tests/catapult/config/CMakeLists.txt
  client/catapult/tests/catapult/crypto/CMakeLists.txt
  client/catapult/tests/catapult/deltaset/CMakeLists.txt
  client/catapult/tests/catapult/extensions/CMakeLists.txt
  client/catapult/tests/catapult/ionet/CMakeLists.txt
  client/catapult/tests/catapult/keylink/CMakeLists.txt
  client/catapult/tests/catapult/local/importer/CMakeLists.txt
  client/catapult/tests/catapult/local/recovery/CMakeLists.txt
  client/catapult/tests/catapult/local/server/CMakeLists.txt
  client/catapult/tests/catapult/model/CMakeLists.txt
  client/catapult/tests/catapult/plugins/CMakeLists.txt
  client/catapult/tests/catapult/state/CMakeLists.txt
  client/catapult/tests/catapult/subscribers/CMakeLists.txt
  client/catapult/tests/catapult/thread/CMakeLists.txt
  client/catapult/tests/catapult/utils/CMakeLists.txt
  client/catapult/tests/int/node/basic/CMakeLists.txt
  client/catapult/tests/int/node/stress/CMakeLists.txt
  client/catapult/tests/int/stress/CMakeLists.txt
  client/catapult/tests/test/local/CMakeLists.txt
  client/catapult/tests/test/local/FilechainTestUtils.cpp
  client/catapult/tools/votingkey/CMakeLists.txt
Due: client-catapult

[client/catapult]: upgrade boost to 1.83
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/versions.properties
Due: client-catapult

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
