Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[jenkins] feat: add support for build and test on Fedora
  jenkins/docker/fedora/javascript.Dockerfile
  jenkins/docker/fedora/python.Dockerfile
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/infra/jenkins/build-ci-image.groovy
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
  sdk/javascript/Jenkinsfile
  sdk/python/Jenkinsfile
Due: sdk-javascript, sdk-python

[sdk] fix: Pylint failure with use-yield-from
  linters/python/lint_requirements.txt
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
Due: sdk-javascript, sdk-python

add metal config to rest.json
  client/rest/resources/rest.json
  client/rest/src/index.js
Due: client-rest

add cached total size limit
  client/rest/src/plugins/metadata/metadataRoutes.js
Due: client-rest

add services.config.metal to metadataRoutes_spec.js
  client/rest/test/plugins/metadata/metadataRoutes_spec.js
Due: client-rest

fix Change the conditions to cache.
  client/rest/src/plugins/metadata/metadataRoutes.js
Due: client-rest

[sdk/javascript]: use globalThis instead of global
  sdk/javascript/src/impl/ed25519.js
Due: sdk-javascript

fix cachedTotalSize to estimateSize using cache.getStats()
  client/rest/src/plugins/metadata/metadataRoutes.js
Due: client-rest

fixed typo chche to cache
  client/rest/resources/rest.json
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/test/plugins/metadata/metadataRoutes_spec.js
Due: client-rest

fixed name estimateSize to estimatedNewCacheSize
  client/rest/src/plugins/metadata/metadataRoutes.js
Due: client-rest

[client/rest] feat: add Metal decode support
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/resources/rest.json
  client/rest/src/index.js
  client/rest/src/plugins/metadata/MetadataDb.js
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/src/plugins/metadata/metal.js
  client/rest/src/routes/routeUtils.js
  client/rest/test/plugins/metadata/MetadataDb_spec.js
  client/rest/test/plugins/metadata/metadataRoutes_spec.js
  client/rest/test/plugins/metadata/metadata_spec.js
  client/rest/test/plugins/metadata/metalUtils.js
  client/rest/test/plugins/metadata/metal_spec.js
  client/rest/test/plugins/metadata/resources/image.png
  client/rest/test/plugins/metadata/resources/metadata.json
  client/rest/test/plugins/metadata/resources/metadata_mosaic.json
  client/rest/test/routes/routeUtils_spec.js
Due: client-rest

[jenkins] fix: install rust in Javascript image problem: Javascript image does not have rust installed solution: run rustup to install the latest stable version of rust
  jenkins/docker/ubuntu/javascript.Dockerfile
Due: none

[jenkins] fix: install rust in Javascript image
  jenkins/docker/ubuntu/javascript.Dockerfile
Due: none

[sdk/python] fix: ByteString is deprecated in Python 3.9
  sdk/python/generator/Generator.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-python

[jenkins] fix: incorrect premission python virtual environment
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/docker/ubuntu/cpp.Dockerfile
Due: none

[jenkins] fix: linting
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[jenkins] fix: incorrect permission python virtual environment
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/docker/ubuntu/cpp.Dockerfile
Due: none

[sdk/javascript]: improve codegen to significantly reduce size of generated models
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/FactoryFormatter.py
  sdk/javascript/generator/Generator.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
Due: sdk-javascript

[sdk/python]: improve codegen to significantly reduce size of generated models
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/EnumTypeFormatter.py
  sdk/python/generator/FactoryFormatter.py
  sdk/python/generator/Generator.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-python

[sdk/javascript]: split single entry point into default, nem and symbol
  sdk/javascript/README.md
  sdk/javascript/examples/bip32_keypair.js
  sdk/javascript/examples/descriptors/nem_mosaic.js
  sdk/javascript/examples/descriptors/symbol_lock.js
  sdk/javascript/examples/descriptors/symbol_mosaic.js
  sdk/javascript/examples/descriptors/symbol_namespace.js
  sdk/javascript/examples/examples_utils.js
  sdk/javascript/examples/readme/nem.js
  sdk/javascript/examples/readme/symbol.js
  sdk/javascript/examples/transaction_aggregate.js
  sdk/javascript/examples/transaction_multisig.js
  sdk/javascript/examples/transaction_sign.js
  sdk/javascript/package.json
  sdk/javascript/src/index.js
  sdk/javascript/src/index.web.js
  sdk/javascript/src/nem/index.js
  sdk/javascript/src/symbol/index.js
  sdk/javascript/webpack.config.js
Due: sdk-javascript

[sdk/javascript]: create TransferTransactionV1Descriptor[2] as example potential generator output
  sdk/javascript/examples/readme/symbol.js
  sdk/javascript/src/symbol/descriptors.js
  sdk/javascript/src/symbol/index.js
Due: sdk-javascript

[sdk/javascript]: run ts compiler over examples
  sdk/javascript/README.md
  sdk/javascript/examples/bip32_keypair.js
  sdk/javascript/examples/readme/nem.js
  sdk/javascript/examples/readme/symbol.js
  sdk/javascript/examples/transaction_aggregate.js
  sdk/javascript/examples/transaction_multisig.js
  sdk/javascript/examples/transaction_sign.js
  sdk/javascript/scripts/ci/build.sh
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
  sdk/javascript/tsconfig/build-bindings.json
  sdk/javascript/tsconfig/check-bindings.json
  sdk/javascript/tsconfig/check-examples.json
Due: sdk-javascript

[jenkins] fix: install common Python packages problem: each CI job installs common Python packages for linting, testing, etc. solution: install common Python packages in the CI image.
  jenkins/docker/fedora/javascript.Dockerfile
  jenkins/docker/fedora/python.Dockerfile
  jenkins/docker/ubuntu/cpp.Dockerfile
  jenkins/docker/ubuntu/javascript.Dockerfile
  jenkins/docker/ubuntu/linter.Dockerfile
  jenkins/docker/ubuntu/python.Dockerfile
  jenkins/docker/windows/javascript.Dockerfile
  jenkins/docker/windows/python.Dockerfile
Due: none

[jenkins] fix: address feedback
  jenkins/docker/windows/python.Dockerfile
Due: none

[jenkins] fix: install common Python packages
  jenkins/docker/fedora/javascript.Dockerfile
  jenkins/docker/fedora/python.Dockerfile
  jenkins/docker/ubuntu/cpp.Dockerfile
  jenkins/docker/ubuntu/javascript.Dockerfile
  jenkins/docker/ubuntu/linter.Dockerfile
  jenkins/docker/ubuntu/python.Dockerfile
  jenkins/docker/windows/javascript.Dockerfile
  jenkins/docker/windows/python.Dockerfile
Due: none

[client/catapult] fix: help description
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[jenkins] fix: set conan home correctly on Windows
  client/catapult/CMakeLists.txt
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: client-catapult

[client/catapult] fix: address feedback also remove cmake from direct dependency in conanfile since not needed
  client/catapult/conanfile.py
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: client-catapult

[client/catapult] fix: add changes that got removed in rebase
  client/catapult/conanfile.py
  client/catapult/scripts/requirements.txt
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: client-catapult

[client/catapult] fix: couple of fixes 1. copy all dependencies that have libs and run set to true. 2. fix list not concat 3. user name in dockerfile comment
  client/catapult/conanfile.py
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: client-catapult

[client/catapult] fix: address feedback
  client/catapult/conanfile.py
  client/catapult/docs/BUILD-conan.md
  jenkins/catapult/catapultDependencyUpdater.py
  jenkins/catapult/requirements.txt
Due: client-catapult

[client/catapult] fix: metal build fails 1. GTest metal build returns CMake properties in upper case. 2. only use cmake preset for Conan builds.
  client/catapult/CMakeLists.txt
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: client-catapult

[client/catapult] fix: address feedback
  client/catapult/conanfile.py
  client/catapult/extensions/mongo/plugins/CMakeLists.txt
  client/catapult/extensions/mongo/tests/test/CMakeLists.txt
Due: client-catapult

[jenkins] fix: add conan to test image for linting
  client/catapult/CMakeLists.txt
  jenkins/catapult/templates/FedoraTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
Due: client-catapult

[client/catapult] fix: add Conan 2 support
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  client/catapult/conanfile.txt
  client/catapult/docs/BUILD-conan.md
  client/catapult/extensions/mongo/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/CMakeLists.txt
  client/catapult/extensions/mongo/tests/test/CMakeLists.txt
  client/catapult/extensions/zeromq/CMakeLists.txt
  client/catapult/plugins/txes/CMakeLists.txt
  client/catapult/sdk/tests/CMakeLists.txt
  client/catapult/src/CMakeLists.txt
  client/catapult/src/catapult/CMakeLists.txt
  client/catapult/src/catapult/api/CMakeLists.txt
  client/catapult/src/catapult/cache/CMakeLists.txt
  client/catapult/src/catapult/cache_core/CMakeLists.txt
  client/catapult/src/catapult/cache_db/CMakeLists.txt
  client/catapult/src/catapult/cache_tx/CMakeLists.txt
  client/catapult/src/catapult/chain/CMakeLists.txt
  client/catapult/src/catapult/config/CMakeLists.txt
  client/catapult/src/catapult/consumers/CMakeLists.txt
  client/catapult/src/catapult/crypto/CMakeLists.txt
  client/catapult/src/catapult/io/CMakeLists.txt
  client/catapult/src/catapult/ionet/CMakeLists.txt
  client/catapult/src/catapult/keylink/CMakeLists.txt
  client/catapult/src/catapult/local/CMakeLists.txt
  client/catapult/src/catapult/local/broker/CMakeLists.txt
  client/catapult/src/catapult/local/importer/CMakeLists.txt
  client/catapult/tests/test/nodeps/CMakeLists.txt
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/catapultDependencyUpdater.py
  jenkins/catapult/requirements.txt
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: client-catapult

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult]: migrate boost asio usage to use non-deprecated apis
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/finalization/src/FinalizationMessageProcessingService.cpp
  client/catapult/src/catapult/extensions/NetworkUtils.cpp
  client/catapult/src/catapult/ionet/AppendContext.cpp
  client/catapult/src/catapult/ionet/AppendContext.h
  client/catapult/src/catapult/ionet/BufferedPacketIo.cpp
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/src/catapult/thread/IoThreadPool.cpp
  client/catapult/src/catapult/thread/Scheduler.cpp
  client/catapult/src/catapult/thread/StrandOwnerLifetimeExtender.h
  client/catapult/src/catapult/thread/TimedCallback.h
  client/catapult/tests/catapult/ionet/AppendContextTests.cpp
  client/catapult/tests/catapult/ionet/PacketSocketTests.cpp
  client/catapult/tests/catapult/ionet/WorkingBufferTests.cpp
  client/catapult/tests/catapult/net/AsyncTcpServerTests.cpp
  client/catapult/tests/catapult/thread/SchedulerTests.cpp
  client/catapult/tests/catapult/thread/StrandOwnerLifetimeExtenderTests.cpp
  client/catapult/tests/test/core/WaitFunctions.cpp
  client/catapult/tests/test/net/ClientSocket.cpp
  client/catapult/tests/test/net/SocketTestUtils.cpp
  client/catapult/tools/addressgen/main.cpp
  client/catapult/tools/health/ApiNodeHealthUtils.cpp
Due: client-catapult

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
