Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

package json tab to space
  client/rest/package.json
Due: client-rest

lockfile v2
  client/rest/package-lock.json
Due: client-rest

conflict package lock json
  client/rest/package-lock.json
  client/rest/package.json
Due: client-rest

changed set header to Content-MetalText
  client/rest/src/routes/routeUtils.js
Due: client-rest

add metal decode
  client/rest/src/plugins/metadata/MetadataDb.js
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/src/plugins/metadata/metal.js
  client/rest/src/routes/routeUtils.js
Due: client-rest

add metal decode test
  client/rest/test/plugins/metadata/MetadataDb_spec.js
  client/rest/test/plugins/metadata/metalUtils.js
  client/rest/test/plugins/metadata/metal_spec.js
  client/rest/test/plugins/metadata/resources/image.png
  client/rest/test/plugins/metadata/resources/metadata.json
  client/rest/test/plugins/metadata/resources/metadata_mosaic.json
Due: client-rest

add some missing require
  client/rest/src/plugins/metadata/MetadataDb.js
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/test/plugins/metadata/MetadataDb_spec.js
Due: client-rest

add package bs58 and node-cache
  client/rest/package-lock.json
  client/rest/package.json
Due: client-rest

add metal decode routes to metadata_spec
  client/rest/test/plugins/metadata/metadata_spec.js
Due: client-rest

add tests
  client/rest/test/plugins/metadata/metadataRoutes_spec.js
  client/rest/test/routes/routeUtils_spec.js
Due: client-rest

add metal js test
  client/rest/test/plugins/metadata/metal_spec.js
Due: client-rest

comment out for test of malformed seal JSON
  client/rest/test/plugins/metadata/metal_spec.js
Due: client-rest

fix test for malformed seal JSON.
  client/rest/src/plugins/metadata/metal.js
  client/rest/test/plugins/metadata/metal_spec.js
Due: client-rest

fix setParams using try
  client/rest/src/plugins/metadata/metadataRoutes.js
Due: client-rest

fixed with jaguar san's comment
  client/rest/src/plugins/metadata/MetadataDb.js
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/src/plugins/metadata/metal.js
  client/rest/src/routes/routeUtils.js
  client/rest/test/plugins/metadata/MetadataDb_spec.js
  client/rest/test/plugins/metadata/metadataRoutes_spec.js
  client/rest/test/plugins/metadata/metalUtils.js
  client/rest/test/plugins/metadata/metal_spec.js
  client/rest/test/routes/routeUtils_spec.js
Due: client-rest

break line between it
  client/rest/test/plugins/metadata/MetadataDb_spec.js
Due: client-rest

fixed tests
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/src/plugins/metadata/metal.js
  client/rest/test/plugins/metadata/metadataRoutes_spec.js
  client/rest/test/plugins/metadata/metal_spec.js
Due: client-rest

add tryParse returns comment
  client/rest/src/plugins/metadata/metal.js
Due: client-rest

fixed throw message
  client/rest/src/plugins/metadata/metal.js
Due: client-rest

fixed tests throw message
  client/rest/src/plugins/metadata/metal.js
  client/rest/test/plugins/metadata/metal_spec.js
Due: client-rest

delete getMetadataEntryByCompositehash
  client/rest/src/plugins/metadata/metal.js
  client/rest/test/plugins/metadata/metal_spec.js
Due: client-rest

add test MetadataDb cannot decodes
  client/rest/test/plugins/metadata/MetadataDb_spec.js
Due: client-rest

Remove unnecessary constructor arguments in tryParse
  client/rest/src/plugins/metadata/metal.js
Due: client-rest

[client/rest]: prevent hangs in failing db tests
  client/rest/test/db/CatapultDb_spec.js
Due: client-rest

fixed jaguar san's new comments
  client/rest/src/plugins/metadata/MetadataDb.js
  client/rest/src/plugins/metadata/metal.js
  client/rest/test/plugins/metadata/MetadataDb_spec.js
  client/rest/test/plugins/metadata/metadataRoutes_spec.js
  client/rest/test/plugins/metadata/metalUtils.js
  client/rest/test/plugins/metadata/metal_spec.js
  client/rest/test/plugins/metadata/resources/metadata.json
  client/rest/test/routes/routeUtils_spec.js
Due: client-rest

fixed redundunt jsdoc
  client/rest/src/plugins/metadata/metal.js
Due: client-rest

check jenkins
  client/rest/src/plugins/metadata/metal.js
Due: client-rest

metal second call in metadata route spec, act to arrange
  client/rest/test/plugins/metadata/metadataRoutes_spec.js
Due: client-rest

first letter changed capital in JsDoc
  client/rest/src/plugins/metadata/metal.js
Due: client-rest

mayby final fixed
  client/rest/test/plugins/metadata/metadataRoutes_spec.js
Due: client-rest

[sdk/javascript]: mm-snap requires default export to be last
  sdk/javascript/package.json
Due: sdk-javascript

[monorepo] fix: address feedback
  .github/workflows/codeql-analysis.yaml
Due: none

[monorepo] fix: updated the CodeQL action problem: CodeQL states that some configuration has not been run solution: update CodeQL workflow to the latest
  .github/workflows/codeql-analysis.yaml
Due: none

[monorepo] fix: linting
  .github/workflows/codeql-analysis.yaml
Due: none

[monorepo] fix: updated the CodeQL action to the latest format
  .github/workflows/codeql-analysis.yaml
Due: none

[sdk] fix: add fedora weekly builds for the sdks
  sdk/javascript/Jenkinsfile
  sdk/python/Jenkinsfile
Due: sdk-javascript, sdk-python

[sdk] fix: add fedora to OS list
  sdk/javascript/Jenkinsfile
  sdk/python/Jenkinsfile
Due: sdk-javascript, sdk-python

[jenkins] feat: add support for build and test on Fedora problem: no support for building and testing on Fedora. solution: add Fedora CI images for testing
  jenkins/docker/fedora/javascript.Dockerfile
  jenkins/docker/fedora/python.Dockerfile
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/infra/jenkins/build-ci-image.groovy
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
Due: none

[jenkins] fix: install openssl problem: OpenSSL is not install by default on Fedora solution: install OpenSSL on Fedora
  jenkins/docker/fedora/javascript.Dockerfile
  jenkins/docker/fedora/python.Dockerfile
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
