Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

Include extensions globally
  client/catapult/cmake/settings_all.cmake
Due: client-catapult

Remove redundant include
  client/catapult/extensions/CMakeLists.txt
Due: client-catapult

External dir DOES exist
  client/catapult/src/catapult/crypto/CMakeLists.txt
Due: client-catapult

Remove function catapult_header_only_target
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/mongo/plugins/lock_shared/src/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/lock_shared/tests/CMakeLists.txt
  client/catapult/plugins/txes/lock_shared/src/CMakeLists.txt
  client/catapult/plugins/txes/lock_shared/tests/CMakeLists.txt
Due: client-catapult

Validate vcpkg baseline
  client/catapult/cmake/toolchain.cmake
Due: client-catapult

[mkdocs] fix: add test tx to alias-mosaic tutorial
  mkdocs/pages/en/devbook/namespaces/link-namespace-to-mosaic.md
  mkdocs/snippets/devbook/namespaces/link_namespace_to_mosaic.log
  mkdocs/snippets/devbook/namespaces/link_namespace_to_mosaic.mjs
  mkdocs/snippets/devbook/namespaces/link_namespace_to_mosaic.py
Due: none

[mkdocs] fix: use the new isAlias method in resolve-namespace
  mkdocs/pages/en/devbook/namespaces/resolve-namespace-from-receipt.md
  mkdocs/snippets/devbook/namespaces/resolve_namespace_from_receipt.mjs
  mkdocs/snippets/devbook/namespaces/resolve_namespace_from_receipt.py
Due: none

[mkdocs] fix: clarify that receips are ordered
  mkdocs/pages/en/devbook/namespaces/resolve-namespace-from-receipt.md
  mkdocs/snippets/devbook/namespaces/resolve_namespace_from_receipt.mjs
  mkdocs/snippets/devbook/namespaces/resolve_namespace_from_receipt.py
Due: none

[mkdocs] fix: do not use abbreviations in query-currency-supply
  mkdocs/snippets/devbook/network-currency/query_currency_supply.log
  mkdocs/snippets/devbook/network-currency/query_currency_supply.mjs
  mkdocs/snippets/devbook/network-currency/query_currency_supply.py
Due: none

Rework CMAkeLists
  client/catapult/cmake/functions.cmake
  client/catapult/extensions/mongo/plugins/CMakeLists.txt
  client/catapult/tests/catapult/crypto/CMakeLists.txt
  client/catapult/tests/int/CMakeLists.txt
  client/catapult/tests/int/node/basic/CMakeLists.txt
  client/catapult/tests/int/node/stress/CMakeLists.txt
  client/catapult/tests/int/node/test/CMakeLists.txt
  client/catapult/tests/int/stress/CMakeLists.txt
Due: client-catapult

[mkdocs] fix: clarify finalization block hash usage
  mkdocs/pages/en/devbook/chain/chain-heights.md
Due: none

[mkdocs] fix: clarify nemesis time format
  mkdocs/pages/en/devbook/chain/network-time.md
Due: none

[mkdocs] fix: output line numbers
  mkdocs/pages/en/devbook/chain/prove-transaction.md
Due: none

[jenkins] fix: update node and OS versions used in CI problem: CI currently using outdated NodeJS version solution: update NodeJS version plus some OS
  jenkins/docker/fedora/javascript.Dockerfile
  jenkins/docker/fedora/python.Dockerfile
  jenkins/docker/ubuntu/javascript.Dockerfile
  jenkins/docker/ubuntu/linter.Dockerfile
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
Due: none

[mkdocs] add: macro to allow dynamic variable names
  mkdocs/templates/macros/tutorial.jinja2
Due: none

[mkdocs] fix: proper hiding of dynamic link input fields
  mkdocs/overrides/assets/stylesheets/extra.css
Due: none

[mkdocs] fix: Japanese build
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-address.md
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-mosaic.md
Due: none

[mkdocs] add: adapt names to selected language
  mkdocs/pages/en/devbook/accounts/account-metadata.md
  mkdocs/pages/en/devbook/accounts/account-restrictions.md
  mkdocs/pages/en/devbook/accounts/configure-multisig.md
  mkdocs/pages/en/devbook/accounts/query-balance.md
  mkdocs/pages/en/devbook/chain/prove-mosaic-definition.md
  mkdocs/pages/en/devbook/mosaics/change-mosaic-supply.md
  mkdocs/pages/en/devbook/mosaics/create-mosaic.md
  mkdocs/pages/en/devbook/mosaics/modify-mosaic-definition.md
  mkdocs/pages/en/devbook/mosaics/mosaic-metadata.md
  mkdocs/pages/en/devbook/mosaics/mosaic-restrictions.md
  mkdocs/pages/en/devbook/mosaics/revoke-mosaic.md
  mkdocs/pages/en/devbook/namespaces/link-namespace-to-address.md
  mkdocs/pages/en/devbook/namespaces/link-namespace-to-mosaic.md
  mkdocs/pages/en/devbook/namespaces/namespace-metadata.md
  mkdocs/pages/en/devbook/namespaces/register-root-namespace.md
  mkdocs/pages/en/devbook/namespaces/register-subnamespace.md
  mkdocs/pages/en/devbook/transactions/bonded-aggregate.md
  mkdocs/pages/en/devbook/transactions/complete-aggregate.md
  mkdocs/pages/en/devbook/transactions/cross-chain-swap.md
  mkdocs/pages/en/devbook/transactions/fee-sponsorship.md
  mkdocs/pages/en/devbook/transactions/messages.md
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
  mkdocs/pages/en/devbook/transactions/sign-multisig.md
  mkdocs/pages/en/devbook/transactions/transaction-batching.md
  mkdocs/pages/en/devbook/transactions/transfer.md
  mkdocs/pages/ja/devbook/accounts/account-metadata.md
  mkdocs/pages/ja/devbook/mosaics/change-mosaic-supply.md
  mkdocs/pages/ja/devbook/mosaics/create-mosaic.md
  mkdocs/pages/ja/devbook/mosaics/modify-mosaic-definition.md
  mkdocs/pages/ja/devbook/mosaics/mosaic-metadata.md
  mkdocs/pages/ja/devbook/mosaics/revoke-mosaic.md
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-address.md
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-mosaic.md
  mkdocs/pages/ja/devbook/namespaces/namespace-metadata.md
  mkdocs/pages/ja/devbook/namespaces/register-root-namespace.md
  mkdocs/pages/ja/devbook/transactions/bonded-aggregate.md
  mkdocs/pages/ja/devbook/transactions/complete-aggregate.md
  mkdocs/pages/ja/devbook/transactions/transfer.md
Due: none

[mkdocs] fix: describe VALID_NEGATIVE proofs
  mkdocs/pages/en/devbook/chain/prove-mosaic-definition.md
Due: none

[mkdocs] fix: clarify state proof race condition
  mkdocs/pages/en/devbook/chain/prove-mosaic-definition.md
Due: none

[mkdocs] fix: add signature to block checks
  mkdocs/pages/en/textbook/harvesting.md
Due: none

[mkdocs] fix: review feedback on ws-bonded-flow
  mkdocs/pages/en/devbook/websockets/listen-bonded-transaction-flow.md
  mkdocs/snippets/devbook/websockets/listen_bonded_transaction_flow.mjs
Due: none

[client/rest]: address feedback
  client/rest/src/server/bootstrapper.js
  client/rest/test/plugins/namespace/namespaceUtils_spec.js
Due: client-rest

[client/rest]: address feedback
  client/rest/src/routes/routeUtils.js
  client/rest/src/server/errors.js
  client/rest/test/routes/utils/routeTestUtils.js
  client/rest/test/server/errors_spec.js
Due: client-rest

[client/rest]: addresss feedback
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/src/index.js
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/src/plugins/mosaic/mosaicRoutes.js
  client/rest/src/plugins/namespace/namespaceRoutes.js
  client/rest/src/plugins/namespace/namespaceUtils.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/src/routes/networkRoutes.js
  client/rest/src/routes/routeUtils.js
  client/rest/src/server/bootstrapper.js
  client/rest/src/server/errors.js
  client/rest/test/plugins/namespace/namespaceUtils_spec.js
  client/rest/test/plugins/rosetta/rosettaUtils_spec.js
  client/rest/test/routes/networkRoutes_spec.js
  client/rest/test/routes/routeUtils_spec.js
  client/rest/test/routes/simpleSend_spec.js
  client/rest/test/routes/utils/MockServer.js
  client/rest/test/routes/utils/routeTestUtils.js
  client/rest/test/server/errors_spec.js
Due: client-rest

[mkdocs] fix: reviewer feedback of the cryptography pages
  mkdocs/pages/en/textbook/consensus.md
  mkdocs/pages/en/textbook/cryptography.md
Due: none

[mkdocs] fix: reviewer feedback on multiple textbook pages
  mkdocs/pages/en/devbook/mosaics/get-mosaic-info.md
  mkdocs/pages/en/textbook/accounts.md
  mkdocs/pages/en/textbook/consensus.md
  mkdocs/pages/en/textbook/mosaics.md
  mkdocs/pages/en/textbook/transactions.md
  mkdocs/pages/en/textbook/transfer_transactions.md
Due: none

[mkdocs] fix: add numerical summary tables to textbook pages
  mkdocs/pages/en/textbook/accounts.md
  mkdocs/pages/en/textbook/metadata.md
  mkdocs/pages/en/textbook/mosaics.md
  mkdocs/pages/en/textbook/restrictions.md
Due: none

[mkdocs] fix: reviewer feedback on the blocks textbook page
  mkdocs/pages/en/textbook/blocks.md
Due: none

Fully replace catapult_define_tool
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/cmake/functions.cmake
  client/catapult/tools/address/CMakeLists.txt
  client/catapult/tools/addressgen/CMakeLists.txt
  client/catapult/tools/benchmark/CMakeLists.txt
  client/catapult/tools/health/CMakeLists.txt
  client/catapult/tools/linker/CMakeLists.txt
  client/catapult/tools/nemgen/CMakeLists.txt
  client/catapult/tools/network/CMakeLists.txt
  client/catapult/tools/ssl/CMakeLists.txt
  client/catapult/tools/statusgen/CMakeLists.txt
  client/catapult/tools/testvectors/CMakeLists.txt
  client/catapult/tools/verify/CMakeLists.txt
  client/catapult/tools/votingkey/CMakeLists.txt
Due: client-catapult

Partial replacement of catapult_executable
  client/catapult/src/catapult/process/broker/CMakeLists.txt
  client/catapult/src/catapult/process/importer/CMakeLists.txt
  client/catapult/src/catapult/process/recovery/CMakeLists.txt
  client/catapult/src/catapult/process/server/CMakeLists.txt
Due: client-catapult

Fully replace catapult_header_only_target
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/mongo/plugins/lock_shared/src/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/lock_shared/tests/CMakeLists.txt
  client/catapult/plugins/txes/lock_shared/src/CMakeLists.txt
  client/catapult/plugins/txes/lock_shared/tests/CMakeLists.txt
  client/catapult/src/catapult/deltaset/CMakeLists.txt
  client/catapult/src/catapult/keylink/CMakeLists.txt
  client/catapult/tests/test/other/CMakeLists.txt
  client/catapult/tests/test/plugins/CMakeLists.txt
  client/catapult/tests/test/tree/CMakeLists.txt
Due: client-catapult

Replace catapult_test_executable_target
  client/catapult/extensions/CMakeLists.txt
  client/catapult/extensions/mongo/plugins/CMakeLists.txt
  client/catapult/extensions/mongo/tests/CMakeLists.txt
  client/catapult/extensions/zeromq/tests/CMakeLists.txt
  client/catapult/plugins/coresystem/tests/CMakeLists.txt
  client/catapult/plugins/services/hashcache/tests/CMakeLists.txt
  client/catapult/plugins/services/signature/tests/CMakeLists.txt
  client/catapult/plugins/txes/CMakeLists.txt
  client/catapult/sdk/tests/CMakeLists.txt
  client/catapult/tests/catapult/api/CMakeLists.txt
  client/catapult/tests/catapult/cache/CMakeLists.txt
  client/catapult/tests/catapult/cache_core/CMakeLists.txt
  client/catapult/tests/catapult/cache_db/CMakeLists.txt
  client/catapult/tests/catapult/cache_tx/CMakeLists.txt
  client/catapult/tests/catapult/chain/CMakeLists.txt
  client/catapult/tests/catapult/config/CMakeLists.txt
  client/catapult/tests/catapult/consumers/CMakeLists.txt
  client/catapult/tests/catapult/crypto/CMakeLists.txt
  client/catapult/tests/catapult/crypto_voting/CMakeLists.txt
  client/catapult/tests/catapult/deltaset/CMakeLists.txt
  client/catapult/tests/catapult/disruptor/CMakeLists.txt
  client/catapult/tests/catapult/extensions/CMakeLists.txt
  client/catapult/tests/catapult/handlers/CMakeLists.txt
  client/catapult/tests/catapult/io/CMakeLists.txt
  client/catapult/tests/catapult/ionet/CMakeLists.txt
  client/catapult/tests/catapult/keylink/CMakeLists.txt
  client/catapult/tests/catapult/local/broker/CMakeLists.txt
  client/catapult/tests/catapult/local/importer/CMakeLists.txt
  client/catapult/tests/catapult/local/recovery/CMakeLists.txt
  client/catapult/tests/catapult/local/server/CMakeLists.txt
  client/catapult/tests/catapult/model/CMakeLists.txt
  client/catapult/tests/catapult/net/CMakeLists.txt
  client/catapult/tests/catapult/observers/CMakeLists.txt
  client/catapult/tests/catapult/plugins/CMakeLists.txt
  client/catapult/tests/catapult/state/CMakeLists.txt
  client/catapult/tests/catapult/subscribers/CMakeLists.txt
  client/catapult/tests/catapult/thread/CMakeLists.txt
  client/catapult/tests/catapult/tree/CMakeLists.txt
  client/catapult/tests/catapult/utils/CMakeLists.txt
  client/catapult/tests/catapult/validators/CMakeLists.txt
Due: client-catapult

Remove unneeded catapult_set_cxx_std_version
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
