Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[sdk/javascript]: fixes for Node 18
  sdk/javascript/src/nem/MessageEncoder.js
Due: sdk-javascript

[sdk/python]: fixes for python 3.11
  sdk/python/symbolchain/RuleBasedTransactionFactory.py
  sdk/python/tests/test_RuleBasedTransactionFactory.py
Due: sdk-python

[sdk/javascript]: fix typo in charMapping.js
  sdk/javascript/src/utils/charMapping.js
Due: sdk-javascript

[client/rest] fix: update rest image to node 18 problem: currently rest is running with an outdate rest version solution: upgrade to rest image to use node 18
  client/rest/Dockerfile
Due: client-rest

[client/rest] fix: update rest image to Nodejs 18
  client/rest/Dockerfile
Due: client-rest

[sdk] task: Enable weekly builds for JavaScript and Python sdks
  .github/buildConfiguration.yaml
  .github/jenkinsfile/weeklyBuild.groovy
  sdk/javascript/Jenkinsfile
  sdk/javascript/scripts/ci/lint_python.sh
  sdk/python/Jenkinsfile
  sdk/python/scripts/ci/lint.sh
Due: sdk-javascript, sdk-python

[jenkins] feat: init code for private repo
  jenkins/shared-library/vars/configureArtifactRepository.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
Due: none

[jenkins] fix: address feedback
  jenkins/shared-library/vars/configureArtifactRepository.groovy
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins]: fix npm authenication with Nexus repo 1. update the scoped packages from private repo 2. authenication required for only private repo 3. default to npmjs if not found
  jenkins/shared-library/vars/configureArtifactRepository.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: skip url setting url if not found
  jenkins/shared-library/vars/configureArtifactRepository.groovy
Due: none

[jenkins] feat: added publishing to private repo 1. Added publishing to private repo for npm, pypi and docker 2. configure installs of deps to happen from internal packages first
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
  jenkins/shared-library/vars/configureArtifactRepository.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/dockerHelper.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/publish.groovy
  jenkins/shared-library/vars/runScript.groovy
Due: none

[jenkins] feat: add private artifact repository support
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
  jenkins/shared-library/vars/configureArtifactRepository.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/dockerHelper.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/publish.groovy
  jenkins/shared-library/vars/runScript.groovy
Due: none

[jenkins] fix: only run unit test during CI
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[jenkins] fix: add custom workspace for CI builds
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
Due: none

[jenkins]: address feedback
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins]: fix linting
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] feat: add generic AWS publisher to Jenkins
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins]: fix linting
  .github/workflows/combine-dependabot-pr.yaml
Due: none

[monorepo]: fix GitHub Action failing when there is no dependabot PRs
  .github/workflows/combine-dependabot-pr.yaml
Due: none

[jenkins] fix: combine dependapot prs
  .github/workflows/auto-merge.yaml
  .github/workflows/combine-dependabot-pr.yaml
Due: none

[jenkins] fix: Code coverage fails the CI job when expected
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[monorepo]: enable dependabot group update for each project problem: grouping dependabot PRs can lead to conflicts solution: enable grouping in dependabot which will group at the project level
  .github/dependabot.yaml
Due: none

[monorepo] fix: enable Dependabot group update for each project
  .github/dependabot.yaml
Due: none

[jenkins] fix: switch to using ARM for CI builds
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
Due: none

[jenkins] fix: remove dependabot from requiring verify commit message problem: dependabot is failing verify commit message solution: Dependabot PRs will be group before check-in
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins]: fix linting
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: disable body max line length rule for dependencies commits
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: update pylint to 2.x in test images
  jenkins/catapult/templates/FedoraTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
Due: none

[jenkins] fix: downgrade pylint to 2.x
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/templates/FedoraTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
Due: none

[monorepo] fix: allow projects to send message to different discord channel
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/infra/jenkins/build-ci-image.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[jenkins] fix: miss adding the helper file
  jenkins/shared-library/vars/helper.groovy
Due: none

[jenkins] fix: add discord web hook url id to the Jenkinsfile
  catbuffer/parser/Jenkinsfile
  client/catapult/Jenkinsfile
  client/rest/Jenkinsfile
  jenkins/Jenkinsfile
  linters/Jenkinsfile
  sdk/javascript/Jenkinsfile
  sdk/python/Jenkinsfile
Due: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[jenkins] fix: address feedback
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/infra/jenkins/build-ci-image.groovy
Due: none

[catbuffer/parser] fix: set the discord web url to catbuffer
  catbuffer/parser/Jenkinsfile
Due: catbuffer-parser

[sdk/python] fix: address feedback
  sdk/python/examples/docs/__main__.py
  sdk/python/examples/docs/__main__.py.tmpl
Due: sdk-python

[sdk/python]: fix linting failure
  sdk/python/examples/docs/__main__.py
  sdk/python/examples/docs/__main__.py.tmpl
Due: sdk-python

[sdk/python] fix: remove the requirement of faucet for tests
  jenkins/shared-library/vars/runTests.groovy
  sdk/python/examples/docs/__main__.py
  sdk/python/examples/docs/__main__.py.tmpl
Due: sdk-python

[jenkins] fix: remove extra close bracket
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
Due: none

[jenkins] fix: remove more extra close bracket
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/infra/jenkins/build-ci-image.groovy
Due: none

[jenkins] fix: CI and Catapult images can be stale
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/infra/jenkins/build-ci-image.groovy
Due: none
