Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[client/catpult] fix: update docs url problem: docs url is outdated solution: update docs url to current
  client/catapult/README.md
  client/catapult/docs/README.md
  client/catapult/docs/RUNNETWORKLIN.md
  client/catapult/docs/RUNPEERLIN.md
Due: client-catapult

[sdk/python] fix: address feedback
  sdk/python/pyproject.toml
Due: sdk-python

[catbuffer/parser] fix: bump minimum python version problem: Python version 7-9 reach eol solution: bump minimum Python version to 3.10
  catbuffer/parser/pyproject.toml
Due: catbuffer-parser

[sdk/python] fix: bump minimum python version for sdk problem: Python 9 eol in oct solution: bump minimum Python version to 3.10
  sdk/python/pyproject.toml
Due: sdk-python

[client/catapult] fix: README links
  client/catapult/README.md
Due: client-catapult

[mkdocs] feat: new devbook welcome page
  mkdocs/overrides/assets/stylesheets/extra.css
  mkdocs/pages/en/devbook/intro.md
Due: none

[client/catapult] Reviewer feedback
  client/catapult/README.md
Due: client-catapult

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins]: revert boost and gtest
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult]: fix linting
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

[mkdocs] feat: add monitoring status page
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/transactions/getting-transaction-hash.mjs
  mkdocs/overrides/devbook/transactions/getting-transaction-hash.py
  mkdocs/overrides/devbook/transactions/monitoring-status.log
  mkdocs/overrides/devbook/transactions/monitoring-status.mjs
  mkdocs/overrides/devbook/transactions/monitoring-status.py
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
Due: none

[mkdocs] feat: add send messages page
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/transactions/messages.log
  mkdocs/overrides/devbook/transactions/messages.mjs
  mkdocs/overrides/devbook/transactions/messages.py
  mkdocs/pages/en/devbook/transactions/messages.md
  mkdocs/pages/en/devbook/transactions/transfer.md
Due: none

[mkdocs] fix: refactor js code
  mkdocs/overrides/devbook/transactions/monitoring-status.mjs
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
Due: none

[mkdocs] feat: add Catapult textbook page
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/assets/stylesheets/extra.css
  mkdocs/pages/en/textbook/catapult.md
  mkdocs/pages/en/textbook/nodes.md
Due: none

[mkdocs] fix: add links between tutorials
  mkdocs/pages/en/devbook/transactions/messages.md
  mkdocs/pages/en/devbook/transactions/transfer.md
Due: none

[mkdocs] fix: add prerequisite
  mkdocs/pages/en/devbook/transactions/messages.md
Due: none

[mkdocs] fix: lint files
  mkdocs/overrides/devbook/transactions/messages.log
  mkdocs/overrides/devbook/transactions/messages.mjs
  mkdocs/overrides/devbook/transactions/messages.py
  mkdocs/pages/en/devbook/transactions/messages.md
Due: none

[mkdocs] fix: lint files
  mkdocs/overrides/devbook/transactions/getting-transaction-hash.mjs
  mkdocs/overrides/devbook/transactions/getting-transaction-hash.py
  mkdocs/overrides/devbook/transactions/monitoring-status.mjs
  mkdocs/overrides/devbook/transactions/monitoring-status.py
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
Due: none

[mkdocs] fix: lint files
  mkdocs/overrides/devbook/transactions/messages.mjs
  mkdocs/overrides/devbook/transactions/messages.py
Due: none

[mkdocs] fix: lint files
  mkdocs/overrides/devbook/transactions/getting-transaction-hash.mjs
  mkdocs/overrides/devbook/transactions/getting-transaction-hash.py
  mkdocs/overrides/devbook/transactions/monitoring-status.mjs
  mkdocs/overrides/devbook/transactions/monitoring-status.py
Due: none

[mkdocs] fix: lint files
  mkdocs/overrides/devbook/transactions/messages.mjs
Due: none

[mkdocs] fix: update links
  mkdocs/pages/en/devbook/transactions/messages.md
Due: none

[mkdocs] fix: apply direct suggestions from code review
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
Due: none

[mkdocs] fix: address feedback
  mkdocs/overrides/devbook/transactions/getting-transaction-hash.mjs
  mkdocs/overrides/devbook/transactions/getting-transaction-hash.py
  mkdocs/overrides/devbook/transactions/monitoring-status.log
  mkdocs/overrides/devbook/transactions/monitoring-status.mjs
  mkdocs/overrides/devbook/transactions/monitoring-status.py
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
  mkdocs/pages/en/devbook/transactions/transfer.md
Due: none

[mkdocs] fix: address conventions
  mkdocs/overrides/devbook/transactions/messages.log
  mkdocs/overrides/devbook/transactions/messages.mjs
  mkdocs/overrides/devbook/transactions/messages.py
  mkdocs/pages/en/devbook/transactions/messages.md
Due: none

[mkdocs] fix: address conventions
  mkdocs/pages/en/devbook/transactions/messages.md
Due: none

[mkdocs] fix: address conventions
  mkdocs/overrides/devbook/transactions/messages.mjs
  mkdocs/overrides/devbook/transactions/messages.py
  mkdocs/pages/en/devbook/transactions/messages.md
Due: none

[mkdocs] fix: address conventions
  mkdocs/overrides/devbook/transactions/messages.mjs
  mkdocs/overrides/devbook/transactions/messages.py
Due: none

[mkdocs] fix: indentation
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
Due: none

[mkdocs] fix: long line
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
Due: none

[mkdocs] fix: Name default JS classes properly
  mkdocs/scripts/hooks.py
Due: none

[mkdocs] fix: address comments
  mkdocs/overrides/devbook/transactions/messages.log
  mkdocs/overrides/devbook/transactions/messages.mjs
  mkdocs/overrides/devbook/transactions/messages.py
  mkdocs/pages/en/devbook/transactions/messages.md
  mkdocs/pages/en/devbook/transactions/transfer.md
Due: none

[mkdocs] fix: provide a testnet node in the OpenAPI spec
  openapi/openapi-symbol.yml
Due: none

[mkdocs] fix: address comments
  mkdocs/overrides/devbook/transactions/monitoring-status.py
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
Due: none

[mkdocs] fix: replace some bogus documentation links
  openapi/openapi-symbol.yml
Due: none

[mkdocs] fix: update swagger dep
  mkdocs/requirements.txt
Due: none

[docs] Update
  docs/en/assets/javascripts/swagger-ui-bundle.js
  docs/en/assets/stylesheets/swagger-ui.css
  docs/en/assets/stylesheets/swagger-ui.css.map
  docs/ja/assets/javascripts/swagger-ui-bundle.js
  docs/ja/assets/stylesheets/swagger-ui.css
  docs/ja/assets/stylesheets/swagger-ui.css.map
Due: none

[mkdocs] feat: add helper script to deploy docs to gh-pages
  mkdocs/scripts/deploy-gh-pages.sh
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
