Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[jenkins] fix: package.json that has no name
  jenkins/shared-library/vars/configureArtifactRepository.groovy
Due: none

[jenkins]: limit the calls to the GitHub API problem: GitHub api has a limit on the number of calls per hour solution: make one call to get GitHub repo visibility
  jenkins/shared-library/vars/configureArtifactRepository.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] fix: add support to publish artifacts to Nexus public and private repo base on GitHub repo visibility
  jenkins/shared-library/vars/configureArtifactRepository.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/githubHelper.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] feat: add node backup
  .github/buildConfiguration.yaml
  .github/jenkinsfile/mainnetBackupDual.groovy
  .github/jenkinsfile/mainnetBackupPeer.groovy
  jenkins/shared-library/vars/backupCatapultNodePipeline.groovy
  jenkins/shared-library/vars/helper.groovy
Due: none

[jenkins] fix: address feedback
  .github/jenkinsfile/mainnetBackupDual.groovy
  jenkins/shared-library/vars/backupCatapultNodePipeline.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
Due: none

[jenkins]: address feedback
  jenkins/shared-library/vars/backupCatapultNodePipeline.groovy
Due: none

[jenkins] fix: add missing script
  jenkins/shared-library/vars/backupCatapultNodePipeline.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: miss during rebase
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] feat: add Jenkins job to backup mainnet node
  .github/buildConfiguration.yaml
  .github/jenkinsfile/mainnetBackupDual.groovy
  .github/jenkinsfile/mainnetBackupPeer.groovy
  jenkins/shared-library/vars/backupCatapultNodePipeline.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
Due: none

[sdk/javascript]: add cosignatureCount optional parameter to SymbolFacade createTransactionFromTypedDescriptor
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
Due: sdk-javascript

Short version of args is one dash only
  client/catapult/sdk/src/CMakeLists.txt
Due: client-catapult

Find of python bin is mandatory
  client/catapult/sdk/src/CMakeLists.txt
Due: client-catapult

Publish SDK always
  client/catapult/sdk/src/CMakeLists.txt
Due: client-catapult

Adjust doc for min CMAKE requirements
  client/catapult/docs/README.md
Due: client-catapult

Build instructions for VS and vcpkg
  client/catapult/docs/BUILD-vs.md
Due: client-catapult

Update readme with new build instructions
  client/catapult/docs/README.md
Due: client-catapult

Line up messages
  client/catapult/CMakeLists.txt
Due: client-catapult

Update CMakeSettings.json
  client/catapult/CMakeSettings.json
Due: client-catapult

Silence unreachable code triggered by MSVC
  client/catapult/src/catapult/cache/CacheChangesSerializer.h
  client/catapult/src/catapult/cache/ChunkedDataLoader.h
Due: client-catapult

Add useful links to build win docs
  client/catapult/docs/BUILD-vs.md
Due: client-catapult

[jenkins] fix: catapult project fails on initial job create
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
Due: none

[sdk/python]: add create_account to facades
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
Due: sdk-python

[sdk/javascript]: add createAccount to facades
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
Due: sdk-javascript

[jenkins] fix: rename GITHUB_APP -> GITHUB_USER
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[jenkins] fix: create a GitHub token for package install
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/gitPullRequestPipeline.groovy
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[jenkins] fix: add coverage to JavaScript image
  jenkins/docker/fedora/javascript.Dockerfile
  jenkins/docker/ubuntu/javascript.Dockerfile
  jenkins/docker/windows/javascript.Dockerfile
Due: none

Update formatting with tabs
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

New line on CMakeSettings.json
  client/catapult/CMakeSettings.json
Due: client-catapult

Remove prompt from shell samples
  client/catapult/docs/BUILD-conan.md
  client/catapult/docs/BUILD-vs.md
Due: client-catapult

Update doc files following PR review
  client/catapult/docs/BUILD-conan.md
  client/catapult/docs/BUILD-vs.md
  client/catapult/docs/README.md
Due: client-catapult

Warning levels amendment
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

Ignore CMakeUserPresets.json
  client/catapult/.gitignore
Due: client-catapult

Now can use Ninja generator
  client/catapult/CMakeSettings.json
Due: client-catapult

[monorepo]: add .python-version to gitignore
  .gitignore
Due: none

MSVC unreachable code in Debug mode only
  client/catapult/src/catapult/cache/CacheChangesSerializer.h
  client/catapult/src/catapult/cache/ChunkedDataLoader.h
Due: client-catapult

[sdk/javascript]: add public account and behaviors to account classes
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
Due: sdk-javascript

[sdk/python]: add public account and behaviors to account classes
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
Due: sdk-python

Ensure git is installed and min required version
  client/catapult/CMakeLists.txt
Due: client-catapult

Ensure repository has .git directory
  client/catapult/CMakeLists.txt
Due: client-catapult

Min git version 2.15 -> 2.25
  client/catapult/CMakeLists.txt
Due: client-catapult
