Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

Update SpinReaderWriterLock and Tests
  client/catapult/src/catapult/utils/SpinReaderWriterLock.h
  client/catapult/tests/catapult/utils/SpinReaderWriterLockTests.cpp
Due: client-catapult

Update SpinReaderWriterLock
  client/catapult/src/catapult/utils/SpinReaderWriterLock.h
  client/catapult/tests/catapult/utils/SpinReaderWriterLockTests.cpp
Due: client-catapult

Update SpinReaderWriterLockTests
  client/catapult/src/catapult/utils/SpinReaderWriterLock.h
  client/catapult/tests/catapult/utils/SpinReaderWriterLockTests.cpp
Due: client-catapult

Fuck linters
  client/catapult/src/catapult/utils/SpinReaderWriterLock.h
  client/catapult/tests/catapult/utils/SpinReaderWriterLockTests.cpp
Due: client-catapult

Update SpinReaderWriterLock
  client/catapult/src/catapult/utils/SpinReaderWriterLock.h
Due: client-catapult

[mkdocs] add: Network Time tutorial and textbook entry
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/chain/network-time.log
  mkdocs/overrides/devbook/chain/network-time.mjs
  mkdocs/overrides/devbook/chain/network-time.py
  mkdocs/pages/en/devbook/chain/network-time.md
  mkdocs/pages/en/devbook/transactions/transfer.md
  mkdocs/pages/en/textbook/blocks.md
Due: none

Linting Linting Linting
  client/catapult/src/catapult/utils/SpinReaderWriterLock.h
Due: client-catapult

[mkdocs] fix: devbook translation
  mkdocs/pages/ja/devbook/accounts/create-from-private-key.md
  mkdocs/pages/ja/devbook/accounts/testnet-faucet.md
  mkdocs/pages/ja/devbook/images/faucet-address.png
  mkdocs/pages/ja/devbook/images/faucet-authorize.png
  mkdocs/pages/ja/devbook/images/faucet-claim.png
  mkdocs/pages/ja/devbook/images/faucet-open.png
  mkdocs/pages/ja/devbook/images/faucet-sign-in.png
  mkdocs/pages/ja/devbook/images/faucet-view-explorer.png
  mkdocs/pages/ja/devbook/images/faucet-xym.png
  mkdocs/pages/ja/devbook/intro.md
  mkdocs/pages/ja/devbook/start/hello-world.md
  mkdocs/pages/ja/devbook/start/setup.md
  mkdocs/pages/ja/devbook/transactions/transfer.md
Due: none

[mkdocs] fix: get private key from environment in Transfer tutorial
  mkdocs/overrides/devbook/transactions/transfer.mjs
  mkdocs/overrides/devbook/transactions/transfer.py
  mkdocs/pages/en/devbook/transactions/transfer.md
Due: none

[client/catapult]: fix linting and update tests
  client/catapult/src/catapult/utils/SpinReaderWriterLock.h
  client/catapult/tests/catapult/utils/SpinReaderWriterLockTests.cpp
Due: client-catapult

[mkdocs] fix: devbook translation
  mkdocs/pages/ja/devbook/accounts/account-metadata.md
  mkdocs/pages/ja/devbook/accounts/account-restrictions.md
  mkdocs/pages/ja/devbook/accounts/configure-multisig.md
  mkdocs/pages/ja/devbook/accounts/create-from-mnemonic.md
  mkdocs/pages/ja/devbook/accounts/create-from-private-key.md
  mkdocs/pages/ja/devbook/accounts/query-balance.md
  mkdocs/pages/ja/devbook/accounts/sign-multisig.md
  mkdocs/pages/ja/devbook/accounts/testnet-faucet.md
  mkdocs/pages/ja/devbook/start/hello-world.md
  mkdocs/pages/ja/devbook/transactions/transfer.md
  mkdocs/pages/ja/textbook/glossary.md
Due: none

[skd/javascript] fix: update deps
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: sdk-javascript

[skd/typescript]: disable strict mode in typestrict 6
  sdk/javascript/tsconfig/build-bindings.json
  sdk/javascript/tsconfig/check-examples.json
Due: sdk-javascript

[jenkins] fix: switch the default nightly builds to public
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
Due: none

[mkdocs] fix textbook lacks contents
  mkdocs/pages/ja/textbook/blocks.md
Due: none

[mkdocs] fix devbook translate
  mkdocs/pages/ja/devbook/chain/chain-heights.md
  mkdocs/pages/ja/devbook/chain/network-time.md
  mkdocs/pages/ja/devbook/chain/prove-mosaic-definition.md
  mkdocs/pages/ja/devbook/chain/prove-transaction.md
  mkdocs/pages/ja/devbook/mosaics/change-mosaic-supply.md
  mkdocs/pages/ja/devbook/mosaics/create-mosaic.md
  mkdocs/pages/ja/devbook/mosaics/get-mosaic-info.md
  mkdocs/pages/ja/devbook/mosaics/modify-mosaic-definition.md
  mkdocs/pages/ja/devbook/mosaics/mosaic-metadata.md
  mkdocs/pages/ja/devbook/mosaics/mosaic-restrictions.md
  mkdocs/pages/ja/devbook/mosaics/revoke-mosaic.md
  mkdocs/pages/ja/devbook/transactions/complete-aggregate.md
  mkdocs/pages/ja/devbook/transactions/monitoring-status.md
  mkdocs/pages/ja/textbook/transactions.md
Due: none

[mkdocs] docs: add atomic swaps tutorial
  mkdocs/config/mkdocs.en.yml
  mkdocs/pages/en/devbook/transactions/atomic-swap.md
Due: none

[mkdocs] fix devbook translate
  mkdocs/pages/ja/devbook/mosaics/create-mosaic.md
  mkdocs/pages/ja/devbook/mosaics/mosaic-restrictions.md
  mkdocs/pages/ja/devbook/namespaces/extend-root-namespace.md
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-address.md
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-mosaic.md
  mkdocs/pages/ja/devbook/namespaces/namespace-metadata.md
  mkdocs/pages/ja/devbook/namespaces/register-root-namespace.md
  mkdocs/pages/ja/devbook/namespaces/register-subnamespace.md
  mkdocs/pages/ja/devbook/namespaces/resolve-namespace-from-receipt.md
  mkdocs/pages/ja/devbook/network-currency/query-block-rewards.md
  mkdocs/pages/ja/devbook/network-currency/query-currency-supply.md
  mkdocs/pages/ja/devbook/transactions/complete-aggregate.md
Due: none

[mkdocs] fix devbook translate
  mkdocs/pages/ja/devbook/accounts/account-metadata.md
  mkdocs/pages/ja/devbook/transactions/bonded-aggregate.md
  mkdocs/pages/ja/devbook/transactions/complete-aggregate.md
  mkdocs/pages/ja/devbook/transactions/fee-sponsorship.md
  mkdocs/pages/ja/devbook/transactions/messages.md
  mkdocs/pages/ja/devbook/transactions/monitoring-status.md
  mkdocs/pages/ja/devbook/transactions/transaction-batching.md
  mkdocs/pages/ja/devbook/transactions/typed-descriptors.md
  mkdocs/pages/ja/devbook/websockets/listen-bonded-transaction-flow.md
  mkdocs/pages/ja/devbook/websockets/listen-new-blocks.md
  mkdocs/pages/ja/devbook/websockets/listen-transaction-error.md
  mkdocs/pages/ja/devbook/websockets/listen-transaction-flow.md
  mkdocs/pages/ja/textbook/transactions.md
Due: none

[mkdocs] fix: typo in README
  mkdocs/README.md
Due: none

[mkdocs] fix: missing anchor link
  mkdocs/pages/ja/devbook/accounts/account-metadata.md
  mkdocs/pages/ja/devbook/accounts/account-restrictions.md
  mkdocs/pages/ja/devbook/accounts/configure-multisig.md
  mkdocs/pages/ja/devbook/accounts/create-from-mnemonic.md
  mkdocs/pages/ja/devbook/accounts/create-from-private-key.md
  mkdocs/pages/ja/devbook/accounts/query-balance.md
  mkdocs/pages/ja/devbook/accounts/sign-multisig.md
  mkdocs/pages/ja/devbook/chain/chain-heights.md
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-mosaic.md
  mkdocs/pages/ja/devbook/namespaces/namespace-metadata.md
  mkdocs/pages/ja/devbook/transactions/fee-sponsorship.md
  mkdocs/pages/ja/devbook/transactions/transfer.md
  mkdocs/pages/ja/devbook/transactions/typed-descriptors.md
Due: none

[mkdocs] fix translate terminology
  mkdocs/pages/ja/devbook/accounts/query-balance.md
  mkdocs/pages/ja/devbook/mosaics/change-mosaic-supply.md
  mkdocs/pages/ja/devbook/mosaics/create-mosaic.md
  mkdocs/pages/ja/devbook/mosaics/get-mosaic-info.md
  mkdocs/pages/ja/devbook/mosaics/modify-mosaic-definition.md
  mkdocs/pages/ja/devbook/mosaics/mosaic-restrictions.md
  mkdocs/pages/ja/devbook/mosaics/revoke-mosaic.md
  mkdocs/pages/ja/devbook/network-currency/query-block-rewards.md
  mkdocs/pages/ja/devbook/transactions/transaction-batching.md
  mkdocs/pages/ja/devbook/transactions/transfer.md
  mkdocs/pages/ja/textbook/mosaics.md
  mkdocs/pages/ja/textbook/namespaces.md
  mkdocs/pages/ja/textbook/transactions.md
Due: none

[mkdocs] fix: missing links
  mkdocs/config/mkdocs.ja.yml
  mkdocs/pages/ja/devbook/accounts/query-balance.md
  mkdocs/pages/ja/devbook/mosaics/get-mosaic-info.md
  mkdocs/pages/ja/devbook/mosaics/revoke-mosaic.md
  mkdocs/pages/ja/devbook/namespaces/resolve-namespace-from-receipt.md
  mkdocs/pages/ja/devbook/network-currency/query-block-rewards.md
  mkdocs/pages/ja/devbook/transactions/transaction-batching.md
  mkdocs/pages/ja/devbook/transactions/transfer.md
  mkdocs/pages/ja/textbook/accounts.md
  mkdocs/pages/ja/textbook/blocks.md
  mkdocs/pages/ja/textbook/mosaics.md
  mkdocs/pages/ja/textbook/nodes.md
  mkdocs/pages/ja/textbook/restrictions.md
  mkdocs/pages/ja/textbook/transactions.md
Due: none

[mkdocs] fix: missing page
  mkdocs/pages/ja/devbook/namespaces/get-namespace-info.md
  mkdocs/pages/ja/textbook/namespaces.md
Due: none

[mkdocs] fix: progress plots generator
  mkdocs/scripts/ptl.py
Due: none

[mkdocs] fix: missing links
  mkdocs/config/mkdocs.ja.yml
  mkdocs/pages/ja/devbook/mosaics/modify-mosaic-definition.md
  mkdocs/pages/ja/devbook/namespaces/get-namespace-info.md
  mkdocs/pages/ja/images/faucet-address.png
  mkdocs/pages/ja/images/faucet-authorize.png
  mkdocs/pages/ja/images/faucet-claim.png
  mkdocs/pages/ja/images/faucet-open.png
  mkdocs/pages/ja/images/faucet-sign-in.png
  mkdocs/pages/ja/images/faucet-view-explorer.png
  mkdocs/pages/ja/images/faucet-xym.png
  mkdocs/pages/ja/userbook/wallet/create-account.md
  mkdocs/pages/ja/userbook/wallet/create-profile.md
  mkdocs/pages/ja/userbook/wallet/delete-account.md
  mkdocs/pages/ja/userbook/wallet/delete-profile.md
  mkdocs/pages/ja/userbook/wallet/export-profile.md
  mkdocs/pages/ja/userbook/wallet/import-account.md
  mkdocs/pages/ja/userbook/wallet/import-profile.md
Due: none

[docs] Update
  docs/en/devbook/transactions/transfer.mjs
  docs/en/devbook/transactions/transfer/index.html
  docs/en/search/search_index.json
  docs/en/sitemap.xml
  docs/en/sitemap.xml.gz
  docs/ja/devbook/transactions/transfer.mjs
  docs/ja/sitemap.xml
  docs/ja/sitemap.xml.gz
Due: none

[mkdocs] add: userbook translate
  mkdocs/pages/ja/userbook/wallet/create-account.md
  mkdocs/pages/ja/userbook/wallet/create-profile.md
  mkdocs/pages/ja/userbook/wallet/delete-account.md
  mkdocs/pages/ja/userbook/wallet/delete-profile.md
  mkdocs/pages/ja/userbook/wallet/export-profile.md
  mkdocs/pages/ja/userbook/wallet/import-account.md
  mkdocs/pages/ja/userbook/wallet/import-profile.md
  mkdocs/pages/ja/userbook/wallet/install.md
Due: none

[mkdocs] docs: use Address.fromNamespaceId SDK method in link-namespace-to-address tutorial
  mkdocs/overrides/devbook/namespaces/link-namespace-to-address.mjs
  mkdocs/overrides/devbook/namespaces/link-namespace-to-address.py
  mkdocs/pages/en/devbook/namespaces/link-namespace-to-address.md
  mkdocs/pages/en/devbook/namespaces/link-namespace-to-mosaic.md
Due: none

[sdk/javascript]: update sha2 to match sha3 version
  sdk/javascript/wasm/Cargo.toml
Due: sdk-javascript

[client/catapult] Expand limits on SpinReaderWriterLock (#1918)
  client/catapult/src/catapult/utils/SpinReaderWriterLock.h
  client/catapult/tests/catapult/utils/SpinReaderWriterLockTests.cpp
Due: client-catapult

[mkdocs] docs: use Address.fromNamespaceId SDK method in link-namespace-to-address tutorial (#1940)
  mkdocs/overrides/devbook/namespaces/link-namespace-to-address.mjs
  mkdocs/overrides/devbook/namespaces/link-namespace-to-address.py
  mkdocs/pages/en/devbook/namespaces/link-namespace-to-address.md
  mkdocs/pages/en/devbook/namespaces/link-namespace-to-mosaic.md
Due: none

[mkdocs] fix: userbook translate
  mkdocs/pages/ja/userbook/wallet/create-account.md
  mkdocs/pages/ja/userbook/wallet/create-profile.md
  mkdocs/pages/ja/userbook/wallet/delete-account.md
  mkdocs/pages/ja/userbook/wallet/delete-profile.md
  mkdocs/pages/ja/userbook/wallet/export-profile.md
  mkdocs/pages/ja/userbook/wallet/import-account.md
  mkdocs/pages/ja/userbook/wallet/import-profile.md
  mkdocs/pages/ja/userbook/wallet/install.md
Due: none

feat: clarify filter semantics in spec (#318)
  openapi/spec/parameters/path/hashPath.yml
  openapi/spec/parameters/path/heightPath.yml
  openapi/spec/parameters/query/addressQuery.yml
  openapi/spec/parameters/query/aliasTypeQuery.yml
  openapi/spec/parameters/query/artifactIdQuery.yml
  openapi/spec/parameters/query/beneficiaryAddressQuery.yml
  openapi/spec/parameters/query/entryTypeQuery.yml
  openapi/spec/parameters/query/heightQuery.yml
  openapi/spec/parameters/query/level0Query.yml
  openapi/spec/parameters/query/metadataTypeQuery.yml
  openapi/spec/parameters/query/mosaicIdQuery.yml
  openapi/spec/parameters/query/ownerAddressQuery.yml
  openapi/spec/parameters/query/receiptTypesQuery.yml
  openapi/spec/parameters/query/recipientAddressQuery.yml
  openapi/spec/parameters/query/registrationTypeQuery.yml
  openapi/spec/parameters/query/scopedMetadataKeyQuery.yml
  openapi/spec/parameters/query/secretQuery.yml
  openapi/spec/parameters/query/senderAddressQuery.yml
  openapi/spec/parameters/query/signerPublicKeyQuery.yml
  openapi/spec/parameters/query/sourceAddressQuery.yml
  openapi/spec/parameters/query/targetAddressQuery.yml
  openapi/spec/parameters/query/targetIdQuery.yml
  openapi/spec/parameters/query/transactionTypesQuery.yml
  openapi/spec/parameters/query/transferMosaicIdQuery.yml
Due: none

[mkdocs] fix: Userbook translate
  mkdocs/pages/ja/userbook/wallet/import-account.md
Due: none
