Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[client/rest] fix: bump sinon to latest to fix failure
  client/rest/package-lock.json
  client/rest/package.json
Due: client-rest

[mkdocs] fix: serialization links to entities
  mkdocs/pages/en/devbook/reference/serialization/index.md
Due: none

feat: Add YAML linting and align OpenAPI spec formatting (#309)
  openapi/.gitignore
  openapi/.yamllint
  openapi/README.md
  openapi/package.json
  openapi/spec/core/account/routes/getAccountInfoMerkle.yml
  openapi/spec/core/account/routes/getAccountsInfo.yml
  openapi/spec/core/account/schemas/ActivityBucketDTO.yml
  openapi/spec/core/block/routes/getBlockByHeight.yml
  openapi/spec/core/block/routes/getMerkleReceipts.yml
  openapi/spec/core/block/routes/getMerkleTransaction.yml
  openapi/spec/core/block/routes/searchBlocks.yml
  openapi/spec/core/chain/schemas/ChainInfoDTO.yml
  openapi/spec/core/finalization/routes/getFinalizationProofAtEpoch.yml
  openapi/spec/core/finalization/routes/getFinalizationProofAtHeight.yml
  openapi/spec/core/finalization/schemas/MessageGroup.yml
  openapi/spec/core/network/routes/getNetworkCurrencyCirculatingSupply.yml
  openapi/spec/core/network/routes/getNetworkCurrencyMaxSupply.yml
  openapi/spec/core/network/routes/getNetworkCurrencyTotalSupply.yml
  openapi/spec/core/network/routes/getNetworkInflation.yml
  openapi/spec/core/network/routes/getNetworkProperties.yml
  openapi/spec/core/network/schemas/ForkHeightsDTO.yml
  openapi/spec/core/network/schemas/NetworkConfigurationDTO.yml
  openapi/spec/core/transaction/routes/announceTransaction.yml
  openapi/spec/core/transaction/routes/searchConfirmedTransactions.yml
  openapi/spec/core/transaction/schemas/EmbeddedTransactionBodyDTO.yml
  openapi/spec/core/transaction/schemas/TransactionGroupEnum.yml
  openapi/spec/core/transaction/schemas/TransactionStatusEnum.yml
  openapi/spec/plugins/account_link/schemas/AccountKeyLinkTransactionDTO.yml
  openapi/spec/plugins/account_link/schemas/NodeKeyLinkTransactionDTO.yml
  openapi/spec/plugins/aggregate/schemas/AggregateNetworkPropertiesDTO.yml
  openapi/spec/plugins/coresystem/schemas/VotingKeyLinkTransactionDTO.yml
  openapi/spec/plugins/lock_secret/schemas/SecretLockTransactionDTO.yml
  openapi/spec/plugins/lock_secret/schemas/SecretProofTransactionBodyDTO.yml
  openapi/spec/plugins/mosaic/schemas/MosaicFlagsEnum.yml
  openapi/spec/plugins/mosaic/schemas/MosaicNetworkPropertiesDTO.yml
  openapi/spec/schemas/MerkleTreeBranchLinkDTO.yml
  openapi/spec/schemas/Order.yml
  openapi/spec/schemas/UnresolvedAddress.yml
  openapi/spec/tags.yml
Due: none

Update mkdocs/pages/en/devbook/network-currency/query-currency-supply.md
  mkdocs/pages/en/devbook/network-currency/query-currency-supply.md
Due: none

[mkdocs] update to latest OpenAPI spec
  openapi/openapi-symbol.yml
Due: none

[mkdocs] docs: add query currency supply tutorial (#1907)
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/network-currency/query-currency-supply.log
  mkdocs/overrides/devbook/network-currency/query-currency-supply.mjs
  mkdocs/overrides/devbook/network-currency/query-currency-supply.py
  mkdocs/pages/en/devbook/network-currency/query-currency-supply.md
  openapi/openapi-symbol.yml
Due: none

[mkdocs] docs: address comments
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/chain/prove-mosaic-definition.log
  mkdocs/overrides/devbook/chain/prove-mosaic-definition.mjs
  mkdocs/overrides/devbook/chain/prove-mosaic-definition.py
  mkdocs/pages/en/devbook/chain/prove-mosaic-definition.md
  mkdocs/pages/en/devbook/chain/prove-transaction.md
  mkdocs/pages/en/textbook/blocks.md
Due: none

[mkdocs] docs: query block rewards
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/network-currency/query-block-rewards.log
  mkdocs/overrides/devbook/network-currency/query-block-rewards.mjs
  mkdocs/overrides/devbook/network-currency/query-block-rewards.py
  mkdocs/pages/en/devbook/network-currency/query-block-rewards.md
  openapi/openapi-symbol.yml
Due: none

[mkdocs] docs: query block rewards
  openapi/openapi-symbol.yml
Due: none

[mkdocs] docs: query block rewards (#1913)
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/network-currency/query-block-rewards.log
  mkdocs/overrides/devbook/network-currency/query-block-rewards.mjs
  mkdocs/overrides/devbook/network-currency/query-block-rewards.py
  mkdocs/pages/en/devbook/network-currency/query-block-rewards.md
Due: none

[mkdocs] add: multilevel multisig textbook diagram
  mkdocs/pages/en/textbook/accounts.md
Due: none

[mkdocs] docs: use SDK Address methods for hex-to-address conversion
  mkdocs/overrides/devbook/namespaces/link-namespace-to-address.mjs
  mkdocs/overrides/devbook/namespaces/link-namespace-to-address.py
  mkdocs/overrides/devbook/namespaces/register-root-namespace.mjs
  mkdocs/overrides/devbook/namespaces/register-root-namespace.py
  mkdocs/overrides/devbook/namespaces/register-subnamespace.mjs
  mkdocs/overrides/devbook/namespaces/register-subnamespace.py
  mkdocs/overrides/devbook/namespaces/resolve-namespace-from-receipt.mjs
  mkdocs/overrides/devbook/namespaces/resolve-namespace-from-receipt.py
  mkdocs/pages/en/devbook/namespaces/link-namespace-to-address.md
  mkdocs/pages/en/devbook/namespaces/register-root-namespace.md
  mkdocs/pages/en/devbook/namespaces/register-subnamespace.md
  mkdocs/pages/en/devbook/namespaces/resolve-namespace-from-receipt.md
Due: none

docs: add prove mosaic definition tutorial (#1906)
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/chain/prove-mosaic-definition.log
  mkdocs/overrides/devbook/chain/prove-mosaic-definition.mjs
  mkdocs/overrides/devbook/chain/prove-mosaic-definition.py
  mkdocs/pages/en/devbook/chain/prove-mosaic-definition.md
  mkdocs/pages/en/devbook/chain/prove-transaction.md
  mkdocs/pages/en/textbook/blocks.md
Due: none

[mkdocs] refactor: use SDK Address methods for hex-to-address conversion (#1914)
  mkdocs/overrides/devbook/namespaces/link-namespace-to-address.mjs
  mkdocs/overrides/devbook/namespaces/link-namespace-to-address.py
  mkdocs/overrides/devbook/namespaces/register-root-namespace.mjs
  mkdocs/overrides/devbook/namespaces/register-root-namespace.py
  mkdocs/overrides/devbook/namespaces/register-subnamespace.mjs
  mkdocs/overrides/devbook/namespaces/register-subnamespace.py
  mkdocs/overrides/devbook/namespaces/resolve-namespace-from-receipt.mjs
  mkdocs/overrides/devbook/namespaces/resolve-namespace-from-receipt.py
  mkdocs/pages/en/devbook/namespaces/link-namespace-to-address.md
  mkdocs/pages/en/devbook/namespaces/register-root-namespace.md
  mkdocs/pages/en/devbook/namespaces/register-subnamespace.md
  mkdocs/pages/en/devbook/namespaces/resolve-namespace-from-receipt.md
Due: none

[mkdocs] docs: add get mosaic and namespace definitions tutorials
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/mosaics/get-mosaic-info.log
  mkdocs/overrides/devbook/mosaics/get-mosaic-info.mjs
  mkdocs/overrides/devbook/mosaics/get-mosaic-info.py
  mkdocs/overrides/devbook/namespaces/get-namespace-info.log
  mkdocs/overrides/devbook/namespaces/get-namespace-info.mjs
  mkdocs/overrides/devbook/namespaces/get-namespace-info.py
  mkdocs/pages/en/devbook/mosaics/get-mosaic-info.md
  mkdocs/pages/en/devbook/namespaces/get-namespace-info.md
Due: none

[mkdocs] docs: address comments
  mkdocs/overrides/devbook/mosaics/get-mosaic-info.log
  mkdocs/overrides/devbook/mosaics/get-mosaic-info.mjs
  mkdocs/overrides/devbook/mosaics/get-mosaic-info.py
  mkdocs/overrides/devbook/namespaces/get-namespace-info.log
  mkdocs/overrides/devbook/namespaces/get-namespace-info.mjs
  mkdocs/overrides/devbook/namespaces/get-namespace-info.py
  mkdocs/pages/en/devbook/mosaics/get-mosaic-info.md
  mkdocs/pages/en/devbook/namespaces/get-namespace-info.md
Due: none

[mkdocs] docs: address comments
  mkdocs/pages/en/devbook/namespaces/get-namespace-info.md
Due: none

[mkdocs] docs: add get mosaic and namespace definitions tutorials (#1916)
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/mosaics/get-mosaic-info.log
  mkdocs/overrides/devbook/mosaics/get-mosaic-info.mjs
  mkdocs/overrides/devbook/mosaics/get-mosaic-info.py
  mkdocs/overrides/devbook/namespaces/get-namespace-info.log
  mkdocs/overrides/devbook/namespaces/get-namespace-info.mjs
  mkdocs/overrides/devbook/namespaces/get-namespace-info.py
  mkdocs/pages/en/devbook/mosaics/get-mosaic-info.md
  mkdocs/pages/en/devbook/namespaces/get-namespace-info.md
Due: none

[mkdocs] docs: transaction batching
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/transactions/transaction-batching.log
  mkdocs/overrides/devbook/transactions/transaction-batching.mjs
  mkdocs/overrides/devbook/transactions/transaction-batching.py
  mkdocs/pages/en/devbook/transactions/complete-aggregate.md
  mkdocs/pages/en/devbook/transactions/transaction-batching.md
Due: none

[mkdocs] docs: transaction batching
  mkdocs/pages/en/devbook/transactions/transaction-batching.md
Due: none

Expand limits on SpinReaderWriterLock
  client/catapult/src/catapult/utils/SpinReaderWriterLock.h
Due: client-catapult

Make linter happy
  client/catapult/tests/catapult/utils/SpinReaderWriterLockTests.cpp
Due: client-catapult

Only move ctor for ReaderLock
  client/catapult/tests/catapult/utils/SpinReaderWriterLockTests.cpp
Due: client-catapult

[mkdocs] review feedback
  mkdocs/pages/en/devbook/transactions/bonded-aggregate.md
  mkdocs/pages/en/devbook/transactions/complete-aggregate.md
  mkdocs/pages/en/devbook/transactions/transaction-batching.md
Due: none

[mkdocs] docs: transaction batching (#1917)
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/transactions/transaction-batching.log
  mkdocs/overrides/devbook/transactions/transaction-batching.mjs
  mkdocs/overrides/devbook/transactions/transaction-batching.py
  mkdocs/pages/en/devbook/transactions/bonded-aggregate.md
  mkdocs/pages/en/devbook/transactions/complete-aggregate.md
  mkdocs/pages/en/devbook/transactions/transaction-batching.md
Due: none

feat: improve OpenAPI docs for metadata and multisig routes (#312)
  openapi/spec/parameters/path/addressPath.yml
  openapi/spec/parameters/path/compositeHashPath.yml
  openapi/spec/parameters/path/metalIdPath.yml
  openapi/spec/parameters/query/metadataTypeQuery.yml
  openapi/spec/parameters/query/offsetQuery.yml
  openapi/spec/parameters/query/targetIdQuery.yml
  openapi/spec/plugins/metadata/routes/getMetadata.yml
  openapi/spec/plugins/metadata/routes/getMetadataEntries.yml
  openapi/spec/plugins/metadata/routes/getMetadataMerkle.yml
  openapi/spec/plugins/metadata/routes/getMetadataMetal.yml
  openapi/spec/plugins/metadata/routes/searchMetadataEntries.yml
  openapi/spec/plugins/metadata/schemas/MetadataEntryDTO.yml
  openapi/spec/plugins/metadata/schemas/MetadataInfoDTO.yml
  openapi/spec/plugins/metadata/schemas/MetadataPage.yml
  openapi/spec/plugins/metadata/schemas/MetadataTypeEnum.yml
  openapi/spec/plugins/multisig/routes/getAccountMultisig.yml
  openapi/spec/plugins/multisig/routes/getAccountMultisigGraph.yml
  openapi/spec/plugins/multisig/routes/getAccountMultisigMerkle.yml
  openapi/spec/plugins/multisig/schemas/MultisigAccountGraphInfoDTO.yml
  openapi/spec/plugins/multisig/schemas/MultisigAccountInfoDTO.yml
  openapi/spec/plugins/multisig/schemas/MultisigAccountModificationTransactionBodyDTO.yml
  openapi/spec/plugins/multisig/schemas/MultisigAccountModificationTransactionDTO.yml
  openapi/spec/plugins/multisig/schemas/MultisigDTO.yml
  openapi/spec/plugins/multisig/schemas/MultisigNetworkPropertiesDTO.yml
  openapi/spec/schemas/MetadataKey.yml
  openapi/spec/schemas/ModelError.yml
  openapi/spec/tags.yml
Due: none

Update client/catapult/src/catapult/utils/SpinReaderWriterLock.h
  client/catapult/src/catapult/utils/SpinReaderWriterLock.h
Due: client-catapult

Update SpinReaderWriterLock.h
  client/catapult/src/catapult/utils/SpinReaderWriterLock.h
Due: client-catapult

Update SpinReaderWriterLockTests.cpp
  client/catapult/tests/catapult/utils/SpinReaderWriterLockTests.cpp
Due: client-catapult

SpinReaderWriterLockTests reorder regions
  client/catapult/tests/catapult/utils/SpinReaderWriterLockTests.cpp
Due: client-catapult

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
