Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[sdk/javascript]: unify sign/verify behavior with python
  sdk/javascript/src/nem/KeyPair.js
  sdk/javascript/src/symbol/KeyPair.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/src/utils/cryptoHelpers.js
  sdk/javascript/test/test/keyPairTests.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
  sdk/javascript/test/utils/cryptoHelpers_spec.js
Due: sdk-javascript

[sdk/python]: add small ripemd160 wrapper and pick either hashlib impl or ripemd-hash impl
  sdk/python/requirements.txt
  sdk/python/symbolchain/Network.py
  sdk/python/symbolchain/Transforms.py
  sdk/python/symbolchain/ripemd160.py
Due: sdk-python

[client/catapult] fix: update catapult build docs for Conan
  client/catapult/docs/BUILD-conan.md
Due: client-catapult

[jenkins] fix: add linters as a deps to all other projects
  .github/buildConfiguration.yaml
  sdk/python/tests/test_RuleBasedTransactionFactory.py
Due: sdk-python

[jenkins] fix: add linters project as a dependency to all other projects
  .github/buildConfiguration.yaml
  sdk/python/tests/test_RuleBasedTransactionFactory.py
Due: sdk-python

[jenkins] fix: catapult client code coverage
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/gcc-debian.yaml
  jenkins/catapult/compilers/ubuntu-gcc-10/Dockerfile
  jenkins/catapult/compilers/ubuntu-gcc/Dockerfile
  jenkins/catapult/configurations/gcc-10.yaml
  jenkins/catapult/configurations/gcc-debian.yaml
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
Due: none

[jenkins] fix: codecov failing to upload
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
Due: none

[jenkins] fix: encode the branch name
  jenkins/jenkinsfiles/Jenkinsfile-nightly.groovy
Due: none

[jenkins] feat: Nightly builds
  jenkins/jenkinsfiles/Jenkinsfile-nightly.groovy
  jenkins/shared-library/vars/createMonorepoMultibranchJobs.groovy
  jenkins/shared-library/vars/createPipelineJob.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: none

[jenkins] fix: add blank line at EOF
  .github/jenkinsfile/nightlyBuild.groovy
Due: none

[jenkins] fix: address feedback
  jenkins/jenkinsfiles/Jenkinsfile-nightly.groovy
  jenkins/shared-library/vars/createPipelineJob.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: none

[jenkins] fix: address feedback
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
Due: none

[jenkins] fix: update to read parameters from Jenkinsfile
  .github/jenkinsfile/nightlyBuild.groovy
  jenkins/jenkinsfiles/Jenkinsfile-nightly.groovy
  jenkins/shared-library/vars/createPipelineJob.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
Due: none

[jenkins] feat: Nightly builds
  .github/jenkinsfile/nightlyBuild.groovy
  jenkins/shared-library/vars/createMonorepoMultibranchJobs.groovy
  jenkins/shared-library/vars/createPipelineJob.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
Due: none

[sdk/javascript]: speed up ed25519 operations
  jenkins/docker/javascript.Dockerfile
  sdk/javascript/.eslintignore
  sdk/javascript/scripts/ci/build.sh
  sdk/javascript/scripts/ci/test_vectors.sh
  sdk/javascript/src/impl/ed25519.js
  sdk/javascript/src/nem/KeyPair.js
  sdk/javascript/src/nem/SharedKey.js
  sdk/javascript/src/nem/external/tweetnacl-nacl-fast-keccak.js
  sdk/javascript/src/symbol/KeyPair.js
  sdk/javascript/src/utils/cryptoHelpers.js
  sdk/javascript/test/utils/cryptoHelpers_spec.js
  sdk/javascript/wasm/.gitignore
  sdk/javascript/wasm/Cargo.toml
  sdk/javascript/wasm/examples/all/main.rs
  sdk/javascript/wasm/src/lib.rs
  sdk/javascript/wasm/src/utils.rs
Due: sdk-javascript

[sdk/python]: add helper function for generating random mnemonics
  sdk/python/symbolchain/Bip32.py
  sdk/python/tests/test_Bip32.py
Due: sdk-python

[sdk/javascript]: add support for verifying patricia tree proofs
  sdk/javascript/src/symbol/merkle.js
  sdk/javascript/test/symbol/merkle_spec.js
  sdk/python/symbolchain/symbol/Merkle.py
Due: sdk-javascript, sdk-python

[sdk/javascript]: add Cipher for AES encryption
  sdk/javascript/src/Cipher.js
  sdk/javascript/test/Cipher_spec.js
  sdk/javascript/vectors/all.js
  sdk/python/tests/test_Cipher.py
Due: sdk-javascript, sdk-python

[sdk/python]: add Cipher for AES encryption
  sdk/python/symbolchain/Cipher.py
  sdk/python/tests/test_Cipher.py
  sdk/python/tests/vectors/all.py
  tests/vectors/nem/crypto/4.test-cipher-deprecated.json
  tests/vectors/nem/crypto/4.test-cipher.json
Due: sdk-python

[sdk]: rename MerkleHashBuilder file to merkle
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/index.js
  sdk/javascript/src/symbol/merkle.js
  sdk/javascript/test/symbol/merkle_spec.js
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/symbol/Merkle.py
  sdk/python/tests/symbol/test_Merkle.py
Due: sdk-javascript, sdk-python

[sdk/javascript]: add helper function for generating random mnemonics
  sdk/javascript/src/Bip32.js
  sdk/javascript/test/Bip32_spec.js
Due: sdk-javascript

[sdk/javascript]: update javascript sdk to support computed sizeref fields
  sdk/javascript/examples/descriptors/nem_mosaic.js
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/TransactionDescriptorProcessor.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/test/TransactionDescriptorProcessor_spec.js
  sdk/javascript/test/facade/NemFacade_spec.js
Due: sdk-javascript

[sdk]: drop combined shared key + encryption tests
  sdk/javascript/test/Cipher_spec.js
  sdk/python/tests/test_Cipher.py
Due: sdk-javascript, sdk-python

[sdk/javascript]: generator changes: use information about aligned structs for better field access
  sdk/javascript/generator/EnumTypeFormatter.py
  sdk/javascript/generator/PodTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/converter.js
  sdk/javascript/test/utils/converter_spec.js
Due: sdk-javascript

[sdk/python]: add support for verifying patricia tree proofs
  sdk/python/symbolchain/symbol/Merkle.py
  sdk/python/tests/symbol/test_Merkle.py
Due: sdk-python

[sdk/python]: update python sdk to support computed sizeref fields
  sdk/python/examples/descriptors/nem_mosaic.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/symbolchain/TransactionDescriptorProcessor.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/test_TransactionDescriptorProcessor.py
  sdk/python/testvectors/nem/mosaic_definition.py
  sdk/python/testvectors/nem/multisig.py
  sdk/python/testvectors/nem/transfer.py
  sdk/python/testvectors/nem/transfer_v1.py
  tests/vectors/nem/models/transactions.json
Due: sdk-python

[linters]: relax func length
  linters/python/.pylintrc
Due: none

[catbuffer/schemas]: add missing @is_aligned anotation on symbol Cosignature
  catbuffer/schemas/symbol/aggregate/cosignature.cats
Due: none

[sdk/python] nem shared key derivation, details below
  sdk/python/symbolchain/CryptoTypes.py
  sdk/python/symbolchain/SharedKey.py
  sdk/python/symbolchain/external/__init__.py
  sdk/python/symbolchain/external/ed25519.py
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/nem/KeyPair.py
  sdk/python/symbolchain/nem/SharedKey.py
  sdk/python/symbolchain/symbol/SharedKey.py
  sdk/python/tests/nem/test_SharedKey.py
  sdk/python/tests/symbol/test_SharedKey.py
  sdk/python/tests/test/BasicSharedKeyTest.py
  sdk/python/tests/test_CryptoTypes.py
  sdk/python/tests/vectors/all.py
  tests/vectors/nem/crypto/3.test-derive-deprecated.json
  tests/vectors/nem/crypto/3.test-derive-hkdf.json
  tests/vectors/symbol/crypto/3.test-derive-hkdf.json
Due: sdk-python

[sdk/javascript]: add ability to auto sort ordered arrays in descriptors
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
Due: sdk-javascript

[sdk/javascript]: shared key derivation, details below
  sdk/javascript/src/CryptoTypes.js
  sdk/javascript/src/SharedKey.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/nem/SharedKey.js
  sdk/javascript/src/symbol/SharedKey.js
  sdk/javascript/test/CryptoTypes_spec.js
  sdk/javascript/test/nem/SharedKey_spec.js
  sdk/javascript/test/symbol/SharedKey_spec.js
  sdk/javascript/test/test/sharedKeyTests.js
  sdk/javascript/vectors/all.js
  sdk/python/tests/nem/test_SharedKey.py
  sdk/python/tests/test/BasicSharedKeyTest.py
  sdk/python/tests/vectors/all.py
Due: sdk-javascript, sdk-python

[sdk/python]: add helper function for calculating metadata payload
  sdk/python/symbolchain/symbol/Metadata.py
  sdk/python/tests/symbol/test_Metadata.py
Due: sdk-python

[sdk/javascript]: add MessageEncoder
  sdk/javascript/src/impl/CipherHelpers.js
  sdk/javascript/src/nem/MessageEncoder.js
  sdk/javascript/src/symbol/MessageEncoder.js
  sdk/javascript/test/nem/MessageEncoder_spec.js
  sdk/javascript/test/symbol/MessageEncoder_spec.js
  sdk/javascript/test/test/messageEncoderTests.js
  sdk/javascript/test/test/sharedKeyTests.js
Due: sdk-javascript

[sdk/javascript]: add VotingKeysGenerator
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/src/symbol/VotingKeysGenerator.js
  sdk/javascript/test/symbol/VotingKeysGenerator_spec.js
  sdk/javascript/test/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/python/symbolchain/symbol/VotingKeysGenerator.py
Due: sdk-javascript, sdk-python

[sdk/python]: initialize optional fields to None to match deserializer
  sdk/python/examples/descriptors/nem_namespace.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/facade/test_BatchOperations.py
  sdk/python/tests/vectors/catbuffer.py
Due: sdk-python

[sdk/javascript]: update generator to handle comparer property
  sdk/javascript/examples/descriptors/nem_multisig_account.js
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/src/utils/transforms.js
  sdk/javascript/test/TransactionDescriptorProcessor_spec.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
  sdk/javascript/test/utils/transforms_spec.js
Due: sdk-javascript
