Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[mkdocs] feat: nicer style for tutorial steps
  mkdocs/overrides/assets/stylesheets/extra.css
  mkdocs/pages/en/userbook/wallet/create-profile.md
  mkdocs/pages/en/userbook/wallet/import-profile.md
  mkdocs/templates/macros/tutorial.jinja2
Due: none

[mkdocs] fix: user proper name for screenshots
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-0.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-1.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-2.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-3.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-4.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-5.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-6.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-7.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-8.jpg
  mkdocs/pages/en/userbook/wallet/create-profile.md
Due: none

[mkdocs] feat: add initial user guides (WIP)
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-account-0.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-account-1.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-account-2.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-account-3.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-account-4.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-account-5.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-account-6.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-account-7.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-account-8.jpg
  mkdocs/pages/en/userbook/wallet/create-account.md
  mkdocs/pages/en/userbook/wallet/create-profile.md
  mkdocs/pages/en/userbook/wallet/import-profile.md
  mkdocs/pages/en/userbook/wallet/install.md
Due: none

[mkdocs] fix: update old screenshots
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-0.jpg
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-0.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-1.jpg
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-1.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-2.jpg
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-2.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-3.jpg
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-3.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-4.jpg
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-4.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-5.jpg
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-5.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-6.jpg
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-6.png
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-7.jpg
  mkdocs/overrides/userbook/wallet/screenshots/desktop-create-profile-7.png
  mkdocs/pages/en/userbook/wallet/create-profile.md
  mkdocs/pages/en/userbook/wallet/import-profile.md
Due: none

[mkdocs] fix: simpler file names for screenshots
  mkdocs/overrides/userbook/wallet/screenshots/create-profile-0.jpg
  mkdocs/overrides/userbook/wallet/screenshots/create-profile-1.jpg
  mkdocs/overrides/userbook/wallet/screenshots/create-profile-2.jpg
  mkdocs/overrides/userbook/wallet/screenshots/create-profile-3.jpg
  mkdocs/overrides/userbook/wallet/screenshots/create-profile-4.jpg
  mkdocs/overrides/userbook/wallet/screenshots/create-profile-5.jpg
  mkdocs/overrides/userbook/wallet/screenshots/create-profile-6.jpg
  mkdocs/overrides/userbook/wallet/screenshots/create-profile-7.jpg
  mkdocs/overrides/userbook/wallet/screenshots/create-profile-8.jpg
  mkdocs/overrides/userbook/wallet/screenshots/import-profile-1.jpg
  mkdocs/overrides/userbook/wallet/screenshots/import-profile-2.jpg
  mkdocs/overrides/userbook/wallet/screenshots/import-profile-3.jpg
  mkdocs/overrides/userbook/wallet/screenshots/import-profile-4.jpg
  mkdocs/overrides/userbook/wallet/screenshots/import-profile-5.jpg
  mkdocs/pages/en/userbook/wallet/create-profile.md
  mkdocs/pages/en/userbook/wallet/import-profile.md
Due: none

[mkdocs] feat: add profile export user guide
  mkdocs/overrides/userbook/wallet/screenshots/export-profile-0.jpg
  mkdocs/overrides/userbook/wallet/screenshots/export-profile-1.jpg
  mkdocs/overrides/userbook/wallet/screenshots/export-profile-2.jpg
  mkdocs/overrides/userbook/wallet/screenshots/export-profile-3.jpg
  mkdocs/overrides/userbook/wallet/screenshots/export-profile-4.jpg
  mkdocs/overrides/userbook/wallet/screenshots/export-profile-5.jpg
  mkdocs/overrides/userbook/wallet/screenshots/export-profile-6.jpg
  mkdocs/pages/en/userbook/wallet/export-profile.md
Due: none

[mkdocs] fix: properly color links in glightbox
  mkdocs/overrides/assets/stylesheets/extra.css
Due: none

[mkdocs] fix: table row background on hover
  mkdocs/overrides/assets/stylesheets/extra.css
Due: none

[mkdocs] fix: alignment of icons in glightbox descriptions
  mkdocs/overrides/assets/stylesheets/extra.css
Due: none

[mkdocs] feat: add delete profile user guide
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/userbook/wallet/screenshots/delete-profile-0.jpg
  mkdocs/overrides/userbook/wallet/screenshots/delete-profile-1.jpg
  mkdocs/overrides/userbook/wallet/screenshots/delete-profile-2.jpg
  mkdocs/pages/en/userbook/wallet/delete-profile.md
Due: none

[jenkins] fix: cpp ci images fails due to permissions
  jenkins/docker/ubuntu/cpp.Dockerfile
Due: none

Fix cache size issue in AccountStateCache
  client/catapult/src/catapult/cache_core/AccountStateCache.h
  client/catapult/src/catapult/cache_core/AccountStateCacheDelta.cpp
  client/catapult/src/catapult/cache_core/AccountStateCacheDelta.h
  client/catapult/src/catapult/cache_core/AccountStateCacheStorage.cpp
  client/catapult/src/catapult/cache_core/AccountStateCacheStorage.h
  client/catapult/src/catapult/cache_core/AccountStateCacheSubCachePlugin.cpp
  client/catapult/src/catapult/cache_core/AccountStateCacheSubCachePlugin.h
Due: client-catapult

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  client/catapult/extensions/mongo/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: revert boost to 83
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[catapult/client] fix: add mongo-c-driver as a requirement
  client/catapult/conanfile.py
Due: client-catapult

MSVC : Drop Ninja generator
  client/catapult/CMakeSettings.json
Due: client-catapult

MSVC : Bump vcpkg dependencies versions
  client/catapult/vcpkg.json
Due: client-catapult

Added empty line
  client/catapult/CMakeSettings.json
Due: client-catapult

[monorepo]: update jenkins url problem: Jenkins domain has been update to https://jenkins.symbolsyndicate.us and README needs to be updated solution: update the README files
  README.md
  client/catapult/README.md
  sdk/javascript/README.md
  sdk/python/README.md
Due: client-catapult, sdk-javascript, sdk-python

[sdk/javascript] fix: pin rustc to 1.86.0 problem: JS sdk fails to build with Rustc 1.87.0 solution: pin the Rustc version to 1.86.0
  sdk/javascript/scripts/ci/build.sh
Due: sdk-javascript

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[mkdocs] feat: make site-relative links work
  mkdocs/config/mkdocs.base.yml
  mkdocs/config/mkdocs.en.yml
  mkdocs/config/mkdocs.ja.yml
Due: none

[mkdocs] feat: add tasklist status plot script
  mkdocs/scripts/ptl.py
Due: none

[mkdocs] fix: linting
  mkdocs/overrides/devbook/start/hello-world.mjs
  mkdocs/overrides/devbook/start/hello-world.py
  mkdocs/scripts/hooks.py
Due: none

[mkdocs] fix: remove () decorators from method links
  mkdocs/scripts/hooks.py
Due: none

[mkdocs] feat: add docs for dylinks
  mkdocs/CONTRIBUTING.md
  mkdocs/README.md
Due: none

[mkdocs] fix: simplify language codes for sections
  mkdocs/CONTRIBUTING.md
  mkdocs/README.md
  mkdocs/config/mkdocs.base.yml
  mkdocs/pages/en/devbook/start/hello-world.md
  mkdocs/pages/en/devbook/transactions/transfer.md
  mkdocs/pages/en/devbook/transactions/typed-descriptors.md
  mkdocs/scripts/hooks.py
  mkdocs/templates/ezglossary/link.html
  mkdocs/templates/macros/tutorial.jinja2
  mkdocs/templates/mkdocstrings/python/material/attribute.html.jinja
  mkdocs/templates/mkdocstrings/python/material/class.html.jinja
  mkdocs/templates/mkdocstrings/python/material/function.html.jinja
Due: none

[mkdocs] feat: add typed descriptors dev page
  mkdocs/overrides/devbook/transactions/transfer.typed.mjs
  mkdocs/pages/en/devbook/transactions/typed-descriptors.md
Due: none

[mkdocs] feat: add transactions documentation (WIP)
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/assets/stylesheets/extra.css
  mkdocs/pages/en/textbook/glossary.md
  mkdocs/pages/en/textbook/transactions.md
Due: none

[mkdocs] feat: simplify links to REST guide, with tooltips
  mkdocs/overrides/assets/javascripts/openapi-scroll.js
  mkdocs/pages/en/devbook/start/hello-world.md
  mkdocs/pages/en/devbook/transactions/transfer.md
  mkdocs/scripts/hooks.py
Due: none

[mkdocs] feat: move class remaps to config file
  mkdocs/config/mkdocs.base.yml
  mkdocs/scripts/hooks.py
Due: none

[mkdocs] feat: fine-tuning the transfer tx dev tutorial
  mkdocs/pages/en/devbook/transactions/transfer.md
Due: none

[mkdocs] feat: tweaking Conclusion section in dev template
  mkdocs/pages/en/devbook/transactions/transfer.md
Due: none
