Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: rest-gateway, catbuffer-parser, sdk-python, sdk-javascript

[monorepo] fix: address feedback
  client/rest/package.json
  client/rest/scripts/ci/test.sh
  sdk/javascript/package.json
  sdk/javascript/scripts/ci/test.sh
  sdk/javascript/scripts/ci/test_vectors.sh
  sdk/python/Jenkinsfile
  sdk/python/scripts/ci/test.sh
Due: rest-gateway, sdk-python, sdk-javascript

[monorepo] fix: address feedback
  sdk/javascript/package.json
  sdk/javascript/scripts/ci/test.sh
  sdk/javascript/scripts/ci/test_vectors.sh
Due: sdk-javascript

[sdk/javascript] task: array helpers. buffer view, position-tracking writer
  client/rest/test/catapult-sdk/utils/arrayUtils_spec.js
  sdk/javascript/src/utils/BufferView.js
  sdk/javascript/src/utils/Writer.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/utils/BufferView_spec.js
  sdk/javascript/test/utils/Writer_spec.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
Due: rest-gateway, sdk-javascript

[monorepo] fix: address feedback
  client/rest/package.json
Due: rest-gateway

[sdk/python] fix: conditional fields str representation
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-python

[monorepo] feat: Add code coverage upload (#86)
  README.md
  catbuffer/parser/Jenkinsfile
  catbuffer/parser/dev_requirements.txt
  catbuffer/parser/scripts/ci/setup_test.sh
  catbuffer/parser/scripts/ci/test.sh
  client/rest/Jenkinsfile
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/scripts/ci/test.sh
  codecov.yaml
  jenkins/docker/javascript.Dockerfile
  jenkins/docker/python.Dockerfile
  jenkins/shared-library/vars/codeCoverage.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/runScript.groovy
  jenkins/shared-library/vars/runTests.groovy
  sdk/javascript/.nycrc.yaml
  sdk/javascript/Jenkinsfile
  sdk/javascript/package.json
  sdk/javascript/scripts/ci/test.sh
  sdk/javascript/scripts/ci/test_vectors.sh
  sdk/python/.coveragerc
  sdk/python/Jenkinsfile
  sdk/python/scripts/ci/test.sh
  sdk/python/scripts/ci/test_vectors.sh
Due: rest-gateway, catbuffer-parser, sdk-python, sdk-javascript

[monorepo] build: update dependencies per dependabot warnings
  client/rest/package-lock.json
  client/rest/package.json
  sdk/python/requirements.txt
Due: rest-gateway, sdk-python

[linters] task: disable 'consider-using-f-string' by default
  linters/python/lint.sh
  linters/scripts/ci/lint.sh
Due: none

[linters] task: allow js lint.sh to run locally
  client/rest/scripts/ci/lint.sh
  sdk/javascript/scripts/ci/lint.sh
Due: rest-gateway, sdk-javascript

[monorepo]: restructure monorepo linters
  .gitlintmodules
  jenkins/shared-library/vars/verifyCommitMessage.groovy
  linters/git/.gitlint
  linters/scripts/ci/lint.sh
  linters/scripts/lint_indents.sh
  linters/scripts/lint_last_commit.sh
  linters/scripts/lint_yaml.sh
  linters/scripts/run_gitlint.sh
Due: none

[monorepo]: update readme to point to moved jenkins jobs
  README.md
  seed-job/buildConfiguration.yaml
Due: none

[monorepo] fix: code coverage does not show for all packages.
  codecov.yaml
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[monorepo] fix: use valid mosaic definition id in testvectors, drop duplicates
  tests/vectors/symbol/transactions/transactions.yaml
Due: none

[monorepo] fix: move to parent repo for a test
  .github/pull_request_template.md
Due: none

[monorepo] feat: checkout submodule
  jenkins/shared-library/vars/createMultibranchJob.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[sdk/python] feat: allow descriptor-inlined inline Cosignatures
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/tests/nem/test_TransactionFactory.py
Due: sdk-python

[monorepo] fix: init file not run
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[sdk/python]: recreate test vectors
  sdk/python/testvectors/README.md
  sdk/python/testvectors/__init__.py
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/nem/__init__.py
  sdk/python/testvectors/nem/account_key_link.py
  sdk/python/testvectors/nem/cosignature.py
  sdk/python/testvectors/nem/mosaic_definition.py
  sdk/python/testvectors/nem/mosaic_supply_change.py
  sdk/python/testvectors/nem/multisig.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/namespace_registration.py
  sdk/python/testvectors/nem/transfer.py
  sdk/python/testvectors/symbol/__init__.py
  sdk/python/testvectors/symbol/account_address_restriction.py
  sdk/python/testvectors/symbol/account_metadata.py
  sdk/python/testvectors/symbol/account_mosaic_restriction.py
  sdk/python/testvectors/symbol/account_operation_restriction.py
  sdk/python/testvectors/symbol/address_alias.py
  sdk/python/testvectors/symbol/aggregate_complete.py
  sdk/python/testvectors/symbol/aggregate_mosaic_supply_change.py
  sdk/python/testvectors/symbol/hash_lock.py
  sdk/python/testvectors/symbol/key_link.py
  sdk/python/testvectors/symbol/mosaic_address_restriction.py
  sdk/python/testvectors/symbol/mosaic_alias.py
  sdk/python/testvectors/symbol/mosaic_definition.py
  sdk/python/testvectors/symbol/mosaic_global_restriction.py
  sdk/python/testvectors/symbol/mosaic_metadata.py
  sdk/python/testvectors/symbol/mosaic_supply_change.py
  sdk/python/testvectors/symbol/multisig_account_modification.py
  sdk/python/testvectors/symbol/namespace_metadata.py
  sdk/python/testvectors/symbol/namespace_registration.py
  sdk/python/testvectors/symbol/secret_lock.py
  sdk/python/testvectors/symbol/secret_proof.py
  sdk/python/testvectors/symbol/transfer.py
  sdk/python/testvectors/utils.py
Due: sdk-python

[sdk/javascript] task: brand new catbuffer generator and models
  catbuffer/parser/catparser/generators/util.py
  catbuffer/parser/tests/generators/test_util.py
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/EnumTypeFormatter.py
  sdk/javascript/generator/FactoryFormatter.py
  sdk/javascript/generator/Generator.py
  sdk/javascript/generator/PodTypeFormatter.py
  sdk/javascript/generator/README.md
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/__init__.py
  sdk/javascript/generator/format.py
  sdk/javascript/generator/hacks.md
  sdk/javascript/generator/name_formatting.py
  sdk/javascript/generator/printers.py
  sdk/javascript/generator/requirements.txt
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/scripts/ci/build.sh
  sdk/javascript/scripts/ci/lint.sh
  sdk/javascript/scripts/ci/lint_python.sh
  sdk/javascript/scripts/ci/setup_lint.sh
  sdk/javascript/scripts/ci/test_vectors.sh
  sdk/javascript/scripts/run_catbuffer_generator.sh
  sdk/javascript/src/BaseValue.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/converter.js
  sdk/javascript/test/BaseValue_spec.js
  sdk/javascript/test/utils/converter_spec.js
  sdk/javascript/vectors/catbuffer.js
Due: catbuffer-parser, sdk-javascript

[sdk/javascript] task: port TransactionFactory implementation from python sdk
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
  sdk/javascript/test/test/basicTransactionFactoryTests.js
  sdk/python/symbolchain/facade/BatchOperations.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/nem/test_TransactionFactory.py
  sdk/python/tests/symbol/test_TransactionFactory.py
  sdk/python/tests/test/BasicTransactionFactoryTest.py
Due: sdk-python, sdk-javascript

fix lint warnings
  sdk/javascript/src/Bip32.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/python/symbolchain/Bip32.py
Due: sdk-python, sdk-javascript

[sdk/javascript] task: port Facade implementations from python sdk
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
Due: sdk-python, sdk-javascript

update vectors
  sdk/javascript/vectors/all.js
Due: sdk-javascript

facade interhangability
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/python/tests/facade/test_SymbolFacade.py
Due: sdk-python, sdk-javascript

[sdk/javascript] task: port Facade implementations from python sdk
  sdk/javascript/src/Bip32.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/javascript/vectors/all.js
  sdk/python/symbolchain/Bip32.py
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
Due: sdk-python, sdk-javascript

[monorepo] fix: Manual build branch list incorrect
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: none

[monorepo] fix: remove shell scripts
  jenkins/shared-library/resources/artifacts/scripts/docker-functions.sh
  jenkins/shared-library/resources/artifacts/scripts/docker-publish.sh
  jenkins/shared-library/resources/artifacts/scripts/jenkins-functions.sh
  jenkins/shared-library/resources/artifacts/scripts/node-functions.sh
  jenkins/shared-library/resources/artifacts/scripts/node-publish.sh
  jenkins/shared-library/vars/publish.groovy
Due: none

[sdk/javascript]: include catvectors in code coverage
  sdk/javascript/Jenkinsfile
  sdk/javascript/package.json
  sdk/javascript/scripts/ci/test_vectors.sh
Due: sdk-javascript

[monorepo] fix: address feedback
  jenkins/shared-library/resources/artifacts/configuration/npmrc
  jenkins/shared-library/resources/artifacts/scripts/pypi-publish.sh
  jenkins/shared-library/vars/fileHelper.groovy
  jenkins/shared-library/vars/publish.groovy
Due: none

[sdk/javascript]: include catvectors in code coverage
  codecov.yaml
  sdk/javascript/Jenkinsfile
  sdk/javascript/package.json
  sdk/javascript/scripts/ci/test_vectors.sh
Due: sdk-javascript

[monorepo] fix: address feedback
  jenkins/shared-library/vars/publish.groovy
Due: none

[monorepo] fix: remove shell scripts (#105)
  jenkins/shared-library/resources/artifacts/configuration/npmrc
  jenkins/shared-library/resources/artifacts/scripts/docker-functions.sh
  jenkins/shared-library/resources/artifacts/scripts/docker-publish.sh
  jenkins/shared-library/resources/artifacts/scripts/jenkins-functions.sh
  jenkins/shared-library/resources/artifacts/scripts/node-functions.sh
  jenkins/shared-library/resources/artifacts/scripts/node-publish.sh
  jenkins/shared-library/resources/artifacts/scripts/pypi-publish.sh
  jenkins/shared-library/vars/fileHelper.groovy
  jenkins/shared-library/vars/publish.groovy
Due: none

[sdk/python] task: align python sdk with small changes in javascript sdk
  sdk/javascript/generator/README.md
  sdk/javascript/src/BaseValue.js
  sdk/javascript/test/BaseValue_spec.js
  sdk/python/generator/README.md
  sdk/python/scripts/ci/test_vectors.sh
  sdk/python/symbolchain/BaseValue.py
  sdk/python/tests/test_BaseValue.py
  sdk/python/tests/vectors/catbuffer.py
Due: sdk-python, sdk-javascript

[sdk/python]: rename buffer_ to buffer
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/python/generator/EnumTypeFormatter.py
  sdk/python/generator/FactoryFormatter.py
  sdk/python/generator/PodTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/printers.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-python, sdk-javascript

[sdk/python] task: add tests to ArrayHelpers and refactor to more closely match JS impl
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
  sdk/python/symbolchain/ArrayHelpers.py
  sdk/python/tests/test_ArrayHelpers.py
Due: sdk-python, sdk-javascript

[sdk/python] task: add tests to ArrayHelpers
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
  sdk/python/symbolchain/ArrayHelpers.py
  sdk/python/tests/test_ArrayHelpers.py
Due: sdk-python, sdk-javascript

[monorepo]: update py and js dependencies
  catbuffer/parser/requirements.txt
  client/rest/package-lock.json
  client/rest/package.json
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: rest-gateway, catbuffer-parser, sdk-javascript

[client/rest] build: fix security vulnerabilities by monkey patching dev deps
  client/rest/package-lock.json
  client/rest/package.json
Due: rest-gateway

Path conditions:
  rest-gateway: any of: client/rest
  catbuffer-parser: any of: catbuffer/parser
  sdk-python: any of: sdk/python
  sdk-javascript: any of: sdk/javascript
