Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[mkdocs] fix: redirects and 404s
  docs/guides/account/scams-and-security.html
  mkdocs/config/mkdocs.base.yml
  mkdocs/overrides/404.html
  mkdocs/pages/en/404.md
  mkdocs/pages/ja/404.md
  mkdocs/scripts/hooks.py
Due: none

[mkdocs] feat: remove root docs folder
  .gitignore
  docs/.gitignore
  docs/index.html
  mkdocs/scripts/hooks.py
Due: none

[docs] Update
  docs/en/404.html
  docs/en/404/index.html
  docs/ja/404.html
  docs/ja/404/index.html
Due: none

[mkdocs] fix: gh-pages deployment scripts
  .gitignore
  mkdocs/scripts/deploy-gh-pages.sh
Due: none

[mkdocs] fix: generate required gh-pages static files
  mkdocs/scripts/hooks.py
Due: none

[docs] Update
  docs/.nojekyll
  docs/CNAME
Due: none

[mkdocs] fix: move root folder files to templates
  mkdocs/scripts/hooks.py
  mkdocs/scripts/hooks/__init__.py
  mkdocs/scripts/hooks/deploy_root.py
  mkdocs/scripts/hooks/redirects.py
  mkdocs/scripts/hooks/templates.py
  mkdocs/templates/deploy/redirect.jinja2
  mkdocs/templates/deploy/root-404.jinja2
  mkdocs/templates/deploy/root-index.jinja2
Due: none

[docs] Update
  docs/404.html
  docs/guides/account/scams-and-security.html
  docs/index.html
Due: none

[mkdocs] fix: align comments
  mkdocs/scripts/register_cats_lexer.py
Due: none

[mkdocs] fix: stop patching ezglossary
  mkdocs/scripts/ci/ezglossary.patch
  mkdocs/scripts/ci/setup_build.sh
Due: none

[mkdocs] fix: remove unused catch parameter
  mkdocs/snippets/devbook/transactions/messages.mjs
Due: none

[mkdocs] fix: update linter to eslint 10
  mkdocs/.eslintrc
  mkdocs/eslint.config.mjs
  mkdocs/package-lock.json
  mkdocs/package.json
Due: none

[mkdocs] fix: have dependabot checks docs JS deps
  .github/dependabot.yaml
Due: none

[mkdocs] fix: remove unused scripts
  mkdocs/scripts/ptl.py
  mkdocs/scripts/snippet_migration/extract_snippet_ranges.py
  mkdocs/scripts/snippet_migration/insert_snippet_ranges.py
  mkdocs/scripts/snippet_migration/migrate_snippets.py
Due: none

fix: reverse CatRealloc copyTo args, wipe freed pool slots
  client/catapult/src/catapult/crypto/OpensslMemory.cpp
  client/catapult/src/catapult/crypto/OpensslMemory.h
  client/catapult/tests/catapult/crypto/OpensslMemoryTests.cpp
Due: client-catapult

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix: address linter violations in OpensslMemoryTests
  client/catapult/tests/catapult/crypto/OpensslMemoryTests.cpp
Due: client-catapult

[mkdocs] fix: lint build scripts along with code snippets
  mkdocs/README.md
  mkdocs/config/mkdocs.base.yml
  mkdocs/scripts/ci/lint_python.sh
  mkdocs/scripts/typedoc-plugin.py
  mkdocs/scripts/typedoc_plugin.py
  sdk/javascript/docs/typedoc.json
Due: sdk-javascript

fix: link OpenSSL into catapult.process
  client/catapult/src/catapult/process/CMakeLists.txt
Due: client-catapult

[mkdocs] fix: lint build scripts WIP
  mkdocs/scripts/gen_ref_pages_java.py
  mkdocs/scripts/gen_ref_pages_py.py
  mkdocs/scripts/gen_ref_pages_ts.py
Due: none

[mkdocs] fix: lint build scripts WIP
  mkdocs/cats_lexer/cats_lexer.py
  mkdocs/scripts/hooks.py
  mkdocs/scripts/hooks/deploy_root.py
  mkdocs/scripts/hooks/redirects.py
  mkdocs/scripts/hooks/templates.py
  mkdocs/scripts/register_cats_lexer.py
Due: none

[client/catapult] build(cmake): make ccache opt-out via NO_CCACHE
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/CMakeLists.txt
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: client-catapult

[mkdocs] fix: lint build scripts WIP
  mkdocs/scripts/hooks.py
Due: none

test: remove ReallocViaOpenSslApi test
  client/catapult/tests/catapult/crypto/OpensslMemoryTests.cpp
Due: client-catapult

refactor: deduplicate /Zi to /Z7 ccache fallback block
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

LocalNode's reentrancy guards
  client/catapult/src/catapult/local/server/LocalNode.cpp
Due: client-catapult

[mkdocs] fix: remove unnecessary lint config
  mkdocs/eslint.config.mjs
Due: none

Update vcpkg.json
  client/catapult/vcpkg.json
Due: client-catapult

Update linker flags for VS 2026 and later. FASTLINK is not supported anymore
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

Introduce port for RocksDB 10.6.2
  client/catapult/vcpkg-ports/rocksdb/0001-fix-dependencies.patch
  client/catapult/vcpkg-ports/rocksdb/portfile.cmake
  client/catapult/vcpkg-ports/rocksdb/vcpkg.json
Due: client-catapult

Update CMakeSettings.json
  client/catapult/CMakeSettings.json
Due: client-catapult

[MSVC] CMakeSettings -> CMakePresets
  client/catapult/CMakeLists.txt
  client/catapult/CMakePresets.json
  client/catapult/CMakeSettings.json
  client/catapult/cmake/toolchain.cmake
Due: client-catapult

Remove REQUIRED from mongo drivers
  client/catapult/extensions/mongo/CMakeLists.txt
Due: client-catapult

Update build instructions
  client/catapult/docs/BUILD-apple.md
  client/catapult/docs/BUILD-conan.md
  client/catapult/docs/BUILD-linux.md
  client/catapult/docs/BUILD-windows.md
  client/catapult/docs/README.md
Due: client-catapult

Note about tests parallelization
  client/catapult/docs/BUILD-windows.md
Due: client-catapult

Set overlay port if not defined
  client/catapult/cmake/toolchain.cmake
Due: client-catapult

Refine presets and instructions
  client/catapult/CMakePresets.json
  client/catapult/docs/BUILD-windows.md
Due: client-catapult

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
