Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[mkdocs] add: warning about exporting profiles from the wallet
  mkdocs/pages/en/userbook/wallet/export-profile.md
Due: none

[docs] Update
  docs/en/devbook/namespaces/link-namespace-to-address.mjs
  docs/en/devbook/namespaces/link-namespace-to-address/index.html
  docs/en/devbook/namespaces/link-namespace-to-mosaic/index.html
  docs/en/search/search_index.json
  docs/en/sitemap.xml
  docs/en/sitemap.xml.gz
  docs/en/userbook/wallet/export-profile/index.html
  docs/ja/devbook/namespaces/link-namespace-to-address.mjs
  docs/ja/sitemap.xml
  docs/ja/sitemap.xml.gz
Due: none

[mkdocs] fix: update OpenAPI spec to latest version
  openapi/openapi-symbol.yml
Due: none

[mkdocs] add: warning about exporting profiles translate
  mkdocs/pages/ja/userbook/wallet/export-profile.md
Due: none

[mkdocs] fix: devbook translate
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-address.md
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-mosaic.md
  mkdocs/pages/ja/devbook/transactions/transfer.md
Due: none

Amend UB for MSVC Windows builds
  client/catapult/src/catapult/thread/ThreadInfo.cpp
Due: client-catapult

Refine ThreadInfo safety
  client/catapult/src/catapult/thread/ThreadInfo.cpp
  client/catapult/src/catapult/thread/ThreadInfo.h
Due: client-catapult

Lint ThreadInfo.cpp
  client/catapult/src/catapult/thread/ThreadInfo.cpp
Due: client-catapult

Lint ThreadInfo Take2
  client/catapult/src/catapult/thread/ThreadInfo.cpp
Due: client-catapult

Lint ThreadInfo Take 3
  client/catapult/src/catapult/thread/ThreadInfo.cpp
Due: client-catapult

Update ThreadInfo.cpp
  client/catapult/src/catapult/thread/ThreadInfo.cpp
Due: client-catapult

Reorder includes
  client/catapult/src/catapult/thread/ThreadInfo.cpp
Due: client-catapult

Include order on ThreadInfo.cpp
  client/catapult/src/catapult/thread/ThreadInfo.cpp
Due: client-catapult

Revert "Include order on ThreadInfo.cpp"
  client/catapult/src/catapult/thread/ThreadInfo.cpp
Due: client-catapult

[mkdocs] fix: devbook translate
  mkdocs/pages/ja/devbook/mosaics/modify-mosaic-definition.md
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-mosaic.md
  mkdocs/pages/ja/devbook/namespaces/namespace-metadata.md
  mkdocs/pages/ja/devbook/start/setup.md
Due: none

[mkdocs] fix: translate
  mkdocs/config/mkdocs.ja.yml
  mkdocs/pages/ja/devbook/start/hello-world.md
  mkdocs/pages/ja/devbook/start/setup.md
  mkdocs/pages/ja/index.md
  mkdocs/pages/ja/textbook/intro.md
Due: none

[mkdocs] feat: replace Swagger with Scalar
  mkdocs/README.md
  mkdocs/config/mkdocs.base.yml
  mkdocs/overrides/assets/javascripts/openapi-scroll.js
  mkdocs/pages/en/devbook/network-currency/query-block-rewards.md
  mkdocs/pages/en/devbook/reference/rest/symbol.md
  mkdocs/pages/en/devbook/reference/websockets/index.md
  mkdocs/pages/en/devbook/transactions/monitoring-status.md
  mkdocs/pages/en/devbook/websockets/listen-bonded-transaction-flow.md
  mkdocs/pages/en/devbook/websockets/listen-new-blocks.md
  mkdocs/pages/en/devbook/websockets/listen-transaction-error.md
  mkdocs/pages/en/devbook/websockets/listen-transaction-flow.md
  mkdocs/requirements.txt
  mkdocs/scripts/hooks.py
Due: none

[mkdocs] fix: prevent reentrancy in Scalar OpenAPI renderer
  mkdocs/pages/en/devbook/reference/rest/symbol.md
Due: none

[docs] Update
  docs/en/devbook/reference/rest/symbol/index.html
Due: none

[mkdocs] fix: do not initialize Scalar until page is loaded
  mkdocs/pages/en/devbook/reference/rest/symbol.md
Due: none

Update HappyBlockchainIntegrityTests.cpp
  client/catapult/tests/int/node/stress/HappyBlockchainIntegrityTests.cpp
Due: client-catapult

[sdk]: 3.3.1 changelog and bump version for SDKs
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-javascript, sdk-python

feat: transactionId examples, change accountId schema to string (#321)
  openapi/spec/parameters/path/accountIdPath.yml
  openapi/spec/parameters/path/transactionIdPath.yml
Due: none

[sdk]: address feedback(fix Python function names)
  sdk/python/CHANGELOG.md
Due: sdk-python

[mkdocs] fix: cleanup empty reference pages
  mkdocs/config/mkdocs.base.yml
Due: none

[mkdocs] fix: textbook's anchor links
  mkdocs/pages/ja/devbook/chain/chain-heights.md
  mkdocs/pages/ja/devbook/chain/prove-transaction.md
  mkdocs/pages/ja/devbook/mosaics/revoke-mosaic.md
  mkdocs/pages/ja/devbook/namespaces/get-namespace-info.md
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-address.md
  mkdocs/pages/ja/devbook/namespaces/link-namespace-to-mosaic.md
  mkdocs/pages/ja/devbook/namespaces/register-root-namespace.md
  mkdocs/pages/ja/devbook/namespaces/register-subnamespace.md
  mkdocs/pages/ja/devbook/namespaces/resolve-namespace-from-receipt.md
  mkdocs/pages/ja/devbook/transactions/bonded-aggregate.md
  mkdocs/pages/ja/devbook/transactions/typed-descriptors.md
  mkdocs/pages/ja/textbook/accounts.md
  mkdocs/pages/ja/textbook/blocks.md
  mkdocs/pages/ja/textbook/catapult.md
  mkdocs/pages/ja/textbook/cats.md
  mkdocs/pages/ja/textbook/consensus.md
  mkdocs/pages/ja/textbook/cryptography.md
  mkdocs/pages/ja/textbook/glossary.md
  mkdocs/pages/ja/textbook/harvesting.md
  mkdocs/pages/ja/textbook/intro.md
  mkdocs/pages/ja/textbook/mosaics.md
  mkdocs/pages/ja/textbook/namespaces.md
  mkdocs/pages/ja/textbook/nodes.md
  mkdocs/pages/ja/textbook/restrictions.md
  mkdocs/pages/ja/textbook/transactions.md
  mkdocs/pages/ja/textbook/transfer_transactions.md
Due: none

[mkdocs] fix: missing menu
  mkdocs/config/mkdocs.ja.yml
Due: none

[mkdocs] fix: silence invalid warnings about missing anchors in REST page
  mkdocs/scripts/hooks.py
Due: none

[mkdocs] add: clarify shoestring deps
  mkdocs/pages/en/userbook/shoestring/install.md
Due: none

[mkdocs] add: Catapult properties reference guides
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/reference/config/config-harvesting.properties.html
  mkdocs/overrides/devbook/reference/config/config-network.properties.html
  mkdocs/overrides/devbook/reference/config/config-node.properties.html
  mkdocs/overrides/devbook/reference/config/config-user.properties.html
  mkdocs/pages/en/devbook/reference/config/network-properties.md
  mkdocs/pages/en/devbook/reference/config/node-properties.md
Due: none

[mkdocs] add: shoestring guides (WIP)
  mkdocs/pages/en/userbook/shoestring/install.md
  mkdocs/pages/en/userbook/shoestring/overview.md
  mkdocs/pages/en/userbook/shoestring/quickstart.md
Due: none

[mkdocs] add: shoestring guides (WIP)
  mkdocs/config/mkdocs.en.yml
  mkdocs/pages/en/userbook/shoestring/configure.md
  mkdocs/pages/en/userbook/shoestring/install.md
  mkdocs/pages/en/userbook/shoestring/manage.md
  mkdocs/pages/en/userbook/shoestring/migrate.md
  mkdocs/pages/en/userbook/shoestring/overview.md
  mkdocs/pages/en/userbook/shoestring/quickstart.md
  mkdocs/pages/en/userbook/shoestring/security.md
Due: none

[mkdocs] Shoestring guides WIP
  mkdocs/pages/en/userbook/shoestring/install.md
  mkdocs/pages/en/userbook/shoestring/quickstart.md
Due: none
