Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[jenkins] fix: upgrade to clang 18
  client/catapult/CMakeGlobalSettings.cmake
  jenkins/catapult/compilers/clang-latest.yaml
  jenkins/catapult/compilers/clang-prior.yaml
  jenkins/catapult/compilers/ubuntu-clang/Dockerfile
Due: client-catapult

[jenkins] fix: clang 18 remove the 'avx' options from ARM
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

Create .gitignore
  client/catapult/.gitignore
Due: client-catapult

Add support for vcpkg
  client/catapult/CMakeSettings.json
  client/catapult/vcpkg.json
Due: client-catapult

Update BUILD-conan.md with proper min versions
  client/catapult/docs/BUILD-conan.md
Due: client-catapult

Ignore conanbuildinfo.txt
  client/catapult/.gitignore
Due: client-catapult

vcpkg toolchain file from env vars
  client/catapult/CMakeSettings.json
Due: client-catapult

CMake : Remove relative include_directories
  client/catapult/src/catapult/crypto/CMakeLists.txt
  client/catapult/tests/catapult/crypto/CMakeLists.txt
  client/catapult/tests/int/stress/CMakeLists.txt
  client/catapult/tests/test/crypto/CMakeLists.txt
  client/catapult/tests/test/nemesis/CMakeLists.txt
Due: client-catapult

MSVC : Parallel builds
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

Update conan doc for Windows
  client/catapult/docs/BUILD-conan.md
Due: client-catapult

VS Integrated MSVC builds
  client/catapult/CMakeSettings.json
Due: client-catapult

Revert "CMake : Remove relative include_directories"
  client/catapult/src/catapult/crypto/CMakeLists.txt
  client/catapult/tests/catapult/crypto/CMakeLists.txt
  client/catapult/tests/int/stress/CMakeLists.txt
  client/catapult/tests/test/crypto/CMakeLists.txt
  client/catapult/tests/test/nemesis/CMakeLists.txt
Due: client-catapult

[sdk/javascript]: during CI build delete temporary directories created by run_catbuffer_generator
  sdk/javascript/scripts/run_catbuffer_generator.sh
Due: sdk-javascript

[sdk/javascript]: fix package exports
  sdk/javascript/README.md
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javascript] fix: skip the node_modules folder for Python linting
  sdk/javascript/scripts/ci/lint_python.sh
Due: sdk-javascript

[sdk/javascript]: address feedback
  sdk/javascript/CHANGELOG.md
Due: sdk-javascript

[sdk/javascript]: 3.2.1 bump and changelog
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package.json
Due: sdk-javascript

[linters]: address feedback
  linters/javascript/default.eslintrc
Due: none

[linters] fix: disable no-unresolved for symbol-sdk import
  linters/javascript/default.eslintrc
Due: none

[jenkins] fix: update docker image problem: docker images are not using the latest OS solution: upgrade the base images to the latest add zip and awscli to the JS and Python images
  jenkins/docker/fedora/javascript.Dockerfile
  jenkins/docker/fedora/python.Dockerfile
  jenkins/docker/ubuntu/java.Dockerfile
  jenkins/docker/ubuntu/javascript.Dockerfile
  jenkins/docker/ubuntu/linter.Dockerfile
  jenkins/docker/ubuntu/python.Dockerfile
Due: none

[jenkins] fix: update fedora in CI base image
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
Due: none

[jenkins] fix: update docker images
  jenkins/docker/fedora/javascript.Dockerfile
  jenkins/docker/fedora/python.Dockerfile
  jenkins/docker/ubuntu/java.Dockerfile
  jenkins/docker/ubuntu/javascript.Dockerfile
  jenkins/docker/ubuntu/linter.Dockerfile
  jenkins/docker/ubuntu/python.Dockerfile
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
Due: none

[sdk/javascript]: refresh package-lock.json
  sdk/javascript/package-lock.json
Due: sdk-javascript

[sdk/javascript]: mocha runner is being used but jest types are being used
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: sdk-javascript

[jenkins] fix: linting failure due to rmtree onerror deprecation problem: in Python 3.12, shutil.rmtree onerror argument is deprecated solution: in Python 3.12 which to using onexc instead of onerror
  jenkins/catapult/environment.py
Due: none

[jenkins] fix: update npm groovy lint
  jenkins/docker/ubuntu/java.Dockerfile
  jenkins/docker/ubuntu/linter.Dockerfile
Due: none

[jenkins]: address feedback
  jenkins/catapult/environment.py
Due: none

[jenkins] fix: linting failure due to rmtree() param onerror getting deprecation
  jenkins/catapult/environment.py
  jenkins/docker/ubuntu/java.Dockerfile
  jenkins/docker/ubuntu/linter.Dockerfile
Due: none

[sdk/javascript]: allow BaseValue to coerce in bounds inputs into correct types
  sdk/javascript/src/BaseValue.js
  sdk/javascript/test/BaseValue_spec.js
Due: sdk-javascript

[jenkins] fix: upgrade catapult os and mongodb version problem: catapult is not using the latest Fedora, Ubuntu and MongoDB versions solution: update catapult docker images to use the latest.
  client/catapult/docs/BUILD-docker.md
  jenkins/catapult/compilers/fedora-gcc/Dockerfile
  jenkins/catapult/compilers/ubuntu-clang/Dockerfile
  jenkins/catapult/compilers/ubuntu-gcc/Dockerfile
  jenkins/catapult/templates/RunTest.yaml
  jenkins/catapult/templates/RunTestWindows.yaml
  jenkins/catapult/versions.properties
  jenkins/docker/ubuntu/cpp.Dockerfile
Due: client-catapult

[jenkins] fix: upgrade catapult base OS and MongoDB version
  client/catapult/docs/BUILD-docker.md
  jenkins/catapult/compilers/fedora-gcc/Dockerfile
  jenkins/catapult/compilers/ubuntu-clang/Dockerfile
  jenkins/catapult/compilers/ubuntu-gcc/Dockerfile
  jenkins/catapult/templates/RunTest.yaml
  jenkins/catapult/templates/RunTestWindows.yaml
  jenkins/catapult/versions.properties
  jenkins/docker/ubuntu/cpp.Dockerfile
Due: client-catapult

[sdk/javascript]: add deserialize function to TransactionFactory in sdk
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
  sdk/javascript/test/test/basicTransactionFactoryTests.js
Due: sdk-javascript

[sdk/python]: add deserialize function to TransactionFactory in sdk
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/symbol/test_TransactionFactory.py
  sdk/python/tests/test/BasicTransactionFactoryTest.py
Due: sdk-python

[sdk/javascript]: improve typescript support by generating type annotated descriptors
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator_ts/AbstractTypeFormatter.py
  sdk/javascript/generator_ts/Generator.py
  sdk/javascript/generator_ts/README.md
  sdk/javascript/generator_ts/StructTypeFormatter.py
  sdk/javascript/generator_ts/TypeFormatter.py
  sdk/javascript/generator_ts/__init__.py
  sdk/javascript/generator_ts/requirements.txt
  sdk/javascript/scripts/run_catbuffer_generator_ts.sh
  sdk/javascript/src/nem/index.js
  sdk/javascript/src/nem/models_ts.js
  sdk/javascript/src/symbol/index.js
  sdk/javascript/src/symbol/models_ts.js
  sdk/javascript/vectors/catbuffer.js
  sdk/javascript/vectors/tsDescriptorsNem.js
  sdk/javascript/vectors/tsDescriptorsSymbol.js
Due: sdk-javascript

[sdk/javascript]: extend facades to simplify usage of typed descriptors
  sdk/javascript/README.md
  sdk/javascript/examples/readme/nem.js
  sdk/javascript/examples/readme/symbol.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
Due: sdk-javascript

[sdk/javascript]: add cosignatureCount optional parameter to SymbolFacade createTransactionFromTypedDescriptor
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
Due: sdk-javascript

[jenkins] fix: address feedback
  jenkins/shared-library/vars/configureArtifactRepository.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/publish.groovy
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
