Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[sdk] docs: enable jekyll but include _sources
  docs/.nojekyll
  docs/_config.yml
Due: none

[sdk] docs: kramdown use the defaults
  docs/_config.yml
Due: none

[sdk] docs: only include
  docs/_config.yml
Due: none

[sdk]: update changelog and bump version for SDKs
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package.json
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-javascript, sdk-python

[sdk]: 3.2.2 changelog and bump version for SDKs
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package.json
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-javascript, sdk-python

[jenkins]: address feedback
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
Due: none

[jenkins] fix: allow a Jenkins job to run on every commit
  .github/buildConfiguration.yaml
  jenkins/shared-library/vars/monorepoControllerPipeline.groovy
Due: none

[jenkins] fix: fetch fails permission due to org name not matching case
  .github/jenkinsfile/cloneSymbolBranches.groovy
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[jenkins] fix: GitHub commands only requires the token
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

[jenkins] fix: GitHub commands only requires the token
  .github/jenkinsfile/cloneSymbolBranches.groovy
  jenkins/shared-library/vars/githubHelper.groovy
Due: none

vcpkg patch for VS >= 17.10
  client/catapult/vcpkg.json
Due: client-catapult

[client/catapult] fix: vcpkg patch for VS >= 17.10
  client/catapult/vcpkg.json
Due: client-catapult

[sdk/javascript] fix: missed updating version in the package-lock.json
  sdk/javascript/package-lock.json
Due: sdk-javascript

[sdk] fix: add test vector for detached cosignature
  sdk/python/testvectors/symbol/detached_cosignature.py
  tests/vectors/symbol/models/other.json
Due: sdk-python

[sdk]: address feedback
  sdk/javascript/package-lock.json
  sdk/python/testvectors/symbol/detached_cosignature.py
  sdk/python/testvectors/symbol/mosaic_supply_revocation.py
  tests/vectors/symbol/models/transactions.json
Due: sdk-javascript, sdk-python

[sdk] fix: add missing TS descriptor for mosaic revocation
  sdk/javascript/vectors/tsDescriptorsSymbol.js
Due: sdk-javascript

[sdk] fix: test vectors missing for mosaic revocation
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/symbol/mosaic_recovation.py
  sdk/python/testvectors/symbol/receipts.py
  tests/vectors/symbol/models/other.json
  tests/vectors/symbol/models/receipts.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-python

[sdk] fix: test vectors missing for mosaic revocation, receipt and detached cosignature
  sdk/javascript/package-lock.json
  sdk/javascript/vectors/tsDescriptorsSymbol.js
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/symbol/detached_cosignature.py
  sdk/python/testvectors/symbol/mosaic_supply_revocation.py
  sdk/python/testvectors/symbol/receipts.py
  tests/vectors/symbol/models/other.json
  tests/vectors/symbol/models/receipts.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-javascript, sdk-python

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  client/catapult/extensions/mongo/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

Remove leftover from previous versions
  client/catapult/tools/health/ApiNodeHealthUtils.cpp
Due: client-catapult

Remove untriggered but silenced warning
  client/catapult/src/catapult/utils/Logging.cpp
Due: client-catapult

Remove untriggered but silenced warning
  client/catapult/tests/catapult/utils/test/LoggingTestUtils.h
Due: client-catapult

Remove untriggered but silenced warning
  client/catapult/src/catapult/ionet/PacketSocket.cpp
Due: client-catapult

Amend possible copy
  client/catapult/src/catapult/ionet/PacketSocket.cpp
Due: client-catapult

Avoid other implicit casting uint8 -> void
  client/catapult/src/catapult/ionet/PacketSocket.cpp
Due: client-catapult

Amend possibly uninitialized value
  client/catapult/src/catapult/ionet/PacketSocket.cpp
Due: client-catapult

[client/rest]: replace networkInfo with symbol-sdk
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/src/catapult-sdk/index.js
  client/rest/src/catapult-sdk/model/address.js
  client/rest/src/catapult-sdk/model/networkInfo.js
  client/rest/src/catapult-sdk/utils/base32.js
  client/rest/src/connection/MessageChannelBuilder.js
  client/rest/src/db/CatapultDb.js
  client/rest/src/db/dbUtils.js
  client/rest/src/index.js
  client/rest/src/plugins/routeSystem.js
  client/rest/src/routes/routeUtils.js
  client/rest/src/server/websocketUtils.js
  client/rest/test/catapult-sdk/model/address_spec.js
  client/rest/test/catapult-sdk/model/networkInfo_spec.js
  client/rest/test/catapult-sdk/utils/base32_spec.js
  client/rest/test/connection/zmqService_spec.js
  client/rest/test/db/CatapultDb_spec.js
  client/rest/test/db/utils/dbTestUtils.js
  client/rest/test/db/utils/testDbOptions.js
  client/rest/test/plugins/lockHash/lockHashRoutes_spec.js
  client/rest/test/plugins/lockSecret/lockSecretRoutes_spec.js
  client/rest/test/plugins/metadata/MetadataDb_spec.js
  client/rest/test/plugins/metadata/metadataRoutes_spec.js
  client/rest/test/plugins/mosaic/MosaicDb_spec.js
  client/rest/test/plugins/mosaic/mosaicRoutes_spec.js
  client/rest/test/plugins/multisig/multisigRoutes_spec.js
  client/rest/test/plugins/multisig/routeAddressGetTestUtils.js
  client/rest/test/plugins/namespace/NamespaceDb_spec.js
  client/rest/test/plugins/namespace/namespaceRoutes_spec.js
  client/rest/test/plugins/receipts/ReceiptsDb_spec.js
  client/rest/test/plugins/receipts/receiptsRoutes_spec.js
  client/rest/test/plugins/restrictions/RestrictionsDb_spec.js
  client/rest/test/plugins/restrictions/restrictionsRoutes_spec.js
  client/rest/test/routes/accountRoutes_spec.js
  client/rest/test/routes/blockRoutes_spec.js
  client/rest/test/routes/routeUtils_spec.js
  client/rest/test/routes/transactionRoutes_spec.js
  client/rest/test/server/websocketUtils_spec.js
Due: client-rest

[DO NOT MERGE]: temporarily point REST sdk to local sdk
  client/rest/package-lock.json
  client/rest/package.json
Due: client-rest

[sdk/javascript]: add toJson to models
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/EnumTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/generator_ts/TypeFormatter.py
  sdk/javascript/src/BaseValue.js
  sdk/javascript/src/ByteArray.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/test/BaseValue_spec.js
  sdk/javascript/test/ByteArray_spec.js
  sdk/javascript/vectors/catbuffer.js
Due: sdk-javascript

[sdk/javascript]: export additional utils from sdk
  sdk/javascript/src/index.js
Due: sdk-javascript

[client/rest]: reuse utils that are implemented in the js sdk
  client/rest/src/catapult-sdk/crypto/merkleAuditProof.js
  client/rest/src/catapult-sdk/index.js
  client/rest/src/catapult-sdk/model/namespace.js
  client/rest/src/catapult-sdk/utils/arrayUtils.js
  client/rest/src/catapult-sdk/utils/charMapping.js
  client/rest/src/catapult-sdk/utils/convert.js
  client/rest/src/connection/MessageChannelBuilder.js
  client/rest/src/connection/serverMessageHandlers.js
  client/rest/src/db/dbFormattingRules.js
  client/rest/src/db/dbUtils.js
  client/rest/src/plugins/aggregate/aggregateRoutes.js
  client/rest/src/plugins/mosaic/supplyRoutes.js
  client/rest/src/routes/MerkelTree.js
  client/rest/src/routes/merkleUtils.js
  client/rest/src/routes/nodeRoutes.js
  client/rest/src/routes/routeUtils.js
  client/rest/src/routes/transactionRoutes.js
  client/rest/src/routes/transactionStatusRoutes.js
  client/rest/src/server/messageFormattingRules.js
  client/rest/test/catapult-sdk/crypto/merkleAuditProof_spec.js
  client/rest/test/catapult-sdk/model/namespace_spec.js
  client/rest/test/catapult-sdk/utils/arrayUtils_spec.js
  client/rest/test/catapult-sdk/utils/charMapping_spec.js
  client/rest/test/catapult-sdk/utils/convert_spec.js
  client/rest/test/db/CatapultDb_spec.js
  client/rest/test/plugins/lockSecret/lockSecretRoutes_spec.js
  client/rest/test/plugins/metadata/metal_spec.js
  client/rest/test/plugins/mosaic/supplyRoutes_spec.js
  client/rest/test/routes/MerkleTree_spec.js
  client/rest/test/routes/accountRoutes_spec.js
  client/rest/test/routes/blockRoutes_spec.js
  client/rest/test/routes/routeUtils_spec.js
  client/rest/test/routes/transactionRoutes_spec.js
  client/rest/test/routes/transactionStatusRoutes_spec.js
  client/rest/test/sockets/stateTreeCodec_spec.js
Due: client-rest
