Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

Populate Java API docs navigation (WIP)
  mkdocs/config/mkdocs.en.yml
  mkdocs/config/mkdocs.ja.yml
  mkdocs/scripts/gen_ref_pages_java.py
Due: none

Update ezglossary for CWD independence
  mkdocs/config/mkdocs.en.yml
  mkdocs/config/mkdocs.ja.yml
  mkdocs/requirements.txt
Due: none

Tweak theme
  mkdocs/overrides/assets/stylesheets/extra.css
Due: none

Add MkDoxy for Java API docs (WIP)
  mkdocs/.gitignore
  mkdocs/config/mkdocs.en.yml
  mkdocs/config/mkdocs.ja.yml
  mkdocs/requirements.txt
  mkdocs/scripts/gen_ref_pages_py.py
  sdk/java/Hello.java
Due: none

Deduplicate mkdocs settings to a base config file
  mkdocs/config/mkdocs.base.yml
  mkdocs/config/mkdocs.en.yml
  mkdocs/config/mkdocs.ja.yml
Due: none

Serve fonts from Google Fonts
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/assets/fonts/Aldrich-Regular.ttf
  mkdocs/overrides/assets/fonts/Exo2-VariableFont.ttf
  mkdocs/overrides/assets/stylesheets/extra.css
Due: none

Java SDK WIP: Make included prefixes configurable
  mkdocs/config/mkdocs.base.yml
  mkdocs/scripts/gen_ref_pages_java.py
  mkdocs/scripts/hooks.py
Due: none

Java SDK config WIP
  mkdocs/config/mkdocs.base.yml
  mkdocs/config/mkdocs.en.yml
  mkdocs/config/mkdocs.ja.yml
  sdk/java/Hello.java
Due: none

Java SDK WIP
  mkdocs/config/mkdocs.base.yml
  mkdocs/scripts/gen_ref_pages_java.py
  mkdocs/scripts/hooks.py
  mkdocs/templates/mkdoxy/memDef.jinja2
  mkdocs/templates/mkdoxy/member.jinja2
Due: none

Useful Windows script
  mkdocs/scripts/serve.bat
Due: none

Java SDK WIP: manual removal of unwanted pages
  mkdocs/config/mkdocs.base.yml
  mkdocs/pages/en/devbook/0.introduction.md
  mkdocs/scripts/gen_ref_pages_java.py
  mkdocs/scripts/hooks.py
Due: none

Documentation selector WIP
  mkdocs/config/mkdocs.base.yml
  mkdocs/overrides/assets/images/nem-docs.png
  mkdocs/overrides/assets/images/symbol-docs.png
  mkdocs/overrides/assets/stylesheets/extra.css
  mkdocs/overrides/partials/doc_selector.html
  mkdocs/overrides/partials/header.html
  mkdocs/pages/en/devbook/0.introduction.md
Due: none

Documentation selector example
  mkdocs/pages/en/devbook/0.introduction.md
Due: none

Java SDK WIP
  mkdocs/pages/en/devbook/0.introduction.md
  mkdocs/templates/mkdoxy/memDef.jinja2
  mkdocs/templates/mkdoxy/member.jinja2
Due: none

Internationalize docs selector
  mkdocs/config/mkdocs.base.yml
  mkdocs/config/mkdocs.en.yml
  mkdocs/config/mkdocs.ja.yml
Due: none

Fix language selector while using a gh subdomain
  mkdocs/config/mkdocs.base.yml
Due: none

Import OpenAPI specs for NEM and Symbol
  openapi/openapi-nem.yml
  openapi/openapi-symbol.yml
Due: none

Fix invisible links in light theme
  mkdocs/overrides/assets/stylesheets/extra.css
Due: none

[client/rest] fix: upgrade to zeromq 6.x
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/src/connection/zmqService.js
  client/rest/src/connection/zmqUtils.js
  client/rest/test/connection/zmqService_spec.js
  client/rest/test/server/bootstrapper_spec.js
Due: client-rest

fix: change documentation URL
  openapi/spec/core/block/schemas/BlockMetaDTO.yml
  openapi/spec/openapi.yml
Due: none

Add REST API reference
  mkdocs/config/mkdocs.base.yml
  mkdocs/config/mkdocs.en.yml
  mkdocs/config/mkdocs.ja.yml
  mkdocs/overrides/assets/javascripts/openapi-scroll.js
  mkdocs/pages/en/devbook/reference/rest/.gitignore
  mkdocs/pages/en/devbook/reference/rest/symbol.md
  mkdocs/pages/ja/devbook/reference/rest/.gitignore
  mkdocs/pages/ja/devbook/reference/rest/symbol.md
  mkdocs/requirements.txt
  mkdocs/scripts/hooks.py
Due: none

Remove doc selector
  mkdocs/config/mkdocs.en.yml
  mkdocs/config/mkdocs.ja.yml
  mkdocs/overrides/assets/images/nem-docs.png
  mkdocs/overrides/assets/images/symbol-docs.png
  mkdocs/overrides/assets/stylesheets/extra.css
  mkdocs/overrides/partials/doc_selector.html
  mkdocs/overrides/partials/header.html
  mkdocs/pages/en/devbook/0.introduction.md
Due: none

[sdk/java] feat: initial Java SDK 1. add jenkins builds setup 2. add utils files for convertion, array helper, etc.
  .github/buildConfiguration.yaml
  .github/codecov.yaml
  .github/codeowners.md
  .github/dependabot.yaml
  .github/workflows/codeql-analysis.yaml
  .gitlintmodules
  sdk/java/.gitignore
  sdk/java/Jenkinsfile
  sdk/java/build.gradle
  sdk/java/eclipse-formatter.xml
  sdk/java/gradle.properties
  sdk/java/gradle/libs.versions.toml
  sdk/java/gradle/wrapper/gradle-wrapper.jar
  sdk/java/gradle/wrapper/gradle-wrapper.properties
  sdk/java/gradlew
  sdk/java/gradlew.bat
  sdk/java/scripts/ci/build.sh
  sdk/java/scripts/ci/lint.sh
  sdk/java/scripts/ci/test.sh
  sdk/java/settings.gradle
  sdk/java/src/main/java/org/symbol/sdk/utils/ArrayHelpers.java
  sdk/java/src/main/java/org/symbol/sdk/utils/Base32.java
  sdk/java/src/main/java/org/symbol/sdk/utils/BufferView.java
  sdk/java/src/main/java/org/symbol/sdk/utils/BufferWriter.java
  sdk/java/src/main/java/org/symbol/sdk/utils/CharacterMapBuilder.java
  sdk/java/src/main/java/org/symbol/sdk/utils/Converter.java
  sdk/java/src/main/java/org/symbol/sdk/utils/Serializer.java
  sdk/java/src/main/java/org/symbol/sdk/utils/Writer.java
  sdk/java/src/test/java/org/symbol/sdk/utils/ArrayHelpersTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/Base32Test.java
  sdk/java/src/test/java/org/symbol/sdk/utils/BufferViewTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/BufferWriterTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/CharacterMapBuilderTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/ConverterTest.java
Due: none

[sdk/java] fix: add Jacoco code coverage report
  sdk/java/Jenkinsfile
  sdk/java/build.gradle
  sdk/java/gradle.properties
Due: none

[sdk/java] fix: linting and use gradlew
  sdk/java/build.gradle
  sdk/java/eclipse-formatter.xml
  sdk/java/gradlew
  sdk/java/scripts/ci/build.sh
  sdk/java/scripts/ci/lint.sh
  sdk/java/scripts/ci/test.sh
  sdk/java/settings.gradle
Due: none

[sdk/java]: address feedback
  .github/codeowners.md
  .github/dependabot.yaml
  linters/java/eclipse-formatter.xml
  sdk/java/build.gradle
  sdk/java/src/main/java/org/symbol/sdk/utils/ArrayHelpers.java
  sdk/java/src/main/java/org/symbol/sdk/utils/BufferView.java
  sdk/java/src/main/java/org/symbol/sdk/utils/Serializable.java
  sdk/java/src/test/java/org/symbol/sdk/utils/ArrayHelpersTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/Base32Test.java
  sdk/java/src/test/java/org/symbol/sdk/utils/BufferViewTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/BufferWriterTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/CharacterMapBuilderTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/ConverterTest.java
Due: none

[sdk/java]: fix linting
  sdk/java/build.gradle
Due: none

[sdk/java]: address feedback
  sdk/java/src/main/java/org/symbol/sdk/utils/ArrayHelpers.java
  sdk/java/src/main/java/org/symbol/sdk/utils/BufferView.java
  sdk/java/src/test/java/org/symbol/sdk/utils/ArrayHelpersTest.java
Due: none

[sdk/javascript] fix: upgrade rustc to supports edition2024 feature
  sdk/javascript/scripts/ci/build.sh
  sdk/javascript/wasm/Cargo.toml
Due: sdk-javascript

[client/catapult]: 1.0.3.8 version bump and changelog
  client/catapult/CHANGELOG.md
  client/catapult/src/catapult/version/version_inc.h
  jenkins/catapult/server.version.yaml
Due: client-catapult

[sdk/java]: address feedback
  sdk/java/src/test/java/org/symbol/sdk/utils/ArrayHelpersTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/BufferViewTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/CharacterMapBuilderTest.java
  sdk/java/src/test/java/org/symbol/sdk/utils/ConverterTest.java
Due: none

[client/rest]: fix tests
  client/rest/test/routes/light/nodeRoutes_spec.js
  client/rest/test/routes/nodeRoutes_spec.js
Due: client-rest

[client/rest]: 2.5.0 version bump and changelog
  client/rest/CHANGELOG.md
  client/rest/package-lock.json
  client/rest/package.json
Due: client-rest

[client/rest]: address feedback
  client/rest/CHANGELOG.md
Due: client-rest

[client/rest]: 2.5.0 version bump and changelog
  client/rest/CHANGELOG.md
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/test/routes/light/nodeRoutes_spec.js
  client/rest/test/routes/nodeRoutes_spec.js
Due: client-rest

[client/rest] fix: some issues reported by docker scout
  client/rest/Dockerfile
Due: client-rest

[jenkins] fix: docker scout reported issues problem: Docker Scout reported the Catapult image with no default Non-Root User solution: set the default user to a non-root user
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/runDockerBuild.py
  jenkins/catapult/templates/UbuntuReleaseBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
  jenkins/shared-library/vars/dockerHelper.groovy
Due: none

[jenkins]: fix user root statement
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
