Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: rest-gateway, catbuffer-parser, sdk-python, sdk-javascript

f
  client/rest/package.json
Due: rest-gateway

z
  client/rest/package-lock.json
Due: rest-gateway

[monorepo] fix: move seed folder
  jenkins/seed-job/Jenkinsfile
  jenkins/seed-job/product/buildConfiguration.yaml
  jenkins/seed-job/symbol/buildConfiguration.yaml
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: none

[monorepo] fix: linting
  jenkins/seed-job/product/buildConfiguration.yaml
Due: none

[monorepo] fix: checkout submodule on seed job.
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: none

[monorepo] fix: checkout submodule on seed job
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: none

[sdk]: update testnet generation hash
  .gitlintmodules
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/test/symbol/Network_spec.js
  sdk/python/symbolchain/symbol/Network.py
  sdk/python/tests/symbol/test_Network.py
Due: sdk-python, sdk-javascript

[sdk]: update testnet generation hash
  .gitlintmodules
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/javascript/test/symbol/Network_spec.js
  sdk/python/symbolchain/symbol/Network.py
  sdk/python/tests/facade/test_SymbolFacade.py
  sdk/python/tests/symbol/test_Network.py
Due: sdk-python, sdk-javascript

[sdk] task: add aggregate transactions hash calculation to SymbolFacade
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/symbol/MerkleHashBuilder.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/javascript/test/symbol/MerkleHashBuilder_spec.js
  sdk/python/examples/transaction_aggregate.py
  sdk/python/examples/transaction_multisig.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
  sdk/python/tests/symbol/test_MerkleHashBuilder.py
Due: sdk-python, sdk-javascript

[catbuffer/parser]: all NEM transaction bodies should be marked as inline
  catbuffer/schemas/nem/mosaic/mosaic_definition.cats
  catbuffer/schemas/nem/mosaic/mosaic_supply_change.cats
  catbuffer/schemas/nem/namespace/namespace_registration.cats
  sdk/javascript/src/nem/models.js
  sdk/python/symbolchain/nc/__init__.py
Due: sdk-python, sdk-javascript

[catbuffer/schemas] fix: missing alignment inside blocks
  catbuffer/schemas/symbol/block.cats
Due: none

[sdk] fix: transactions handling inside the block (use variable read/write)
  sdk/javascript/generator/printers.py
  sdk/javascript/src/symbol/models.js
  sdk/python/generator/printers.py
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-python, sdk-javascript

[sdk] fix: transactions handling inside the block - use variable size read/write
  sdk/javascript/generator/printers.py
  sdk/javascript/src/symbol/models.js
  sdk/python/generator/printers.py
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-python, sdk-javascript

[sdk/python] poor JS, I don't even feel sorry for you
  sdk/python/testvectors/__main__.py
  tests/vectors/nem/transactions/transactions.yaml
  tests/vectors/symbol/transactions/transactions.yaml
Due: sdk-python

[sdk/python]: recreate test vectors
  sdk/python/testvectors/README.md
  sdk/python/testvectors/__init__.py
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/nem/__init__.py
  sdk/python/testvectors/nem/account_key_link.py
  sdk/python/testvectors/nem/cosignature.py
  sdk/python/testvectors/nem/mosaic_definition.py
  sdk/python/testvectors/nem/mosaic_supply_change.py
  sdk/python/testvectors/nem/multisig.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/namespace_registration.py
  sdk/python/testvectors/nem/transfer.py
  sdk/python/testvectors/symbol/__init__.py
  sdk/python/testvectors/symbol/account_address_restriction.py
  sdk/python/testvectors/symbol/account_metadata.py
  sdk/python/testvectors/symbol/account_mosaic_restriction.py
  sdk/python/testvectors/symbol/account_operation_restriction.py
  sdk/python/testvectors/symbol/address_alias.py
  sdk/python/testvectors/symbol/aggregate_complete.py
  sdk/python/testvectors/symbol/aggregate_mosaic_supply_change.py
  sdk/python/testvectors/symbol/hash_lock.py
  sdk/python/testvectors/symbol/key_link.py
  sdk/python/testvectors/symbol/mosaic_address_restriction.py
  sdk/python/testvectors/symbol/mosaic_alias.py
  sdk/python/testvectors/symbol/mosaic_definition.py
  sdk/python/testvectors/symbol/mosaic_global_restriction.py
  sdk/python/testvectors/symbol/mosaic_metadata.py
  sdk/python/testvectors/symbol/mosaic_supply_change.py
  sdk/python/testvectors/symbol/multisig_account_modification.py
  sdk/python/testvectors/symbol/namespace_metadata.py
  sdk/python/testvectors/symbol/namespace_registration.py
  sdk/python/testvectors/symbol/secret_lock.py
  sdk/python/testvectors/symbol/secret_proof.py
  sdk/python/testvectors/symbol/transfer.py
  sdk/python/testvectors/utils.py
Due: sdk-python

[catbuffer/parser] task: add struct is_aligned field
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/grammar/catbuffer.lark
  catbuffer/parser/docs/cats_dsl.md
  catbuffer/parser/tests/test_ast.py
  catbuffer/schemas/symbol/block.cats
  catbuffer/schemas/symbol/receipts.cats
  catbuffer/schemas/symbol/transaction.cats
Due: catbuffer-parser

[sdk/python]: add 'create from descriptor' test vectors
  sdk/python/tests/vectors/catbuffer.py
Due: sdk-python

[catbuffer/parser] build: update changelog to include all unreleased changes
  catbuffer/parser/CHANGELOG.md
  catbuffer/parser/pyproject.toml
Due: catbuffer-parser

[sdk/javascript]: use undefined check for property existence
  sdk/javascript/src/TransactionDescriptorProcessor.js
  sdk/javascript/test/TransactionDescriptorProcessor_spec.js
  sdk/python/tests/test_TransactionDescriptorProcessor.py
Due: sdk-python, sdk-javascript

[catbuffer/parser]: extend alignment attribute to specify padding of last element
  catbuffer/parser/CHANGELOG.md
  catbuffer/parser/catparser/AstPostProcessor.py
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/grammar/catbuffer.lark
  catbuffer/parser/docs/cats_dsl.md
  catbuffer/parser/tests/test_AstValidator.py
  catbuffer/parser/tests/test_ast.py
  catbuffer/schemas/symbol/block.cats
Due: catbuffer-parser

[catbuffer/parser]: extend alignment attribute to specify last element padding
  catbuffer/parser/CHANGELOG.md
  catbuffer/parser/catparser/AstPostProcessor.py
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/grammar/catbuffer.lark
  catbuffer/parser/docs/cats_dsl.md
  catbuffer/parser/tests/test_AstValidator.py
  catbuffer/parser/tests/test_ast.py
  catbuffer/schemas/symbol/block.cats
Due: catbuffer-parser

use ArrayHelper.size inside generator
  sdk/python/generator/printers.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-python

address comments
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
  sdk/python/symbolchain/ArrayHelpers.py
  sdk/python/tests/test_ArrayHelpers.py
Due: sdk-python, sdk-javascript

js, add an arg
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
Due: sdk-javascript

pass down exclude_last
  sdk/python/generator/printers.py
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-python

lint
  sdk/python/symbolchain/ArrayHelpers.py
  sdk/python/tests/test_ArrayHelpers.py
Due: sdk-python

use arrayHelpers.size
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
Due: sdk-javascript

add exclude_last argument in read/write
  sdk/python/symbolchain/ArrayHelpers.py
  sdk/python/tests/test_ArrayHelpers.py
Due: sdk-python

(py) add ArrayHelpers.size
  sdk/python/symbolchain/ArrayHelpers.py
  sdk/python/tests/test_ArrayHelpers.py
Due: sdk-python

use flag
  sdk/javascript/generator/printers.py
  sdk/javascript/src/symbol/models.js
  sdk/python/generator/printers.py
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-python, sdk-javascript

js version of arrayHelpers.size
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
  sdk/python/symbolchain/ArrayHelpers.py
  sdk/python/tests/test_ArrayHelpers.py
Due: sdk-python, sdk-javascript

[sdk/javascript]: add 'create from descriptor' test vectors
  sdk/javascript/package.json
  sdk/javascript/scripts/ci/test_vectors.sh
  sdk/javascript/src/RuleBasedTransactionFactory.js
  sdk/javascript/vectors/catbuffer.js
  tests/vectors/nem/transactions/transactions.yaml
Due: sdk-javascript

[sdk/python]: delete deprecated nem Transaction.py
  sdk/python/symbolchain/nem/Transaction.py
Due: sdk-python

[monorepo]: exclude tests from code coverage metrics
  README.md
  catbuffer/parser/.coveragerc
  catbuffer/parser/scripts/ci/test_vectors.sh
  client/rest/.nycrc.yaml
  client/rest/Jenkinsfile
  sdk/javascript/Jenkinsfile
  sdk/python/.coveragerc
Due: rest-gateway, catbuffer-parser, sdk-python, sdk-javascript

Path conditions:
  rest-gateway: any of: client/rest
  catbuffer-parser: any of: catbuffer/parser
  sdk-python: any of: sdk/python
  sdk-javascript: any of: sdk/javascript
