Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[cabuffer/parser]: add support for sizeref field attribute
  catbuffer/parser/catparser/AstValidator.py
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/grammar/catbuffer.lark
  catbuffer/parser/docs/cats_dsl.md
  catbuffer/parser/tests/test_AstValidator.py
  catbuffer/parser/tests/test_ast.py
  catbuffer/schemas/nem/mosaic/mosaic_definition.cats
  catbuffer/schemas/nem/transfer/transfer.cats
Due: catbuffer-parser

[sdk/javascript]: initialize optional fields to null to match deserializer
  sdk/javascript/examples/descriptors/nem_namespace.js
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/vectors/catbuffer.js
Due: sdk-javascript

[sdk/python] add MessageEncoder
  sdk/python/symbolchain/impl/CipherHelpers.py
  sdk/python/symbolchain/impl/__init__.py
  sdk/python/symbolchain/nem/MessageEncoder.py
  sdk/python/symbolchain/symbol/MessageEncoder.py
  sdk/python/tests/nem/test_MessageEncoder.py
  sdk/python/tests/symbol/test_MessageEncoder.py
  sdk/python/tests/test/BasicMessageEncoderTest.py
Due: sdk-python

[sdk/javascript]: add proveMerkle for performing merkle tree proofs
  sdk/javascript/src/symbol/MerkleHashBuilder.js
  sdk/javascript/test/symbol/MerkleHashBuilder_spec.js
Due: sdk-javascript

[catbuffer/parser]: add comparer attribute to allow structs to define complex sorting rules
  catbuffer/parser/catparser/AstValidator.py
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/grammar/catbuffer.lark
  catbuffer/parser/docs/cats_dsl.md
  catbuffer/parser/tests/test_AstValidator.py
  catbuffer/parser/tests/test_ast.py
  catbuffer/schemas/nem/multisig/multisig_account_modification.cats
Due: catbuffer-parser

[sdk/python]: add small ripemd160 wrapper and pick either hashlib impl or ripemd-hash impl
  sdk/python/requirements.txt
  sdk/python/symbolchain/Network.py
  sdk/python/symbolchain/Transforms.py
  sdk/python/symbolchain/ripemd160.py
Due: sdk-python

[sdk/python]: use pynacl for public key generation, signing and verification
  sdk/python/requirements.txt
  sdk/python/symbolchain/nem/KeyPair.py
Due: sdk-python

[sdk/python]: add prove_merkle for performing merkle tree proofs
  sdk/python/symbolchain/symbol/MerkleHashBuilder.py
  sdk/python/tests/symbol/test_MerkleHashBuilder.py
Due: sdk-python

[sdk/python]: add ability to auto sort ordered arrays in descriptors
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/generator/printers.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/nem/test_TransactionFactory.py
  sdk/python/tests/symbol/test_TransactionFactory.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/multisig_account_modification_v1.py
  sdk/python/testvectors/symbol/transfer.py
  tests/vectors/nem/models/transactions.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-python

[sdk/javascript]: add helper function for calculating metadata payload
  sdk/javascript/src/symbol/metadata.js
  sdk/javascript/test/symbol/metadata_spec.js
Due: sdk-javascript

[sdk/python]: update generator to handle comparer property
  sdk/python/examples/descriptors/nem_multisig_account.py
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/generator/printers.py
  sdk/python/scripts/ci/lint.sh
  sdk/python/symbolchain/Transforms.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/tests/test_Transforms.py
Due: sdk-python

[catbuffer/schemas]: make all cats files self-contained
  catbuffer/schemas/symbol/state/restriction_account_types.cats
  catbuffer/schemas/symbol/statements/address_resolution_statement.cats
  catbuffer/schemas/symbol/statements/mosaic_resolution_statement.cats
Due: none

[monorepo]: move voting key generation tests to test_vectors
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/test/symbol/VotingKeysGenerator_spec.js
  sdk/javascript/test/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/javascript/vectors/all.js
  sdk/python/tests/symbol/resources/voting_keys_generator_test_vectors.yaml
  sdk/python/tests/symbol/test_VotingKeysGenerator.py
  sdk/python/tests/vectors/all.py
  tests/vectors/symbol/crypto/7.test-voting-keys-generation.json
Due: sdk-javascript, sdk-python

[sdk/python]: add additional tests for sign/verify edge cases
  sdk/python/symbolchain/nem/KeyPair.py
  sdk/python/symbolchain/symbol/KeyPair.py
  sdk/python/tests/test/BasicKeyPairTest.py
Due: sdk-python

[monorepo]: fix nem models test vectors
  sdk/python/testvectors/__main__.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/multisig_account_modification_v1.py
  tests/vectors/nem/models/transactions.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-python

[jenkins] fix: use env for environment vars
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: log stage name and exception message
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: add stage name and exception message to Discord message for Jenkins failed jobs
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[client/catapult] fix: upgrade to boost 1.80
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/compilers/ubuntu-clang/Dockerfile
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: debian compiler name
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
Due: none

[client/catapult] fix: upgrade to boost 1.80
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/compilers/ubuntu-clang/Dockerfile
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/versions.properties
Due: client-catapult

[sdk/python] lint: sdk/python, ignore gitignore-d files
  sdk/python/scripts/ci/lint.sh
Due: sdk-python

[sdk/javascript] lint: fix sdk/javascript lint
  sdk/javascript/src/impl/ed25519.js
Due: sdk-javascript

[sdk] fix: metadata value calculation when new value is shorter
  sdk/javascript/src/symbol/metadata.js
  sdk/javascript/test/symbol/metadata_spec.js
  sdk/python/symbolchain/symbol/Metadata.py
  sdk/python/tests/symbol/test_Metadata.py
Due: sdk-javascript, sdk-python

[sdk/python] build: run examples as modules
  sdk/python/examples/transaction_sign.py
  sdk/python/scripts/ci/test_examples.sh
Due: sdk-python

[sdk/javascript] build: fix sdk/javascript lint
  sdk/javascript/src/impl/ed25519.js
Due: sdk-javascript

[sdk/python] build: sdk/python, ignore gitignore-d files
  sdk/python/scripts/ci/lint.sh
Due: sdk-python

[sdk/python]: add cosign_transaction to SymbolFacade
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
Due: sdk-python

[sdk/javascript]: add cosignTransaction to SymbolFacade
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
Due: sdk-javascript

[sdk/javascript]: add tsconfig json file
  sdk/javascript/tsconfig.json
Due: sdk-javascript

[sdk/javascript]: install dev dependencies of typescript and rimraf
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javascript]: modify tsconfig and add build scripts for commonjs and es modules and ignore cjs and esm directories
  .gitignore
  sdk/javascript/package.json
  sdk/javascript/tsconfig.json
Due: sdk-javascript

[sdk/javascript]: add build scripts and settings for cdn
  .gitignore
  sdk/javascript/.babelrc
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/src/cdn.js
  sdk/javascript/webpack.config.js
Due: sdk-javascript

[sdk/javascript]: wip add polyfill settings to build without error
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/tsconfig.json
  sdk/javascript/webpack.config.js
Due: sdk-javascript

[sdk/javascript]: add build cmd to ci file
  sdk/javascript/scripts/ci/build.sh
Due: sdk-javascript

[sdk/javascript]: add clean up cmd to remove unnecessary dist directory
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javascript]: add eslintignore directories automatically generated with build process
  sdk/javascript/.eslintignore
Due: sdk-javascript

most of the fixes to get wasm working (almost)
  sdk/javascript/package.json
  sdk/javascript/webpack.config.js
Due: sdk-javascript

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
