Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

Update CMakeSettings.json
  client/catapult/CMakeSettings.json
Due: client-catapult

Remove REQUIRED from mongo drivers
  client/catapult/extensions/mongo/CMakeLists.txt
Due: client-catapult

Remove name un-setter
  client/catapult/src/catapult/thread/ThreadInfo.cpp
  client/catapult/src/catapult/thread/ThreadInfo.h
  client/catapult/tests/catapult/thread/ThreadInfoTests.cpp
Due: client-catapult

Update linker flags for VS 2026 and later. FASTLINK is not supported anymore
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

[client/catapult] fix: Amend buffer overflow on threads naming (#1942)
  client/catapult/src/catapult/thread/ThreadInfo.cpp
  client/catapult/tests/catapult/thread/ThreadInfoTests.cpp
Due: client-catapult

[mkdocs] docs: add cross chain swap tutorial and concept
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/transactions/bonded-aggregate.mjs
  mkdocs/overrides/devbook/transactions/bonded-aggregate.py
  mkdocs/overrides/devbook/transactions/cross-chain-swap.log
  mkdocs/overrides/devbook/transactions/cross-chain-swap.mjs
  mkdocs/overrides/devbook/transactions/cross-chain-swap.py
  mkdocs/package-lock.json
  mkdocs/pages/en/devbook/transactions/bonded-aggregate.md
  mkdocs/pages/en/devbook/transactions/complete-aggregate.md
  mkdocs/pages/en/devbook/transactions/cross-chain-swap.md
  mkdocs/pages/en/textbook/cross-chain-swaps.md
Due: none

Update mkdocs/pages/en/textbook/cross-chain-swaps.md
  mkdocs/pages/en/textbook/cross-chain-swaps.md
Due: none

[monorepo]: move .gitattributes file to the root and renormalize all files to lf
  .gitattributes
  linters/python/.pylintrc
  sdk/javascript/README.md
  sdk/javascript/examples/resources/zero.sha256.txt
  sdk/python/.gitattributes
  sdk/python/README.md
  sdk/python/examples/resources/zero.sha256.txt
  sdk/python/symbolchain/ArrayHelpers.py
  tests/vectors/nem/crypto/1.test-address.json
Due: sdk-javascript, sdk-python

[mkdocs] docs: review cross-chain concept
  mkdocs/pages/en/textbook/cross-chain-swaps.md
  mkdocs/pages/en/textbook/glossary.md
Due: none

[mkdocs] docs: review cross-chain tutorial
  mkdocs/overrides/devbook/transactions/cross-chain-swap.log
  mkdocs/overrides/devbook/transactions/cross-chain-swap.mjs
  mkdocs/overrides/devbook/transactions/cross-chain-swap.py
  mkdocs/pages/en/devbook/transactions/cross-chain-swap.md
  mkdocs/pages/en/textbook/cross-chain-swaps.md
Due: none

[mkdocs] reviewer feedback
  mkdocs/pages/en/devbook/transactions/atomic-swap.md
  mkdocs/pages/en/devbook/transactions/cross-chain-swap.md
  mkdocs/pages/en/textbook/cross-chain-swaps.md
  mkdocs/pages/en/textbook/glossary.md
Due: none

[mkdocs] docs: add cross chain swap tutorial and concept (#1925)
  mkdocs/config/mkdocs.en.yml
  mkdocs/overrides/devbook/transactions/bonded-aggregate.mjs
  mkdocs/overrides/devbook/transactions/bonded-aggregate.py
  mkdocs/overrides/devbook/transactions/cross-chain-swap.log
  mkdocs/overrides/devbook/transactions/cross-chain-swap.mjs
  mkdocs/overrides/devbook/transactions/cross-chain-swap.py
  mkdocs/package-lock.json
  mkdocs/pages/en/devbook/transactions/atomic-swap.md
  mkdocs/pages/en/devbook/transactions/bonded-aggregate.md
  mkdocs/pages/en/devbook/transactions/complete-aggregate.md
  mkdocs/pages/en/devbook/transactions/cross-chain-swap.md
  mkdocs/pages/en/textbook/cross-chain-swaps.md
  mkdocs/pages/en/textbook/glossary.md
Due: none

[mkdocs] docs: update sdk 3.3.1
  mkdocs/config/mkdocs.base.yml
  mkdocs/overrides/devbook/mosaics/mosaic-restrictions-disable.log
  mkdocs/overrides/devbook/mosaics/mosaic-restrictions-enable.log
  mkdocs/overrides/devbook/mosaics/mosaic-restrictions.mjs
  mkdocs/overrides/devbook/mosaics/mosaic-restrictions.py
  mkdocs/overrides/devbook/namespaces/resolve-namespace-from-receipt.mjs
  mkdocs/overrides/devbook/namespaces/resolve-namespace-from-receipt.py
  mkdocs/pages/en/devbook/mosaics/mosaic-restrictions.md
  mkdocs/pages/en/devbook/namespaces/resolve-namespace-from-receipt.md
  mkdocs/pages/ja/devbook/mosaics/mosaic-restrictions.md
  mkdocs/pages/ja/devbook/namespaces/resolve-namespace-from-receipt.md
Due: none

Enable name return value optimization for MSVC
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

[client/catapult] fix: Enable name return value optimization for MSVC in Debug mode (#1956)
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

[mkdocs] add: Shoestring guides WIP
  mkdocs/config/mkdocs.en.yml
  mkdocs/pages/en/devbook/reference/config/network-properties.md
  mkdocs/pages/en/userbook/intro.md
  mkdocs/pages/en/userbook/shoestring/overview.md
  mkdocs/pages/en/userbook/shoestring/quickstart.md
Due: none

[mkdocs] add: cross chain's translation
  mkdocs/config/mkdocs.ja.yml
  mkdocs/pages/ja/devbook/transactions/cross-chain-swap.md
  mkdocs/pages/ja/textbook/cross-chain-swaps.md
Due: none

[mkdocs] fix: polish japanese translation
  mkdocs/pages/ja/devbook/mosaics/mosaic-restrictions.md
  mkdocs/pages/ja/devbook/namespaces/resolve-namespace-from-receipt.md
Due: none

[mkdocs] docs: update sdk 3.3.1 (#1955)
  mkdocs/config/mkdocs.base.yml
  mkdocs/overrides/devbook/mosaics/mosaic-restrictions-disable.log
  mkdocs/overrides/devbook/mosaics/mosaic-restrictions-enable.log
  mkdocs/overrides/devbook/mosaics/mosaic-restrictions.mjs
  mkdocs/overrides/devbook/mosaics/mosaic-restrictions.py
  mkdocs/overrides/devbook/namespaces/resolve-namespace-from-receipt.mjs
  mkdocs/overrides/devbook/namespaces/resolve-namespace-from-receipt.py
  mkdocs/pages/en/devbook/mosaics/mosaic-restrictions.md
  mkdocs/pages/en/devbook/namespaces/resolve-namespace-from-receipt.md
  mkdocs/pages/ja/devbook/mosaics/mosaic-restrictions.md
  mkdocs/pages/ja/devbook/namespaces/resolve-namespace-from-receipt.md
Due: none

[mkdocs] add: shoestring WIP
  mkdocs/config/mkdocs.en.yml
  mkdocs/pages/en/userbook/shoestring/configure.md
  mkdocs/pages/en/userbook/shoestring/install.md
  mkdocs/pages/en/userbook/shoestring/maintain.md
  mkdocs/pages/en/userbook/shoestring/manage.md
  mkdocs/pages/en/userbook/shoestring/migrate.md
  mkdocs/pages/en/userbook/shoestring/quickstart.md
  mkdocs/pages/en/userbook/shoestring/security.md
Due: none

[MSVC] CMakeSettings -> CMakePresets
  client/catapult/CMakeLists.txt
  client/catapult/CMakePresets.json
  client/catapult/CMakeSettings.json
  client/catapult/cmake/toolchain.cmake
Due: client-catapult

Update build instructions
  client/catapult/docs/BUILD-apple.md
  client/catapult/docs/BUILD-conan.md
  client/catapult/docs/BUILD-linux.md
  client/catapult/docs/BUILD-windows.md
  client/catapult/docs/README.md
Due: client-catapult

Set overlay port if not defined
  client/catapult/cmake/toolchain.cmake
Due: client-catapult

Adjust output dirs for multi-config also
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

Refine presets and instructions
  client/catapult/CMakePresets.json
  client/catapult/docs/BUILD-windows.md
Due: client-catapult

[mkdocs] fix: inconsistencies in Japanese text
  mkdocs/pages/ja/devbook/transactions/cross-chain-swap.md
  mkdocs/pages/ja/textbook/cross-chain-swaps.md
Due: none

[mkdocs] fix: feedback
  mkdocs/pages/ja/devbook/transactions/cross-chain-swap.md
  mkdocs/pages/ja/textbook/cross-chain-swaps.md
Due: none

[mkdocs] docs: translate cross-chain swap (#1957)
  mkdocs/config/mkdocs.ja.yml
  mkdocs/pages/ja/devbook/transactions/cross-chain-swap.md
  mkdocs/pages/ja/textbook/cross-chain-swaps.md
Due: none

[mkdocs] fix: reviewer feedback
  mkdocs/pages/en/userbook/shoestring/quickstart.md
Due: none

Note about tests parallelization
  client/catapult/docs/BUILD-windows.md
Due: client-catapult

[mkdocs] Shoestring maintenance WIP
  mkdocs/pages/en/userbook/shoestring/maintain.md
  mkdocs/pages/en/userbook/shoestring/quickstart.md
Due: none

Updated mosaicNonce to long (#13)
  openapi/spec/openapi3.yaml
Due: none

Updated names response
  openapi/spec/openapi3.yaml
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
