Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[jenkins] feat: add jenkins file to build ci images
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/infra/jenkins/build-ci-image.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] feat: add custom build configuration problem: All pipeline jobs were created in Jenkins manually solution: Add custom build configation for pipeline jobs
  .github/buildConfiguration.yaml
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
  jenkins/shared-library/vars/createMonorepoPipelineJobs.groovy
  jenkins/shared-library/vars/createPipelineJob.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: none

[jenkins] fix: add checkout relative to the workspace root allow code checkout to a subdirectory in the workspace root add configurable log rotation for multibranch jobs
  .github/buildConfiguration.yaml
  jenkins/shared-library/vars/createMonorepoMultibranchJobs.groovy
  jenkins/shared-library/vars/createMonorepoPipelineJobs.groovy
  jenkins/shared-library/vars/createMultibranchJob.groovy
  jenkins/shared-library/vars/createPipelineJob.groovy
Due: none

[jenkins] feat: add custom build configuration
  .github/buildConfiguration.yaml
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
  jenkins/shared-library/vars/createMonorepoMultibranchJobs.groovy
  jenkins/shared-library/vars/createMonorepoPipelineJobs.groovy
  jenkins/shared-library/vars/createMultibranchJob.groovy
  jenkins/shared-library/vars/createPipelineJob.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: none

[jenkins] fix: compile failure pwsh doesn't run bat files so switch back to cmd for the shell
  jenkins/catapult/compilers/windows-msvc/Dockerfile
Due: none

[jenkins] fix: ccache for catapult Windows build problem: Catapult builds on Windows takes a long time solution: ccache added support for msbuild. Also updated to using the latest Powershell 7.
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/CMakeLists.txt
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/windows-msvc/Dockerfile
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/process.py
  jenkins/catapult/runDockerBuild.py
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/runDockerTestsInnerTest.py
  jenkins/catapult/templates/DebianTestBaseImage.Dockerfile
  jenkins/catapult/templates/FedoraTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuReleaseBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
Due: client-catapult

[jenkins] fix: cleanup debug code
  jenkins/catapult/process.py
  jenkins/catapult/runDockerTestsInnerTest.py
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
Due: none

[jenkins] fix: add debug to log decode failure
  jenkins/catapult/process.py
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
Due: none

[client/catapult] fix: try the latest gtest
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: ccache hit rate drop switching between conan and metal builds the hit rate for ccache drops to below 50%. creating different cache folder for each build type.
  jenkins/catapult/runDockerBuild.py
Due: none

[jenkins] fix: list append to extend
  jenkins/catapult/runDockerBuild.py
Due: none

[jenkins] fix: restore windows lib path
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

[jenkins] fix: ccache for catapult Windows build
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/windows-msvc/Dockerfile
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/process.py
  jenkins/catapult/runDockerBuild.py
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/runDockerTestsInnerTest.py
  jenkins/catapult/templates/DebianTestBaseImage.Dockerfile
  jenkins/catapult/templates/FedoraTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuReleaseBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestSanitizerBaseImage.Dockerfile
  jenkins/catapult/templates/WindowsTestBaseImage.Dockerfile
  jenkins/catapult/versions.properties
Due: client-catapult

[catbuffer]: nem, fix regression when serializing fields with @sizeref attribute
  catbuffer/schemas/nem/mosaic/mosaic_definition.cats
  catbuffer/schemas/nem/transfer/transfer.cats
  sdk/javascript/src/nem/models.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/tests/facade/test_NemFacade.py
  tests/vectors/nem/models/transactions.json
Due: sdk-javascript, sdk-python

[catbuffer/schemas]: nem, fix regression when serializing fields with @sizeref attribute
  catbuffer/schemas/nem/mosaic/mosaic_definition.cats
  catbuffer/schemas/nem/transfer/transfer.cats
  sdk/javascript/src/nem/models.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/tests/facade/test_NemFacade.py
  tests/vectors/nem/models/transactions.json
Due: sdk-javascript, sdk-python

[client/catapult] fix: catapult pylint failure problem: latest pylint adds a new checker for broad-exception-raised solution: switch from Exception to RuntimeError
  client/catapult/scripts/sdk/publishSdk.py
Due: client-catapult

[sdk/python] fix: pylint errors with latest version
  sdk/python/tests/vectors/catbuffer.py
Due: sdk-python

[sdk/python] fix: more pylint
  linters/python/.pylintrc
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-python

[sdk/python] fix: more pylint update and disable superfluous-parens in the catbuffer generated code
  linters/cpp/HeaderParser.py
  linters/cpp/Rules.py
  sdk/python/generator/Generator.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
Due: sdk-python

[sdk/python] fix: qrcode got upgraded to 7.4.2 which change the exception that got thrown
  sdk/python/requirements.txt
  sdk/python/tests/test_QrStorage.py
Due: sdk-python

[sdk/python] fix: lint
  sdk/python/tests/test_QrStorage.py
Due: sdk-python

[client/catapult] fix: pylint failures
  client/catapult/scripts/sdk/publishSdk.py
  linters/cpp/HeaderParser.py
  linters/cpp/Rules.py
  linters/python/.pylintrc
  sdk/python/generator/Generator.py
  sdk/python/requirements.txt
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/tests/test_QrStorage.py
  sdk/python/tests/vectors/catbuffer.py
Due: client-catapult, sdk-python

[jenkins] fix: just check to conan < 2.0
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[jenkins] fix: install conan 1.x problem: conan 2 was released but not all the recipes are compatible solution: install conan 1.x until recipes are updated
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[jenkins] fix: install conan 1.x
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[catbuffer]: add nem non-verifiable multisig transaction
  catbuffer/schemas/nem/multisig/multisig.cats
Due: none

[sdk/python]: generate non-verifiable multisig transaction model
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/tests/facade/test_NemFacade.py
Due: sdk-python

[sdk/javascript]: generate non-verifiable multisig transaction model
  sdk/javascript/src/nem/models.js
  sdk/javascript/test/facade/NemFacade_spec.js
Due: sdk-javascript

[client/catapult] fix: update catapult client deps problem: some of catapult client deps are outdated solution: update deps to the latest release
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/docs/BUILD-manual.md
  client/catapult/extensions/mongo/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult] fix: revert boost to v1.80.0 due to linking issues
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult] fix: update catapult client deps
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/docs/BUILD-manual.md
  client/catapult/extensions/mongo/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[client/rest]: exclude protocol treasury from the circulating supply
  client/rest/resources/rest.json
Due: client-rest

[client/catapult]: update changelog, bump catapult client version
  client/catapult/CHANGELOG.md
  client/catapult/src/catapult/version/version_inc.h
  jenkins/catapult/server.version.yaml
Due: client-catapult

[client/rest] fix: pin mongodb version to 3.x until bug fix problem: rest have an issue with mongodb 4.x solution: downgrade mongodb to 3.x until bug is fix
  .github/dependabot.yaml
  client/rest/package-lock.json
  client/rest/package.json
Due: client-rest

[sdk/python]: fix epoch adjustment value for testnet
  sdk/python/symbolchain/symbol/Network.py
Due: sdk-python

[sdk/javascript]: fix epoch adjustment value for testnet
  sdk/javascript/src/symbol/Network.js
Due: sdk-javascript

[sdk/python]: fix epoch adjustment value for testnet
  sdk/python/CHANGELOG.md
  sdk/python/symbolchain/symbol/Network.py
  sdk/python/tests/symbol/test_Network.py
Due: sdk-python

[sdk/javascript]: fix epoch adjustment value for testnet
  sdk/javascript/CHANGELOG.md
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/test/symbol/Network_spec.js
Due: sdk-javascript

[client/rest] fix: tests
  client/rest/package.json
  client/rest/src/db/connector.js
  client/rest/test/routes/nodeRoutes_spec.js
Due: client-rest

[cleint/rest] fix: address feedback
  client/rest/resources/rest.json
  client/rest/src/db/CatapultDb.js
  client/rest/src/routes/nodeRoutes.js
  client/rest/test/routes/nodeRoutes_spec.js
Due: client-rest

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
