Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

Fixing the error that occurs when setting MosaicFlags in the Mosaic definition transaction
  sdk/python/symbolchain/TransactionDescriptorProcessor.py
  sdk/python/tests/symbol/test_TransactionFactory.py
Due: sdk-python

fixed test name and add check mosaic flag value
  sdk/python/tests/symbol/test_TransactionFactory.py
Due: sdk-python

add test case to lookup_value function
  sdk/python/tests/test_TransactionDescriptorProcessor.py
Due: sdk-python

[jenkins] fix: check if multibranch job is active
  jenkins/shared-library/vars/createMonorepoMultibranchJobs.groovy
Due: none

Fix: typo
  docs/0.introduction.md
Due: none

Fix: typos
  docs/1.accounts.md
Due: none

Fix: typos
  docs/3.mosaics.md
Due: none

Fix: typos
  docs/8.advanced.md
Due: none

swap the arguments so expected values are first arguments
  sdk/python/tests/symbol/test_TransactionFactory.py
Due: sdk-python

remove type_converted and swap the arguments so expected values are first arguments
  sdk/python/tests/test_TransactionDescriptorProcessor.py
Due: sdk-python

[linters]: add '_' (gettext.gettext alias) as additional-builtins for pylint
  linters/python/.pylintrc
Due: none

[sdk/python]: Fixing the error that occurs when setting MosaicFlags in the Mosaic definition transaction
  sdk/python/symbolchain/TransactionDescriptorProcessor.py
  sdk/python/tests/symbol/test_TransactionFactory.py
  sdk/python/tests/test_TransactionDescriptorProcessor.py
Due: sdk-python

[monorepo]: fix docs typos
  docs/0.introduction.md
  docs/1.accounts.md
  docs/3.mosaics.md
  docs/8.advanced.md
Due: none

[jenkins] fix: checkout stage missing from the CI build job
  jenkins/infra/jenkins/build-ci-image.groovy
Due: none

[jenkins] fix: linting and catapult build failures 1. Fix linting due the methodsize 2. Fix catapult CI build failing since it now needs architecture for building
  client/catapult/scripts/ci/build.sh
  jenkins/shared-library/vars/buildCode.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: client-catapult

[jenkins] fix: more fixes 1. Windows doesnt support buildx 2. download the correct codecov for the architecture 3. update daily builds to run windows, ausan and tsan only on and64
  jenkins/catapult/configurations/amd64/msvc-latest.yaml
  jenkins/catapult/configurations/amd64/msvc-prior.yaml
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/runDockerBuild.py
  jenkins/docker/java.Dockerfile
  jenkins/docker/javascript.Dockerfile
  jenkins/docker/postgres.Dockerfile
  jenkins/docker/python.Dockerfile
  jenkins/infra/jenkins/build-ci-image.groovy
  jenkins/shared-library/vars/dockerHelper.groovy
  jenkins/shared-library/vars/helper.groovy
Due: none

[jenkins] fix: catapult CI test build fails to find build configuration file
  client/catapult/scripts/ci/test.sh
  jenkins/shared-library/vars/runTests.groovy
Due: client-catapult

[jenkins] fix: few more fixes 1. switch back to using docker-compose since Windows containers doesnt support docker compose 2. download the correct codecov for catapult
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/runDockerTests.py
Due: none

[jenkins] fix: remove extra tabs
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
  jenkins/infra/jenkins/build-ci-image-all.groovy
Due: none

[jenkins] fix: address feedback update the build all images to build by architecture. each job will be triggered twice, once for amd64 then arm64.
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/shared-library/vars/dockerHelper.groovy
Due: none

[jenkins] fix: address feedback
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image-all.groovy
  jenkins/shared-library/vars/helper.groovy
Due: none

[client/catapult] fix: catapult CI build failing on ARM. conan does not work with ARM and AMD using the same .conan folder. create different paths base on architecture.
  client/catapult/Jenkinsfile
Due: client-catapult

[jenkins] fix: ARCHITECTURE value is missing during branch discovery
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: address feedback
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: run verify commit message for dependabot
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: combine the ubuntu and debian test dockerfile
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/templates/DebianTestBaseImage.Dockerfile
Due: none

[jenkins] fix: building catapult test image failure
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/templates/DebianTestBaseImage.Dockerfile
  jenkins/catapult/templates/UbuntuTestBaseImage.Dockerfile
Due: none

[monorepo] fix: enable dependabot update for Javascript Wasm sdk
  .github/dependabot.yaml
Due: none

[jenkins] fix: add back then statement which was removed.
  jenkins/docker/javascript.Dockerfile
Due: none

[jenkins] fix: Javascript sdk fails to build on arm64 Linux
  jenkins/docker/javascript.Dockerfile
Due: none

[jenkins] fix: docker build hangs due to network problem: npm install is hangs/unable to reach some sites during docker build solution: add --network host flag to use the host network
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] fix: docker build hangs due to network
  jenkins/shared-library/vars/publish.groovy
Due: none

[sdk/javascript]: update clap requirement from 3.2.18 to 4.3.12 in /sdk/javascript/wasm
  sdk/javascript/wasm/Cargo.toml
  sdk/javascript/wasm/examples/all/main.rs
Due: sdk-javascript

[jenkins]: fix linting
  jenkins/infra/jenkins/build-ci-image-all.groovy
Due: none

[jenkins] fix: address feedback
  jenkins/docker/python.Dockerfile
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/infra/jenkins/build-ci-image.groovy
Due: none

[jenkins]: update job names
  jenkins/infra/jenkins/build-ci-image-all.groovy
Due: none

[jenkins] fix: address feedback
  jenkins/infra/jenkins/build-ci-image-all.groovy
Due: none

[jenkins]: add support to build different version of python images
  jenkins/docker/python.Dockerfile
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/infra/jenkins/build-ci-image.groovy
Due: none
