Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[sdk/javascript]: prune customized tweetnacl implementation
  sdk/javascript/.c8rc.json
  sdk/javascript/.eslintignore
  sdk/javascript/src/SharedKey.js
  sdk/javascript/src/impl/external/tweetnacl-nacl-fast-symbol.js
Due: sdk-javascript

[linters] fix: Pylint set the minimum Python version
  linters/python/.pylintrc
Due: none

[jenkins] fix: CFFI failing to install on Python 3.12 problem: CFFI requires setuptools to be installed with Python 3.12 solution: install setuptools by default in the Python CI image.
  jenkins/docker/ubuntu/python.Dockerfile
  jenkins/docker/windows/python.Dockerfile
Due: none

[jenkins] fix: CFFI failing to install on Python 3.12
  jenkins/docker/ubuntu/python.Dockerfile
  jenkins/docker/windows/python.Dockerfile
Due: none

[client/catapult] fix: code coverage files getting corrupted problem: some of the code coverage files are reporting negative value. solution: add the -fprofile-update=atomic for thread safe updates
  client/catapult/CMakeGlobalSettings.cmake
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
Due: client-catapult

[client/catapult] fix: code coverage failing with lcov 2.0-1
  client/catapult/CMakeGlobalSettings.cmake
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: add san test image to monthly build
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
Due: none

prune toml
  sdk/javascript/wasm/Cargo.toml
  sdk/javascript/wasm/src/lib.rs
Due: sdk-javascript

update rust code to use dalek 4
  sdk/javascript/wasm/Cargo.toml
  sdk/javascript/wasm/src/lib.rs
Due: sdk-javascript

[sdk/javascript]: fix failing test vectors after constructor.name change
  sdk/javascript/src/RuleBasedTransactionFactory.js
  sdk/javascript/src/nem/Network.js
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/test/RuleBasedTransactionFactory_spec.js
  sdk/javascript/test/nem/Network_spec.js
  sdk/javascript/test/symbol/Network_spec.js
  sdk/javascript/vectors/BlockFactory.js
Due: sdk-javascript

[jenkins] fix: always run the vector tests problem: currently vector tests are not run by default. solution: always run vector tests
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: always run the vector tests
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: remove Pylint version limit problem: catapult test layor limits the Pylint version solution: remove Pylint version install limit
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[jenkins] fix: remove Pylint version limit for catapult base image
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[client/rest]: fix eslint 'for-direction' warning
  client/rest/test/db/utils/dbTestUtils.js
Due: client-rest

[client/rest]: upgrade mongodb to 6.3
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/src/db/CatapultDb.js
  client/rest/test/db/dbUtils_spec.js
  client/rest/test/routes/dbFacade_spec.js
  client/rest/test/testUtils.js
Due: client-rest

[sdk/javascript]: update Cipher.js to support ReactNative environment
  sdk/javascript/src/Cipher.js
Due: sdk-javascript

[sdk/javascript]: disable instance of eslint warning 'import/no-extraneous-dependencies'
  sdk/javascript/src/impl/ed25519_wasm.js
Due: sdk-javascript

[sdk/javascript]: disable instance of 'import/no-extraneous-dependencies' eslint warning
  sdk/javascript/src/impl/ed25519_wasm.js
Due: sdk-javascript

[client/catapult] fix: update openssl to 3.2.1 problem: catapult is not using the latest openssl version solution: update openssl to version 3.2.1
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult] fix: update OpenSSL to 3.2.1
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult] fix: upgrade clang compiler to latest problem: clang compiler are outdated solution: upgrade clang compiler prior upgraded from v14 -> v16 latest upgraded from v15 -> v17
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/src/catapult/ionet/PacketHeader.h
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
  jenkins/catapult/compilers/clang-latest.yaml
  jenkins/catapult/compilers/clang-prior.yaml
Due: client-catapult

[client/catapult] fix: upgrade clang compiler to latest
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/src/catapult/ionet/PacketHeader.h
  client/catapult/tests/catapult/utils/CatapultExceptionTests.cpp
  jenkins/catapult/compilers/clang-latest.yaml
  jenkins/catapult/compilers/clang-prior.yaml
Due: client-catapult

[client/catapult]: migrate boost asio usage to use non-deprecated apis
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/finalization/src/FinalizationMessageProcessingService.cpp
  client/catapult/src/catapult/extensions/NetworkUtils.cpp
  client/catapult/src/catapult/ionet/AppendContext.cpp
  client/catapult/src/catapult/ionet/AppendContext.h
  client/catapult/src/catapult/ionet/BufferedPacketIo.cpp
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/src/catapult/thread/IoThreadPool.cpp
  client/catapult/src/catapult/thread/Scheduler.cpp
  client/catapult/src/catapult/thread/StrandOwnerLifetimeExtender.h
  client/catapult/src/catapult/thread/TimedCallback.h
  client/catapult/tests/catapult/ionet/AppendContextTests.cpp
  client/catapult/tests/catapult/ionet/PacketSocketTests.cpp
  client/catapult/tests/catapult/ionet/WorkingBufferTests.cpp
  client/catapult/tests/catapult/net/AsyncTcpServerTests.cpp
  client/catapult/tests/catapult/thread/SchedulerTests.cpp
  client/catapult/tests/catapult/thread/StrandOwnerLifetimeExtenderTests.cpp
  client/catapult/tests/test/core/WaitFunctions.cpp
  client/catapult/tests/test/net/ClientSocket.cpp
  client/catapult/tests/test/net/SocketTestUtils.cpp
  client/catapult/tools/addressgen/main.cpp
  client/catapult/tools/health/ApiNodeHealthUtils.cpp
Due: client-catapult

[client/catapult]: dispatch PacketSocket close and abort to a strand
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/src/catapult/thread/StrandOwnerLifetimeExtender.h
  client/catapult/tests/catapult/thread/StrandOwnerLifetimeExtenderTests.cpp
Due: client-catapult

decode metal
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/src/plugins/metadata/MetadataDb.js
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/src/plugins/metadata/metal.js
  client/rest/src/routes/routeUtils.js
Due: client-rest

Remove unwanted imports
  client/rest/src/plugins/metadata/metadataRoutes.js
Due: client-rest

Fixed according to eslint
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/src/plugins/metadata/MetadataDb.js
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/src/plugins/metadata/metal.js
Due: client-rest

add text section
  client/rest/src/plugins/metadata/MetadataDb.js
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/src/plugins/metadata/metal.js
  client/rest/src/routes/routeUtils.js
Due: client-rest

add test metal.js
  client/rest/test/plugins/metadata/image.png
  client/rest/test/plugins/metadata/metadata.json
  client/rest/test/plugins/metadata/metal_spec.js
Due: client-rest

clear test
  client/rest/src/plugins/metadata/MetadataDb.js
  client/rest/src/plugins/metadata/metal.js
  client/rest/test/plugins/metadata/MetadataDb_spec.js
  client/rest/test/plugins/metadata/metalUtils.js
  client/rest/test/plugins/metadata/metal_spec.js
  client/rest/test/plugins/metadata/resources/image.png
  client/rest/test/plugins/metadata/resources/metadata.json
Due: client-rest

add query download
  client/rest/src/routes/routeUtils.js
Due: client-rest

refactoring
  client/rest/src/plugins/metadata/MetadataDb.js
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/src/plugins/metadata/metal.js
  client/rest/test/plugins/metadata/metalUtils.js
Due: client-rest

changed header name of text
  client/rest/src/routes/routeUtils.js
Due: client-rest

add metal seal
  client/rest/src/plugins/metadata/MetadataDb.js
  client/rest/src/plugins/metadata/metadataRoutes.js
  client/rest/src/plugins/metadata/metal.js
  client/rest/test/plugins/metadata/MetadataDb_spec.js
  client/rest/test/plugins/metadata/metal_spec.js
  client/rest/test/plugins/metadata/resources/metadata.json
Due: client-rest

add mosaic metal
  client/rest/test/plugins/metadata/metalUtils.js
  client/rest/test/plugins/metadata/resources/metadata_mosaic.json
Due: client-rest

download
  client/rest/src/routes/routeUtils.js
Due: client-rest

upgrade mongodb to 6.3
  client/rest/package-lock.json
  client/rest/package.json
Due: client-rest

delete comment
  client/rest/src/plugins/metadata/metadataRoutes.js
Due: client-rest
