Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[sdk/javascript]: generator changes: use information about aligned structs for better field access
  sdk/javascript/generator/EnumTypeFormatter.py
  sdk/javascript/generator/PodTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/converter.js
  sdk/javascript/test/utils/converter_spec.js
Due: sdk-javascript

[sdk]: drop combined shared key + encryption tests
  sdk/javascript/test/Cipher_spec.js
  sdk/python/tests/test_Cipher.py
Due: sdk-javascript, sdk-python

[sdk/javascript]: initialize optional fields to null to match deserializer
  sdk/javascript/examples/descriptors/nem_namespace.js
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/vectors/catbuffer.js
Due: sdk-javascript

[sdk/python]: update generator to handle comparer property
  sdk/python/examples/descriptors/nem_multisig_account.py
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/generator/printers.py
  sdk/python/scripts/ci/lint.sh
  sdk/python/symbolchain/Transforms.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/tests/test_Transforms.py
Due: sdk-python

[sdk/javascript]: add Cipher for AES encryption
  sdk/javascript/src/Cipher.js
  sdk/javascript/test/Cipher_spec.js
  sdk/javascript/vectors/all.js
  sdk/python/tests/test_Cipher.py
Due: sdk-javascript, sdk-python

[sdk/javascript] bug: fix test vectors
  sdk/javascript/vectors/all.js
Due: sdk-javascript

[sdk/python] nem shared key derivation, details below
  sdk/python/symbolchain/CryptoTypes.py
  sdk/python/symbolchain/SharedKey.py
  sdk/python/symbolchain/external/__init__.py
  sdk/python/symbolchain/external/ed25519.py
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/nem/KeyPair.py
  sdk/python/symbolchain/nem/SharedKey.py
  sdk/python/symbolchain/symbol/SharedKey.py
  sdk/python/tests/nem/test_SharedKey.py
  sdk/python/tests/symbol/test_SharedKey.py
  sdk/python/tests/test/BasicSharedKeyTest.py
  sdk/python/tests/test_CryptoTypes.py
  sdk/python/tests/vectors/all.py
  tests/vectors/nem/crypto/3.test-derive-deprecated.json
  tests/vectors/nem/crypto/3.test-derive-hkdf.json
  tests/vectors/symbol/crypto/3.test-derive-hkdf.json
Due: sdk-python

[sdk/javascript]: add ability to auto sort ordered arrays in descriptors
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/generator/TypeFormatter.py
  sdk/javascript/generator/printers.py
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/models.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/models.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/nem/TransactionFactory_spec.js
  sdk/javascript/test/symbol/TransactionFactory_spec.js
  sdk/javascript/test/utils/arrayHelpers_spec.js
Due: sdk-javascript

[sdk/javascript]: add helper function for calculating metadata payload
  sdk/javascript/generator/StructTypeFormatter.py
  sdk/javascript/src/symbol/metadata.js
  sdk/javascript/test/symbol/metadata_spec.js
Due: sdk-javascript

[jenkins] fix: mongodb install on ubuntu 22.04
  jenkins/docker/cpp.Dockerfile
Due: none

[jenkins] fix: update cmake and gosu versions
  client/catapult/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: improve build times by using available cpus
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[jenkins] fix: linting
  jenkins/docker/cpp.Dockerfile
Due: none

[client/catapult] fix: update dependencies to their latest version
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.txt
  client/catapult/extensions/mongo/CMakeLists.txt
  client/catapult/extensions/zeromq/CMakeLists.txt
  client/catapult/tests/bench/CMakeLists.txt
  jenkins/catapult/runDockerBuildInnerBuild.py
  jenkins/catapult/versions.properties
  jenkins/docker/cpp.Dockerfile
Due: client-catapult

[client/catapult] fix: ZeroMQ tests failing on Windows
  client/catapult/extensions/zeromq/tests/ZeroMqEntityPublisherTests.cpp
  client/catapult/extensions/zeromq/tests/test/ZeroMqTestUtils.h
Due: client-catapult

[client\catapult] fix: spacing on the braces
  client/catapult/extensions/zeromq/tests/test/ZeroMqTestUtils.h
Due: client-catapult

[sdk/javascript]: add proveMerkle for performing merkle tree proofs
  sdk/javascript/src/symbol/MerkleHashBuilder.js
  sdk/javascript/test/symbol/MerkleHashBuilder_spec.js
Due: sdk-javascript

[sdk/python]: add prove_merkle for performing merkle tree proofs
  sdk/python/symbolchain/symbol/MerkleHashBuilder.py
  sdk/python/tests/symbol/test_MerkleHashBuilder.py
Due: sdk-python

[sdk]: rename MerkleHashBuilder file to merkle
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/index.js
  sdk/javascript/src/symbol/merkle.js
  sdk/javascript/test/symbol/merkle_spec.js
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/symbolchain/symbol/Merkle.py
  sdk/python/tests/symbol/test_Merkle.py
Due: sdk-javascript, sdk-python

weak_ptr::lock is atomic
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

[client\catapult] fix: rocksdb metal build
  client/catapult/tests/bench/crypto/hashers/HashersBench.cpp
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: client-catapult

try to fix tsan by using unique instead of shared ptr
  client/catapult/extensions/mongo/src/MongoBulkWriter.h
Due: client-catapult

[client/catapult] fix: remove outer cast
  client/catapult/tests/bench/crypto/hashers/HashersBench.cpp
Due: client-catapult

[client/catapult] fix: rocksdb metal build and clang failure
  client/catapult/extensions/mongo/src/MongoBulkWriter.h
  client/catapult/tests/bench/crypto/hashers/HashersBench.cpp
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/runDockerTestsInnerTest.py
Due: client-catapult

[jenkins] fix: remove dependency on the native libunwind
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/ubuntu-clang/Dockerfile
Due: none

[jenkins] fix: disable warning as error in gcc 12
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[jenkins] fix: compiler and os update
  jenkins/catapult/compilers/clang-11.yaml
  jenkins/catapult/compilers/clang-12.yaml
  jenkins/catapult/compilers/clang-13.yaml
  jenkins/catapult/compilers/clang-14.yaml
  jenkins/catapult/compilers/debian-gcc/Dockerfile
  jenkins/catapult/compilers/fedora-gcc/Dockerfile
  jenkins/catapult/compilers/gcc-12.yaml
  jenkins/catapult/compilers/ubuntu-clang-11/Dockerfile
  jenkins/catapult/compilers/ubuntu-clang-12/Dockerfile
  jenkins/catapult/compilers/ubuntu-clang/Dockerfile
  jenkins/catapult/compilers/ubuntu-gcc/Dockerfile
  jenkins/catapult/configurations/clang-11.yaml
  jenkins/catapult/configurations/clang-12.yaml
  jenkins/catapult/configurations/clang-13.yaml
  jenkins/catapult/configurations/clang-14.yaml
  jenkins/catapult/configurations/clang-ausan.yaml
  jenkins/catapult/configurations/gcc-10-westmere.yaml
  jenkins/catapult/configurations/gcc-12.yaml
  jenkins/catapult/configurations/gcc-8.yaml
  jenkins/catapult/configurations/gcc-code-coverage.yaml
  jenkins/catapult/configurations/gcc-westmere.yaml
  jenkins/catapult/jenkins/catapult-client-build-base-image-all.groovy
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-weekly.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
  jenkins/catapult/versions.properties
Due: none

[jenkins] fix: update daily builds
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
Due: none

[sdk/python]: add support for verifying patricia tree proofs
  sdk/python/symbolchain/symbol/Merkle.py
  sdk/python/tests/symbol/test_Merkle.py
Due: sdk-python

[jenkins] fix: install opensll 1.1.1q on metal
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/versions.properties
Due: none

[jenkins] fix: install perl core modules on Fedora
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[jenkins] fix: copy ssl and unwind dependencies
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/compilers/clang-13.yaml
  jenkins/catapult/compilers/clang-14.yaml
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[sdk/javascript]: add support for verifying patricia tree proofs
  sdk/javascript/src/symbol/merkle.js
  sdk/javascript/test/symbol/merkle_spec.js
  sdk/python/symbolchain/symbol/Merkle.py
Due: sdk-javascript, sdk-python

[sdk/python]: initialize optional fields to None to match deserializer
  sdk/python/examples/descriptors/nem_namespace.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/facade/test_BatchOperations.py
  sdk/python/tests/vectors/catbuffer.py
Due: sdk-python

[sdk/python]: add helper function for calculating metadata payload
  sdk/python/symbolchain/symbol/Metadata.py
  sdk/python/tests/symbol/test_Metadata.py
Due: sdk-python

[catbuffer/schemas]: make all cats files self-contained
  catbuffer/schemas/symbol/state/restriction_account_types.cats
  catbuffer/schemas/symbol/statements/address_resolution_statement.cats
  catbuffer/schemas/symbol/statements/mosaic_resolution_statement.cats
Due: none

[sdk/python]: add ability to auto sort ordered arrays in descriptors
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/StructTypeFormatter.py
  sdk/python/generator/TypeFormatter.py
  sdk/python/generator/printers.py
  sdk/python/symbolchain/nc/__init__.py
  sdk/python/symbolchain/nem/TransactionFactory.py
  sdk/python/symbolchain/sc/__init__.py
  sdk/python/symbolchain/symbol/TransactionFactory.py
  sdk/python/tests/nem/test_TransactionFactory.py
  sdk/python/tests/symbol/test_TransactionFactory.py
  sdk/python/testvectors/nem/multisig_account_modification.py
  sdk/python/testvectors/nem/multisig_account_modification_v1.py
  sdk/python/testvectors/symbol/transfer.py
  tests/vectors/nem/models/transactions.json
  tests/vectors/symbol/models/transactions.json
Due: sdk-python

[catbuffer/parser]: add comparer attribute to allow structs to define complex sorting rules
  catbuffer/parser/catparser/AstValidator.py
  catbuffer/parser/catparser/ast.py
  catbuffer/parser/catparser/grammar/catbuffer.lark
  catbuffer/parser/docs/cats_dsl.md
  catbuffer/parser/tests/test_AstValidator.py
  catbuffer/parser/tests/test_ast.py
  catbuffer/schemas/nem/multisig/multisig_account_modification.cats
Due: catbuffer-parser
