Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[jenkins]: fix linting
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

[jenkins]: fix copy for LLVM libs
  jenkins/catapult/compilers/clang-latest.yaml
Due: none

[jenkins] fix: llvm-symbolizer fails to load library
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

[jenkins]: upgrade to clang 19 problem: not building with the latest version of clang solution: upgrade to clang 19
  jenkins/catapult/compilers/clang-latest.yaml
  jenkins/catapult/compilers/clang-prior.yaml
Due: none

[jenkins]: address feedback
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

[jenkins]: upgrade to clang 19
  client/catapult/tests/catapult/io/PodIoUtilsTests.cpp
  jenkins/catapult/compilers/clang-latest.yaml
  jenkins/catapult/compilers/clang-prior.yaml
  jenkins/catapult/runDockerTestsInnerTest.py
Due: client-catapult

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: fail to decode line on Windows problem: building catapult deps fails on Windows due to invalid utf-8 character solution: add exception handling
  jenkins/catapult/process.py
Due: none

[jenkins]: address feedback
  jenkins/catapult/process.py
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[jenkins] fix: fail to decode line on Windows
  jenkins/catapult/process.py
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[client/rest]: add mosaic redefinition fork handling to rosetta implementation
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/src/plugins/rosetta/nem/rosettaUtils.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/nem/rosettaUtils_spec.js
Due: client-rest

[client/rest]: add construction/derive
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/test/plugins/rosetta/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/rosettaUtils_spec.js
  client/rest/test/plugins/rosetta/rosetta_spec.js
  client/rest/test/plugins/utils/pluginTestUtils.js
Due: client-rest

[client/rest]: disable lint and code coverage for generated rosetta open api models
  client/rest/.c8rc.json
  client/rest/.eslintignore
Due: client-rest

[client/rest]: initial rosetta for symbol
  client/rest/resources/rest.json
  client/rest/src/index.js
  client/rest/src/plugins/rosetta/rosetta.js
  client/rest/src/plugins/routeSystem.js
Due: client-rest

[client/rest]: add construction/preprocess and construction/metadata
  client/rest/src/index.js
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/test/plugins/rosetta/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/rosettaUtils_spec.js
  client/rest/test/plugins/rosetta/rosetta_spec.js
Due: client-rest

[client/rest]: fix mosaic definition url
  client/rest/src/plugins/rosetta/nem/NemProxy.js
  client/rest/test/plugins/rosetta/nem/NemProxy_spec.js
  client/rest/test/plugins/rosetta/nem/blockRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/utils/rosettaTestUtils.js
Due: client-rest

[client/rest]: skip parsing of receipts without amounts
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
Due: client-rest

[client/rest]: add /construction/payloads
  client/rest/src/plugins/rosetta/nem/constructionRoutes.js
  client/rest/src/plugins/rosetta/nem/rosettaUtils.js
  client/rest/src/plugins/rosetta/openApi/model/SignatureType.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/src/plugins/rosetta/symbol/constructionRoutes.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/nem/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/rosettaUtils_spec.js
  client/rest/test/plugins/rosetta/nem/rosetta_spec.js
  client/rest/test/plugins/rosetta/nem/utils/PayloadResultVerifier.js
  client/rest/test/plugins/rosetta/rosettaUtils_spec.js
  client/rest/test/plugins/rosetta/symbol/constructionRoutes_spec.js
Due: client-rest

[client/rest]: hexStringToUtfString should only be called on SDK JSON
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
Due: client-rest

[client/rest]: add NEM block routes
  client/rest/src/plugins/rosetta/nem/blockRoutes.js
  client/rest/src/plugins/rosetta/nem/rosetta.js
  client/rest/test/plugins/rosetta/nem/blockRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/rosetta_spec.js
Due: client-rest

[client/rest]: add handling for expirationHeight
  client/rest/src/plugins/rosetta/nem/NemProxy.js
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/NemProxy_spec.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
Due: client-rest

[client/rest]: truncate mosaic transfer amount calculated from bag
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
Due: client-rest

[client/rest]: add nemesis block to CatapultProxy cache
  client/rest/src/plugins/rosetta/CatapultProxy.js
  client/rest/test/plugins/rosetta/CatapultProxy_spec.js
Due: client-rest

[client/rest]: add address resolution support to rosetta routes
  client/rest/src/plugins/rosetta/CatapultProxy.js
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/test/plugins/rosetta/CatapultProxy_spec.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
Due: client-rest

[client/rest]: don't return currency metadata from /account/balance
  client/rest/src/plugins/rosetta/accountRoutes.js
  client/rest/test/plugins/rosetta/accountRoutes_spec.js
Due: client-rest

[client/rest]: fix multisig (outer) fee calculation
  client/rest/src/plugins/rosetta/nem/constructionRoutes.js
  client/rest/test/plugins/rosetta/nem/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/utils/PayloadResultVerifier.js
Due: client-rest

[client/rest]: cache permanent namespace resolutions
  client/rest/src/plugins/rosetta/CatapultProxy.js
  client/rest/src/plugins/rosetta/networkRoutes.js
  client/rest/test/plugins/rosetta/CatapultProxy_spec.js
  client/rest/test/plugins/rosetta/networkRoutes_spec.js
Due: client-rest

[client/rest]: add NEM createLookupCurrencyFunction
  client/rest/src/plugins/rosetta/nem/NemProxy.js
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/src/plugins/rosetta/nem/rosettaUtils.js
  client/rest/test/plugins/rosetta/nem/NemProxy_spec.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/nem/rosettaUtils_spec.js
Due: client-rest

[client/rest]: update NEM rosetta to handle restored mosaics
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
Due: client-rest

[client/rest]: add Rosetta data routes
  client/rest/src/plugins/rosetta/accountRoutes.js
  client/rest/src/plugins/rosetta/blockRoutes.js
  client/rest/src/plugins/rosetta/mempoolRoutes.js
  client/rest/src/plugins/rosetta/networkRoutes.js
  client/rest/src/plugins/rosetta/rosetta.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/test/plugins/rosetta/accountRoutes_spec.js
  client/rest/test/plugins/rosetta/blockRoutes_spec.js
  client/rest/test/plugins/rosetta/mempoolRoutes_spec.js
  client/rest/test/plugins/rosetta/networkRoutes_spec.js
  client/rest/test/plugins/rosetta/rosetta_spec.js
  client/rest/test/plugins/rosetta/utils/rosettaTestUtils.js
Due: client-rest

[client/rest]: small cleanup after merging all NEM rosetta routes
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/src/plugins/rosetta/nem/accountRoutes.js
  client/rest/src/plugins/rosetta/nem/blockRoutes.js
  client/rest/src/plugins/rosetta/nem/networkRoutes.js
  client/rest/src/plugins/rosetta/symbol/accountRoutes.js
  client/rest/test/plugins/rosetta/nem/blockRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/networkRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/utils/rosettaTestUtils.js
Due: client-rest

[client/rest]: properly handle fee calculation when block fee multiplier is zero
  client/rest/src/plugins/rosetta/symbol/OperationParser.js
  client/rest/test/plugins/rosetta/symbol/OperationParser_spec.js
Due: client-rest

[client/rest]: add postprocessing of epochAdjustment to CatapultProxy
  client/rest/src/plugins/rosetta/CatapultProxy.js
  client/rest/test/plugins/rosetta/CatapultProxy_spec.js
Due: client-rest

[client/rest]: calculate transaction location in OperationParser and pass down to lookupCurrency
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
  client/rest/test/plugins/rosetta/rosettaUtils_spec.js
Due: client-rest

[client/rest]: filter out zero transfer operations
  client/rest/src/plugins/rosetta/OperationParser.js
  client/rest/test/plugins/rosetta/OperationParser_spec.js
Due: client-rest

[client/rest]: add remaining construction apis #1136
  client/rest/src/plugins/rosetta/constructionRoutes.js
  client/rest/src/plugins/rosetta/rosettaUtils.js
  client/rest/test/plugins/rosetta/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/rosetta_spec.js
Due: client-rest

[client/rest]: NEM rosetta implementation does not debit otherTrans fee
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/nem/accountRoutes_spec.js
Due: client-rest
