Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[sdk/python]: bump version, updated changeleg
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-python

[jenkins] feat: catapult code coverage job
  jenkins/catapult/BasicBuildManager.py
  jenkins/catapult/configuration.py
  jenkins/catapult/configurations/gcc-10-code-coverage.yaml
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/runDockerBuild.py
  jenkins/catapult/runDockerBuildInnerBuild.py
Due: none

[jenkins] fix: address feedback
  jenkins/catapult/configuration.py
  jenkins/catapult/jenkins/catapult-client-build-catapult-project-daily.groovy
Due: none

[jenkins] fix: use proper paths in base image script
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
Due: none

[client/catapult] fix: rebuild docker images with latest openssl version
  client/catapult/CHANGELOG.md
  client/catapult/docs/BUILD-manual.md
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/server.version.yaml
Due: client-catapult

[jenkins] fix: few more paths
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
Due: none

[client/catapult]: bump server version to 1.0.3.3
  client/catapult/CHANGELOG.md
  client/catapult/src/catapult/version/version_inc.h
  jenkins/catapult/server.version.yaml
Due: client-catapult

[jenkins] fix: use the same path for all checkout
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-prepare-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
Due: none

[sdk/javascript] fix: update version in package.json
  .github/dependabot.yaml
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: sdk-javascript

[monorepo] fix: updated dependencies version
  .github/dependabot.yaml
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/python/requirements.txt
Due: sdk-javascript, sdk-python

[client/catapult] fix: manual build documentation
  client/catapult/docs/BUILD-manual.md
  jenkins/catapult/installDepsLocal.py
Due: client-catapult

[linters]: upgrade py linter to 2.13.4
  linters/python/lint_requirements.txt
  sdk/javascript/generator/AbstractTypeFormatter.py
  sdk/javascript/generator/EnumTypeFormatter.py
  sdk/javascript/generator/FactoryFormatter.py
  sdk/javascript/generator/PodTypeFormatter.py
  sdk/python/generator/AbstractTypeFormatter.py
  sdk/python/generator/EnumTypeFormatter.py
  sdk/python/generator/FactoryFormatter.py
  sdk/python/generator/PodTypeFormatter.py
  sdk/python/tests/nem/test_NetworkTimestamp.py
  sdk/python/tests/symbol/test_NetworkTimestamp.py
  sdk/python/tests/symbol/test_TransactionFactory.py
Due: sdk-javascript, sdk-python

[monorepo]: update other outdated dependencies
  client/rest/package-lock.json
  client/rest/package.json
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/python/requirements.txt
Due: client-rest, sdk-javascript, sdk-python

[monorepo] feat: Auto-merge of dependabot prs
  .github/dependabot.yaml
  .github/workflows/auto-merge.yaml
Due: none

[monorepo] fix: address feedback
  .github/workflows/auto-merge.yaml
Due: none

[sdk/javascript] fix: wrong epoch time
  sdk/javascript/src/nem/NetworkTimestamp.js
  sdk/javascript/src/symbol/NetworkTimestamp.js
  sdk/javascript/test/nem/NetworkTimestamp_spec.js
  sdk/javascript/test/symbol/NetworkTimestamp_spec.js
Due: sdk-javascript

[client/catapult] build: fix clang warnings
  client/catapult/extensions/timesync/tests/ImportanceAwareNodeSelectorTests.cpp
  client/catapult/tests/int/stress/CacheIntegrityTests.cpp
Due: client-catapult

[catapult/client]: fix formatting in addressgen/main.cpp
  client/catapult/tools/addressgen/main.cpp
Due: client-catapult

[client/catapult] fix: formatting in addressgen/main.cpp
  client/catapult/tools/addressgen/main.cpp
Due: client-catapult

[monorepo] fix: move buildConfiguration.yaml and codecov.yaml
  .github/buildConfiguration.yaml
  .github/codecov.yaml
  jenkins/seed-job/product/buildConfiguration.yaml
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: none

[sdk/javascript]: update NetworkTimestamp to support Number or BigInt arguments
  sdk/javascript/src/NetworkTimestamp.js
  sdk/javascript/src/nem/NetworkTimestamp.js
  sdk/javascript/src/symbol/NetworkTimestamp.js
  sdk/javascript/test/NetworkTimestamp_spec.js
  sdk/javascript/test/nem/NetworkTimestamp_spec.js
  sdk/javascript/test/symbol/NetworkTimestamp_spec.js
  sdk/javascript/test/test/networkTimestampTests.js
Due: sdk-javascript

[sdk/javascript]: port python sdk examples to javascript sdk
  README.md
  sdk/javascript/examples/.eslintrc
  sdk/javascript/examples/bip32_keypair.js
  sdk/javascript/examples/descriptors/nem_account_key_link.js
  sdk/javascript/examples/descriptors/nem_mosaic.js
  sdk/javascript/examples/descriptors/nem_multisig_account.js
  sdk/javascript/examples/descriptors/nem_namespace.js
  sdk/javascript/examples/descriptors/nem_transfer.js
  sdk/javascript/examples/descriptors/symbol_alias.js
  sdk/javascript/examples/descriptors/symbol_key_link.js
  sdk/javascript/examples/descriptors/symbol_lock.js
  sdk/javascript/examples/descriptors/symbol_metadata.js
  sdk/javascript/examples/descriptors/symbol_mosaic.js
  sdk/javascript/examples/descriptors/symbol_namespace.js
  sdk/javascript/examples/descriptors/symbol_restriction_account.js
  sdk/javascript/examples/descriptors/symbol_restriction_mosaic.js
  sdk/javascript/examples/descriptors/symbol_transfer.js
  sdk/javascript/examples/examples_utils.js
  sdk/javascript/examples/resources/part0.txt
  sdk/javascript/examples/resources/zero.sha256.txt
  sdk/javascript/examples/transaction_aggregate.js
  sdk/javascript/examples/transaction_multisig.js
  sdk/javascript/examples/transaction_sign.js
  sdk/javascript/scripts/ci/test_examples.sh
  sdk/javascript/src/index.js
  sdk/python/examples/bip32_keypair.py
  sdk/python/examples/descriptors/nem_cosignature.py
  sdk/python/examples/descriptors/nem_mosaic.py
  sdk/python/examples/descriptors/nem_multisig_account.py
  sdk/python/examples/descriptors/nem_transfer.py
  sdk/python/examples/descriptors/symbol_restriction_account.py
  sdk/python/examples/transaction_aggregate.py
  sdk/python/examples/transaction_multisig.py
  sdk/python/examples/transaction_sign.py
Due: sdk-javascript, sdk-python

[monorepo] fix: update codecov parameters
  jenkins/shared-library/vars/codeCoverage.groovy
Due: none

[monorepo] fix: pin codecov uploader
  jenkins/docker/javascript.Dockerfile
  jenkins/docker/python.Dockerfile
Due: none

[monorepo] fix: update codecov parameters
  jenkins/docker/javascript.Dockerfile
  jenkins/docker/python.Dockerfile
  jenkins/shared-library/vars/codeCoverage.groovy
Due: none

[client/catapult] fix: build documentation
  client/catapult/docs/BUILD-conan.md
  client/catapult/docs/BUILD-manual.md
Due: client-catapult

[monorepo] fix: trigger all jobs on configuration change
  jenkins/shared-library/vars/createMonorepoMultibranchJobs.groovy
  jenkins/shared-library/vars/helper.groovy
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: none

[monorepo] fix: address feedback
  jenkins/shared-library/vars/monorepoSeedPipeline.groovy
Due: none

[jenkins] task: add java dockerfile
  jenkins/docker/java.Dockerfile
Due: none

[jenkins] task: fix linting
  jenkins/docker/java.Dockerfile
Due: none

[jenkins] fix: pin codecov version
  jenkins/docker/java.Dockerfile
Due: none

[monorepo] fix: add dependency module
  .github/dependabot.yaml
  linters/scripts/lint_last_commit.sh
Due: none
