Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[monorepo] fix: add dependency module
  .github/dependabot.yaml
  linters/scripts/lint_last_commit.sh
Due: none

fix: Replace js-sha3 with @noble/hashes
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/src/Network.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/nem/Network.js
  sdk/javascript/src/nem/external/tweetnacl-nacl-fast-keccak.js
  sdk/javascript/src/symbol/MerkleHashBuilder.js
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/src/symbol/idGenerator.js
Due: sdk-javascript

[monorepo] fix: increase pr title length
  linters/git/.gitlint
Due: none

[sdk/javascript] fix: Replace js-sha3 with @noble/hashes
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/src/Network.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/nem/Network.js
  sdk/javascript/src/nem/external/tweetnacl-nacl-fast-keccak.js
  sdk/javascript/src/symbol/MerkleHashBuilder.js
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/src/symbol/idGenerator.js
Due: sdk-javascript

[monorepo] task: add postgres dockerfile
  jenkins/docker/postgres.Dockerfile
Due: none

[monorepo] fix: address feedback
  jenkins/docker/postgres.Dockerfile
Due: none

[monorepo] fix: fix python path
  jenkins/docker/postgres.Dockerfile
Due: none

[monorepo] fix: python local apps not in PATH
  jenkins/docker/postgres.Dockerfile
Due: none

[monorepo] fix: update common modules
  linters/scripts/lint_last_commit.sh
Due: none

[sdk/javascript]: expose 'hexToUint8' and 'uint8ToHex' from library
  sdk/javascript/src/index.js
Due: sdk-javascript

[monorepo] task: add jacoco support
  jenkins/shared-library/vars/codeCoverage.groovy
Due: none

[jenkins] fix: remove requirement for minimumCodeCoverage
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[monorepo] fix: address feedback
  jenkins/shared-library/vars/codeCoverage.groovy
Due: none

[monorepo] task: add jacoco support
  jenkins/shared-library/vars/codeCoverage.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[sdk/python] task: add is_valid_address_string to network classes
  sdk/python/symbolchain/Network.py
  sdk/python/symbolchain/nem/Network.py
  sdk/python/symbolchain/symbol/Network.py
  sdk/python/tests/test/BasicNetworkTest.py
  sdk/python/tests/test_Network.py
Due: sdk-python

[sdk/javascript] task: add isValidAddressString to network classes
  sdk/javascript/src/Network.js
  sdk/javascript/src/nem/Network.js
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/test/test/networkTests.js
Due: sdk-javascript

[rest] build: switch js-sha3 to noble
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/src/catapult-sdk/model/address.js
  client/rest/src/routes/MerkelTree.js
Due: client-rest

[client/catapult]: MosaicSupplyRevocation SourceAddress is not linked as interacting address
  client/catapult/plugins/txes/mosaic/src/plugins/MosaicSupplyRevocationTransactionPlugin.cpp
  client/catapult/plugins/txes/mosaic/tests/plugins/MosaicSupplyRevocationTransactionPluginTests.cpp
Due: client-catapult

[sdk]: replace BIP32_COIN_ID constant with network-dependent bip32Path
  sdk/javascript/examples/bip32_keypair.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/python/examples/bip32_keypair.py
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
Due: sdk-javascript, sdk-python

[sdk]: move epoch time out of NetworkTimestamp and into Network
  sdk/javascript/CHANGELOG.md
  sdk/javascript/src/Network.js
  sdk/javascript/src/index.js
  sdk/javascript/src/nem/Network.js
  sdk/javascript/src/nem/NetworkTimestamp.js
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/src/symbol/NetworkTimestamp.js
  sdk/javascript/test/Network_spec.js
  sdk/javascript/test/nem/NetworkTimestamp_spec.js
  sdk/javascript/test/nem/Network_spec.js
  sdk/javascript/test/symbol/NetworkTimestamp_spec.js
  sdk/javascript/test/symbol/Network_spec.js
  sdk/javascript/test/test/networkTests.js
  sdk/javascript/test/test/networkTimestampTests.js
  sdk/python/CHANGELOG.md
  sdk/python/symbolchain/Network.py
  sdk/python/symbolchain/nem/Network.py
  sdk/python/symbolchain/nem/NetworkTimestamp.py
  sdk/python/symbolchain/symbol/Network.py
  sdk/python/symbolchain/symbol/NetworkTimestamp.py
  sdk/python/tests/nem/test_Network.py
  sdk/python/tests/nem/test_NetworkTimestamp.py
  sdk/python/tests/symbol/test_Network.py
  sdk/python/tests/symbol/test_NetworkTimestamp.py
  sdk/python/tests/test/BasicNetworkTest.py
  sdk/python/tests/test/BasicNetworkTimestampTest.py
  sdk/python/tests/test_Network.py
Due: sdk-javascript, sdk-python

[sdk]: allow facades to be constructed around arbitrary network
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
Due: sdk-javascript, sdk-python

[rest]: add /node/metadata to allow node personalization
  client/rest/resources/rest.json
  client/rest/src/index.js
  client/rest/src/routes/nodeRoutes.js
  client/rest/test/routes/allRoutes_spec.js
  client/rest/test/routes/nodeRoutes_spec.js
Due: client-rest

[jenkins] fix: update submodule
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
  linters/git/.gitlint
Due: none

[monorepo] fix: address feedback
  linters/git/.gitlint
Due: none

[jenkins] fix: update git submodule in Jenkins job
  jenkins/shared-library/vars/defaultCiPipeline.groovy
  jenkins/shared-library/vars/helper.groovy
Due: none

[monorepo] fix: readme job status links
  README.md
Due: none

[dependency] fix: mocha-jenkins-reporter only supports mocha 9.x
  client/rest/package-lock.json
  client/rest/package.json
  linters/python/lint_requirements.txt
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: client-rest, sdk-javascript

[dependency] fix: revert pylint update for now
  linters/python/lint_requirements.txt
Due: none

[dependency] fix: mocha-jenkins-reporter only supports mocha 9.x
  client/rest/package-lock.json
  client/rest/package.json
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: client-rest, sdk-javascript

[linters] fix: pylint 2.14 reports unknown options
  linters/python/.pylintrc
  linters/python/lint_requirements.txt
Due: none

[sdk/python] fix: exclude external folder from linting
  sdk/python/scripts/ci/lint.sh
Due: sdk-python

[sdk/python] fix: address feedback
  sdk/python/scripts/ci/lint.sh
  sdk/python/symbolchain/nem/external/ed25519.py
Due: sdk-python

[linters] fix: pylint 2.14 reports unknown options
  linters/python/.pylintrc
  linters/python/lint_requirements.txt
  sdk/python/symbolchain/nem/external/ed25519.py
Due: sdk-python

[monorepo] fix: add threshold for code coverage drop
  .github/codecov.yaml
Due: none

[catbuffer/schemas]: make all cats files self-contained
  catbuffer/schemas/symbol/state/restriction_account_types.cats
  catbuffer/schemas/symbol/statements/address_resolution_statement.cats
  catbuffer/schemas/symbol/statements/mosaic_resolution_statement.cats
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
