Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[client/rest]: truncate percentile levy amounts
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
Due: client-rest

[client/rest]: truncate mosaic transfer amount calculated from bag
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
Due: client-rest

[client/rest]: NEM OperationParser needs to be operation aware
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/src/plugins/rosetta/nem/rosettaUtils.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/nem/accountRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/blockRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/rosettaUtils_spec.js
Due: client-rest

[client/rest]: refactor creation of OperationParser
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/src/plugins/rosetta/nem/accountRoutes.js
  client/rest/src/plugins/rosetta/nem/blockRoutes.js
  client/rest/src/plugins/rosetta/nem/mempoolRoutes.js
  client/rest/src/plugins/rosetta/symbol/OperationParser.js
  client/rest/src/plugins/rosetta/symbol/accountRoutes.js
  client/rest/src/plugins/rosetta/symbol/blockRoutes.js
  client/rest/src/plugins/rosetta/symbol/mempoolRoutes.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/symbol/OperationParser_spec.js
Due: client-rest

[client/rest]: in NEM rosetta use ':' as token separator to match NEM
  client/rest/src/plugins/rosetta/nem/NemProxy.js
  client/rest/src/plugins/rosetta/nem/rosettaUtils.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/nem/accountRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/blockRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/constructionRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/mempoolRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/rosettaUtils_spec.js
Due: client-rest

[client/rest]: avoid floating point arithmetic in mosaic bag calculations
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
Due: client-rest

[client/rest]: update NEM rosetta to handle mosaic (re)definitions
  client/rest/src/plugins/rosetta/nem/NemProxy.js
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/src/plugins/rosetta/nem/blockRoutes.js
  client/rest/src/plugins/rosetta/nem/rosettaUtils.js
  client/rest/test/plugins/rosetta/nem/NemProxy_spec.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/nem/blockRoutes_spec.js
  client/rest/test/plugins/rosetta/nem/rosettaUtils_spec.js
  client/rest/test/plugins/rosetta/nem/utils/rosettaTestUtils.js
  client/rest/test/plugins/rosetta/symbol/OperationParser_spec.js
Due: client-rest

[client/rest]: query new NIS expired mosaics endpoint when processing blocks
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/nem/blockRoutes_spec.js
Due: client-rest

[client/rest]: NEM rosetta should only credit LAST unique mosaic definition in block
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/src/plugins/rosetta/nem/rosettaUtils.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
  client/rest/test/plugins/rosetta/nem/rosettaUtils_spec.js
Due: client-rest

[client/rest]: use 64-bit arithmetic when calculating transfer amounts
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
Due: client-rest

[client/rest]: update NEM rosetta to handle restored mosaics
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
Due: client-rest

[client/rest]: add handling for expirationHeight
  client/rest/src/plugins/rosetta/nem/NemProxy.js
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/NemProxy_spec.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
Due: client-rest

[client/rest]: consider network state when undoing duplicate mosaic definitions in block
  client/rest/src/plugins/rosetta/nem/OperationParser.js
  client/rest/test/plugins/rosetta/nem/OperationParser_spec.js
Due: client-rest

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins]: upgrade to ubuntu 24.10 to get gcc 14.2
  jenkins/catapult/compilers/ubuntu-gcc/Dockerfile
Due: none

[jenkins] fix: remove invalid chars problem: Javascript docker build fails on Windows solution: remove invalid chars
  jenkins/docker/windows/javascript.Dockerfile
Due: none

[jenkins] fix: remove invalid chars
  jenkins/docker/windows/javascript.Dockerfile
Due: none

[jenkins] fix: create jenkins c++ verioned caching problem: ABI for compilers are forward compatibility solution: move compiler caching into a versioned folder
  jenkins/catapult/runDockerBuild.py
Due: none

[jenkins] fix: create jenkins c++ versioned caching
  jenkins/catapult/runDockerBuild.py
Due: none

[client/catapult]: revert boost upgrade
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  client/catapult/extensions/mongo/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[sdk/python]: disable invalid name
  sdk/python/examples/readme/nem.py
  sdk/python/examples/readme/symbol.py
Due: sdk-python

[sdk/python]: disable positional arguments
  sdk/python/symbolchain/Network.py
Due: sdk-python

[client/catapult]: dispatch PacketSocket close and abort to a strand
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/src/catapult/thread/StrandOwnerLifetimeExtender.h
  client/catapult/tests/catapult/thread/StrandOwnerLifetimeExtenderTests.cpp
Due: client-catapult

[client/catapult]: migrate boost asio usage to use non-deprecated apis
  client/catapult/CMakeGlobalSettings.cmake
  client/catapult/extensions/finalization/src/FinalizationMessageProcessingService.cpp
  client/catapult/src/catapult/extensions/NetworkUtils.cpp
  client/catapult/src/catapult/ionet/AppendContext.cpp
  client/catapult/src/catapult/ionet/AppendContext.h
  client/catapult/src/catapult/ionet/BufferedPacketIo.cpp
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/src/catapult/thread/IoThreadPool.cpp
  client/catapult/src/catapult/thread/Scheduler.cpp
  client/catapult/src/catapult/thread/StrandOwnerLifetimeExtender.h
  client/catapult/src/catapult/thread/TimedCallback.h
  client/catapult/tests/catapult/ionet/AppendContextTests.cpp
  client/catapult/tests/catapult/ionet/PacketSocketTests.cpp
  client/catapult/tests/catapult/ionet/WorkingBufferTests.cpp
  client/catapult/tests/catapult/net/AsyncTcpServerTests.cpp
  client/catapult/tests/catapult/thread/SchedulerTests.cpp
  client/catapult/tests/catapult/thread/StrandOwnerLifetimeExtenderTests.cpp
  client/catapult/tests/test/core/WaitFunctions.cpp
  client/catapult/tests/test/net/ClientSocket.cpp
  client/catapult/tests/test/net/SocketTestUtils.cpp
  client/catapult/tools/addressgen/main.cpp
  client/catapult/tools/health/ApiNodeHealthUtils.cpp
Due: client-catapult

[client/catapult]: upgrade boost to 1.84
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult]: upgrade boost to 1.86
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[catapult/client]: remove workaround for phoenix
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

[jenkins] fix: groovy failing linting with latest groovy lint
  jenkins/docker/ubuntu/linter.Dockerfile
Due: none

[catapult/client] fix: Fedora Conan build failing problem: CI build for Fedora Conan image fails due to incorrect command solution: update the Conan build stage to support Fedora
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[catapult/client] fix: Fedora Conan build failing
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[linters]: bump pylint
  linters/python/lint_requirements.txt
Due: none

[jenkins] fix: rocksdb fails with gcc 12.3 problem: rocksdb fails to build with gcc 12.3 due to a array-bounds error solution: disable the warning for gcc 12
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[jenkins] fix: rocksdb build fails with gcc 12.3
  jenkins/catapult/baseImageDockerfileGenerator.py
Due: none

[jenkins] fix: mongo-cxx-driver libraries name change on Windows
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/installDepsLocal.py
Due: none

[client/catapult]: fixed template missing argument list after a name
  client/catapult/tests/catapult/io/PodIoUtilsTests.cpp
Due: client-catapult

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
