Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[client/catapult]: dispatch PacketSocket close and abort to a strand
  client/catapult/src/catapult/ionet/PacketSocket.cpp
  client/catapult/src/catapult/thread/StrandOwnerLifetimeExtender.h
  client/catapult/tests/catapult/thread/StrandOwnerLifetimeExtenderTests.cpp
Due: client-catapult

[client/catapult]: upgrade boost to 1.84
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[sdk/javascript]: apply eslint-plugin-jsdoc rules problem: valid-jsdoc ruleset is deprecated solution: migrate to jsdoc/recommended-error ruleset
  linters/javascript/default.eslintrc
  sdk/javascript/.eslintrc
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/src/BaseValue.js
  sdk/javascript/src/Bip32.js
  sdk/javascript/src/ByteArray.js
  sdk/javascript/src/Cipher.js
  sdk/javascript/src/CryptoTypes.js
  sdk/javascript/src/Network.js
  sdk/javascript/src/NetworkTimestamp.js
  sdk/javascript/src/RuleBasedTransactionFactory.js
  sdk/javascript/src/TransactionDescriptorProcessor.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/impl/external/tweetnacl-nacl-fast-symbol.js
  sdk/javascript/src/index.js
  sdk/javascript/src/nem/KeyPair.js
  sdk/javascript/src/nem/Network.js
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/index.js
  sdk/javascript/src/symbol/KeyPair.js
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/VotingKeysGenerator.js
  sdk/javascript/src/symbol/index.js
  sdk/javascript/src/symbol/merkle.js
  sdk/javascript/src/utils/BufferView.js
  sdk/javascript/src/utils/Writer.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/symbol/merkle_spec.js
  sdk/javascript/vectors/BlockFactory.js
  sdk/javascript/vectors/ReceiptFactory.js
Due: sdk-javascript

[sdk/javascript]: apply eslint-plugin-jsdoc rules
  linters/javascript/default.eslintrc
  sdk/javascript/.eslintrc
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
  sdk/javascript/src/BaseValue.js
  sdk/javascript/src/Bip32.js
  sdk/javascript/src/ByteArray.js
  sdk/javascript/src/Cipher.js
  sdk/javascript/src/CryptoTypes.js
  sdk/javascript/src/Network.js
  sdk/javascript/src/NetworkTimestamp.js
  sdk/javascript/src/RuleBasedTransactionFactory.js
  sdk/javascript/src/TransactionDescriptorProcessor.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/src/impl/external/tweetnacl-nacl-fast-symbol.js
  sdk/javascript/src/index.js
  sdk/javascript/src/nem/KeyPair.js
  sdk/javascript/src/nem/Network.js
  sdk/javascript/src/nem/TransactionFactory.js
  sdk/javascript/src/nem/index.js
  sdk/javascript/src/symbol/KeyPair.js
  sdk/javascript/src/symbol/Network.js
  sdk/javascript/src/symbol/TransactionFactory.js
  sdk/javascript/src/symbol/VotingKeysGenerator.js
  sdk/javascript/src/symbol/index.js
  sdk/javascript/src/symbol/merkle.js
  sdk/javascript/src/utils/BufferView.js
  sdk/javascript/src/utils/Writer.js
  sdk/javascript/src/utils/arrayHelpers.js
  sdk/javascript/test/symbol/merkle_spec.js
  sdk/javascript/vectors/BlockFactory.js
  sdk/javascript/vectors/ReceiptFactory.js
Due: sdk-javascript

[sdk/python]: add now to facade for getting current timestamp
  sdk/python/symbolchain/NetworkTimestamp.py
  sdk/python/symbolchain/facade/NemFacade.py
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
  sdk/python/tests/test_NetworkTimestamp.py
Due: sdk-python

[sdk/javascript]: add now to facade for getting current timestamp
  sdk/javascript/src/NetworkTimestamp.js
  sdk/javascript/src/facade/NemFacade.js
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/NetworkTimestamp_spec.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
Due: sdk-javascript

[sdk]: remove duplicate receipt test vector
  sdk/python/scripts/run_testvectors_generator.sh
  sdk/python/testvectors/symbol/receipts.py
  tests/vectors/symbol/models/receipts.json
Due: sdk-python

[jenkins] fix: the latest docker version requires --network for static IP
  client/catapult/Jenkinsfile
Due: client-catapult

[jenkins] fix: escape character from backslash to backtick for Windows Dockerfile
  jenkins/docker/windows/python.Dockerfile
Due: none

[jenkins] fix: nightly and weekly jobs passes the branch name ci job
  jenkins/shared-library/vars/nightlyBuildPipeline.groovy
  jenkins/shared-library/vars/weeklyBuildPipeline.groovy
Due: none

[client/catapult] fix: update _FORTIFY_SOURCE=3 for gcc on Ubuntu 24.04
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

[jenkins] fix: remove hardcode repo in the Jenkinsfile problem: catapult project has repo hardcoded which is not needed solution: remove the hardcoded repo sync this is manage in the Jenkins job
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
Due: none

[jenkins] fix: remove hardcode repo in the Jenkinsfile
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
Due: none

[client/catapult]: add configuration for managing RockDB log files
  client/catapult/resources/config-node.properties
  client/catapult/src/catapult/cache_db/RocksDatabase.cpp
  client/catapult/src/catapult/config/NodeConfiguration.cpp
  client/catapult/src/catapult/config/NodeConfiguration.h
  client/catapult/tests/catapult/config/CatapultConfigurationTests.cpp
  client/catapult/tests/catapult/config/NodeConfigurationTests.cpp
Due: client-catapult

[client/catapult]: fix issue around secret lock expiration causing mainnet fork
  client/catapult/plugins/txes/lock_shared/src/cache/LockInfoCacheDelta.h
  client/catapult/plugins/txes/lock_shared/src/state/LockInfoHistory.h
  client/catapult/plugins/txes/lock_shared/tests/cache/LockInfoCacheTests.h
  client/catapult/plugins/txes/lock_shared/tests/state/LockInfoHistoryTests.h
  client/catapult/src/catapult/cache/CacheMixins.h
  client/catapult/src/catapult/cache/IdentifierGroupCacheUtils.h
  client/catapult/tests/catapult/cache/CacheMixinsTests.cpp
  client/catapult/tests/catapult/cache/IdentifierGroupCacheUtilsTests.cpp
Due: client-catapult

[client/catapult]: remove duplicate lock check from observer
  client/catapult/plugins/txes/lock_hash/src/observers/HashLockObserver.cpp
  client/catapult/plugins/txes/lock_secret/src/observers/SecretLockObserver.cpp
  client/catapult/plugins/txes/lock_shared/tests/observers/LockObserverTests.h
Due: client-catapult

[client/catapult]: add additional fork_height settings as part of mainnet secret lock force fix
  client/catapult/resources/config-network.properties
  client/catapult/src/catapult/model/BlockchainConfiguration.cpp
  client/catapult/src/catapult/model/BlockchainConfiguration.h
  client/catapult/src/catapult/utils/ConfigurationValueParsers.cpp
  client/catapult/src/catapult/utils/ConfigurationValueParsers.h
  client/catapult/tests/catapult/config/CatapultConfigurationTests.cpp
  client/catapult/tests/catapult/model/BlockchainConfigurationTests.cpp
  client/catapult/tests/catapult/utils/ConfigurationValueParsersTests.cpp
Due: client-catapult

[client/catapult]: pass down and use new configuration in secret lock observers and validators
  client/catapult/plugins/txes/lock_hash/src/observers/ExpiredHashLockInfoObserver.cpp
  client/catapult/plugins/txes/lock_hash/tests/observers/ExpiredHashLockInfoObserverTests.cpp
  client/catapult/plugins/txes/lock_secret/src/observers/ExpiredSecretLockInfoObserver.cpp
  client/catapult/plugins/txes/lock_secret/src/observers/Observers.h
  client/catapult/plugins/txes/lock_secret/src/plugins/SecretLockPlugin.cpp
  client/catapult/plugins/txes/lock_secret/src/validators/SecretLockCacheUniqueValidator.cpp
  client/catapult/plugins/txes/lock_secret/src/validators/Validators.h
  client/catapult/plugins/txes/lock_secret/tests/observers/ExpiredSecretLockInfoObserverTests.cpp
  client/catapult/plugins/txes/lock_secret/tests/validators/SecretLockCacheUniqueValidatorTests.cpp
  client/catapult/plugins/txes/lock_shared/tests/observers/ExpiredLockInfoObserverTests.h
  client/catapult/plugins/txes/lock_shared/tests/observers/LockObserverTests.h
  client/catapult/plugins/txes/lock_shared/tests/validators/LockCacheUniqueValidatorTests.h
Due: client-catapult

[client/catapult]: 1.0.3.7 version bump and changelog
  client/catapult/CHANGELOG.md
  client/catapult/src/catapult/version/version_inc.h
  jenkins/catapult/server.version.yaml
Due: client-catapult

[client/rest]: 2.4.4 version bump and changelog
  client/rest/CHANGELOG.md
  client/rest/package-lock.json
  client/rest/package.json
  client/rest/test/routes/nodeRoutes_spec.js
Due: client-rest

[client/rest] fix: update NodeJS to 20
  client/rest/Dockerfile
Due: client-rest

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[client/rest] fix: update REST Dockerfile to use NodeJS 20
  client/rest/Dockerfile
Due: client-rest

[sdk/javascript]: update change log and bump version
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/python]: update change log and bump version
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-python

[jenkins] fix: update helper name
  jenkins/shared-library/vars/publish.groovy
Due: none

[sdk/javascript] fix: set the git repo and homepage url problem: git repo and homepage url are not set in the package.json solution: set the git repo and homepage url in package.json
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javascript] fix: set the git repo and homepage URL
  sdk/javascript/package.json
Due: sdk-javascript

[sdk/javascript]: '| 0' truncation trick doesn't work with large integers
  sdk/javascript/src/NetworkTimestamp.js
  sdk/javascript/test/NetworkTimestamp_spec.js
  sdk/javascript/test/facade/NemFacade_spec.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
  sdk/python/tests/facade/test_NemFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
  sdk/python/tests/test_NetworkTimestamp.py
Due: sdk-javascript, sdk-python

[jenkins] fix: catapult release also
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
Due: none

[jenkins] fix: base image
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
Due: none

[jenkins] fix: move checkout to the first step
  jenkins/catapult/jenkins/catapult-client-build-base-image.groovy
  jenkins/catapult/jenkins/catapult-client-build-catapult-project.groovy
  jenkins/catapult/jenkins/catapult-client-build-compiler-image.groovy
  jenkins/catapult/jenkins/catapult-client-release-build.groovy
Due: none

[client/catapult] fix: disable no default in switch case
  client/catapult/CMakeGlobalSettings.cmake
Due: client-catapult

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
