Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

codecov.yaml:

# Setting coverage targets per flag
# Each project represent a package which has one flag
coverage:
  status:
    project:
      default:
        target: 90%  # overall project / repo coverage

      catbuffer-parser:
        target: auto
        flags:
          - catbuffer-parser

      client-catapult:
        target: auto
        flags:
          - client-catapult

      client-rest:
        target: auto
        flags:
          - client-rest

      sdk-javascript:
        target: auto
        flags:
          - sdk-javascript

      sdk-python:
        target: auto
        flags:
          - sdk-python

# New root YAML section = `flags:`
# This is where you would define every flag from your
# uploader, and update when new Flags added
# Each flag is used to represent each package in the
# monorepo.  This allows code coverage per package.

flags:
  catbuffer-parser:
    paths:
      - catbuffer/parser
    carryforward: true

  client-catapult:
    paths:
      - client/catapult
    carryforward: true

  client-rest:
    paths:
      - client/rest
    carryforward: true

  sdk-javascript:
    paths:
      - sdk/javascript
    carryforward: true

  sdk-python:
    paths:
      - sdk/python
    carryforward: true

[jenkins] fix: ignore decode errors for Windows gtests run
  jenkins/catapult/process.py
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

[jenkins] fix: add debug to dump lines when decode fails
  jenkins/catapult/process.py
Due: none

[jenkins] fix: handle testcase decode output failure
  jenkins/catapult/process.py
  jenkins/catapult/runDockerTestsInnerTest.py
Due: none

[jenkins]: add skip-openssl to installDepsLocal
  jenkins/catapult/installDepsLocal.py
Due: none

[sdk/javascript]: drop wee_alloc support
  sdk/javascript/wasm/Cargo.toml
  sdk/javascript/wasm/src/lib.rs
Due: sdk-javascript

[client/catapult]: MosaicSupplyRevocation is not correlated with SourceAddress
  client/catapult/plugins/txes/mosaic/src/plugins/MosaicSupplyRevocationTransactionPlugin.cpp
  client/catapult/plugins/txes/mosaic/tests/plugins/MosaicSupplyRevocationTransactionPluginTests.cpp
Due: client-catapult

[jenkins] fix: mongodb requires openssl 1.1
  jenkins/docker/javascript.Dockerfile
Due: none

[jenkins] fix: update dockerfile to latest base image
  jenkins/docker/java.Dockerfile
  jenkins/docker/javascript.Dockerfile
  jenkins/docker/linter.Dockerfile
  jenkins/docker/postgres.Dockerfile
  jenkins/docker/python.Dockerfile
Due: none

[client/rest]: add inflation route(s)
  client/rest/resources/rest.json
  client/rest/src/routes/networkRoutes.js
  client/rest/test/routes/allRoutes_spec.js
  client/rest/test/routes/networkRoutes_spec.js
Due: client-rest

[client/rest]: include all corruptAggregateTransactionHashes in network properties
  client/rest/src/routes/networkRoutes.js
  client/rest/test/routes/networkRoutes_spec.js
Due: client-rest

[sdk/python]: update readme for next version
  sdk/python/CHANGELOG.md
Due: sdk-python

[sdk/javascript]: update readme for next version
  sdk/javascript/CHANGELOG.md
  sdk/javascript/README.md
Due: sdk-javascript

disable priority for plugins test files
  linters/cpp/Rules.py
Due: none

fix priority results in original ordering
  client/catapult/.clang-format
  client/catapult/src/catapult/io/FileLock.cpp
  client/catapult/src/catapult/io/RawFile.cpp
Due: client-catapult

add clang explicit rules for observers and validators include
  client/catapult/.clang-format
  client/catapult/plugins/txes/mosaic/src/validators/MosaicAvailabilityValidator.cpp
  client/catapult/plugins/txes/mosaic/src/validators/MosaicRequiredValidator.cpp
  client/catapult/plugins/txes/mosaic/src/validators/MosaicTransferValidator.cpp
  client/catapult/plugins/txes/restriction_account/src/validators/AccountOperationRestrictionNoSelfBlockingValidator.cpp
  client/catapult/plugins/txes/restriction_account/src/validators/AddressInteractionValidator.cpp
  client/catapult/plugins/txes/restriction_account/src/validators/MosaicRecipientValidator.cpp
  client/catapult/plugins/txes/restriction_account/src/validators/OperationRestrictionValidator.cpp
  linters/cpp/exclusions.py
Due: client-catapult

disable few more (either already first or not really important)
  linters/cpp/exclusions.py
Due: none

cleanup
  linters/cpp/Rules.py
Due: none

split sdk into sdk/src and sdk/tests
  client/catapult/.clang-format
  client/catapult/sdk/tests/builders/AccountRestrictionBuilderTests.cpp
  client/catapult/sdk/tests/builders/AliasBuilderTests.cpp
  client/catapult/sdk/tests/builders/KeyLinkBuilderTests.cpp
  client/catapult/sdk/tests/builders/TransferBuilderTests.cpp
Due: client-catapult

move it even further
  client/catapult/.clang-format
  client/catapult/sdk/tests/builders/AggregateTransactionBuilderTests.cpp
  client/catapult/sdk/tests/builders/MosaicDefinitionBuilderTests.cpp
  client/catapult/sdk/tests/builders/NamespaceRegistrationBuilderTests.cpp
  client/catapult/sdk/tests/builders/TransferBuilderTests.cpp
Due: client-catapult

external should probably be excluded
  client/catapult/external/donna/catapult.h
  client/catapult/external/donna/ed25519-donna-batchverify.h
  client/catapult/plugins/txes/aggregate/tests/validators/AggregateTransactionVersionValidatorTests.cpp
Due: client-catapult

fingers crossed?
  linters/cpp/exclusions.py
Due: none

mongocxx and bsoncxx might occur in a single file, in which case it might get intermixed, separate them
  client/catapult/.clang-format
Due: client-catapult

likely a bug in checkProjectStructure, add few more includes explicitely in exclusions.py and remove one of extensions rule from Rules.py
  client/catapult/extensions/mongo/src/MongoBulkWriter.h
  client/catapult/extensions/timesync/src/filters/AggregateSynchronizationFilter.cpp
  client/catapult/extensions/timesync/tests/filters/AggregateSynchronizationFilterTests.cpp
  linters/cpp/Rules.py
  linters/cpp/checkProjectStructure.py
  linters/cpp/exclusions.py
Due: client-catapult

set MongoPluginTestUtils priority
  client/catapult/.clang-format
  client/catapult/extensions/mongo/plugins/account_link/tests/MongoAccountLinkPluginTests.cpp
  client/catapult/extensions/mongo/plugins/aggregate/tests/MongoAggregatePluginTests.cpp
  client/catapult/extensions/mongo/plugins/lock_hash/tests/MongoHashLockPluginTests.cpp
  client/catapult/extensions/mongo/plugins/lock_secret/tests/MongoSecretLockPluginTests.cpp
  client/catapult/extensions/mongo/plugins/metadata/tests/MongoMetadataPluginTests.cpp
  client/catapult/extensions/mongo/plugins/mosaic/tests/MongoMosaicPluginTests.cpp
  client/catapult/extensions/mongo/plugins/multisig/tests/MongoMultisigPluginTests.cpp
  client/catapult/extensions/mongo/plugins/namespace/tests/MongoNamespacePluginTests.cpp
  client/catapult/extensions/mongo/plugins/restriction_account/tests/MongoAccountRestrictionsPluginTests.cpp
  client/catapult/extensions/mongo/plugins/restriction_mosaic/tests/MongoMosaicRestrictionsPluginTests.cpp
  client/catapult/extensions/mongo/plugins/transfer/tests/MongoTransferPluginTests.cpp
Due: client-catapult

fix processing for int tests and add few more exclusions for int that clang is handling nicely
  linters/cpp/Rules.py
  linters/cpp/exclusions.py
Due: none

hack needs to be added, so that finalization can be placed after src/ includes
  client/catapult/extensions/finalization/FinalizationExtension.cpp
  linters/cpp/checkProjectStructure.py
  linters/cpp/exclusions.py
Due: client-catapult

I'm not even sure why it was made this way 🤔
  client/catapult/extensions/finalization/FinalizationExtension.cpp
Due: client-catapult

disable TransactionConsumers first header inside src/catapult/consumers/NewTransactionsConsumer.cpp
  linters/cpp/exclusions.py
Due: none

fix and restore plugin rules re-add exclusions, drum roll
  linters/cpp/Rules.py
  linters/cpp/exclusions.py
Due: none

pylint
  linters/cpp/Rules.py
  linters/cpp/exclusions.py
Due: none

[jenkins] fix: openssl 3 legacy providers disabled by default problem: ripemd160 is disabled in openssl 3 since its a legacy provider solution: enable openssl 3 legacy provider
  jenkins/docker/python.Dockerfile
Due: none

[jenkins] fix: openssl 3 legacy providers disabled by default
  jenkins/docker/python.Dockerfile
Due: none

[jenkins] fix: docker build parameter fallback value added
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] feat: docker publish task optional build args param added
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] feat: docker publish task optional build args param added #502
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] feat: add jenkins file to build ci images problem: for each Jenkins CI job, docker images needs to be created solution: create docker images which can just be pulled at CI time.
  jenkins/infra/jenkins/build-ci-image-all.groovy
  jenkins/infra/jenkins/build-ci-image.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none

[jenkins] fix: linting by duoble -> single quotes
  jenkins/infra/jenkins/build-ci-image.groovy
  jenkins/shared-library/vars/defaultCiPipeline.groovy
Due: none
