Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[client/rest]: Added chain info and finalized block codec
  client/rest/src/sockets/chainInfoCodec.js
  client/rest/src/sockets/finalizedBlockCodec.js
Due: client-rest

[client/rest]: Add chain route in light rest
  client/rest/src/plugins/light/light.js
Due: client-rest

[client/rest]: Added chain info endpoint for light rest
  client/rest/src/plugins/light/chainRoutes.js
Due: client-rest

[client/rest]: Added socket chain info and finalized block codec unit test
  client/rest/test/sockets/chainInfoCodec_spec.js
  client/rest/test/sockets/finalizedBlockCodec_spec.js
Due: client-rest

[client/rest]: lint fix
  client/rest/src/plugins/light/chainRoutes.js
  client/rest/src/sockets/chainInfoCodec.js
  client/rest/src/sockets/finalizedBlockCodec.js
Due: client-rest

[client/rest]: add more unit test in light rest route
  client/rest/test/plugins/light/light_spec.js
Due: client-rest

[client/rest]: Added chain route unit test in light rest
  client/rest/test/plugins/light/chainRoutes_spec.js
Due: client-rest

[client/rest]: fix on feedback in light rest
  client/rest/src/index.light.js
  client/rest/src/plugins/light/light.js
Due: client-rest

[client/rest]: removed unused json formatter
  client/rest/src/index.light.js
  client/rest/src/plugins/light/nodeRoutes.js
Due: client-rest

[client/rest]: migrate plugins/light to routes/light
  client/rest/resources/rest.light.json
  client/rest/src/index.light.js
  client/rest/src/plugins/routeSystem.js
  client/rest/src/routes/light/light.js
  client/rest/src/routes/light/nodeRoutes.js
  client/rest/test/routes/light/light_spec.js
  client/rest/test/routes/light/nodeRoutes_spec.js
Due: client-rest

[client/rest]: fix route system unit test
  client/rest/test/plugins/routeSystem_spec.js
Due: client-rest

[client/rest]: added node/peer endpoint in light rest
  client/rest/src/routes/light/nodeRoutes.js
  client/rest/test/routes/light/light_spec.js
  client/rest/test/routes/light/nodeRoutes_spec.js
Due: client-rest

[sdk/javascript] fix: wasm-opt failing with rustc 1.82.0 problem: rustc 1.82.0 seems to break wasm-opt solution: downgrade to rustc 1.81.0 for now.
  sdk/javascript/scripts/ci/build.sh
Due: sdk-javascript

[sdk/javascript] fix: wasm-opt failing with rustc 1.82.0
  sdk/javascript/scripts/ci/build.sh
Due: sdk-javascript

[client/rest]: Initial the light rest project
  client/rest/package.json
  client/rest/resources/rest.light.json
  client/rest/src/index.light.js
  client/rest/src/routes/light/light.js
  client/rest/src/routes/light/nodeRoutes.js
  client/rest/test/routes/light/light_spec.js
  client/rest/test/routes/light/nodeRoutes_spec.js
Due: client-rest

[client/rest]: refactor on fetch and parse in parallel.
  client/rest/src/plugins/light/chainRoutes.js
Due: client-rest

[client/rest]: added new packet types
  client/rest/src/catapult-sdk/packet/PacketType.js
Due: client-rest

[client/rest]: Added light rest plugins
  client/rest/src/plugins/light/light.js
  client/rest/src/plugins/routeSystem.js
Due: client-rest

[client/rest]: lint fix
  client/rest/src/plugins/light/light.js
  client/rest/src/plugins/light/nodeRoutes.js
  client/rest/src/plugins/routeSystem.js
Due: client-rest

[client/rest]: Add light rest node routes
  client/rest/src/plugins/light/nodeRoutes.js
Due: client-rest

[client/rest]: Add light rest node unlockedaccount endpoint
  client/rest/src/plugins/light/nodeRoutes.js
Due: client-rest

[client/rest]: Added node route unit test
  client/rest/test/plugins/light/nodeRoutes_spec.js
Due: client-rest

[client/rest]: added plugin name support unit test
  client/rest/test/plugins/routeSystem_spec.js
Due: client-rest

[client/rest]: Added light rest plugins test
  client/rest/test/plugins/light/light_spec.js
Due: client-rest

[client/rest]: refactor light's chain route
  client/rest/src/plugins/light/light.js
  client/rest/src/plugins/light/nodeRoutes.js
  client/rest/src/plugins/routeSystem.js
  client/rest/src/routes/light/chainRoutes.js
  client/rest/src/routes/light/light.js
  client/rest/test/plugins/light/light_spec.js
  client/rest/test/plugins/light/nodeRoutes_spec.js
  client/rest/test/plugins/routeSystem_spec.js
  client/rest/test/routes/light/chainRoutes_spec.js
  client/rest/test/routes/light/light_spec.js
Due: client-rest

[client/rest]: Added chain info route in light rest
  client/rest/src/catapult-sdk/packet/PacketType.js
  client/rest/src/routes/light/chainRoutes.js
  client/rest/src/sockets/chainInfoCodec.js
  client/rest/src/sockets/finalizedBlockCodec.js
  client/rest/test/routes/light/chainRoutes_spec.js
  client/rest/test/routes/light/light_spec.js
  client/rest/test/sockets/chainInfoCodec_spec.js
  client/rest/test/sockets/finalizedBlockCodec_spec.js
Due: client-rest

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  client/catapult/extensions/mongo/CMakeLists.txt
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins]: revert boost version to 1.83
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[jenkins] fix: pip upgrade fails with Python 3.13.0 problem: Windows docker image for Python and Javascript is failing with Python 3.13.0 solution: Use the default pip installs with Python 3.13.0
  jenkins/docker/windows/javascript.Dockerfile
  jenkins/docker/windows/python.Dockerfile
Due: none

[jenkins] fix: pip upgrade fails with Python 3.13.0
  jenkins/docker/windows/javascript.Dockerfile
  jenkins/docker/windows/python.Dockerfile
Due: none

[jenkins]: revert boost to 1.83.0
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
