Repository symbol/symbol: changes, and which Codecov flags are due for each by the changed paths.
All: catbuffer-parser, client-catapult, client-rest, sdk-javascript, sdk-python

[client/rest]: Added light rest readme
  client/rest/README_LIGHT.md
Due: client-rest

[jenkins] fix: ignore invalid chars during build problem: multiple level of dispatch_subprocess causing build to fail with invalid char solution: ignore the invalid chars on decode error
  jenkins/catapult/process.py
  jenkins/catapult/runDockerBuild.py
Due: none

[jenkins] fix: ignore invalid chars during build
  jenkins/catapult/process.py
  jenkins/catapult/runDockerBuild.py
Due: none

[jenkins] fix: add python 3.13 to build problem: automation is not using the latest python3 release solution: update the build to use python 3.13
  jenkins/catapult/versions.properties
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
Due: none

[jenkins] fix: add Python 3.13 to build
  jenkins/catapult/versions.properties
  jenkins/shared-library/resources/buildEnvironment/baseImages.yaml
Due: none

[client/rest]: improve writing
  client/rest/README_LIGHT.md
Due: client-rest

[sdk/javascript] fix: update the edition to 2021 problem: wasm-bindgen no longer works with feature resolver version 1 solution: update the edition to 2021 which uses resolver version 2
  sdk/javascript/wasm/Cargo.toml
Due: sdk-javascript

[sdk/javascript] fix: update the rust edition to 2021
  sdk/javascript/wasm/Cargo.toml
Due: sdk-javascript

[sdk/javascript] fix: disable polyfill in webpack problem: warning: Can't resolve 'vm' in webpack for polyfill solution: disable polyfill for the webpack
  sdk/javascript/webpack.config.js
Due: sdk-javascript

[sdk/javascript] fix: disable polyfill in webpack
  sdk/javascript/webpack.config.js
Due: sdk-javascript

[sdk/javascript] fix: add a cosignTransactionHash
  sdk/javascript/src/facade/SymbolFacade.js
  sdk/javascript/test/facade/SymbolFacade_spec.js
Due: sdk-javascript

[sdk/python] fix: add a cosign_transaction_hash
  sdk/python/symbolchain/facade/SymbolFacade.py
  sdk/python/tests/facade/test_SymbolFacade.py
Due: sdk-python

[sdk]: address feedback
  sdk/javascript/CHANGELOG.md
  sdk/python/CHANGELOG.md
Due: sdk-javascript, sdk-python

[sdk]: 3.2.3 changelog and bump version for SDKs
  sdk/javascript/CHANGELOG.md
  sdk/python/CHANGELOG.md
Due: sdk-javascript, sdk-python

[sdk]: update to include cosign transaction hash
  sdk/javascript/CHANGELOG.md
  sdk/python/CHANGELOG.md
Due: sdk-javascript, sdk-python

[sdk]: update release date
  sdk/javascript/CHANGELOG.md
  sdk/python/CHANGELOG.md
Due: sdk-javascript, sdk-python

[sdk]: 3.2.3 changelog and bump version for SDKs
  sdk/javascript/CHANGELOG.md
  sdk/javascript/package.json
  sdk/python/CHANGELOG.md
  sdk/python/pyproject.toml
Due: sdk-javascript, sdk-python

[sdk/python] fix: update Python minimum version requirement to 3.9.2
  sdk/python/pyproject.toml
Due: sdk-python

[client/catapult] fix: update catapult dependency
  client/catapult/CMakeLists.txt
  client/catapult/conanfile.py
  jenkins/catapult/versions.properties
Due: client-catapult

[monorepo] fix: remove the mocha-jenkins-reporter tool problem: mocha-jenkins-reporter tool seems to not be used solution: remove mocha-jenkins-reporter from package.json
  client/rest/package-lock.json
  client/rest/package.json
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: client-rest, sdk-javascript

[monorepo] fix: remove the mocha-jenkins-reporter tool
  client/rest/package-lock.json
  client/rest/package.json
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: client-rest, sdk-javascript

[sdk] docs: enable jekyll but include _sources
  docs/.nojekyll
  docs/_config.yml
Due: none

[sdk] docs: disable jekyll
  docs/.nojekyll
Due: none

[sdk] docs: only include
  docs/_config.yml
Due: none

[sdk] docs: kramdown use the defaults
  docs/_config.yml
Due: none

[client/rest]: Added chain info route in light rest
  client/rest/src/catapult-sdk/packet/PacketType.js
  client/rest/src/routes/light/chainRoutes.js
  client/rest/src/sockets/chainInfoCodec.js
  client/rest/src/sockets/finalizedBlockCodec.js
  client/rest/test/routes/light/chainRoutes_spec.js
  client/rest/test/routes/light/light_spec.js
  client/rest/test/sockets/chainInfoCodec_spec.js
  client/rest/test/sockets/finalizedBlockCodec_spec.js
Due: client-rest

[client/rest]: Initial the light rest project
  client/rest/package.json
  client/rest/resources/rest.light.json
  client/rest/src/index.light.js
  client/rest/src/routes/light/light.js
  client/rest/src/routes/light/nodeRoutes.js
  client/rest/test/routes/light/light_spec.js
  client/rest/test/routes/light/nodeRoutes_spec.js
Due: client-rest

[jenkins] fix: latest Transifex CLI uses token problem: latest Transifex CLI does uses a token instead of username/password solution: update the publish to get a api token
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] fix: add missing single quotes
  jenkins/shared-library/vars/publish.groovy
Due: none

[jenkins] fix: latest Transifex CLI requires a token
  jenkins/shared-library/vars/publish.groovy
Due: none

[sdk/javascript] fix: add build instructions and pin @types/node version
  catbuffer/parser/README.md
  sdk/javascript/README.md
  sdk/javascript/docs/typedoc.json
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: catbuffer-parser, sdk-javascript

Reviewer feedback
  sdk/javascript/README.md
Due: sdk-javascript

[sdk/javascript] fix: add build instructions and pin types/node version
  catbuffer/parser/README.md
  sdk/javascript/README.md
  sdk/javascript/docs/typedoc.json
  sdk/javascript/package-lock.json
  sdk/javascript/package.json
Due: catbuffer-parser, sdk-javascript

[jenkins] fix: boost download URI update problem: Boost update their download URI solution: update the Boost URI for the image build
  jenkins/catapult/baseImageDockerfileGenerator.py
  jenkins/catapult/installDepsLocal.py
Due: none

Path conditions:
  catbuffer-parser: any of: catbuffer/parser
  client-catapult: any of: client/catapult
  client-rest: any of: client/rest
  sdk-javascript: any of: sdk/javascript
  sdk-python: any of: sdk/python
